[2022-05-18 12:15] ZLBer commented on #193
This issue will participate in the [chinese GLCC activity](https://mp.weixin.qq.com/s/yBem9JTrPI5OKWqunUQWAQ)
# 1.题目描述
Layotto Sequencer API 的雪花算法实现
# 2.编码任务
- 实现雪花算法的Sequencer组件，解决时钟漂移问题
- 编写合适的测试用例测试算法的正确性
- 编写组件文档(中英文)
# 3.技能要求和编程语言
-  熟悉go语言
- 了解雪花算法的原理与实现
- 了解layotto组件开发流程
# 4.预期完成的结果
- 逻辑正确的雪花算法自增id组件
- 在时钟漂移发生时，保证算法的正确性
# 5.题目详情
Layotto Sequencer API已经有了基于redis、zookeeper、etcd的自增id实现，基于mysql

[2022-05-19 03:58] seeflood commented on #558
I found there is still error in https://github.com/mosn/layotto/runs/6491118102?check_suite_focus=true
and it didn't interrupt the execution 😢
![image](https://user-images.githubusercontent.com/26001097/169201247-0b09bc32-a17f-476a-9e5d-fbdc9661141e.png)

[2022-05-19 06:11] NTH19 commented on #438
我想尝试 #545

[2022-05-19 07:10] seeflood commented on #438
感谢！可以在 #545 下面留言，我们assign 给您

[2022-05-19 07:21] seeflood commented on #438
Thanks!
可以发个issue，我们 assign给您

[2022-05-19 07:24] seeflood commented on #438
@gdutChenxj

是的，公用一个demo，通过参数区分
这么讲有点抽象，详情见 https://github.com/mosn/layotto/issues/455
我补充下描述吧

[2022-05-19 07:31] NTH19 commented on #545
/assign

[2022-05-19 07:41] GimmeCyy opened #579 "Optimized sequencer api demo"
**What would you like to be added**:
Optimize the sequencer api demo so that all sequencer components share a common demo #438

[2022-05-19 07:43] gdutChenxj commented on #438
@seeflood 我想尝试【优化 pubsub api demo，让所有 pubsub 组件公用一个 demo】，描述补充完之后麻烦再at同步下

是穹妹！

[2022-05-19 08:31] seeflood opened #580 "secret API config shouldn't use `bindings.Metadata`"
**What happened**:
A user found that secret config is using `bindings.Metadata`  when developing secret component:
![image](https://user-images.githubusercontent.com/26001097/169249308-b1896e95-a2bb-4103-a87a-822866a48ec1.png)

**What you expected to happen**:
use secret.Metadata instead

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2022-05-19 08:51] rayowang commented on #569
assign

[2022-05-19 09:22] seeflood commented on #455
Here is more detailed explanation:

For example, there should be only one demo for state API, and this single demo can be used with different kinds of components,such as redis and mysql.
Before refactor, we have two demo client for state API:
![image](https://user-images.githubusercontent.com/26001097/169259311-e1bb82b9-d314-4566-8749-d329eb54d90c.png)
After refactor, there is only one demo client

[2022-05-19 09:23] seeflood commented on #438
@gdutChenxj Thanks，可以录个issue，以便assign 给你~
我写了更详细的描述，见 https://github.com/mosn/layotto/issues/455#issuecomment-1131455642
（我也喜欢穹妹

[2022-05-19 09:24] #580 closed

[2022-05-19 09:34] gdutChenxj opened #584 "mix pubsub demo"
**What would you like to be added**:
Optimize the pubsub demo so that all pubsub components share a common demo #438
**Why is this needed**:

[2022-05-19 10:21] seeflood opened #585 "delete redundant json files"
**What would you like to be added**:
Currently we have too many json files:
![image](https://user-images.githubusercontent.com/26001097/169271550-a38d70a1-87ac-4511-87a7-c1200c5e058e.png)

And I found that keeping them up-to-date is too annoying when reviewing #549
So, we can delete redundant json files  and keep as few json files as possible

**Why is this needed**:

[2022-05-19 12:26] NTH19 commented on #550
/assign

[2022-05-19 12:27] seeflood commented on #550
@NTH19 ok. Thanks !

[2022-05-19 13:17] seeflood opened #586 "Demo clients have no assertion"
**What happened**:
When reviewing #548 ,I found that some demo clients have no assertion. They will exit quietly when errors occur:
![image](https://user-images.githubusercontent.com/26001097/169301955-3c59b49e-fed7-412f-bd29-f53bb0f0eea6.png)

For example, in `demo/sequencer/common/client.go`:
![image](https://user-images.githubusercontent.com/26001097/169302079-a05fd9a7-c0e7-4309-ac42-09019829e7

[2022-05-19 15:48] #452 closed

[2022-05-20 02:21] unionhu opened #587 "参考proto文档生成go代码异常"
spec/proto/runtime/v1/README.md，protoc提示为3.11.2

<img width="1117" alt="image" src="https://user-images.githubusercontent.com/6756158/169435449-16ad8abb-d185-40c5-b43f-51ea83b34081.png">

实际源码为v3.19.4版本

<img width="421" alt="image" src="https://user-images.githubusercontent.com/6756158/169435613-8fbf7bb0-d63a-43df-917f-21f2390a7bf0.png">

希望提供正确的对应的proc版本与protoc-gen-go版本，方便的话，安装命令贴一下

[2022-05-20 08:32] LXPWing opened #591 "Workflows ut have error"
### Your question

![image](https://user-images.githubusercontent.com/65880844/169488166-a6b4be7f-3e16-4de1-801d-2a4d87b11515.png)

[2022-05-20 09:17] #569 closed

[2022-05-20 11:33] seeflood commented on #587
感谢反馈，可以用这个命令试下：
[code]

后面可以做成一个 make 命令，再进一步可以用 docker 跑protoc生成 pb.go

[2022-05-20 11:52] #255 closed

[2022-05-20 11:55] #256 closed

[2022-05-20 13:09] GimmeCyy commented on #455
Is this command only available on mac? I run it on windows and it generates a file that is all messed up

[2022-05-20 15:08] #545 closed

[2022-05-21 01:50] LXPWing commented on #576
挺酷炫的，有点心动想参加

[2022-05-21 02:17] LXPWing opened #593 "feature: layotto integration Zipkin"
**What would you like to be added**:

layotto add ZipKin

[2022-05-21 08:41] seeflood commented on #593
Cool!

[2022-05-21 08:43] seeflood commented on #455
@GimmeCyy which command are you talking about? Do you me `go build -o client` ?

[2022-05-21 08:45] seeflood commented on #576
@LXPWing 欢迎啊  这个做了有很多钱拿 😆

[2022-05-21 08:50] GimmeCyy commented on #455
./client -s "state_demo"
![image](https://user-images.githubusercontent.com/78087740/169643880-b9f71494-07b4-44a1-be10-629c10fa99b0.png)

[2022-05-21 08:54] seeflood commented on #455
@GimmeCyy It's a demo client of Layotto,and to run it successfully, you should start layotto first.
You can follow the guide in https://mosn.io/layotto/#/zh/start/state/start to run it

[2022-05-22 02:57] #469 closed

[2022-05-22 02:57] #468 closed

[2022-05-23 08:27] seeflood opened #596 "ci: deadlink checker can't find out dead links"
**What happened**:
To test the deadlink checker, I submitted a PR #595  with a wrong url :
![image](https://user-images.githubusercontent.com/26001097/169776969-22391fea-3058-4a0e-92df-7a27ee28ccb2.png)

But it pass the CI successfully :
https://github.com/mosn/layotto/runs/6551464453?check_suite_focus=true
![image](https://user-images.githubusercontent.com/26001097/169777068-fcbfe460-4915-461f-99

[2022-05-23 09:03] seeflood opened #597 "ci: check unused dependency in `go.mod`"
**What would you like to be added**:
I want ci to automatically find out the unused dependencies in `go.mod`.
Currently we have to check it manually, see https://github.com/mosn/layotto/pull/592
![image](https://user-images.githubusercontent.com/26001097/169784138-aa241c29-1c26-4a97-aee4-6b87f1409481.png)

**Why is this needed**:
To make code review easier

[2022-05-23 11:48] seeflood opened #598 "ci: linter should check different go modules"
**What would you like to be added**:
Layotto have multiple go modules in one repo, including:
- root module
- `components/`
- `demo/`
- `sdk/go-sdk/`
- `spec`

Currently our CI only check the root module. I have to manually check code style in other modules when reviewing pull requests.
We should improve our CI to check different go modules automatically.

**Why is this needed**:
To make code revi

[2022-05-23 11:55] seeflood commented on #598
similar issues:
https://github.com/golangci/golangci-lint-action/issues/74
https://github.com/golangci/golangci-lint/issues/828

[2022-05-23 13:00] seeflood opened #599 "ci: make the linter stricter"
**What would you like to be added**:
Make the linter stricter, including:
- [ ] check type assertion using forcetypeassert
- [ ] make sure every error is handled using errcheck
- [ ] check that every UT must have appropriate assertions

**Why is this needed**:
A stricter linter can make code review easier

[2022-05-24 11:32] #597 closed, assigned to seeflood

[2022-05-25 03:09] #466 closed

[2022-05-25 03:24] #513 closed

[2022-05-25 09:55] wangxingyu000 commented on #438
hi, 我们拉了个微信群，可以微信添加 SOFAGirl180419 备注飞船任务，拉您进群哈~

[2022-05-25 12:40] zhenjunMa opened #607 "WASM instances support resource limit"
# 1. Background

In a FaaS scenario, Layotto supports loading and running multiple wasm-based functions at the same time. WebAssembly ensures that multiple functions run in the same process without affecting each other. However, currently Layotto does not support configuring the maximum used resources for each function, so we hope to add this capability.

# 2. Why is this needed?

If you can set a

[2022-05-26 05:53] rayowang commented on #607
/assign

[2022-05-26 05:57] seeflood commented on #607
Cool !

[2022-05-26 06:00] #584 closed

[2022-05-26 07:13] codedededi opened #608 "设计实现 Redis API"
**What would you like to be added**:
设计实现 Redis API

[2022-05-26 07:14] gdutChenxj commented on #438
@seeflood 想尝试一个新任务 https://github.com/mosn/layotto/issues/608

[2022-05-26 07:22] #585 closed

[2022-05-26 07:28] seeflood commented on #608
@gdutChenxj Hi 不好意思，我去问了下这个任务被占用了（作为今年开源之夏的参赛课题）
感兴趣的话可以再看看别的任务或者issue哈

[2022-05-26 07:30] gdutChenxj commented on #608
@seeflood 现在还有什么任务可以领取？很多都处于领完的状态

[2022-05-26 08:56] #463 closed

[2022-05-26 09:03] seeflood commented on #108
New tasks added:
 - Make Layotto CI more powerful. See https://github.com/mosn/layotto/issues/532#issuecomment-1116848302
 - Add more linters. See https://github.com/mosn/layotto/issues/599

[2022-05-26 09:11] seeflood commented on #598
Update:  now the CI can check submodules, fixed by #601
As for the next step, we should let the `make check.lint` script check all the submodules

[2022-05-26 09:30] seeflood commented on #608
hi, 我更新了一下
https://github.com/mosn/layotto/issues/438  飞船活动的列表里，没打勾的都没人领
另外有社区新手任务列表： https://github.com/mosn/layotto/issues/108#issuecomment-872779356
以及 CI 优化的待办列表: https://github.com/mosn/layotto/issues/532#issuecomment-1116848302

[2022-05-26 09:58] gdutChenxj commented on #608
@seeflood 领取【设计实现 Redis API】任务

[2022-05-26 12:12] seeflood opened #610 "[draft]proposal: run services on wasm"
I propose that we compile micro-services into wasm modules and run them on wasm runtime.
These services should be smaller than traditional micro-services. Maybe we can call them "nano-service".
![image](https://user-images.githubusercontent.com/26001097/170481510-2b1b3aeb-85fd-4a8d-a853-b38f0f89b152.png)

We can assume that there's only one Layotto on one node:

![image](https://user-images.github

[2022-05-26 12:34] zhenjunMa opened #611 "Update the api for wasm functions; 设计 FaaS 编程 API"
# 1. Background

At present, the API that Layotto interacts with wasm functions is a set of specifications defined by proxy-wasm. The official description of the project is shown in the following figure:

![image](https://user-images.githubusercontent.com/28104581/170482236-1fbadd8b-fb83-4f38-acc7-cbe3b7f73825.png)

The project itself designed for network proxies, such as envoy, and the goal is to

[2022-05-26 12:48] zhenjunMa commented on #610
What's the differences between a "nano-service" and a "function"?

[2022-05-27 04:43] seeflood commented on #608
这个是 https://github.com/mosn/layotto/issues/530 的子任务

@gdutChenxj hi, 因为这个功能比较重要，需要先做设计（写个设计 proposal)，大家讨论后达成一致了再开始编码~
可以先想想怎么设计，如果不太清楚的话我帮着写个初版设计proposal也行

[2022-05-27 04:46] gdutChenxj commented on #608
@seeflood 了解，昨天我也看到 https://github.com/mosn/layotto/issues/530 了解了大致背景，proposal会在这个issue下同步
另外，社区会议如何参加呢？

[2022-05-27 04:48] seeflood commented on #608
@gdutChenxj 棒！
有个社区会议的钉钉群，群号：41585216
之前是每周五晚8点，正在投票要不要把时间改成周末

[2022-05-27 06:31] nobodyiam commented on #610
Looks like they are quite similar concepts.

[2022-05-28 04:37] seeflood commented on #608
FYI
社区会议改成了周六晚8点，今晚8点就有

[2022-05-28 09:47] seeflood opened #613 "bug: configuration API returns wrong `app_id` and `store_name`"
**What happened**:
When I play with [the configuration API demo](https://mosn.io/layotto/#/zh/start/configuration/start), I found that the demo printed some message with wrong `app_id` and `store_name`:

![image](https://user-images.githubusercontent.com/26001097/170820085-71a0d16e-008d-4b64-b2fb-0688d401c0a2.png)

**What you expected to happen**:
Return correct app_id and store_name

**How to rep

[2022-05-28 11:46] seeflood commented on #610
This proposal is an idea for discussion. We need some ideas on "what's the next step of layotto+ wasm"  :)

A service is "a group of functions" , like a pod is a group of containers. For example:
- a service might export 20 rpc endpoints
- these endpoints share same memory and connections
- this "group of functions" is the minimum scheduling unit
- the computing model is "long-running services" ,

[2022-05-28 13:06] seeflood commented on #500
## 生产用户情况
7月底 8月初用；

建议调研 spring boot ；@unionhu 提供下源码地址

可能的生产场景：apollo 下发配置

可能的业务场景：
- 动态改 redis 的密码配置（动态配置下发）
- 分布式id
- 分布式锁
- configuration api 目前没找到业务场景
- 自定义 api （认证鉴权）

[2022-05-28 13:49] rayowang opened #614 "The “last update time of this doc” at the bottom of docs under the site may have a problem"
**What happened**:
The “last update time of this doc” at the bottom of all Chinese and English documents under the site https://mosn.io/layotto/ will be changed every time with the update of one document.
**What you expected to happen**:
Document times without updates should be constant.
**How to reproduce it (as minimally and precisely as possible)**:
For example, the design document has not been

[2022-05-28 13:57] #614 closed

[2022-05-28 13:59] rayowang opened #615 "The “last update time of this doc” at the bottom of docs under the site may have a problem"
**What happened**:
The “last update time of this doc” at the bottom of all Chinese and English documents under the site https://mosn.io/layotto/ will be changed every time with the update of one document.
**What you expected to happen**:
Document times without updates should be constant.
**How to reproduce it (as minimally and precisely as possible)**:
For example, the design document has not been

[2022-05-28 14:18] seeflood commented on #615
Thanks for your feedback!
It looks like a bug of https://github.com/pfeak/docsify-updated
I can submit a PR to remove this “last update time of this doc” temporarily

[2022-05-28 14:42] kevinten10 commented on #610
Sounds like `function` + `layotto as daemonset`

How about `step function`, and then deploy layotto as daemonset to serve the group.

[2022-05-28 15:12] seeflood commented on #610
Do you mean [aws step function](https://aws.amazon.com/cn/step-functions/?step-functions.sort-by=item.additionalFields.postDateTime&step-functions.sort-order=desc) ? I didn't know it. Let me learn and play it :P

[2022-05-28 15:13] kevinten10 commented on #611
I understand it like defining an adaptation layer to decouple business logic from wasm implementation (proxy-wasm). What might be done is:

1. Define a simple interface, which is abstract
2. Write business logic for this interface
3. Adapt this business logic to the wasm implementation. If proxy-wasm is used, it needs to be adapted to the following three interfaces:
    1.  OnHttpRequestHeaders

[2022-05-28 15:39] kevinten10 commented on #608
Hi，我之前在capa项目中调研过一些Redis的API，可以作为参考

如 https://github.com/mosn/layotto/issues/530 ，在capa中我使用java接口进行api定义，主要参考了 http://redisdoc.com/index.html 文档和jedis的java api。

在做的过程中我发现完全的Redis原生命令可能有120+个，其中有的比较复杂，并且可能应用场景较少。

如 https://github.com/mosn/layotto/issues/530 中提到的，我遇到的常见的数据结构主要有：

+ string
+ hash
+ key
+ list
+ set
+ sorted set
+ geo

按照"starting simple"的思路，或许可以从这些数据结构的api开始设计。

最后，附上capa中的java re

[2022-05-28 16:33] kevinten10 opened #617 "proposal: pubsub api add `delay` message support"
Hi, 我在这里提供一些关于delay message的调研报告和初步设计，以便于后续相关api的设计.

### **What would you like to be added**:

`delay message` in pubsub api.

### **Why is this needed**:

https://github.com/mosn/layotto/discussions/612

### **Support situation**:

|PubSub Service|Max Delay|
|---|---|
|AWS SQS| 15min |
|AWS SNS| × |
|Active MQ| 48H |
|Rabbit MQ| 24H |
|Kafka| × |
|QMQ| Year |
|[Azure service bus](https://learn.m

[2022-05-29 07:31] MichaelDeSteven commented on #613
plz assign the task to me

[2022-05-29 07:32] seeflood commented on #613
@MichaelDeSteven ok. Thanks!
Your avatar is cool

[2022-05-29 07:33] seeflood commented on #617
Cool !

[2022-05-29 07:36] MichaelDeSteven commented on #613
@seeflood hhh，thanks

[2022-05-29 16:51] rayowang commented on #610
As said in the community meeting yesterday, whether it is an independent faas model or a nano-service model, I think both have great practical business value. As we all know, the former has many practical applications, such as Alibaba Cloud Function Compute. The latter will have higher practical value in search, recommendation, advertising and other businesses that require large-scale resources.

[2022-05-30 01:18] unionhu commented on #500
spring cloud consul源码地址：https://github.com/spring-cloud/spring-cloud-consul
查看[spring-cloud-consul-config](https://github.com/spring-cloud/spring-cloud-consul/tree/main/spring-cloud-consul-config)

[2022-05-30 03:32] #596 closed

[2022-05-30 10:22] gdutChenxj commented on #608
@kevinten10 3Q，有留意到 https://github.com/mosn/layotto/issues/530 这个帖子，感觉很有帮助

[2022-05-30 16:01] seeflood opened #618 "can't open https://mosn.io/layotto"
**What happened**:
We got some feedbacks that users could not open the website
![image](https://user-images.githubusercontent.com/26001097/171027732-3426472e-5658-4502-9aa6-3c644367daf5.png)
It looks like that those js files are banned by the wall.
We need to replace these js url with some mirror sites or cdn

**What you expected to happen**:
Open https://mosn.io/layotto successfully.

**How to re

[2022-05-31 10:54] azhsmesos commented on #618
please assigned it to me

[2022-05-31 11:23] seeflood commented on #618
@azhsmesos Thanks!

[2022-06-02 04:00] YoungMa962 opened #620 "无法正常在windows环境进行build"
### Your question
在  cmd\layotto\ 下执行  go build -o layotto  mosn.io/mosn/pkg/shm 报错
### Environment
windows10
- Layotto Version
main 分支
### Logs
![image](https://user-images.githubusercontent.com/104260107/171550194-af284adf-8517-46d6-8461-8c4cd6ba002c.png)
- Paste the logs you see.

[2022-06-02 11:05] seeflood commented on #620
感谢反馈
windows下目前无法编译成功（因为依赖了Mosn,  mosn 没法在windows下编译
替代方案是可以直接用 layotto 的docker 镜像哈
[code]

[2022-06-03 03:04] gdutChenxj commented on #608
@seeflood 个人理解，感觉直接暴露 redis 协议接口 low level api 对初级用户使用过程不太友好，可能会产生一些不太好的使用实践，另外哦如果设施底层可能是集群代理或者类redis协议的缓存组件，low level api无法限制用户使用不支持的命令

[2022-06-03 08:47] #618 closed

[2022-06-03 10:13] seeflood commented on #608
@gdutChenxj 你说的确实是个问题，上面的方案有缺点：
- 对初级用户不太友好
- 无法限制用户、限制组件开发者。口子”开太大“，可能导致组件夹带私活、塞一些没有可移植性的”私有指令“进去

方案b: cmd 改成用枚举值呢
[code]

解释：
- cmd 改成用枚举值
- 删掉metadata

pros:
- 有一定的限制，避免使用私有指令

cons:
- 工作量稍微大一些，需要定义一百多个枚举值，然后在runtime 层把这些枚举转成redis 字符串

[2022-06-04 00:35] seeflood commented on #471
Update:
katacoda will close.so
- [ ] we need to migrate mosn tutorial to some other site
- [ ] and write layotto tutorial

[2022-06-04 00:48] seeflood commented on #530
Update:
I just found that dapr is developing "capability API" for feature discovery.
https://github.com/dapr/dapr/issues/4367

[2022-06-04 01:27] #107 closed

[2022-06-04 02:58] seeflood commented on #392
@Xunzhuo Hi, can  I submit a "help wanted" issue as a subtask of  this proposal?
The issue aims to develop a "basic" dockerfile, which is common and decoupled with the config.json, so that it can be used with any config.json files

[2022-06-04 03:26] seeflood opened #622 "ci: check markdown grammar issues"
**What would you like to be added**:
We can add some tools in github workflow to check grammar issues in our markdown files.
For example, the issue can be found by CI automatically:
https://github.com/mosn/layotto/pull/433
![image](https://user-images.githubusercontent.com/26001097/171978954-6064f6dc-9caa-4026-8c5d-6d3e34f93c4e.png)

**Why is this needed**:
#443

[2022-06-04 03:38] seeflood opened #623 "ci: check that all code in `.proto` must have comments; 让 CI工具检查“proto 代码必须包含注释”"
**What would you like to be added**:
We can let CI to check that all code in `.proto` files must have comments.
For example, we have comments on state API, see https://github.com/mosn/layotto/blob/main/spec/proto/runtime/v1/runtime.proto#L440
![image](https://user-images.githubusercontent.com/26001097/171980027-b5624b66-e516-4c1e-9ad5-988188f02c37.png)

And these comments are used to generate docu

[2022-06-04 04:16] seeflood opened #624 "ci: check the sidebar of document site"
**What would you like to be added**:
CI should check the sidebar of document site.
The rule might be: "All the document under `docs/zh` and `docs/en` should be added into the sidebar"
For example:
- All document under the `docs/zh/start` and `docs/en/start` directory should be added into the sidebar
![image](https://user-images.githubusercontent.com/26001097/171981939-18174564-898a-4584-9c20-063de

[2022-06-04 04:51] #427 closed

[2022-06-04 05:19] seeflood opened #625 "[OSPP 2022] implement ceph component for File API"
Since OSPP is for chinese community, this issue is written in chinese
## Detail
https://summer-ospp.ac.cn/#/org/prodetail/2295a0214

## Layotto中实现ceph文件系统，同时打通sofaboot
用 ceph 实现 layotto 的 file API 组件，并通过 SOFABoot 调通。

首先熟悉layotto的架构设计，基于现在的file接口实现ceph文件系统（此处需要调研layotto的file组件的可移植性以及ceph文件系统，判断当前的layotto接口能否满足ceph文件系统）
通过sofaboot和layotto打通，可以通过sofaboot应用调通layotto的file接口。

对于ceph文件系统的实现，需要先调研当前ceph

[2022-06-04 05:21] seeflood opened #626 "[OSPP 2022] improve layotto-java-sdk and layotto-spring-boot"
Since OSPP is for chinese community, this issue is written in chinese

## Detail
https://summer-ospp.ac.cn/#/org/prodetail/2295a0213

## 增强layotto-java-sdk和layotto-spring-boot

你需要做什么？
1. 增强layotto的java-sdk的功能，使其与go-sdk对齐。现在的java-sdk有file、lock、pubsub、sequencer、state 的API，缺少secret、config等API。
2. 完善 layotto-sdk-springboot, 将layotto的更多功能集成进spring-boot。layotto-sdk-springboot的设计目标是帮助 spring-boot 的用户低成本

[2022-06-04 08:48] Xunzhuo commented on #392
Sure @seeflood

[2022-06-04 09:49] seeflood opened #628 "Develop a "basic" dockerfile"
**What would you like to be added**:
Currently there's a `runtime_config.json` in the Layotto dockerfile:
![image](https://user-images.githubusercontent.com/26001097/171994024-237cec34-f4ab-4119-88f4-9ccabac17082.png)

If users want to modify the json file, they have to write a new dockerfile and generate a new docker image, which is annoying.

We should provide a "basic" dockerfile, which is comm

[2022-06-05 00:10] Xunzhuo commented on #628
Sorry, I think the old dockerfile has been modified into a generic one? How does the IMAGEBUILD directory generate? I think I have removed them.

[2022-06-06 03:54] azhsmesos commented on #617
可以啊 ，要不我提个issue，然后assigned给我，然后我会设计一份提案出来

[2022-06-06 04:11] azhsmesos opened #630 "设计实现延迟消息 API"
这个目前有人认领吗，如果没有我可以参与设计不，后续会在该issue下同步我的方案，或者直接在https://github.com/mosn/layotto/issues/617 下同步也行～

[2022-06-06 04:18] azhsmesos commented on #530
我不是很理解咱们api规范是啥样的，比如事物消息，我我这儿有一份思路就是，可以类似rocketMQ那样，利用两阶段提交+TCC补偿机制实现，比较重要考虑的问题就是可能在两阶段提交中途宕机导致事物回滚不成功，这儿要么就是consumer端去进行tcc补偿，但是感觉对业务侵入性比较大，可不可以考虑利用redis+lua的scriptLoad脚本实现，只要redis不宕机就可以保证事物的正常执行

[2022-06-06 07:36] zhenjunMa commented on #611
Yes! I also prefer to keep use `proxy-wasm`  if it can reduce our workload, the only thing i worried is it a little complicated.

[2022-06-07 03:16] seeflood commented on #628
@Xunzhuo Yes you are right!
I rechecked the project and found that the `IMAGEBUILD` is a legacy directory in my local file system.
I will close this issue and write a document on "how to play quickstart with docker"

[2022-06-07 03:16] #628 closed

[2022-06-07 03:29] #615 closed

[2022-06-07 04:47] seeflood opened #631 "the relative path in `secretFile` is error-prone; 限制 secretFile 能访问的路径"
**What happened**:
Currently we have `secretFile` configuration in config.json.
https://github.com/mosn/layotto/blob/4f5a3e490663328c06b39c922c7e2b44427dab6e/configs/config_standalone.json#L62
This configuration uses relative path, which is error-prone.

- Case 1. Success
[code]

- Case 2. An error occurs if you run layotto under some other directory
[code]

error message:
![image](https://user-im

[2022-06-07 15:59] seeflood commented on #613
https://github.com/mosn/layotto/pull/629 fixed the wrong app_id
Now the `store_name` is waiting to be fixed

[2022-06-07 16:17] MichaelDeSteven commented on #613
Got it.

[2022-06-08 06:04] #547 closed

[2022-06-08 06:06] seeflood commented on #630
没有其他人认领，你感兴趣可以跟一下~ 可以在 #617 下面讨论

[2022-06-08 06:35] seeflood commented on #617
@azhsmesos 不用再写新的提案啦，可以基于这个提案讨论，@kevinten10 之前根据这套方案在生产落地过

[2022-06-08 07:33] seeflood commented on #436
- [ ] 签cla的同学不晓得点哪个按钮:
![image](https://user-images.githubusercontent.com/26001097/172558082-8a5bc745-8de3-4f84-aa11-7d68bfbdc36a.png)

[2022-06-08 07:36] seeflood commented on #436
- [ ] windows 用户跑不起来
目前遇到 3+ 次

[2022-06-08 08:25] seeflood commented on #617
- 关于 API 变更： 同意🙆🏻‍♀️

- 关于“如果底层的PubSub组件不支持delay message或者时长不够时，如何处理“
这个就涉及 “feature 发现” 或者叫 “feature 协商”机制了
我看 dapr 在搞 capability API，如果运行时发现满足不了需求，就报错
个人更想在运维端做 feature 协商，比如通过 k8s operator 发现“底层的PubSub组件不支持delay message或者时长不够时”、无法部署。比如配置文件里，pubsub 组件配成这样:

[code]

- 关于”如何在没有 delay queue 的云环境模拟 delay queue“
这个有点麻烦，属于给 MQ 加新 feature，一期可以先不管这个吧？

[2022-06-08 11:09] kevinten10 commented on #530
@azhsmesos Hi~您说的是关于事务消息API的设计思路对么~

我不是很清楚事务方面有没有更简洁易用的api呢，但感觉侵入性越大越难可移植呢

或许也可以参考一下dapr的一个提案中对transaction的设计：https://github.com/dapr/dapr/issues/3354

![image](https://user-images.githubusercontent.com/22876610/172601013-76d7508c-f075-4840-ade3-05c736f94d40.png)

[2022-06-08 11:54] kevinten10 commented on #608
Hi，`RedisCommand`方式看起来很棒~我这里有一些想法，随便聊聊：

#### 1. 用户应该不希望面向 [多行文本](https://redis.io/docs/reference/protocol-spec/) 编程，而是面向语义清晰的api进行编程。

这样，还是需要定义很多in-process的api吧（比如我上面提到的capa的那一堆接口定义），最终需要映射到 一百多个grpc接口 或者 RedisCommand 上的。
+ 一百多个grpc接口：工作量主要在proto定义上，映射起来会比较方便，或者初期直接让用户调grpc的api也可以。
+ RedisCommand：工作量主要在in-process的api的参数转换上（要转换成 RedisCommand的数据格式），以及runtime里面写switch-case来区分命令上。

工作量感觉差不多

#### 2.

[2022-06-08 12:43] gdutChenxj commented on #608
@kevinten10 另外我在想，是不是能写个简单一个脚本，通过您之前在 capa 定义的 java 接口，初始化一波 grpc 接口定义，应该能减少一些工作量

[2022-06-08 12:56] akkw commented on #631
这个我来看一下吧

[2022-06-08 13:01] akkw opened #634 "proxy-wasm-go-host 在Apple M1 平台上无法启动"
### Your question

Describe your question clearly.

### Environment

- Layotto Version

### Logs

- Paste the logs you see.
依次执行
go mod tidy
go mod vendor
go run .

<img width="804" alt="image" src="https://user-images.githubusercontent.com/54854743/172622807-331c09d9-e6fe-483c-915e-0efadb787c7b.png">

[2022-06-08 13:41] seeflood commented on #634
related issue: https://github.com/wasmerio/wasmer-go/issues/167

[2022-06-08 14:13] seeflood commented on #620
@YoungMa962 hi, layotto 新加了用 docker-compose 启动的 quickstart
https://mosn.io/layotto/#/zh/start/state/start
可以测试下能跑通么

[2022-06-08 15:08] seeflood commented on #631
@akkw Cool. Thanks!

[2022-06-09 02:35] seeflood opened #635 "use docker-compose to start etcd and layotto"
**What would you like to be added**:
We have quickstart document showing users how to build and start layotto locally:
https://mosn.io/layotto/#/zh/start/configuration/start
https://mosn.io/layotto/#/en/start/configuration/start
https://mosn.io/layotto/#/zh/start/sequencer/start
https://mosn.io/layotto/#/en/start/sequencer/start

And now we can add a docker-compose to start etcd and layotto with o

[2022-06-09 02:46] seeflood opened #636 "use docker-compose to start minIO and layotto"
**What would you like to be added**:
We have File API quickstart document showing users how to build and start layotto locally:
https://mosn.io/layotto/#/zh/start/file/minio

And now we can add a docker-compose to start minIO and layotto with one command, and then improve the quickstart.

 Examples are redis&layotto quickstart. I modified those redis related quickstarts showing users how to use do

[2022-06-09 03:09] YoungMa962 commented on #620
@seeflood 可以使用 docker-compose的方式跑通客户端demo，非常感谢！

[2022-06-09 03:12] seeflood commented on #620
@YoungMa962 感谢反馈~
那先关闭 issue了哈
Welcome to the community!

[2022-06-09 03:12] #620 closed

[2022-06-09 13:15] kevinten10 commented on #608
看起来是的，一次性的工作

哈哈，也可以试试idea的列编辑模式

[2022-06-10 04:43] seeflood commented on #587
我提了个 pr ，用 docker 编译生成代码、文档，保证大家版本一致
https://github.com/mosn/layotto/pull/637

[2022-06-10 08:34] #485 closed

[2022-06-11 03:40] seeflood commented on #392
I saw microsoft launched a project https://github.com/Azure/draft to auto-generate Kubernetes manifests, Helm charts, Kustomize configuration, and other artifacts.
Maybe it can help us. I haven't looked into this in details

[2022-06-11 04:15] seeflood commented on #608
@kevinten10 恩恩是准备“既支持原生 redis协议，又支持 redis gRPC API”的，见https://github.com/mosn/layotto/issues/530
![](https://user-images.githubusercontent.com/26001097/166431293-a6da224c-fe10-468e-8b2a-0317c7aa759a.png)

[2022-06-11 05:00] seeflood commented on #608
所以现在的争议焦点是：
100 个gRPC API vs RedisCommand  vs RedisCommand (传枚举值）
对吧？

## 问题1.  RedisCommand 没啥类型信息，会不会用户体验太差
![image](https://user-images.githubusercontent.com/26001097/173172538-c64bea19-80c3-43a7-9cc4-8087fc341de6.png)
（如上图，`repeated bytes args = 3;` 没有类型信息）

会不会因为 api没啥类型信息，导致用户不知道怎么用这个api?

这个问题，个人觉得还好，因为用户是对照着 redis 命令行工具的文档、社区资料来使用的，举个例子:
用户想用新增一个计数器，那他需要做的是查 redis-cli 的文档, https://redis.io

[2022-06-11 05:02] seeflood commented on #608
@wenxuwan 给点意见？

[2022-06-11 05:06] seeflood commented on #608
大的取舍逻辑是：
这个redis gRPC API 功能的价值是“用户不用引入 redis SDK 了”，直接用 gRPC API 就行
而如果“用户就是想引入 redis SDK”，那可以用社区现成的sdk，用 redis 原生协议和 sidecar 通信，在 layotto/envoy 支持 redis 流量治理

[2022-06-11 05:17] seeflood commented on #608
像 redis API、aws S3 API 这类 "可信协议的 gRPC API"的设计目标、取舍逻辑是：
1. 弱 SDK
这个redis gRPC API 功能的价值是“用户不用引入 redis SDK 了”，直接用 gRPC API 就行
而如果“用户就是想引入 redis SDK”，那可以用社区现成的sdk，用 redis 原生协议和 sidecar 通信，在 layotto/envoy 支持 redis 流量治理
2. 保证可移植性的前提下，控制成本。
像 redis API、aws S3 API 这类 "可信协议的 gRPC API"其实是在做“有可移植性的 dapr binding API”，解决 binding API 没可移植性的问题，要支持的 API 特别多，所以不得不控制成本

[2022-06-11 07:04] seeflood commented on #530
I submitted an issue in MOSN https://github.com/mosn/mosn/issues/2054
We can also support redis native protocal

[2022-06-11 07:06] Xunzhuo commented on #392
Thanks @seeflood, I will take a look in the details in the next week.

[2022-06-11 12:15] seeflood commented on #608
action:
调研一下有没有枚举值转字符串的方案

[2022-06-11 14:57] seeflood commented on #617
社区会议讨论结果:
feature 协商机制可以后面再搞，前期先通过写文档来提醒用户“这个组件支持/不支持 延迟消息”

不过这个 feature 想实现的话有个比较麻烦的地方，现在的pubsub 组件用的 dapr的，我们想加延迟消息的功能话，还得 fork dapr 组件库，有点麻烦。感觉可以先跟dapr社区聊下，看看能不能做到dapr 去？ @kevinten10

[2022-06-12 06:12] seeflood opened #643 "bug: jaeger tracer nil pointer"
**What happened**:
Run jaeger demo in https://mosn.io/layotto/#/zh/start/trace/jaeger, then layotto will print panic messages caused by nil pointer.

panic logs printed by layotto:
![image](https://user-images.githubusercontent.com/26001097/173219986-55ab94a5-d1d5-47ba-a139-43120c99d879.png)

and it's caused by the nil tracer:
![image](https://user-images.githubusercontent.com/26001097/173219542-1

[2022-06-12 06:16] seeflood opened #645 "ci: quickstart checker should check the error and panic messages printed by layotto"
**What happened**:
Currently the quickstart checker in our CI ignore the error and panic messages printed by layotto, so that bugs like #644 can't be found by CI

**What you expected to happen**:
The CI should check the layotto logs. If there are error or panic messages, the CI should report an error

**How to reproduce it (as minimally and precisely as possible)**:
see #644

**Anything else we ne

[2022-06-12 06:24] #558 closed

[2022-06-12 06:33] GimmeCyy opened #646 "让 CI 中的报错信息更直观"
优化检查报错信息，让报错更明显些
<img width="1440" alt="b57d1f3e26c5490b4b44cd3d74d5a38" src="https://user-images.githubusercontent.com/78087740/173234258-c6b84226-42c5-43ee-b032-7a51b0f77035.png">

[2022-06-12 15:27] LXPWing commented on #593
@seeflood
en: When the main function registers the zipkin, it calls mosn's RegisterTracerBuilder method, but the "driver" slice does not buffer the zipkin's key, so it skips the initialization.

ch: 当main函数注册zipkin时，会调用mosn的RegisterTracerBuilder方法，但是“driver”切片没有缓冲zipkin的key，所以跳过初始化流程。

![image](https://user-images.githubusercontent.com/65880844/173240267-e2a39229-11fd-47b6-8827-eb33b9509822.png)

[2022-06-12 16:23] bxiiiiii commented on #636
Could be assigned to me.

[2022-06-13 01:19] seeflood commented on #636
@bxiiiiii ok. Thanks!

[2022-06-13 01:29] seeflood commented on #593
@LXPWing It's because we should write a driver and invoke the `RegisterDriver` first.
I found that mosn recently add a zipkin driver, we can upgrade mosn and get that feature
https://github.com/mosn/mosn/blob/bb9f0b53e466079c55862caba8729aca3ac6964f/pkg/trace/zipkin/driver.go#L33

[2022-06-13 02:35] #643 closed

[2022-06-13 03:40] #587 closed

[2022-06-13 06:56] LXPWing commented on #593
mosn v1.0.2 is released and we are moving forward with this feature?

[2022-06-13 09:07] seeflood commented on #593
@LXPWing I don't know when will mosn release 1.0.2
For now, we can upgrade mosn version using specific commit id , instead of waiting for 1.0.2

[2022-06-13 09:52] LXPWing opened #647 "[draft]proposal: demo project"
### preview service服务

#### 环境
语言：Java 8
框架：Spring Boot 2.6.7
依赖如下：
[code]

#### 接口
preview service控制层(controller)开放File API和State API接口：

File API接口：调用layotto ali oss组件（或者可以是其他的存储系统，有待讨论）

State API接口：调用layotto redis组件

### product page页面

修改productpage包下的productpage.html页面和productpag.py代码

![1655111717542](https://user-images.githubusercontent.com/65880844/173327549-1c8fe0c4-f41c-4edd-ac13-52d42

[2022-06-13 10:38] bxiiiiii commented on #636
@seeflood

The error log is as above, the request from layotto to minIO cannot be sent, how should the IP address be changed to 127.0.0.1?

[2022-06-13 10:51] seeflood commented on #636
@bxiiiiii Did you change the listener address in config.json from `127.0.0.1` to `0.0.0.0`?
![image](https://user-images.githubusercontent.com/26001097/173338389-7ffea208-564a-4dd4-8968-9c40b51dd553.png)

[2022-06-13 10:59] bxiiiiii commented on #636
@seeflood Of course. layotto can already receive the request from the client, but it failed to send to minIO.

[2022-06-13 11:13] seeflood commented on #636
@bxiiiiii Then remember to modify the minio address in the config.json:
![image](https://user-images.githubusercontent.com/26001097/173341792-cf9d06cc-10f0-41d4-a857-4708dd559cc2.png)
You can take `docker/layotto-redis/config_redis.json` as an example

[2022-06-13 11:24] bxiiiiii commented on #636
@seeflood  It does work!
btw, there is a an unimportant question.
when using **get**, we will receive in client

hello layotto

Is there a problem?

[2022-06-13 11:38] seeflood commented on #636
I think it is a problem 🤔
Can you get same error even when running the existing demo in https://mosn.io/layotto/#/zh/start/file/minio ,without docker?
If so, you can submit an issue to track it

[2022-06-13 11:46] bxiiiiii commented on #636
@seeflood yes, the problem still exists.
ok.

[2022-06-13 11:56] bxiiiiii opened #649 "Get error from File Demo"
**What happened**:

When running the existing demo in <https://mosn.io/layotto/#/zh/start/file/minio> without docker
**bucket** and **put** all fine.
but **get** will receive

hello layotto

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

just running the existing demo in <https://mosn.io/layotto/#/zh/start/file/minio> without docker

[2022-06-14 01:15] #579 closed

[2022-06-14 03:24] #417 closed

[2022-06-14 04:42] #636 closed

[2022-06-14 08:16] #90 closed

[2022-06-14 08:42] #149 closed

[2022-06-14 08:43] #287 closed, assigned to nobody

[2022-06-14 08:43] #504 closed

[2022-06-14 08:49] seeflood commented on #646
复现步骤： 提交个会让 ut 报错的 pr，github 跑 CI 会报错，但报错信息如上图、不明显，看不出来是哪个ut出错了

[2022-06-14 09:33] arcosx commented on #213
I'm very sorry for the delay in getting the development team to track this, and I haven't had the time and energy to continue to finish this issue recently.

[2022-06-14 09:41] seeflood commented on #213
@arcosx That's fine!
Can we reassign it to others?
Since we are going to do a new round of activities, if you don't have time to do it, we want to treat it as an activity task

[2022-06-14 09:47] #460 closed

[2022-06-14 10:07] seeflood opened #651 "translate the operation guide into english"
**What would you like to be added**:
Translate the [operation guide](https://mosn.io/layotto/#/zh/operation/) into english

**Why is this needed**:
For english readers.

[2022-06-14 10:13] seeflood opened #652 "add comments for File API in proto files; 给 proto 代码添加注释"
**What would you like to be added**:
add comments for [File API in proto files](https://github.com/mosn/layotto/blob/31dda6a27c9719dc33ab0d8e9f19c1e1f49972f8/spec/proto/runtime/v1/runtime.proto#L73) .
For example, add comments for code below:
![image](https://user-images.githubusercontent.com/26001097/173553694-98a12116-27db-4068-808f-1f136562c138.png)

**Why is this needed**:

chinese:
为 proto 文件

[2022-06-14 11:30] #586 closed

[2022-06-14 11:34] arcosx commented on #213
You are too kind😁, of course you can.
Good luck with the activity.

[2022-06-14 12:13] seeflood opened #653 "proposal: 一种更简单的管理“新手任务”的方法"
## 背景
现在每次做运营活动、需要整理“新手任务”的时候，要手动把 issue 录入任务列表 https://github.com/mosn/layotto/issues/108 ，有以下缺点：
- 比较麻烦
- 不好管理进度，比如issue明明完成了，但是任务列表里忘记打勾了。

因此想换一种更简单的方式管理社区任务

## 方案
点击链接可以查看所有“待认领”的“新手任务": https://github.com/mosn/layotto/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22+no%3Aassignee

解释：
1. 在 issue 上打 label, 凡是带有 "good first issue" label的 issue，都视为“适合新手认领的任务”；
![image](https://user

[2022-06-14 12:41] seeflood commented on #653
cc @ZLBer  @wangxingyu000 @Kelei0215

[2022-06-15 04:19] seeflood commented on #105
@Xunzhuo Hi, shall we reassign it to others?
Since we are going to do a new round of activities, I think we can treat it as an activity task

[2022-06-15 08:07] Kelei0215 opened #654 "SOFA 星球”闯关计划 2.0——Layotto 飞船焕新出发"
## 一、活动目的

本活动是由 SOFAStack 团队主办的开源活动，希望对 Layotto 感兴趣的同学通过该游戏，按照任务难度闯关模式，对组件的性能进行循序渐进的了解，以及从中获取灵活的 Layotto 运用能力。

同时通过该活动促进开源社区的交流，与 Layotto 的开发者建立良好的沟通渠道，及时反馈建议，促进社区组件的优化从而达到社区共建。

本次活动所产出的文章将首先发表在 Layotto 项目主页上，同时也将会进行线上全渠道的推广。目前该活动即将上线 2.0 版本。

#### 活动背景

SOFAStack 是一个基于金融级分布式架构技术探索的开源社区，有众多开源项目，本次闯关活动中的 Layotto 飞船就是其中重要的一艘。

Layotto 是一款使用 Golang 开发的应用运行时, 旨在帮助开发人员快速构建云原生应用，帮助应用和基础设施解耦。Layotto 提

[2022-06-15 09:28] YoungMa962 commented on #635
Maybe i can try it.
Could you please assign to me ？

[2022-06-15 09:42] seeflood commented on #635
@YoungMa962 ok. Thanks!

[2022-06-15 11:19] palering commented on #651
let me see see

[2022-06-15 11:32] seeflood commented on #651
@palering ok.Thanks!

[2022-06-16 09:15] Xunzhuo commented on #105
Yes of course, @seeflood, maybe I should focus more on integration with istio

[2022-06-17 04:34] leemos-xx commented on #528
这个问题可以让我跟进下吗？

[2022-06-17 04:35] seeflood commented on #528
@leemos-xx Ok. Thanks!

[2022-06-17 07:17] leemos-xx commented on #528
你好，这个问题在 #529 中似乎被标记为fixed，目前我在`component`目录运行单测时，并没有失败的提示

[2022-06-17 07:36] wangxingyu000 commented on #651
hello~ 领取任务后欢迎添加 SOFAGirl 微信:SOFAGirl180419，备注“飞船计划”，方便我们之后跟进任务以及发布奖品

[2022-06-17 07:40] wangxingyu000 commented on #528
hello~ 领取任务后欢迎添加 SOFAGirl 微信:SOFAGirl180419，备注“飞船计划”，方便我们之后跟进任务以及发布奖品

[2022-06-17 07:42] wangxingyu000 commented on #635
hello~ 欢迎添加 SOFAGirl 微信:SOFAGirl180419，备注“飞船计划”，完成任务我们会发任务的哟

[2022-06-17 08:23] seeflood commented on #528
@leemos-xx 我现在本地不报错，但是看了下代码、以及上面的报错信息，猜测是：
ut会给 example.com 发http请求，如果在杭州运行，这个请求会被杭州电信拦截、跳转到 http://safe.zj.189.cn/
![image](https://user-images.githubusercontent.com/26001097/174257966-29c8e851-ea7b-426d-9627-497c68afbd3a.png)
我查了下这个域名，确实是电信拦截
https://www.v2ex.com/t/807511

anyway, 不管这个拦截的事情，ut其实不该依赖外部环境，或者说，这个ut 最好不要给 example.com发请求
因此可以修改下ut, 有两种改法:

A. mock掉发请求的部分，不发出真实请求
B. 不好mock的话，干脆让ut别测试发

[2022-06-18 06:34] #444 closed

[2022-06-18 07:46] leemos-xx commented on #622
这个任务可以分配给我吗，我尝试一下

[2022-06-18 07:56] seeflood commented on #622
@leemos-xx Cool. Thanks!
I don't know how to implement it . We need to do some research and check if there are any existing solutions in the community

[2022-06-18 12:17] seeflood commented on #607
进展：
依赖的c文件比较多，待调研

[2022-06-18 16:18] LXPWing commented on #647
@seeflood 要不在Layotto group开一个新的preview service仓库，我好提交代码

[2022-06-19 00:09] seeflood commented on #647
@LXPWing ok. 我理解需要:
- fork istio, 因为 bookinfo 在istio 仓库里，我们需要fork出来改product page页面
我 fork 好啦，在 https://github.com/layotto/istio
并且基于 1.10.6 tag 打了个新分支 preview_service, 作为仓库的默认分支，可以往这提交修改

- preview service，这个写在 java-sdk仓库的 examples 目录里如何？ https://github.com/layotto/java-sdk/tree/main/examples

[2022-06-19 08:25] LXPWing commented on #647
👌

[2022-06-20 03:50] kevinten10 commented on #617
OK，需要我去dapr提个案讨论一下吗

[2022-06-20 07:06] #528 closed

[2022-06-21 04:32] #519 closed

[2022-06-21 04:41] seeflood opened #661 "replace current apollo sdk with the official one; 将 apollo sdk 替换成官方 sdk"
**What would you like to be added**:
Change the apollo sdk to https://github.com/apolloconfig/agollo .

**Why is this needed**:

Currently we are using `github.com/zouyx/agollo` in https://github.com/mosn/layotto/tree/main/components/configstores/apollo
![image](https://user-images.githubusercontent.com/26001097/174717362-71795d59-cd36-486c-91fc-809086134124.png)

Since the project `github.com/zou

[2022-06-21 04:52] #630 closed

[2022-06-21 05:27] #613 closed

[2022-06-21 06:19] MichaelDeSteven commented on #631
plz assign it to me, thx

[2022-06-21 06:21] MichaelDeSteven commented on #661
plz assign it to me, thx

[2022-06-21 08:13] seeflood commented on #661
@MichaelDeSteven Ok. Thanks!

[2022-06-21 08:13] seeflood commented on #631
@MichaelDeSteven Cool. Thanks!

[2022-06-21 12:02] MichaelDeSteven commented on #661
This task need 2 step, I will finish it ASAP.
- [ ] replace apollo sdk with the official one
- [ ] update markdown which includes apollo content

[2022-06-22 02:52] Kelei0215 commented on #661
hello. 我是SOFA社区的运营可乐
欢迎添加微信：SOFAGirl180419，备注飞船任务，方便之后任务领取和进度同步哟～
相关问题我们都可以解答，帮助你在开源社区快速成长！

[2022-06-22 03:02] #593 closed

[2022-06-22 06:40] seeflood commented on #622
conversation in wechat group:

1、扫描的目录为layotto项目的docs目录；
2、错误数量是docs目录中的md不满足对应规则的报错的总数；
3、建议修复为Y，是根据设定该条规则的原因（Rationale：https://github.com/DavidAnson/markdownlint/blob/main/doc/Rules.md）初步判断的，如果可能会影响到部分编辑器的渲染，那这里我填的是建议修复；
4、整体错误数量还是蛮多的，需要决定下哪些可以先略过，或者逐步慢慢修复；

[2022-06-22 06:47] seeflood commented on #622
@leemos-xx 我想了下, 我们把策略定成这样呢: 只添加会导致 docsify 渲染异常的规则。
因为：
1. 规则越少越好。规则越多，贡献者体验越差，因为每次提PR 都要花时间修 linter报错
2. 我看了下规则，很多规则是说“如果你把 markdown 写成xxx样，那么不同的 markdown 编辑器渲染出来的效果不一样，所以不要这样做”。但其实我们只关心 docsify 渲染出来是什么样，不需要考虑“如果别的 markdown渲染器来渲染，会导致异常”

所以具体来说:
- 我们添加 `MD031 - Fenced code blocks should be surrounded by blank lines` 这条会导致渲染异常的规则
- 其他规则可以看下“是不是会导致 docsify 渲染异常”，如果不会，那其他规则先不加，等以后遇到渲染异常的case了，我们再针对

[2022-06-22 08:41] zhenjunMa opened #664 "Layotto integrate with istio 1.10; Layotto跟istio集成"
### 1. Background

1. istio is a famous implementation of ServiceMesh, using Envoy as the data plane by default.
2. mosn can be integrated with istio as an alternative data plane to envoy.
3. layotto, as an implementation of Application Runtime, is based on mosn and hopes to combine Service Mesh and Application Runtime.

### 2. Desc

Since istio can integrate mosn, this task is to integrate Layott

[2022-06-22 15:36] seeflood opened #666 "docs: automatically add space between chinese and english"
**What would you like to be added**:
I think our doc site should add space between chinese and english automatically

**Why is this needed**:
it saves us lots of time.

[2022-06-22 16:36] NTH19 commented on #550
Sorry.I have the other things to do these days.

[2022-06-23 00:36] seeflood commented on #550
@NTH19 That's fine. Shall we reassign it to others?

[2022-06-23 01:58] #666 closed

[2022-06-23 03:20] seeflood commented on #611
@leemos-xx Ok. Thanks!

[2022-06-23 06:22] NTH19 commented on #550
Yes

[2022-06-24 07:40] seeflood commented on #631
@MichaelDeSteven 是的，如果发现不在configs 目录就报错

[2022-06-24 13:42] IRONICBo opened #670 "[GLCC 2022 Draft] Integrate test"
# Layotto集成测试

### 课题理解与实现思路

1. **配置文件编写**：按照`config_XXX.json`的格式，增加启动配置文件`etcd`，`zookeeper`，`etcd`配置在`runtime_config.json`中作为配置中心已经被使用，`zookeeper`的配置在`config_zookeeper.json`中也已经被使用。
2. **组件测试代码编写**：`layotto/sdk/go-sdk/test/runtime`包下的`other_component_integrate_test.go`和`redis_integrate_test.go`，各个组件API的测试代码在`layotto/demo`包下有部分的功能测试函数。
3. **Github Actions配置文件编写**，Github Actions的配置文件中提供了`Container

[2022-06-24 14:39] SoftwareEthicsResearcher opened #671 "licenses inconsistency"
Hello, I am doing research in software engineering ethics. I found different licenses in repo. May I know which license repo follows? I would like to highlight this as a transparency concern.
•  Repo License: Apache license 2.0,
o  Different license : MIT in pkg/grpc/dapr/proto/common/v1/common.pb.go.

Regards, Software Ethics Researcher.

[2022-06-26 08:13] seeflood opened #672 "ci: use linter to check UT"
**What would you like to be added**:
use linter to check UT, including:
- [ ] check that every UT must have appropriate assertions. I don't know how to do it
![image](https://user-images.githubusercontent.com/26001097/170051370-91ac675c-70bc-4c82-b9af-a22131fca737.png)

- [ ] check that every UT must have appropriate case name. I don't know how to do it
![image](https://user-images.githubuserconte

[2022-06-28 02:53] seeflood opened #674 "upgrade mosn version"
**What would you like to be added**:
https://github.com/mosn/layotto/pull/673 upgraded mosn version to a commit id in develop branch https://github.com/mosn/mosn/commit/6d37b64a8f06023269b7b7efa268356276404692

We should submit a PR to make layotto depend on a commid id in `master` branch instead.

**Why is this needed**:
commit id in develop branch is not stable.

[2022-06-28 02:53] seeflood commented on #674
This issue will be assigned to @dzdx

[2022-06-28 03:04] dzdx commented on #674
/assign me

[2022-06-28 06:55] seeflood opened #679 "ci: `make` script should print ut coverage rate"
**What would you like to be added**:
@wenxuwan is struggling with the codecov error. He wants to run ut and then get the coverage rate locally.
I tried to `make style.coverage` but didn't get the overall coverage:
![image](https://user-images.githubusercontent.com/26001097/176112853-b6ae03c6-a2ef-4739-a8cb-01f7dcbff7ae.png)

I think `make` script should print the overall ut coverage rate, e.g. "60

[2022-06-28 07:18] seeflood opened #680 "translate the api-plugin quickstart into chinese; 把 api 插件的 quickstart 文档翻译成中文"
**What would you like to be added**:
Translate the api-plugin quickstart into chinese.
URL:  https://mosn.io/layotto/#/zh/start/api_plugin/helloworld

**Why is this needed**:

[2022-06-28 07:24] #661 closed

[2022-06-28 09:50] IRONICBo commented on #680
这个给我弄吧:)

[2022-06-28 12:02] #680 closed

[2022-06-28 15:49] MichaelDeSteven commented on #623
A bit of complex for me maybe. I can give it a try.

[2022-06-29 00:21] seeflood commented on #623
@MichaelDeSteven ok. Thanks!
We need to search for any existing linter to achieve this goal.
I know there are some linters for proto files, but haven't look into details:
https://github.com/ckaznocha/protoc-gen-lint
https://github.com/uber/prototool
https://github.com/bufbuild/buf

[2022-06-29 00:53] seeflood opened #682 "fix unstable ut; 修复不稳定的单测"
**What would you like to be added**:
The UT in `components/lock/zookeeper/zookeeper_lock_test.go` is not stable. Sometimes some lines of `components/lock/zookeeper/zookeeper_lock.go` are not covered in the UT and will lead to decreased test coverage.
For example , codecov reports it in https://github.com/mosn/layotto/pull/678#issuecomment-1168279135
![image](https://user-images.githubusercontent.c

[2022-06-29 02:25] #670 closed

[2022-06-30 04:17] seeflood opened #684 "in-container layotto can't call back to the subscriber on the host"
**What happened**:
When playing [pubsub quickstart with docker](https://mosn.io/layotto/#/zh/start/pubsub/start) , I found that in-container layotto can't call back to the subscriber on the host.
When developers write apps based on Layotto, they run layotto with docker on their laptop. In that scenario, this issue makes local development annoying.

**What you expected to happen**:
in-container lay

[2022-06-30 05:05] seeflood commented on #532
I'm going to close this issue.
We can track the subtasks using roadmap https://github.com/mosn/layotto/projects/12

[2022-06-30 05:06] #532 closed

[2022-06-30 11:38] seeflood opened #686 "Run quickstart with JS sdk"
**What would you like to be added**:
Currently users can run Layotto quickstart with Java sdk, which is friendly for Java developers who don't have golang environment on their laptop. See https://mosn.io/layotto/#/en/start/state/start
![image](https://user-images.githubusercontent.com/26001097/176667668-ea852cdb-2682-404b-9295-72b0edd00676.png)

Next, we need to make the quickstart demos more frie

[2022-06-30 11:54] seeflood opened #687 "Run configuration API quickstart with java sdk; 在 configuration API quickstart 中添加 java demo"
**What would you like to be added**:
Currently users can run Layotto state API & sequencer API quickstart with Java sdk, which is friendly for Java developers who don't have golang environment on their laptop. See https://mosn.io/layotto/#/en/start/state/start
and
https://mosn.io/layotto/#/zh/start/sequencer/start

![image](https://user-images.githubusercontent.com/26001097/176667668-ea852cdb-2682

[2022-06-30 11:57] seeflood opened #688 "Run lock API quickstart with java sdk; 在 lock API quickstart 中添加 java demo"
**What would you like to be added**:
Currently users can run Layotto state API & sequencer API quickstart with Java sdk, which is friendly for Java developers who don't have golang environment on their laptop. See https://mosn.io/layotto/#/en/start/state/start
and
https://mosn.io/layotto/#/zh/start/sequencer/start

![image](https://user-images.githubusercontent.com/26001097/176667668-ea852cdb-2682

[2022-06-30 12:00] seeflood opened #689 "Run secret API quickstart with java sdk; 在 secret API quickstart 中添加 java demo"
**What would you like to be added**:
Currently users can run Layotto state API & sequencer API quickstart with Java sdk, which is friendly for Java developers who don't have golang environment on their laptop. See https://mosn.io/layotto/#/en/start/state/start
and
https://mosn.io/layotto/#/zh/start/sequencer/start

![image](https://user-images.githubusercontent.com/26001097/176667668-ea852cdb-2682

[2022-06-30 12:10] seeflood opened #690 "Run RPC quickstart with java sdk; 在 RPC quickstart 中添加 java demo"
**What would you like to be added**:
Currently users can run Layotto state API & sequencer API quickstart with Java sdk, which is friendly for Java developers who don't have golang environment on their laptop. See https://mosn.io/layotto/#/en/start/state/start
and
https://mosn.io/layotto/#/zh/start/sequencer/start

![image](https://user-images.githubusercontent.com/26001097/176667668-ea852cdb-2682

[2022-07-02 03:21] seeflood opened #691 "Running Layotto with Istio-1.10 failed"
**What happened**:
I tried to run Layotto with Istio-1.10 on the online lab https://killercoda.com/mosn-tutorial/course/layotto/samples-bookinfo , but failed.
Logs:
![image](https://user-images.githubusercontent.com/26001097/176984805-0b1da07f-cdb1-49b9-9342-2bc20c535042.png)
To solve it, I think we should reuse code in https://github.com/mosn/mosn/tree/master/istio/istio1106

**What you expected

[2022-07-02 12:20] seeflood commented on #647
todo:
- [ ] 确认下图片路径格式 @seeflood

[2022-07-02 12:39] seeflood commented on #607
action:
- [ ] CPU 限制提个 PR @rayowang

stack 和memory再说

[2022-07-02 12:51] seeflood commented on #489
action
- [ ] review and merge @seeflood

[2022-07-02 12:53] seeflood commented on #617
action
- [ ] 发提案 @kevinten10
- [ ] 顶帖 @seeflood

[2022-07-02 13:11] seeflood commented on #625
进展:
- [ ] 7 月开始搞，同时支持 file API 和 s3 API

[2022-07-02 13:13] seeflood commented on #670
@IRONICBo Hi, did u participate in GLCC?

[2022-07-02 13:14] seeflood commented on #415
action:
- [ ] 确认下哪位同学、进度如何 @zhenjunMa

[2022-07-02 13:52] LZHK1ng opened #692 "Run lock API quickstart with js sdk;"
I want to try it.

[2022-07-02 13:53] seeflood commented on #692
@LZHK1ng Ok. Thanks!

[2022-07-02 13:54] LZHK1ng commented on #692
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-07-02 14:09] seeflood opened #693 "[Discussion] Integrate with polarismesh"
Background:
As far as I know, some mosn users are trying to integrate mosn with polaris mesh. It's possible because both mosn and polaris mesh support XDS 3.0 .
We can integrate layotto with polaris mesh officially and add an online lab showing users how to do it.

Details:
I think there are two aspects :
- Use polaris as the control plane of MOSN. Polaris is responsible for service registry/disco

[2022-07-02 14:11] seeflood opened #694 "[Discussion] design CRD for components"
Design CRD for components
把组件做成 CRD

Why do this:
To support #500 , we can define CRD for every component and write a K8s controller watching for the changes.
Whenever the api object changes, the controller asks the sidecars to hot-reload the components

action:
- [ ] @seeflood @Xunzhuo 调研一下
- [ ] 看下 XDS 协议 envoyfilter ，看看可不可以复用
@rayowang

[2022-07-03 09:13] ZLBer commented on #693
@seeflood  any detail message?

[2022-07-03 09:25] leemos-xx commented on #611
我上周比较忙没有跟进，这两天尝试理解了一下，有些疑问，麻烦有时间了帮忙解答下：

我大致看了下`proxy-wasm/spec`，这里面主要包括Host（`proxy-wasm-go-host`） + SDK（`proxy-wasm-go-sdk`）两部分声明，目前用户侧在开发wasm function的时候，是否主要就依赖SDK部分？比如`wasm/filter.go`中在接收到http请求后，在解析到对应部分时，分别会去调用：

- ProxyOnRequestHeaders
- ProxyOnRequestBody
- ProxyOnRequestTrailers

最终会触发SDK中的方法：

- OnHttpRequestHeaders
- OnHttpRequestBody
- OnHttpRequestTrailers

用户在处理HTTP请求时，需要同时实现三个接口，这也就

[2022-07-03 14:54] seeflood commented on #693
@ZLBer I added some details. These are just vague ideas and we're not sure right now. I will talk with users

[2022-07-04 02:58] seeflood commented on #611
收到， @zhenjunMa 马老师有空帮忙看看哈

[2022-07-04 05:24] seeflood commented on #647
@LXPWing 存取图片可以先用 File API 实现 (因为 OSS API review、开发java sdk还需要一些时间）
路径格式是 `bucket/xxx/xxx/xx.jpg` 这样
@wenxuwan 可以补充下其他细节

[2022-07-04 06:51] seeflood commented on #691
Related mosn PR:
https://github.com/mosn/mosn/pull/1910
https://github.com/mosn/mosn/pull/1990

[2022-07-04 08:39] seeflood commented on #647
@LXPWing LGTM

[2022-07-04 08:41] wenxuwan commented on #647
@LXPWing LGTM

[2022-07-04 14:21] MichaelDeSteven commented on #623
we can use [buf](https://docs.buf.build/lint/rules#comments) linters to achieve this goal.
here is my step:
1. config `buf.yaml` in project root directory.
[code]
2. write makefile and dockfile
we can execute `buf lint` to check comment before compile proto files and generator the corresponding doc.

[2022-07-04 14:26] LZHK1ng commented on #692
![微信图片_20220704221528](https://user-images.githubusercontent.com/68213475/177172577-bc8b7b1f-8052-49e8-9ab3-5770b2379de8.png)
I have a problem when I compiled this file.
Can you help me see plz. @seeflood

[2022-07-04 14:49] seeflood commented on #623
@MichaelDeSteven Sounds great! We can run this linter in our CI
Could u submit a PR for it?

[2022-07-04 14:52] seeflood commented on #692
@LZHK1ng Sure. Could you list the commands to reproduce this error ?

[2022-07-04 15:07] LZHK1ng commented on #692
ok!
# step 1. Set up the environment

docker run -itd --name redis-test -p 6380:6379 redis

# Running etcd under Docker

docker run -itd -p 2379:2379 --name etcd quay.io/coreos/etcd /usr/local/bin/etcd -advertise-client-urls http://0.0.0.0:2379 -listen-client-urls http://0.0.0.0:2379

cd docker/layotto-redis
# Start redis and layotto with docker-compose
docker-compose up -d

# finally
git clone ht

[2022-07-05 10:01] seeflood commented on #692
@LZHK1ng I can run the demos but failed because of other errors:
![image](https://user-images.githubusercontent.com/26001097/177303356-9a6a08aa-a254-4496-91c2-7dfe52f484b7.png)

You can search your error messages and try to solve it by removing the entire`node_modules` folder and re-installing it:
https://stackoverflow.com/questions/9023672/how-do-i-resolve-cannot-find-module-error-using-node-js

[2022-07-05 13:04] zhenjunMa commented on #611
@leemos-xx
这个提案想要做的基本就是你说的这些。

- 关于你说的Http跟Event，我们可以归类为函数的触发方式，也就是function trigger，一般来说可以有HTTP、RPC、消息等类型，这块我建议是从支持HTTP开始做，如果这种触发方式成熟了，那我们后面可以考虑增加更多的触发方式。

- 这个API你是指的函数暴露给用户用于开发的API吗？一般来说我们认为函数的逻辑比较简单，也就是说比如只需要实现一个`handle`方法即可。但如果暴露一些提升用户开发体验的API那也是可以的，比如提供init跟destroy两个方法，一个用于函数加载完成时回调，一个用于函数销毁前回调，或许可以让用户执行一些初始化或销毁的操作

[2022-07-06 02:41] Kelei0215 commented on #680
hello, 我是SOFA社区的运营可乐
欢迎添加微信：SOFAGirl180419，备注「飞船任务」，方便之后新任务的领取和进度同步哟～
相关问题我们都可以解答，帮助你在开源社区快速成长！

[2022-07-06 03:15] #691 closed

[2022-07-06 03:45] seeflood opened #699 "proposal: Adding integration tests when submitting a PR"
## What problem does this proposal solve
Our code review process is slow, and hard. I want to make PR review faster.
We added some linters in CI, but that's far not enough. PR review is still hard 😢 and still slow

## Analyze
### Model
We can model "PR review" into different phases:
- Triage
- Design review
Review the design docs (if any) or API definition.

- Test case review
Review there are eno

[2022-07-06 03:56] seeflood commented on #699
chinese:
鉴于现在社区 pr view 比较慢，且比较难，我想到个提案，要求以后提 PR 时必须写新的集成测试、把集成测试加进CI 里，测试通过了才代表“本 PR 已经充分自测过”，Reviewer 开始 review
可以帮忙一起 review 下提案哈 @mosn/layotto-commiter @mosn/layotto-pmc @mosn/layotto-admins

[2022-07-06 04:16] seeflood opened #700 "bug: errors occur during startup; 启动时有报错"
**What happened**:
There are errors during startup. See https://github.com/mosn/layotto/runs/7208132527?check_suite_focus=true
![image](https://user-images.githubusercontent.com/26001097/177466887-6988107f-21f3-462c-a4b0-1b6601ca5f32.png)

**What you expected to happen**:
No errors. Or make sure these errors can be ignored

**How to reproduce it (as minimally and precisely as possible)**:
Run the

[2022-07-06 06:03] nobodyiam commented on #699
There are many different types of pull requests, e.g. bug fix, documentation, demo, new feature, etc.
I suppose only those new feature pull requests are concerned here?

[2022-07-06 06:42] seeflood commented on #699
UT can't find out bugs. Examples are #669 and https://github.com/mosn/layotto/pull/574

You can list the pain points you met. We can try to improve it.
For me it's not complex, you just need to add your markdown file into the `test-quickstart.sh`, see https://mosn.io/layotto/#/zh/development/test-quickstart?id=step-5-%e4%bf%ae%e6%94%b9-ci%e8%87%aa%e5%8a%a8%e6%b5%8b%e8%af%95%e6%96%b0%e5%86%99%e7%9a

[2022-07-06 07:13] Xunzhuo commented on #699
From my perspective, the current issue `help maintainers review PR faster` is not all related to the CI and it is only related to the PRs that are very large.

I think it is answer to `How to make big refactoring tasks or feature tasks?`, we can add more integration tests and I agree, but in a large PR, it can not find all bugs too.

So the solution is that separate the large PRs into small ones,

[2022-07-06 07:50] wenxuwan commented on #699
If i want to run oss ci , i need provide my ak、sk in configure file？

[2022-07-06 08:45] ZLBer commented on #682
@seeflood  who make who fix  😅

[2022-07-06 08:54] seeflood commented on #682
![image](https://user-images.githubusercontent.com/26001097/177510752-28e2c77c-0a80-4064-bbac-54899a16f9b1.png)

This issue is one of the tasks in https://github.com/mosn/layotto/issues/654 and you can get some presents after fixing it

[2022-07-06 13:32] seeflood commented on #699
@wenxuwan That's easy to solve because we can configurate it in the repo setting. I can help with it

[2022-07-07 03:41] pepsiss commented on #690
我想试试

[2022-07-07 03:49] seeflood commented on #690
@pepsiss Thanks! Assigned to u

Reference:
[文档贡献指南](https://mosn.io/layotto/#/zh/development/contributing-doc?id=%e6%96%87%e6%a1%a3%e8%b4%a1%e7%8c%ae%e6%8c%87%e5%8d%97)

[2022-07-07 13:11] #682 closed

[2022-07-08 01:31] hongbaotong opened #704 "demo库在哪里？"
### Your question

demo库在哪里啊？文档里只运行了demo，找了一圈也没找到源码，都不知道是怎么调用的

[2022-07-08 01:51] seeflood commented on #704
hi, 你指哪些 demo 代码？
以 https://mosn.io/layotto/#/zh/start/state/start 为例，go demo 在项目的这个目录下:
![image](https://user-images.githubusercontent.com/26001097/177900485-c6a5babd-0b70-4c4d-b4fa-43a99ab1ebef.png)

java demo 在 https://github.com/layotto/java-sdk
![image](https://user-images.githubusercontent.com/26001097/177900539-69422be4-d82c-473d-b49e-66850565db19.png)

[2022-07-08 01:55] hongbaotong commented on #704
抱歉，是我眼花

[2022-07-08 01:56] seeflood commented on #704
没事，那先关 issue 啦 😄 有问题再提

[2022-07-08 01:56] #704 closed

[2022-07-08 10:05] wenxuwan opened #705 "Can specify target address for rpc request"
**What would you like to be added**:

用户请求rpc的时候可以指定provider的地址，layotto直接将请求发到目标ip地址去，而不需要转发给mosn。用作测试使用。

**Why is this needed**:

rpc请求的时候，一个service可能会有多个provider，在调试的时候，期望的是可以发到目标provider上，而不是默认的走负载均衡策略。当前layotto会转发到mosn走mosn的服务发现策略，用户无法在不更改配置文件的前提下将请求发送到目标provider。

**Design for this issue**:

当前rpc请求的结构定义如下：

![image](https://user-images.githubusercontent.com/11661906/177968168-0e26088c-fea4-

[2022-07-09 03:33] leemos-xx commented on #611
# FaaS API

考虑函数逻辑相对简单，目前先提供`init`, `destory`和`handleHttpRequest`三个方法。

## 1. `init`

在函数加载完成时调用一次，可以供用户完成一些初始化的操作。示例如下：

[code]

### 1.1 `context`

当函数初始化时，会将`context`传递到`init`方法中，`context`中可以包含一些如`requestId`、`logger`等信息，后续可以视情况增加。

|  字段   | 说明  |
|  ----  | ----  |
| requestId  | 本次请求的唯一id，当出现问题时方便排查。 |
| logger  | 日志对象，用于格式化输出日志，提供不同的日志级别。 |

## 2. `handleHttpRequest`

当接收到HTTP请求时，触发该方法，用户在该方法

[2022-07-09 08:27] seeflood commented on #608
@gdutChenxj Hi, 你还在搞这个issue么？

[2022-07-09 08:31] seeflood opened #706 "add documentation for Layotto+istio online lab"
**What would you like to be added**:
Add documentation for Layotto+istio online lab

subtask of #471

**Why is this needed**:
Show our features and be more friendly to new comers

[2022-07-09 08:33] ZLBer opened #707 "secret ref not flexible enough"
**What would you like to be added**:
Now we can inject secret to  the metadata of components  using secretref config:
<img width="442" alt="image" src="https://user-images.githubusercontent.com/20033804/178098107-88aff479-bf1f-4df6-91a8-e1634cfad3c6.png">
But the key we inject into the metadata must be consistent with the key stored in the secret store, which is very inconvenient. We need to add a

[2022-07-09 08:38] seeflood opened #708 "ci: build and push `layotto/proxyv2:version` image in layotto-release pipeline"
**What would you like to be added**:
Our CI can build and push `layotto/proxyv2:latest` image after new PR merged.
The next step is to build and push `layotto/proxyv2:version` image in layotto-release pipeline, e.g. automatically build `layotto/proxyv2:v0.5.0`

**Why is this needed**:
For istio deployment

[2022-07-09 08:50] #472 closed

[2022-07-09 09:05] seeflood opened #709 "Add a layotto lab showing users how to do traffic management with istio;"
**What would you like to be added**:
Currently [our lab](https://killercoda.com/mosn-tutorial/course/layotto) is simple. We can add more labs.

For example, we can add a layotto lab showing users how to do traffic management using istio .

It's a subtask of #471

Reference:
lab: https://killercoda.com/mosn-tutorial/course/layotto
source code of the lab:  https://github.com/mosn/mosn-tutorial
We ca

[2022-07-09 09:15] seeflood opened #710 "Add a layotto lab showing users how to "run applications on multiple cloud""
**What would you like to be added**:
Currently [our lab](https://killercoda.com/mosn-tutorial/course/layotto) is simple. We can add more labs.

For example, we can add a layotto lab showing users how to "run applications on multiple cloud".

This lab will be based on the "Bookinfo" project. After the bookinfo project is merged, we can add a lab for it

It's a subtask of https://github.com/mosn/lay

[2022-07-09 09:19] seeflood commented on #710
@LXPWing Hi, can I assign it to you?
After the bookinfo project is merged, we can add a lab for it

[2022-07-09 12:03] seeflood opened #712 "notify API"
e.g. send SMS, send dingtalk message

action:
@kevinten10  give the first proposal

- IM API
  - issue: https://github.com/mosn/layotto/issues/715
- SMS API
  - issue: https://github.com/mosn/layotto/issues/716

- Email API
  - issue: https://github.com/mosn/layotto/issues/717
  - PR: https://github.com/mosn/layotto/pull/729
- PhoneCall API  @seeflood
  - issue: https://github.com/mosn/layotto/iss

[2022-07-09 12:13] seeflood commented on #607
进展：测试中

[2022-07-09 12:15] seeflood commented on #611
@kevinten10 @zhenjunMa @rayowang 帮忙review 下?

[2022-07-09 12:18] seeflood commented on #626
进展：
在看 java-sdk，下周提 pr
还没搞spring-boot 集成

[2022-07-09 12:23] seeflood commented on #193
进展：
刚开始开发
参考 https://github.com/baidu/uid-generator

[2022-07-09 12:57] seeflood opened #713 "Deploy layotto on AWS and Alibaba Cloud, together with native sidecar"
@kevinten10 目前遇到了多语言维护成本高的痛点，在调研 sidecar 模式

但是遇到了问题:
1. 已经在 AWS 和 阿里云上用了原生 sidecar （AWS app mesh 和 阿里云 ASM，其实都是  envoy)，在开启了透明流量劫持的情况下, 再部署个 layotto sidecar 会不会冲突?
2. 已经有了原生 sidecar (envoy), 再部个 mosn 比较冗余。能否部署一个 layotto 独立sidecar，但是里面不带mosn？

需求细节：
- rpc 需要走 layotto sidecar，因为有一些 tracing、可观测性相关逻辑要自己写；
- 云上的 mesh 不好做扩展、不考虑把扩展逻辑做在 envoy 里（AWS envoy 想扩展得自己打镜像、再交给 AWS 托管，有额外的运维成本，不想这么做）
- 考虑私有云采用 sdk

[2022-07-09 13:33] seeflood commented on #693
User Scenario:
PolarisMesh runs as a xDs server or a "control plane". Users use it to do service registry/discovery and deliver xDS data to data plane

[2022-07-11 02:33] seeflood commented on #500
更新下进展:
- 关于componentRef 的方案
@ZLBer 最近做了个 密钥注入，想要通过 componentRef 注入的话很快就能支持；

- 关于"把组件做成CRD、CR 变更后透明热加载组件"方案:
现在的卡点是：不知道用什么控制面去下发 CR 变更。我看了下 xDS 是没法下发这些自定义配置的?
感觉这个问题很通用: envoy 用户自己写的 filter 想动态改规则，怎么下发规则？现在 xDS 各种 filter 的规则是强类型的
(听说 ASM 是改了 istio)
这个问题是 @rayowang 提的，可以一块调研下

[2022-07-11 03:22] kevinten10 commented on #713
### A、目前Capa SDK模式在落地中的痛点：

#### 1. 多语言问题：

我们目前主要有java/nodejs两种语言，后续可能拓展到python/golang语言，同一个逻辑需要在多种语言中实现，开发维护成本高。

#### 2. 版本迭代问题：

在公有云落地初期，需要定制/兼容的逻辑比较多，经常改一行代码然后就要升级sdk版本，再去推业务方升级，业务方频繁升级导致推进困难。

#### 3. Java依赖冲突：

由于CapaSDK需要和第三方sdk一起运行，有时会涉及到多个云的sdk。虽然借助maven做了依赖隔离管理，但有时还是会遇到依赖冲突的问题，在解决依赖冲突上花费了比较大的精力。

#### 4. 发包链路长：

由于Capa分成了好几个层次（api层/spi实现层等），相互之间通过maven发布的jar包进行引用。导致修改一个功能，需要依次升级多个包，开发效

[2022-07-11 04:05] kevinten10 commented on #713
### C、功能下沉到sidecar

#### 1. configuration

configuration对性能要求比较低，容错度比较高。所以会先考虑下沉到sidecar中。

Capa目前在aliyun上使用MSE Nacos-Client，在aws上使用appconfig client。

目前，Capa做了一些自定义逻辑在里面：

1. 定时轮询，根据某个配置文件中的自定义时间，定时轮询获取最新的版本信息（appconfig sdk不支持服务端推送模式，只能通过get方法获取更新）。
2. 主要使用了get/subscribe方式，目前未使用到save/delete方法

---

#### 2. RPC Client

目前，在aws/aliyun的Capa SDK中链路如下：

    业务代码通过Capa-Adaptor SDK发起RPC调用 -> invokeMetho

[2022-07-11 06:35] kevinten10 commented on #713
### D、sidecar部署模式的讨论

如果要部署sidecar，讨论一下哪种部署方式会更好一些呢。

#### 1. sidecar模式

经典模式，不过在已经部署了appmesh/asm的情况下，需要再部署一个容器。

最终一个pod中会有3个容器，主要问题是成本问题：部署成本和运维成本。

可能调试起来不太方便，见（E）。

#### 2. 独立部署模式

比如将layotto独立部署为中心化节点。

然后像configuration这类非性能敏感的场景，是否可以由业务pod通过grpc直连中心化节点来提供。

好处是：

1. 主要是成本问题，降低了pod中增加容器的部署成本和运维成本。
2. 有利于本地debug，本地可以通过grpc直连远程的中心化节点，来提供各项能力。

但这么搞的项目比较少，比如中心化瓶颈、单点故障等问题？

------

### E、sidecar模

[2022-07-11 06:47] kevinten10 commented on #713
### F、与云平台的顺滑集成

我之前看layotto社区是打算复用istio工具链，然后在k8s里面做layotto on istio是么。

那像已经在用aws appmesh和asm的用户（非原生istio），该如何顺滑集成呢。

比如appmesh，是通过helm安装的。

layotto有没有类似helm的方式，可以很方便的在k8s集群中进行安装/升级/卸载呢。

[2022-07-11 06:49] kevinten10 commented on #713
以上是对该issue的补充说明~

[2022-07-11 06:55] kevinten10 commented on #611
如果是GET请求，请求参数会放在path里面吗

[2022-07-11 07:47] OOOOlh commented on #193
## 1、位数分配

下面各个部分的位数支持用户根据需要自定义。

- sign(1 bit)

- delta seconds(28bits)

  精确到秒，大约可以使用8.7年

- worker id(22 bits)

  机器id，最多可支持约420w次机器启动。内置实现为在启动时由数据库分配，默认分配策略为用后即弃

- sequence(12 bits)

  每秒下的并发序列，13 bits可支持每秒8192个并发。

## 2、worker id生成

​	在程序启动时，将“主机IP”和“当前时间戳 (单位：秒)  -  (0-10000之内的随机数)”两个字段作为一条记录写入Mysql，并获得一个唯一自增id作为work id，如下。
![image](https://user-images.githubusercontent.com/83326634/1782121

[2022-07-11 08:29] kevinten10 commented on #608
Hi, 有没有 `app->(grpc)->layotto sidecar->(redis)->redis server` 和 `app->(redis)->redis server`的性能对比呢

[2022-07-11 08:39] seeflood commented on #713
是的

我调研下，可以帮忙一起看看。
感觉现在的主要矛盾是怎么部署 :) 最理想的方式是让 阿里云asm 也支持 layotto 能力（比如把蚂蚁的 moe 方案输出到 阿里云上） 要先找人聊下

[2022-07-11 08:51] kevinten10 commented on #705
Hi，此功能是否可以兼容以下场景呢：

例如部署layotto + envoy，流量先经过layotto做处理，layotto再将流量直接转发给envoy。

+ 流量不经过mosn。可能是 `app -> (http/grpc) -> layotto -> (http) -> envoy -> target service
+ layotto->envoy走L7的http转发，而不是L4的ip转发。那是不是要加一个rpc_target_url

[2022-07-11 09:30] gdutChenxj commented on #608
@seeflood 最近没时间搞了，麻烦转给其他人吧

[2022-07-11 09:38] kevinten10 commented on #713
#### A

这样感觉对阿里云会很好啊，应用迁移到阿里云的成本会变低。不过还是会面临混合云的问题呢：在阿里云用托管layotto，在azure用托管dapr，在aws/gcp自己搞？

以及，托管服务如何让用户写自定义逻辑呢，生产用户很难100%复用公共逻辑，能用wasm写hook逻辑吗。

#### B

我们很难迁移到mosn上面来，主要是：

1. 小语种和java都部署在一套k8s中，使用同一namespace，服务之间会互相调用。
2. 对外提供api的服务，使用了aws appmesh gateway，必须和它的appmesh sidecar一起使用。如果切换到mosn，我们需要自行部署gateway。
3. appmesh是托管的，有任何运维问题可以寻求厂商支持。如果自运维，可能要自己解决。我们这边更多是云原生的，运维的资源会很少。
4. 技术投资，已经为appmesh调优

[2022-07-11 09:48] seeflood commented on #608
@kevinten10 我们没专门压过state API，@wenxuwan 压过 grpc 的 invokeService 和 sayHello 接口。当时1000qps下，引入layotto后，（相比于用mosn）rpc耗时增加0.24ms

当然具体精确数字最好专门压测一下

[2022-07-11 09:48] seeflood commented on #608
@[gdutChenxj](https://github.com/gdutChenxj) ok 欢迎有空了再来参与社区

[2022-07-11 11:20] kevinten10 opened #715 "proposal: IM notify API [SaaS API]"
Hi, This is `IM notify API` proposal.

### **What would you like to be added**:

saas api: IM notify api

### **Why is this needed**:

https://github.com/mosn/layotto/issues/712

### **Support situation**:

|IM|Docs|
|---|---|
|Dingtalk| https://open.dingtalk.com/document/group/send-a-dingtalk-robot-message |
|Dingtalk dapr| https://docs.dapr.io/zh-hans/reference/components-reference/supported-bin

[2022-07-11 13:38] seeflood commented on #715
我想先讨论确定下 scope。用户应该不止要调 IM，还要调邮件等渠道
scope:
a. 每类渠道有一个 API
b. 统一 API  for 所有渠道(IM、SMS、邮件、电话)

![image](https://user-images.githubusercontent.com/26001097/178277090-306cc865-ec34-4242-b536-aed75c5d3f92.png)

[2022-07-11 13:52] kevinten10 commented on #715
我个人比较倾向a方案。

因为这几种渠道，有大量的参数差异，无法被抹平。以及应用场景有明确的区别。
同时，可能有的场景逻辑会比较复杂，若采用b方案，则对其的改动可能会影响其他场景。

随着支持saas服务的增多，如果都统一到一个saas api中，将会膨胀为一个巨大api，增加了理解成本。

[2022-07-11 13:59] kevinten10 opened #716 "proposal: SMS notify API [SaaS API]"
Hi, This is `SMS notify API` proposal.

### **What would you like to be added**:

saas api: SMS notify api

### **Why is this needed**:

https://github.com/mosn/layotto/issues/712

### **Support situation**:

|SMS|Docs|
|---|---|
|Aliyun SMS| https://help.aliyun.com/document_detail/419273.htm?spm=a2c4g.11186623.0.0.3437bb6eHzhqjY |
|AWS Pinpoint| https://docs.aws.amazon.com/zh_cn/pinpoint/latest/d

[2022-07-11 16:35] seeflood commented on #715
@kevinten10 分析的有道理！a 方案更解耦
如果为每类能力设计一个 API，那么接下来的问题是:
当前有必要设计 IM API 么？

具体来说:
1. 用户有从 A IM 透明切换到 B IM 的需求么（比如想不改代码从微信切到钉钉）？
（我这了解到的需求都是调钉钉，感觉通用的用户需求是“不管部署到阿里云还是aws，都是给 XXX IM 的YYY 群发消息”）
2. 如果 1 真有这需求，那真的有必要走 sidecar么？因为感觉 sidecar 的价值是”适配不同云服务”+“方便加字段改代码”，但发 IM 消息这事跟云服务无关，而且 API 长时间不变（比如钉钉发消息的接口，常年不变，似乎不会出现经常改的情况）。所以感觉更适合做成 sdk？
3. 如果确实要做到 sidecar 里，那 gRPC IM API 感觉是 wechaty 已经搞定的事情，我们是兼容 wechaty

[2022-07-12 02:50] kevinten10 commented on #626
我看到一个有趣的项目，或许可以参考一下：

quarkus和dapr sdk的集成：https://github.com/quarkiverse/quarkus-dapr/issues/5

[2022-07-12 03:05] kevinten10 commented on #715
就我目前使用IM的场景来看：

不太会有“从 A IM 透明切换到 B IM ”的场景，每个公司如果自己内部落地的话，可能是唯一指定的IM。
但如果将layotto/dapr/...放到云平台，作为托管服务呢？是否要支持不同用户的不同IM需求。

就我的场景来看，我封装了一套java的im工具包，作为sdk提供给java应用使用。
但面临的问题是多语言的场景，要为每个im构建多语言的sdk吗？这是个不小的工作量。使用sidecar可以多语言复用一个逻辑。

如果它设计的足够好，足够通用，那我们就用它的吧。我粗略看了一下，发现它定义了很多的api，我们似乎只需要'发送消息'这一个，我目前还没有找到明确的这个api。

[2022-07-12 03:09] kevinten10 commented on #715
另，有这样一种场景：

IM api在私有云内部可以直接访问，但在公有云上无法直接访问，可能要通过转发/验证/代理等方式才能访问。

这样哪怕我已有多语言的sdk，还是要为每种语言的sdk重新开发一套转发/代理的功能。
这时候我希望把这个逻辑放在sidecar中，这样只需要开发一次即可，对api也没有变动。

综上，我个人觉得值得将IM api下沉到sidecar中，主要解决了多语言sdk的问题和后续自定义功能复用的问题。

如果社区有成熟api，那复用也完全可以呢。

[2022-07-12 03:39] #610 closed

[2022-07-12 03:39] #443 closed

[2022-07-12 07:07] kevinten10 opened #717 "proposal: Email notify API [SaaS API]"
Hi, This is `Email notify API` proposal.

### **What would you like to be added**:

saas api: Email notify api

### **Why is this needed**:

https://github.com/mosn/layotto/issues/712

### **Support situation**:

|SMS|Docs|
|---|---|
|Dapr SMTP| https://docs.dapr.io/zh-hans/reference/components-reference/supported-bindings/smtp/ |
|Aliyun Email| https://help.aliyun.com/document_detail/29444.htm?sp

[2022-07-12 07:10] kevinten10 commented on #717
以实际使用来说，当把`application_id`传入`configurationSetName`时，这几个参数就足以在AWS SES上进行email发送了

[2022-07-12 07:10] kevinten10 commented on #717
其他关于参数的讨论见：https://github.com/mosn/layotto/issues/715

[2022-07-12 14:09] kevinten10 commented on #713
是的，不想在sdk里面加，想在sidecar里面加。

[2022-07-12 14:16] kevinten10 commented on #713
我这边有可以操作的appmesh环境，我先尝试一下把layotto跑起来试试

[2022-07-13 01:37] seeflood commented on #713
对于 “app 开发者如何调试 app”，一般有以下几种方案:
- 本地 docker/docker-compose 启动个 layotto sidecar
- 公司提供远端 layotto sidecar
- 如果公司有类似于 github codespace的云端研发环境，那在研发环境自带sidecar

对于 “layotto 开发者如何调试 layotto”:
本地编译运行 layotto 即可

我补个文档吧

[2022-07-13 02:28] kevinten10 commented on #713
本地搞个docker，对于业务同学不太友好，有点geek style。

我对这个方案比较感兴趣，意思是否为：

比如我在远端测试环境，自己拉起一个pod，在里面跑layotto sidecar，然后把pod的ip设为本地可访问。

这样我在本地调试时，把localhost修改为以上ip，即可实现本地进程连接到layotto sidecar是么。

good idea！

一般不会在云端进行编码，还是本地ide居多。

enough~

[2022-07-13 02:38] kevinten10 commented on #712
我认为notify API是具有实际业务价值的，它可以帮助用户更好的进行应用系统的监控告警通知，提高用户上云过程中的信心。

我之前写过一个java的工具库[vrml](https://github.com/project-vrml/vrml)，里面提供了使用IM/Email/SMS等进行通知的api。

这套工具在我们内部的系统中，目前得到了广泛的应用：

+ 当出现重要的exception/error时，仅使用日志error告警不及时，以及可能被淹没。所以这时候会通过IM/Email进行告警通知。
+ 一些job类的逻辑，在执行完毕后，会通过IM/Email进行report，避免开发人员去查看日志。

所以这套api的定位：仅做到'通知'这项能力就足以了，并不是通过这套api进行大批量的SMS/Email 推送/营销。

[2022-07-13 02:54] seeflood commented on #713
这样我在本地调试时，把localhost修改为以上ip，即可实现本地进程连接到layotto sidecar是么。

是的
更进一步，可以由公司里负责研发环境的团队把上述操作自动化，提供"一键申请远端 sidecar" 功能。

[2022-07-13 03:26] seeflood commented on #712
LGTM

[2022-07-13 03:48] seeflood commented on #712
@kevinten10 萌新问下，像这种 发SMS/Email 的云服务，会允许跨云调用么？
比如应用部署到 aws 后，想继续调阿里云的服务发消息，这种情况可行么?

[2022-07-13 05:48] #653 closed

[2022-07-13 06:22] Kelei0215 commented on #690
hello. 我是SOFA社区的运营可乐
欢迎添加微信：SOFAGirl180419，备注飞船任务，方便之后任务领取和进度同步哟～
相关问题我们都可以解答，帮助你在开源社区快速成长！

[2022-07-13 06:24] kevinten10 commented on #712
Hi，以我使用的经验，可能有以下几种情况：

#### 1. 阿里云的服务api是public的，aws允许出网访问

可以直接调用，这种一般是测试环境

#### 2. 阿里云的服务api是public的，aws不允许出网访问

需要在aws上借助proxy发起网络调用，一般生产环境的出网访问都要走proxy申请

#### 3. 阿里云的服务api仅允许内网访问

阿里云用户可能会将api设置为仅内网访问，或者像一些企业内部的SMS/Email等云服务也是仅私有云内网可访问。

这时候可能就需要在阿里云这边也部署一个proxy/gateway，aws的proxy访问到阿里云的这个proxy/gateway，再由这个proxy/gateway转发给内网服务。

#### 综上

可能要在component实现中，允许用户自定义proxy的能力，或者自定义发送行为逻辑（甚至用户自己重写co

[2022-07-13 06:26] wenxuwan commented on #715
目前看来为了解决的问题：
1.解决多语言问题。
2.后续自定义功能复用（有可能会复用到）

那这个问题和dapr的outbinding是完全契合的。

可以参考一下：https://github.com/dapr/dapr/issues/3722

[2022-07-13 07:13] seeflood commented on #713
- 关于部署:
方案 D. 从 envoy 切到 Layotto-on-envoy 上。
基于 Mosn-on-Envoy 做 Layotto on envoy，社区做一些工具链、构建好镜像，这样用户把托管的 envoy 镜像 换成 layotto-on-envoy 镜像即可。

刚去聊了下，Mosn-on-Envoy 预计8月开源

好处:
其实新加个 sidecar 也有运维成本的，可能“替换托管的镜像”带来的运维成本更小些

@kevinten10 可以周六聊下这事?

[2022-07-13 07:46] kevinten10 commented on #715
Hi，notify api确实在特征上，和dapr 的binding是契合的。

因为我个人比较大量的使用过notify api，所以我认为这套api具有实际意义，那对于这类api，我感觉从binding中拆出来会比较好呢：

bingding是一个较低级别的抽象，我们可以把任何东西都塞在里面。在初期，可能尽快的对接更多系统，先把东西放进去。但随着multi-runtime的发展，当我们发现一些领域的api具有更大使用价值时，我们可能要考虑将它们独立定义。

就sidecar中component的实现而言，我认为在layotto中基于binding写一个notify的组件，和单独定义一个notify的组件，可能没有什么大的不同。

但在用户层（或者说用户使用sdk时），这将有很大的不同：我们不可能要求用户使用原始的binding api，假如用户需要参照文档，自己往binding api中

[2022-07-13 07:51] kevinten10 commented on #713
好啊

应该无法替换云厂商托管的镜像，除非使用hack的方式，所以可能还是在外面加一个吧

[2022-07-13 07:58] ZLBer commented on #193
可以展开说一下这里吗。按这种方式，delta seconds已经和时间没有什么关系了。`当sequence到达最大位数，delta seconds直接+1`  这与直接递增id好像是一样的了。这种方式的的并发度应该不如和与时间绑定的算法吧？

[2022-07-13 08:42] OOOOlh commented on #193
1、传统雪花算法是完全依赖时间，所以发生时钟回拨后容易出问题。所以为了减少对时间的依赖，就采取序列依次+1，满后delta seconds +1的方法。只在程序启动时读取当前时间（这个时间一般是比上次RingBuffer中的uid的时间戳晚的），这也可以保证趋势递增。这种方法的一个主要不足是业务请求的uid反解析后的时间不是业务真实发生的时间，我不确定这个影响算不算大。
2、使用RingBuffer存储提前生成的uid。RingBuffer的容量是比sequence大几倍的，而且当RingBuffer中可用uid数小于阈值会异步填充，所以在同一秒内并发请求RingBuffer中的uid应该是承受的住的。百度UidGenerator官方测试是单机可提供600万/s的稳定吞吐量。
@ZLBer

[2022-07-13 15:29] kevinten10 opened #722 "Deploy layotto pod in k8s."
**What would you like to be added**:

添加在k8s中快速部署一个layotto节点的方式。

就像k8s官方提供的示例，仅用一行kubectl即可完成部署：

https://kubernetes.io/zh-cn/docs/tasks/run-application/run-stateless-application-deployment/

[code]

**Why is this needed**:

此部署并非layotto作为sidecar的部署方式，而是layotto作为一个单独pod的部署方式。

使用场景主要为：
+ 支持本地调试：https://mosn.io/layotto/#/zh/operation/local
+ quickstart，体验layotto
+ 作为独立节点模式，与k8s集成。see: https://gith

[2022-07-13 15:32] ZLBer commented on #193
这个问题应该不大，只要是递增的就行

还有这里，按照上面的设计，每次启动不都是获取的新的workid吗？那么时间戳从0开始不都可以？

[2022-07-13 15:37] kevinten10 commented on #722
我觉得可以拆成3个yaml，提交到仓库中：

1. configmap.yaml：提供一份默认配置
2. deployment.yaml：同以上deployment
3. layotto-deploy-default.yaml：使用默认configmap，部署以上deployment

这样用户可以直接部署到k8s中，类似：

    kubectl apply -f https://layotto/deploy/layotto-deploy-default.yaml

如果想自行修改配置，也可以自己提供一个configmap，再使用上面的deployment.yaml

[2022-07-13 16:08] OOOOlh commented on #193
百度的这个雪花算法顺序是sign+delta seconds+work id +sequence，delta seconds在高位，所以必须读当前时间。@ZLBer

[2022-07-14 03:54] #706 closed

[2022-07-14 03:54] #467 closed

[2022-07-14 04:00] seeflood commented on #709
@leemos-xx Ok. Thanks!
I wrote an introduction to the online lab, see https://mosn.io/layotto/#/zh/start/lab
MOSN has some good tutorials at https://github.com/mosn/mosn-tutorial/tree/master/istio , which currently can not run on killercoda because of some incompatibility issues between katacoda and killercoda.
You can take a look at the mosn tutorials and I believe there are many materials that y

[2022-07-14 08:27] seeflood commented on #722
如何理解“独立节点模式”?

[2022-07-14 08:39] seeflood opened #723 "make oss API ready for production"
**What would you like to be added**:
In order to make OSS API ready for production, we should:
- [ ] add integration test in CI, and read the secret token e.g. AK,SK from github repo setting
- [ ] add portability test
- [ ] generate api reference doc

These works can be done in some other PR instead of #556

**Why is this needed**:
to make OSS API ready for production

[2022-07-14 09:03] seeflood commented on #699
@Xunzhuo Thanks for your great suggestion. It makes sense!
I followed your advice and split some big tasks into different subtasks, e.g. #471 #723

Besides..... I still think that "PR too large" is just one of the reasons that lead to the difficulty of review (of course, it's the most important reason)
but there are also other reasons.

I think the reasons that make me feel hard to review include:

[2022-07-14 09:07] Xunzhuo commented on #699
Definitely correct! We need the design docs, we should control the size of a PR and we should ask contributors to follow a good way to implement a feature or refactor task, after having an agreement on the design docs, we split tasks into small ones and get it started.

[2022-07-14 09:18] seeflood commented on #699
Yes, that's another reason I think I should give up this proposal. Asking too much will hurt the contributor experience 😢
As a new community, we should carefully protect the contributor experience.
Adding a help-wanted issue is one way to go, the other way is adding tests by the reviewer

[2022-07-14 09:30] Xunzhuo commented on #699
### What a big PR (feature/refactor) should be processed?

1. A proposal with details to this task, which includes design and approach docs

Maintainers add comments/advice on this issue, and if no one have -1 for this task, move to step 2.

2. Split tasks into a few iterations if the process is too large. To figure out what we should implement first, second .... Rome was not built in a day. After

[2022-07-14 09:31] Xunzhuo commented on #699
Yes both are Okay, if no one wants to take this issue, it should be added by maintainers.

[2022-07-14 15:25] ZLBer commented on #193
好，我大概明白了，就是不再依赖于物理时间。可以大概描述下整个id生成的过程，然后可以写代码了。

[2022-07-15 03:37] Holdonbei commented on #438
您的邮件我已收到。

[2022-07-15 07:34] OOOOlh commented on #193
1、程序开始时，从mysql读workid，再结合当前时间生成uid，并填满整个RingBuffer；
2、然后其它程序来读，读后的uid标志位设为false，表示不可用；
3、当RingBuffer中可用uid少于阈值时（比如buffer容量的三分之一），进行异步填充。循环2、3步。

[2022-07-16 03:13] #634 closed

[2022-07-16 07:08] ZLBer commented on #707
@seeflood  i find some problem, the secret component may return many secrets in one get, so how to use the `ref_name`?
[code]

[2022-07-16 10:05] seeflood commented on #707
@ZLBer
Solution A.  Add a separate field to identify secretstore name, like dapr
https://docs.dapr.io/operations/components/component-secrets/
![image](https://user-images.githubusercontent.com/26001097/179350236-ac71411f-b966-4edf-88b0-0369d3a87e54.png)

Solution B. Add a `store_name` field in this structure, e.g.
[code]

[2022-07-16 12:40] rayowang commented on #500
apiVersion: networking.istio.io/v1alpha3
kind: EnvoyFilter
metadata:
  name: flowcontrol
  namespace: brpc-rank
spec:
  configPatches:
    - applyTo: NETWORK_FILTER
      match:
        context: SIDECAR_INBOUND
      patch:
        operation: INSERT_BEFORE
        value:
          name: testfilter
          typed_config:
            "@type": type.googleapis.com/google.protobuf.StringValue

[2022-07-16 12:45] wenxuwan commented on #713
可以试一下layotto进程级别部署，把layotto和业务容器做到一个container中，而不是作为sidecar存在。如果内存和cpu有负担，layotto这边也可以尝试阉割一部分用不到的能力。以此减少性能的影响。

[2022-07-16 12:46] seeflood commented on #500
action:
-  @unionhu  能否接受通过 xds 下发组件配置（而不是通过apollo下发配置），配置示例就是上面 @rayowang 帖的

[2022-07-16 12:57] seeflood commented on #607
action:
- Layotto 集成 wasmtime @zhenjunMa

[2022-07-16 13:03] seeflood commented on #626
进展:
- CRUD 开发中
- configuration API 订阅的功能在参考 pubsub API 订阅

[2022-07-16 13:40] #191 closed

[2022-07-16 13:43] seeflood commented on #647
action:
- @LXPWing submit an issue to record the local development problem (python app can't invoke preview service without istio)
- @seeflood review python app https://github.com/layotto/istio/pull/1

[2022-07-16 15:13] ZLBer commented on #707
@seeflood  my falt, secret can get  like below:
<img width="382" alt="image" src="https://user-images.githubusercontent.com/20033804/179360841-8c07474c-af30-4993-b9d0-30bb9bbf85d9.png">

[2022-07-17 00:00] unionhu commented on #500
可以的，这样我们也不用新增一个组件了，因为我们这边暂时config mesh的需求场景

[2022-07-17 13:51] LXPWing commented on #647
`python app can't invoke preview service without istio`solved

[2022-07-18 03:05] kevinten10 commented on #722
Yes, I will submit a PR~

[2022-07-18 03:57] kevinten10 commented on #713
Hi，这个有实际的落地实践吗~我不太清楚，这种方式有没有什么缺陷呢

[2022-07-18 06:59] seeflood commented on #707
@ZLBer It still doesn't solve the problem. You need a subKey in it.
I modified solution B to show a demo:
[code]

[2022-07-18 07:03] #489 closed

[2022-07-18 07:23] seeflood commented on #713
@kevinten10 这种方式还没落地实践过
好处: 目的是让你没有新增运维成本，原先是部署app镜像，现在替换下 app 镜像、往镜像里塞个layotto进程进去
缺点: sidecar 版本升级后，要重新打 app镜像

[2022-07-18 08:23] kevinten10 commented on #626
Hi，我有个疑问点。为什么不把pubsub的订阅放入runtime API定义中呢。而是放到appcallback API中。

就像configuration的订阅API：

[code]

完全可以在runtime API去定义pubsub的subscribeEvent API啊。

[2022-07-19 03:21] kevinten10 commented on #626
like this: https://github.com/capa-cloud/cloud-runtimes-jvm/blob/master/cloud-runtimes-api/src/main/java/group/rxcloud/cloudruntimes/domain/core/PubSubRuntimes.java

在SDK模型中，似乎无法很好的定义appcallback API，所以我们采用的是类似configuration的subscribe方式。

即`Server streaming`或`Bidirectional streaming`风格的runtime API。

[2022-07-19 03:34] kevinten10 commented on #722
I plan to put the deployment yaml in this directory, please help to see if it is ok:

`/layotto/demo/deploy/k8s/standalone/`

1. default_configmap.yaml
2. default_deployment.yaml
3. default_quickstart.yaml (1+2)

[2022-07-19 05:57] seeflood commented on #722
@kevinten10 LGTM

[2022-07-19 06:04] seeflood commented on #626
That's a long story :)
I totally agree with u. But dapr sub API chose to this callback style. Since we are trying to be compatible with Dapr API, we have to support it.

[2022-07-19 06:13] seeflood commented on #623
@MichaelDeSteven Hi, how about you continue with this issue?
As for https://github.com/mosn/layotto/pull/669 , I will help do it

[2022-07-19 09:20] seeflood commented on #715
- 关于 Binding
我也觉得 proto 定义的接口 > binding

- 关于是否要把 IM API 做在 sidecar 里
我纠结的还是这个 :(
举个例子，假如用户想给钉钉机器人发消息，每个语言的sdk 就是调 钉钉的 http 接口，感觉 sdk 也没有很重。如果为了节约一点调 http 的代码，就给 sidecar 增加复杂度，ROI 有点低

但面临的问题是多语言的场景，要为每个im构建多语言的sdk吗？这是个不小的工作量。使用sidecar可以多语言复用一个逻辑。

@kevinten10 这部分代码量有多少呀，能贴个链接看看不？

[2022-07-19 09:29] seeflood commented on #715
或者这样想：
如果没有 "随时能从 微信 换成 钉钉“ 这样的 ”可移植” 需求，那我们可以把钉钉的 http API 看成是一个“多语言 API”，你似乎不必维护多语言的 IM sdk，直接让业务方调 钉钉 的 http API 就行？

[2022-07-19 09:38] seeflood commented on #717
- 关于“移植性”
我理解是有这种需求的，比如一套监控系统，部署到阿里云的时候得调阿里云的 email 服务，部署到aws的时候得调 aws监控服务……

[2022-07-19 11:45] seeflood commented on #717
- 能否介绍下哪些字段是必填，哪些是选填？
- 关于 metadata
能否先不添加 metadata ，感觉这个是万恶之源 😢

- 关于 `id` 和 `application_id` 和 邮件模板ID
能否介绍下这三个字段的区别，是不是说 `application_id` 就是 邮件模板ID？

- 关于模板参数
使用模板的场合，能否添加一个模板参数字段:
[code]

[2022-07-19 12:04] seeflood commented on #712
@kevinten10 再请教下，你们有 phoneCall API的需求么（调接口给人打电话，发送文本语音

[2022-07-20 03:49] kevinten10 commented on #717
是的，我应该写错了，这种场景应该是存在的。

[2022-07-20 03:57] kevinten10 commented on #717
我不太清楚，你们会有这样的场景么。我目前接触到的和了解到的，这套api主要是做notify用的，如果有复杂内容，一般是给个url链接，然后可以跳转到对应云产品的页面进行查看。

是会有一些发送数据分析/数据报表的email，但这些一般都是有个单独的服务/平台，去计算出来。
像一个专家系统，可能这类系统会自己去对接某个云的email服务，并深度使用它的sdk/api。
这种一般应该是个独立的服务，应该也不存在跨语言的问题。

[2022-07-20 04:07] kevinten10 commented on #712
我们目前没有 phoneCall API的需求呢，我们做监控告警主要是 IM/SMS/EMail。

我们这边phoneCall一般是：触发了某个指标，由某个SRE系统/平台，监控到这个指标，再发起phoneCall。应该不会直接由业务应用调用sidecar发起。

不过我感觉phoneCall可能中小型公司会有使用场景吧，公司内部可能没有搭建一套专业的SRE平台，这时候业务应用判断发生重大故障时，可能会想发起phoneCall。

但如果可以使用"写入指标+监听指标+发起phoneCall"的方式，应该会更好，但不知道阿里云上是否有这种能力。（AWS上可以通过写入CloudWatch指标，然后给这个指标配一个告警，告警内容可以自己实现发起phoneCall）

说回来，这种可能存在重大故障的应用，一般也不会做成多语言吧？

[2022-07-20 04:14] kevinten10 commented on #715
代码是调用了私有云的IM的api，代码量不多的，主要是封装了http接口调用+通过configuration获取req参数。
复杂的是，当我在其他云上使用这个sdk时，我需要做改造（http接口只能在私有云内调用）

是的，我将为每种语言的sdk都添加一个跨云调用的功能，代码改造量很头疼。

[2022-07-20 04:30] kevinten10 commented on #715
恩恩，如果直接调用http api能解决问题也可以。

主要目前我们除了调用http API还有一些功能：

+ 通过configuration获取req参数，比如token、sender_id之类。这些参数一个是可能会变更，另一个是让业务使用方去了解这些也不太好，不够易用。
+ 如之前所述，跨云的代理逻辑

总结一下，直接http还是不够易用吧，要易用就要封装，封装就要 多语言+跨云代理 等功能。

如果我们后面使用了layotto，那是会使用它的IM API的。只不过我们可能要开发一个私有云IM的组件。

目前Capa的业务接入方，已经反馈过想在公有云上使用IM的功能，但之前封装的IM sdk没有支持跨云代理的功能，要开发一遍也挺费劲的（多语言开发一套），所以目前就没给接入方开放这个能力。

[2022-07-20 04:55] kevinten10 commented on #717
我觉得也是....之前似乎讨论过，我们可以设计一个 "全集" 的notify api。

是这样想的：

`id`可以理解为一个场景的id，一个应用比如可能有3种email场景，那接入方只传入id=1/2/3即可，其他参数可以自动获取。

因为email的特征是，像以下这些参数，基本不太会变动，所以没必要让接入方每次都传入一大堆参数才能发出去email。

传个id就可以了，再从configuration等地方，获取对应的配置即可。（这样还可以实现热更新的逻辑）

[code]

---

`application_id`：有的云email服务上，就是templateID，但在aws上可能是 configurationSetName，基本也可以理解为，一套模板的配置id。

这里或许可以改成 `templateId` ? 使用 `application_id` 这个词语的原因主要是语义更加

[2022-07-20 04:57] seeflood commented on #712
恩我理解监控系统可能有 phoneCall 的需求，就是设置不同的告警等级，低级别告警 发 SMS 就行，高级别告警要打电话
也不会多语言，就是单语言实现，但可能有多云部署需求（比如 AWS 上调用 AWS Pinpoint

[2022-07-20 05:01] kevinten10 commented on #717
就是saas api，还是往 "全集" 的方向走是么。

毕竟这些api，都是弱移植性的，用户用起来也不太会改了。

那这样，拆成几个语义更加清晰的方法，似乎比追求通用性，差异字段放在metadata中更好，更易用。

我也认同这个思路，那看起来：

+ 需要把这套api拆成几个常用的场景的子api。
+ 去除metadata，把参数放到子api的参数定义中。
+ 标明，每个子api，所支持的云email服务。

[2022-07-20 05:13] kevinten10 commented on #712
那看起来，是的。PhoneCall API，应该是有客户用的，但可能比较少。

或者先集成到SMS API里面？

[2022-07-20 05:55] seeflood commented on #710
@LXPWing Next we should solve this issue.
As said in the https://github.com/mosn/layotto/issues/471#issuecomment-1107511795 , it includes:
- [ ] deploy the preview service on alibaba cloud and aws, with a public IP   @seeflood
- [ ] build a docker image for the bookinfo project  @LXPWing
- [ ] build a lab to show features  @LXPWing
![image](https://user-images.githubusercontent.com/26001097/179906

[2022-07-20 06:03] seeflood commented on #712
@kevinten10 我单独提个 proposal 和 PR, 加 PhoneCall API 吧

另外，要不你给 IM API ，SMS API 和 Email API 各提个 PR?  PR 里只包含 proto 文件就行，这样方便根据讨论结果更新 proto

[2022-07-20 07:10] seeflood opened #726 "proposal: IVR API, or PhoneCall API"
## What would you like to be added
IVR API, or PhoneCall API

Developers can invoke this API to send voice messages to specific people.

## Why is this needed
In the monitoring scenarios, monitor systems need to send alarm messages to people on-call.
The messages might be in different forms, including IM,SMS, Email and phone calls, depending on the level of urgency.

## Product research
| IVR prod

[2022-07-20 14:45] seeflood commented on #500
会议结论

1. 可能的业务场景:
- 发短信
- 长链转短链
- mq

2. 不需要配置中心下发配置了，希望xds下发（所以不需要 component 注入这种方案
3. 时间节奏:
争取8月中旬定下来配置下发的方案

[2022-07-21 02:35] #707 closed

[2022-07-21 06:29] LXPWing commented on #710
@seeflood Java preview server needs an image in docker hub

[2022-07-21 07:36] seeflood commented on #726
I submitted a PR #727
@kevinten10 FYI

[2022-07-21 14:49] #722 closed

[2022-07-21 15:43] seeflood commented on #710
@LXPWing OK. So we need:
- [ ] 1. A dockerfile
- [ ] 2. Build and push docker image in the CI pipeline, like [what we did in the layotto repo](https://github.com/mosn/layotto/blob/c9e000dbd58a71d80f044ac8cafb7d44f5001d17/.github/workflows/layotto-ci.yml#L278)

Could u submit a PR for it?
If step 2 is too complex, we can only implement step 1 and push to dockerhub manually

[2022-07-22 00:26] seeflood commented on #436
- [ ] 如何本地研发 *2
- [ ] 如何 K8s部署 *2
- [ ] 动态配置下发 *2

[2022-07-22 04:41] LXPWing commented on #710
@seeflood Where is my dockerfile push?

[2022-07-22 05:36] seeflood commented on #710
@LXPWing We can tag it as `layotto/examples-preview-service` and push it to dockerhub.

As for the username/password to login to the dockerhub, you can configurate the github workflow to use the repo secret. An example is https://github.com/mosn/layotto/blob/c9e000dbd58a71d80f044ac8cafb7d44f5001d17/.github/workflows/layotto-ci.yml#L266
![image](https://user-images.githubusercontent.com/26001097/18

[2022-07-22 07:05] seeflood opened #730 "[discussion] Roadmap for the second half of 2022"
Recently we've been talking with different potential users. During the communication, I often found that we do not have features (or demos) they want to use, and they don't want to use the features we set as goals for the year.

I believe that a good roadmap should be based on users' voice instead of just YY by maintainers :)

So I put the information and problems to solve here for discussion.
Hop

[2022-07-22 09:47] seeflood commented on #713
@kevinten10 问下，改 layotto配置的时候，用 configmap挂载新的config.json、重启，能满足需求对吧？
我感觉上来就搞动态下发、热重载不好搞，先把静态方案搞好之后，再往动态演进

[2022-07-22 12:03] MichaelDeSteven commented on #623
Apologies for the delayed response.
ci task has some progress.
1. `buf lint` will be executed when we use `make proto.doc`
![image](https://user-images.githubusercontent.com/51652084/180433597-ca560617-a07c-42ea-8d1e-4688f9320557.png)
here is result of the above pic.
empty comment item is more than 100, which will be fixed.

2. `buf lint` is not support check `trailing comments` but I found the [p

[2022-07-23 01:39] seeflood commented on #623
@MichaelDeSteven
Regarding `trailing comments`: yes, we can only check leading comments to simplify it.

Regarding `make proto.doc` and `buf lint`: actually we want to check the comments automatically in the CI, so that when contributors want to modify the proto files, the CI can tell him "hey, please write some comments on them".
Therefore, could you add this  `buf lint` check in the CI ?

Thanks

[2022-07-23 08:35] MichaelDeSteven commented on #623
Hi @seeflood, I hava two question.
1. The scope of comments. We just need to check the COMMENT_ENUM, right? If we check all of place including COMMENT_ENUM\COMMENT_MESSAGE\COMMENT_SERVICE and so on, I need take some time to add necessary comments.

2. I have not write CI file experience. The CI of the [buf](https://docs.buf.build/ci-cd/github-actions#buf-setup). I just need to follow them, right?

[2022-07-23 10:16] zhenjunMa commented on #611
@leemos-xx
大体上跟我思路差不多，关于`handleHttpRequest` 这里抛出一个点讨论一下，就是函数是否要跟协议绑定。

1. 如果绑定的话，按照上面的提案搞问题不大。不过这种方案下用户开发一个函数就是面向协议了，也就是处理HTTP请求要写一个函数，处理MQ请求要写另一个函数。
2. 如果函数跟协议解耦，比如用户实现的是`handleRequest`，而访问函数的方式独立成触发器，比如可以是定时任务触发，可以是消息触发，也可以是请求触发（HTTP, gRPC等）。这用方式下，关于请求类型可以放到你提的`context`中，比如

|  字段   | 说明  |
|  ----  | ----  |
| requestId  | 本次请求的唯一id，当出现问题时方便排查。 |
| logger  | 日志对象，用于格式化输出日志，提供不同的日志级别。 |
| trigge

[2022-07-23 10:57] zhenjunMa opened #732 "Integrate with wasmtime; 集成 wasmtime 运行时"
# 1. Background

Currently, Layotto supports load and run *.wasm files by integrating [wasmer-go](https://github.com/wasmerio/wasmer-go) and [wasmer](https://github.com/wasmerio/wasmer), now we want to support [wasmtime](https://github.com/bytecodealliance/wasmtime) as another WebAssembly Runtime.

# 2. Why is this needed?

Compared with wasmer, wasmtime has more advanced features, which allow us

[2022-07-23 11:59] fft0518 commented on #626
本周进展：
1、Config的CRUD核心代码基本完成，在写测试。
2、Sub功能在开发中

[2022-07-23 12:43] seeflood commented on #623
@MichaelDeSteven
1. I think you can make it check all, including COMMENT_ENUM\COMMENT_MESSAGE\COMMENT_SERVICE.
You don't have to add comments for all of them yourself, which is tiring.
We can add comments together in some other PR. Maybe just adding a simple comment "Required" or "Optional" is enough.

2. Yes you can follow the guide and modify the github workflow file

Yes, besides github workflo

[2022-07-23 13:25] MichaelDeSteven commented on #623
I open a pr. Review it plz.

[2022-07-25 01:03] Mossaka commented on #309
你好👋，非常棒的一篇文章。关于4.1 Wasm里面的一个问题：“Wasm运行时如何设置某个函数所使用的最大资源限制“，如果使用的是[wasmtime](https://wasmtime.dev/) runtime的话，那么可以在engine config里设置[consume_fuel](https://docs.rs/wasmtime/latest/wasmtime/struct.Config.html#method.consume_fuel) flag，然后可以在`Store`里面[add_fuel](https://docs.rs/wasmtime/latest/wasmtime/struct.Store.html#method.add_fuel) 来一定程度上控制instance的CPU的运行时间。内存的话可以使用[limiter](https://docs.wasmtime.de

[2022-07-25 03:06] seeflood commented on #309
@Mossaka 感谢建议！ 社区正准备用 wasmtime, 见讨论:
https://github.com/mosn/layotto/issues/732
https://github.com/mosn/layotto/issues/607

不过感觉 add_fuel 比较 low level, 不太好控制占用的 cpu 资源，目前的想法是起个调度线程（协程）、定时给模块 add_fuel，但是这样有很多问题（比如：调度协程自己没被调度到，导致 wasm 模块没 fuel、没法继续运行）
这方面您有啥建议不~

[2022-07-25 11:22] #510 closed

[2022-07-25 13:11] seeflood commented on #723
@wenxuwan We can continue with this issue

[2022-07-25 17:08] Mossaka commented on #309
@seeflood

目前wasmtime确实没有一个API能够直接控制CPU资源。不过好像async + add fuel 可以做到，见这个issue:
https://github.com/bytecodealliance/wasmtime/issues/2274#issuecomment-806029460

[2022-07-25 20:52] Mossaka opened #738 "Community QR code has expired"
### Your question

I can't join the community because the QR code has expired.

[2022-07-26 08:48] seeflood commented on #738
Thanks for your feedback!
You can search the dingtalk group number: 31912621
I will submit a PR to fix it

[2022-07-26 09:46] wenxuwan opened #741 "Implement OSS API for java sdk; 让 java sdk 支持 OSS API"
**What would you like to be added**:
Implement OSS API for java sdk

**Why is this needed**:

Java users need it

[2022-07-26 09:56] #623 closed

[2022-07-26 11:17] #738 closed

[2022-07-27 03:19] unionhu commented on #500
看了一下mosn加载xDS的逻辑，也是在LDS请求后，拿到了listener进行处理，目前看只支持http的listener，能不能新增一个特别的listener，接受multi runtime的所有配置，专门传递给layotto使用

[code]

[2022-07-27 03:31] #554 closed

[2022-07-27 05:31] seeflood commented on #500
听起来可行？ @ZLBer @wenxuwan @rayowang @zhenjunMa @nejisama 帮忙一起看看哈

[2022-07-27 07:03] nejisama commented on #500
没看懂 不知道说的什么

[2022-07-27 07:42] seeflood commented on #500
@nejisama 我理解核心思想是：
1. 通过xDS 里面的 envoyFilter 下发一个字符串（这个字符串就是layotto配置），示例是上面的 https://github.com/mosn/layotto/issues/500#issuecomment-1186174824
2. 这个字符串下发到 mosn 后，怎么传递给layotto ？现在卡在这个问题上了

[2022-07-27 08:03] nejisama commented on #500
xds 下发字符串的通道是什么？还是新的一种新的，和listener（lds）、cluster（cds）并列的资源类型？还是用某个资源的字段做特殊的解析？

[2022-07-27 08:06] nejisama commented on #500
上面例子里 就是一个filter配置，那就是转换成一个标准的filter实现，比如是一个flowcontrol 的filter 那就只能转换成一个 对应实现的flowcontrol 的filter 。 如果是这样 那对应实现相关的filter就可以了

[2022-07-27 09:03] ZLBer commented on #626
@kevinten10 看起来我们可以试试把layotto的client直接注入到spring-boot中? 现在的做法是单功能注解

[2022-07-27 14:38] kevinten10 commented on #730
wonderful!

[2022-07-27 14:41] kevinten10 commented on #713
满足的。以及，configmap有热更新吧，不知道layotto能监听到config.json的变更吗

[2022-07-27 14:53] kevinten10 commented on #626
我觉得可以，用户可以直接从spring ioc中获取到一个client(带有默认参数)，直接使用这个client即可。

[2022-07-27 14:54] seeflood commented on #713
现在还没监听变更，不过这个好弄，实在不行写个脚本，有变更就 kill layotto、重启

[2022-07-27 15:01] kevinten10 commented on #611
从长远来看，如果两种都支持呢。

从使用方的角度，如果要写一些通用逻辑，可能倾向于使用`handleRequest`方式；如果要针对 RPC/MQ 逻辑，可能倾向于使用`handleHttpRequest`方式。

---

假如，如果假如未来要两种都支持。

是不是一开始往 `handleRequest` 方向做会好一些，将来可以拆成各类具体协议的函数。

如果一开始往`handleHttpRequest`这种绑定的方向做，可能会加很多case by case的特殊逻辑，以致于未来无法合并。

[2022-07-28 05:33] zhenjunMa commented on #611
@kevinten10 @leemos-xx

那比如现在阶段把函数实现跟触发器分开，比如函数实现`handleRequest`接口，入参是一个`byte[]`类型，然后触发器先只支持HTTP，这中间有一层转换逻辑，比如把上面提到的fc.HttpBody取出来作为`byte[]`类型传入？

总体来说我还是倾向于小步快跑，不用一次性搞的太复杂，一点点来好一点。

另外今天跟 @Mossaka 聊了一下，他推荐了一个 https://github.com/bytecodealliance/wit-bindgen   我们在Demo改造上可以参考一下这个项目看能不能用上，可以减少我们写转换层的工作量  我这周末也研究一下

[2022-07-28 06:13] seeflood opened #744 "Re-design startup lifecycle"
**What would you like to be added**:
Re-design startup lifecycle.

**Why is this needed**:
Currently the startup sequence is:
1. app startup, wait for sidecar
2. sidecar ready and call back to apps
3. app start to serve/send requests

That's complex and need sofaboot support.

[2022-07-28 09:17] seeflood commented on #744
- Solution A
1. Let them start concurrently
![image](https://user-images.githubusercontent.com/26001097/181465866-fc38eef9-299d-44cb-8637-ed379e6c1851.png)
2. Sidecar loops calling the `ListTopicSubscriptions` API until it success:
![image](https://user-images.githubusercontent.com/26001097/181468120-3e6f62de-6c1a-4c21-960a-d69cc49ae56a.png)

3. The APP should loop heath checking the sidecar until

[2022-07-28 09:26] seeflood commented on #500
@unionhu 最新进展，不用改控制面的方案:
1. 可以通过 udpa 里的 typedstruct 类型下发配置; mosn 处理下发配置的代码在 `convertUdpaTypedStructConfig` 函数里，可以搜下
2. mosn 提供了扩展机制，去解析自己下发的配置。参考 PR:  https://github.com/mosn/mosn/pull/2081

各位帮忙一起看下哈

[2022-07-28 18:57] Mossaka commented on #607
我们的[wasm shim](https://github.com/deislabs/runwasi)里面集成了一个global的wasmtime，这样或许可以解决你们的concurrency run multiple wasm module的问题。不过问题是`runwasi`是用rust写的，可能不太好做language interop

[2022-07-29 05:00] unionhu commented on #500
但是这个并没有告知怎么传递给layotto的grpc filter

[2022-07-29 06:13] seeflood commented on #500
@unionhu 我们有两个问题要解决：
1. 怎么通过 XDS 把配置项传下来，并且不用改控制面代码
上面的PR 演示了如何解决这个问题

2. Layotto 如果做配置热加载
这个我理解得让 Layotto 单独开一个接口

[2022-07-29 06:16] unionhu commented on #500
是的，第一个问题好处理
第二个问题mosn接收到配之后能不能触发一个event，layotto订阅了event 拿到配置进行热加载

[2022-07-29 07:07] seeflood commented on #500
关于 "2. Layotto 如果做配置热加载"，有俩方案:

A. 通过 XDS 做配置变更后，mosn 下次接受新连接、创建新的 networkfliter 时，会自动用新配置创建
![image](https://user-images.githubusercontent.com/26001097/181702572-649f1907-ab52-4d40-a444-a5eaf22eefab.png)
好处：啥代码都不用改，mosn 自动帮忙搞定
缺点:  旧连接不受影响

B. 下发的 XDS 配置里，把 Layotto 相关的配置存到某个全局 map去，然后 Layotto 做个配置监听功能，监听这个全局 map，有变更则热加载

好处：轻量；旧连接也能更新

[2022-07-29 07:14] unionhu commented on #500
偏向方案B，能否你先设计，如果代码量不多，我看看能不能搞定

[2022-07-29 07:57] seeflood commented on #500
@unionhu 恩，按方案 B 去推演（把 Layotto 相关的配置存到某个全局 map去，然后 Layotto 做个配置监听功能，监听这个全局 map，有变更则热加载），其实就说回到了咱们一开始讨论的两种方案:

B1. 组件注入，比如支持把 config store 组件注入进 pubsub 组件
然后你就可以实现一个 XDS config store 组件，注入进 pubsub 组件

B2. Layotto 开一个抽象的 update 接口，见上面的讨论  https://github.com/mosn/layotto/issues/500#issuecomment-1129540626
![image](https://user-images.githubusercontent.com/26001097/181712125-582cba52-2871-42db-9278-5b

[2022-07-29 08:56] nobodyiam opened #745 "Issue with faas quickstart"
**What happened**:

I followed the [FaaS QuickStart](https://mosn.io/layotto/#/en/start/faas/start) documentation, but failed in the [Start Layotto](https://mosn.io/layotto/#/en/start/faas/start?id=a%e3%80%81start-layotto) step.

[code]

It looks like an issue caused in [Compile & install Layotto](https://mosn.io/layotto/#/en/start/faas/start?id=c%e3%80%81compile-amp-install-layotto) step since I

[2022-07-29 09:22] seeflood commented on #745
Thanks for your feedback!
I think there are several sub issues:
- [ ] fix `make wasm`. It should compile layotto in a docker container, successfully
- [ ] Build and push wasm image to dockerhub in our CI
@Xunzhuo Can we remove these comments and run this steps?

![image](https://user-images.githubusercontent.com/26001097/181727173-81ad57a3-7ac1-461b-9c1a-37306f89a800.png)

- [ ] move this quicksta

[2022-07-29 09:58] seeflood commented on #741
Reference:
java sdk: https://github.com/layotto/java-sdk
OSS API: https://github.com/mosn/layotto/blob/main/spec/proto/extension/v1/oss.proto
Layotto implements OSS API: https://github.com/mosn/layotto/pull/556

[2022-07-29 10:31] Xunzhuo commented on #745
I will take a look this weekend

[2022-07-29 13:04] seeflood commented on #500
@ZLBer Hi, 要不继续搞 `component-ref` 这种组件注入的方案？因为最近聊下来发现，其实这两种方案都需要……

[2022-07-29 13:16] seeflood commented on #709
@leemos-xx Hi, are u still working on it? Do you need help?
Recently MOSN add some labs on killercoda. We can reuse those labs, but with layotto image. See https://killercoda.com/mosn-tutorial/course/istio

[2022-07-30 00:30] leemos-xx commented on #709
sry, I've been too busy lately, it may last until the end of August, if this task is more urgent, you may need to assign it to someone else first.

[2022-07-30 00:37] seeflood commented on #709
@leemos-xx That's OK, I can assign it to myself :)

[2022-07-30 05:43] zhenjunMa opened #747 "`GetNextId` in ZK component throw `zk: node does not exist`"
**What happened**:

when I call `GetNextId` API in layotto that use zookeeper as its component, I got an error, `zk: node does not exist`, as below:

![image](https://user-images.githubusercontent.com/28104581/181876239-cb974830-b5b5-4304-a67d-33d9db91baa1.png)

**What you expected to happen**:

Get a unique ID

**How to reproduce it (as minimally and precisely as possible)**:

1. start a zookeepe

[2022-07-30 08:05] bxiiiiii commented on #747
方法的实现在这个文件里面进行吗
![1659168170743](https://user-images.githubusercontent.com/75570810/181887705-4f203940-6e50-4e44-b4ff-5046667e0ba9.jpg)

[2022-07-30 09:10] zhenjunMa commented on #747
@bxiiiiii 不能在这里加，不然别人用不了，一个是你在我上面那个接口里面加，一个是你可以在GetNextId的实现里面不直接Set  而是先判断一下是否存在再set

[2022-07-30 09:44] ZLBer commented on #500
@seeflood  可以的，我试图理解下

[2022-07-30 11:04] seeflood opened #748 "Make the `aliyun.oss` component support `EcsRamRole`; 让阿里云 OSS 组件支持`EcsRamRole`"
**What would you like to be added**:
Make the `aliyun.oss` component support `EcsRamRole`

**Why is this needed**:
Currently we have to write the secrets in the `config.json` to use the aliyun.oss component, see https://github.com/mosn/layotto/blob/main/configs/config_oss.json
![image](https://user-images.githubusercontent.com/26001097/181907951-37d0b762-4627-4e71-880b-cae51ebc4c62.png)

But in th

[2022-07-30 11:58] rayowang commented on #732
/assign

[2022-07-30 12:27] seeflood commented on #730
Advantage: reuse c++ network filter

[2022-08-01 03:36] seeflood opened #753 "translate the OSS quickstart doc into english; 把 OSS API 的快速开始文档翻译成英文"
**What would you like to be added**:
translate the OSS quickstart doc into english.

Reference:
Chinese doc: https://mosn.io/layotto/#/zh/start/oss/oss
[文档贡献指南](https://mosn.io/layotto/#/zh/development/contributing-doc)

**Why is this needed**:
For users who don't speak chinese

[2022-08-01 03:39] seeflood opened #754 "add configuration guide for OSS API"
**What would you like to be added**:
Add configuration guide for OSS API in https://mosn.io/layotto/#/zh/component_specs/overview

You can take the Sequencer API doc as an example:
https://mosn.io/layotto/#/zh/component_specs/sequencer/common
https://mosn.io/layotto/#/zh/component_specs/sequencer/mongo

**Why is this needed**:
For OSS API users

[2022-08-01 03:55] seeflood opened #755 "implement OSS API components; 实现 OSS API 组件"
**What would you like to be added**:
Implement OSS API components, including
- [ ] minIO
- [ ] ceph
- [ ] tencent cloud
- [ ] qiniu cloud
- [ ] azure
- [ ] gcp

Help wanted!
Welcome to submit pull requests that implement any component.

**Why is this needed**:
To make OSS API more useful

[2022-08-01 07:36] seeflood commented on #700
It's because we import the xds package but don't have xds configuration in the json file:
![image](https://user-images.githubusercontent.com/26001097/182097203-c270c333-b14f-4df5-b000-f11fc48a51a4.png)
I think modifying the json can solve this problem.

Reference:
https://mosn.io/blog/code/mosn-xds/

[2022-08-02 13:18] kevinten10 commented on #617
最近比较忙，如果社区还没有提的话，我本周去dapr提案

[2022-08-02 23:54] seeflood commented on #617
@kevinten10 这个优先级不高(生产用户已经通过metadata加字段的方式用上了），你有空的话先跟下咱们之前聊的 #713  如何，帮你们落地优先 :)

[2022-08-03 06:59] seeflood commented on #744
similar issue: https://github.com/dapr/dapr/issues/2918

[2022-08-04 07:25] nejisama commented on #500
LDS更新旧连接的问题，由于layotto是grpc 应该可以考虑用goaway的方式通知旧连接断开，重新建新连接就可以了

[2022-08-04 12:31] ZLBer opened #756 "proposal: component ref 配置注入"
**What would you like to be added**:

1. component_ref统一实现起来较为混乱，我们可以拆分成pubsub_ref、config_ref等。

2. 以pubsub_ref为例，对于pubsub_ref的实现,我们需要支持如下配置：

[code]

3. 在配置更新之后需要重新初始化，这期间需要禁止调用组件。现在有相关的实现吗？

**Why is this needed**:

[2022-08-05 02:59] #747 closed

[2022-08-05 11:54] seeflood opened #757 "The `sayHello` demo fails"
**What happened**:

Run the `sayHello` demo in https://github.com/layotto/java-sdk/blob/main/examples-hello/src/main/java/io/mosn/layotto/examples/hello/Hello.java
And it will fail :(

It's because the `config.json` uses a store named `quick_start_demo`:
![image](https://user-images.githubusercontent.com/26001097/183072082-5409cee1-6e2d-42fb-a09c-c236778562f1.png)
but the demo uses `helloworld`:
!

[2022-08-05 11:58] seeflood commented on #756
The disadvantage of this design is that we have to add new `xxx_ref` struct every time we add a new API

Could you clarify the advantages of it over the `componentRef` solution ?
For example, the `componentRef` solution is to category them using `type` :
[code]

[2022-08-05 12:05] seeflood commented on #756
Could you explain the problem in details?
I think we don't have to consider this problem if users use this `component injection` feature.
All we need is to inject the config store component into some other component written by users.
Uses should invoke the `component.Subscribe(xxx)`  themselves and then do the update

[2022-08-05 12:48] LXPWing commented on #576
使用`https://killercoda.com/mosn-tutorial/course/layotto/layotto-with-istio`的时候发现
![image](https://user-images.githubusercontent.com/65880844/183079381-7406862d-47d3-459c-a872-8ca31b99f3b8.png)
标红的地方少了星星符号，preview server写法如下：
[code]
git clone`https://github.com/layotto/istio.git`的无法直接使用，需要一些转化才能和` https://istio.io/downloadIstio | TARGET_ARCH=x86_64 sh -`一样

[2022-08-05 12:49] LXPWing commented on #576
例如` https://istio.io/downloadIstio | TARGET_ARCH=x86_64 sh`的bin文件是istioctl
![image](https://user-images.githubusercontent.com/65880844/183080640-a27a2430-e5fb-4856-9a4a-bd8bb2c0fd7e.png)

[2022-08-05 12:51] LXPWing commented on #576
而`git clone https://github.com/layotto/istio.git`的bin文件如下
![image](https://user-images.githubusercontent.com/65880844/183080863-7dc4402a-8a95-46a4-937b-2d5a98a52746.png) 现在我不知道如何转换

[2022-08-06 06:25] ZLBer commented on #756
1.我的想法是，不同的组件有不同的调用方式和返回结果，拆分开更容易精细化配置一些。
2.关于这个组件注入理解，好像有些点不一样，我理解的不就是主要用来注入配置的吗?所以我们只要按照配置文件中的方式把配置注入到组件中的metadata字段中，然后调用init方法重新初始化组件。你的意思是，可以插入用户的逻辑 , 那该怎么调用用户的逻辑啊?

[2022-08-06 08:52] seeflood commented on #756
@ZLBer
1. 那这样呢
[code]
2. 晚上开会聊下? 用户自己写自己的pubsub组件，runtime 只负责注入一个config store 组件给这个pubsub组件，用户自己决定怎么用这个注入进去的组件

[2022-08-06 10:21] seeflood commented on #500
恩感觉这也是个思路。上次看mosn grpcFilter 的代码，发现其实注册进去的 handler 只会初始化、启动一次（如下图），所以按这个思路要新写个 Layotto 自己的 grpcFilter
![image](https://user-images.githubusercontent.com/26001097/183244833-839c67cd-6aad-4391-95da-849d423c2ede.png)

如果发 goaway、让app 重连，会影响业务么？

[2022-08-06 12:09] seeflood commented on #576
action:
1. 看下没星星的问题 @seeflood
2. 打个 bookinfo 镜像

[2022-08-06 12:18] seeflood commented on #626
action:
- [ ] 提个 issue，say hello 报错
- [ ] 和 @ZLBer 投屏对下遇到的问题

[2022-08-06 12:43] seeflood commented on #713
update:
AWS 不支持自定义逻辑，继续用加一个sidecar的方案

[2022-08-08 09:05] seeflood commented on #744
## Solution B.  Remove circular dependencies !
Circular dependencies are EVIL and we should remove them.

- Start concurrently
![](https://user-images.githubusercontent.com/26001097/181465866-fc38eef9-299d-44cb-8637-ed379e6c1851.png)

- App waiting for the sidecar to be ready
We can implement it in the framework (for example, in the SOFA-Boot) , or using a `prestart` script in K8s yaml.

- Remove

[2022-08-08 14:55] ZLBer commented on #756
为什么不直接给一个接口，让其余组件可以获取到所有组件？这样都不用注入 - -

[2022-08-08 15:04] seeflood commented on #756
@ZLBer Good point! We can design a "inter-component communication" mechanism in the future, if users need it.  For example, we can design a "service bus" for all the components to communicate with each.
But for now, it's not appropriate because  :
- Users only need to invoke config store and secret components. They don't need other types of components
- Your proposal might leads to cyclic dependen

[2022-08-09 10:55] unionhu commented on #500
配置组件注入的方案预计几时能搞定？

[2022-08-09 13:15] seeflood commented on #500
cc @ZLBer  🐶

[2022-08-09 15:49] ZLBer commented on #756
layotto自己的组件还好说，要是dapr的组件怎么开个口子注入进去 ？

[2022-08-09 16:05] seeflood commented on #756
这个之前有讨论过，组件注入是一种侵入性的方案，目标不是”透明“的让所有已有组件都获得动态配置下发的能力；只有新写的组件才能支持组件注入，已有的组件没这功能

[2022-08-10 01:01] seeflood commented on #744
I had an trouble when implementing solution A:
All API plugins need the callback connection to do `Init` and gRPC server won't start until they are all inited
![image](https://user-images.githubusercontent.com/26001097/183787479-d6f68412-84f7-4e65-845b-f76be155d65d.png)

[2022-08-10 02:52] #694 closed

[2022-08-10 15:26] seeflood commented on #500
@unionhu 我在改启动生命周期的时候也遇到了配置下发的问题，见 https://github.com/mosn/layotto/issues/744#issuecomment-1207861342
我这两周搞下 "Layotto 开一个抽象的 update 接口" 这个方案 https://github.com/mosn/layotto/issues/500#issuecomment-1129540626
component-ref 方案看立斌时间

[2022-08-10 16:11] ZLBer commented on #500
component-ref预计该周末提交pr

[2022-08-11 05:41] HoHenSer opened #759 "关于状态资源配置模式的优化建议"
**What would you like to be added**:
在设计状态存储的配置中模式中，如redis等相关的配置应该参照k8s中pvc和pv的设计模式，在代码中只需要什么申明存储类型和大小相关需求，具体的redis等地址的配置不应直接放在代码配置中，而是再抽象一层配置，用于运维或者自动化的方式创建绑定，做到业务代码和基础设施的具体配置分离：

![image](https://user-images.githubusercontent.com/8278941/184070721-cf7aa8a4-438e-45d1-bb06-022b1dae481a.png)

**Why is this needed**:代码逻辑和基础设施资源分离，研发和运维角色分离

[2022-08-11 06:23] seeflood commented on #759
Hi, 这事儿我们一直想做，有段时间了 😄
之前社区会议也聊过  https://www.bilibili.com/video/BV15Z4y1q7JL?spm_id_from=333.999.0.0&vd_source=65cf108a3fb8e9985d41bd64c5448f63&t=1040.7

核心思想就是：
- 应用声明类似 PVC 的”我需要什么feature“（比如叫 `feature set claim`)
- 组件有独立 CRD，以及有描述”我有什么 feature“ 的CRD ( 比如叫 `feature set`)
- 通过 K8s 部署应用的时候, 自动做 feature 协商、绑定组件；如果没有组件能满足 `feature set claim` 的需求，则部署报错

不过因为没有需求推动，就一直没启动搞这事……您感兴趣共建么，或者您现在有相关需求么~

[2022-08-13 03:37] akkw commented on #700
这个我来看看

[2022-08-13 05:44] seeflood commented on #700
@akkw 好呀 assign 给你了~ 之前我查了一下，是因为 json 里没配xds相关的配置，供参考

[2022-08-13 12:38] seeflood commented on #732
进展：
- 不需要写到 mosn 仓库里，可以注册进去
- 函数有差异，有适配成本

[2022-08-13 12:46] seeflood commented on #500
action:
- [ ] 催下mosn 发版，方便发 layotto v0.5 @seeflood

[2022-08-15 03:38] Holdonbei commented on #438
您的邮件我已收到。

[2022-08-15 04:22] seeflood opened #763 "proposal: auto-generate the code and documentation based on the `proto` files"
**当前的瓶颈、痛点**
API 需求多了、组件需求多了后，人不够，需求支持的慢

举例:
- OSS API
#556
5.11 提，7月25合并，不断完善周边建设中，java sdk 没空写
- Notify API
目前只写了几个 proto，没时间开发
- KMS API
用户新需求

**分析**
[code]
分析上述公式，我们就能意识到，现在的设计不 scale：
我们希望支持更多 API（API 数↑）、支持并集 API （API 方法数↑）、集成不同云服务（组件数↑），但是人没有变多。
以 notify API 为例：有 4个 API, 每个 API 有2个方法，每个 API 要对接 3个服务（阿里云/ aws/私有云服务）。

所以，本提案的设计目标是研发提效，即使需求变多、人没变多时，依然能快速响应需求

**High level design**
实现一套工具链，减

[2022-08-16 02:51] LXPWing opened #765 "bookinfo部署问题"
### 环境
preview server k8s yaml:  https://github.com/LXPWing/preview-server-k8s-yml

线上实验室配置文件： https://github.com/LXPWing/mosn-tutorial/tree/master/layotto/layotto-with-bookinfo

bookinfo k8s yaml: https://github.com/LXPWing/layotto/tree/main/deploy/k8s/bookinfo

线上实验室演示：https://killercoda.com/lixingpeng/course/layotto/layotto-with-bookinfo

### 问题
preview server与bookinfo都部署在default namespace下， pr

[2022-08-16 03:28] #693 closed

[2022-08-16 03:30] seeflood commented on #713
@kevinten10 hi 我确认下，上次说 Poc 跑通了 是指哪些能力跑通啦？
我想了下，感觉需要跑下 rpc 的 poc，即 app-> layotto -> envoy -> 调出去
这个你们有跑 poc 么

[2022-08-17 13:31] kevinten10 commented on #713
#### 部署通了：

pod内有4个container：
1. init (aws appmesh)
2. bussiness
3. envoy (aws appmesh)
4. layotto runtime

在这种情况下，bussiness container可以正常运行并提供服务

这个你们有跑 poc 么

如果要跑这个poc，比如A服务rpc调用testservice服务，我理解是这样的：

A app --(grpc: invoke api)--> layotto --(http://testservice.prod:8080/api1)--> envoy

在这里我需要layotto的invoke组件，能够"重写url"并发起新的http请求。
我不清楚layotto目前已经支持了这样的能力吗？

我在这里提到过类似的想法：https://github.com/mosn/

[2022-08-19 09:22] #717 closed

[2022-08-20 09:08] kevinten10 commented on #713
我看了一下 https://github.com/mosn/layotto/pull/739 ，确实可以供我们跑poc。未来跑生产之前再解决短链接问题

方便的，我会都尝试跑一下，然后整理一下结果

[2022-08-20 10:39] seeflood commented on #732
进展:
因为wasmtime对function注册相关的支持没有wasmer完备，还在单元测试

[2022-08-21 03:24] #699 closed

[2022-08-21 06:55] akkw commented on #700
![image](https://user-images.githubusercontent.com/54854743/185779383-7364aee2-8afc-47d8-b4b3-a4ecbcad2777.png)
配置中的hosts字段没找到，查了一下好像变成load_assignment 字段了，不知道我理解的对不对

[2022-08-22 02:31] wenxuwan opened #768 "Unbind the ability of rpc direct connection and the package of mosn"
**What would you like to be added**:

#739 make direct connection in mosn chan, can unbind the feature and the package of mosn

**Why is this needed**:

In the future, layotto may no longer rely heavily on the MOSN project

[2022-08-22 07:02] #705 closed

[2022-08-22 08:29] #726 closed

[2022-08-24 07:31] seeflood commented on #674
@dzdx hi , could u help continue with this issue?

[2022-08-25 08:40] seeflood commented on #436
- [ ] 各种 API 对应的能力列表（组件列表) *3

[2022-08-25 14:17] #674 closed

[2022-08-25 14:21] #197 closed

[2022-08-25 14:22] #178 closed

[2022-08-25 14:24] seeflood commented on #700
@akkw I guess it's because we don't have the `static_resources` in the config.json:
![image](https://user-images.githubusercontent.com/26001097/186691109-71a10a94-1018-4bf6-ab73-1fd2fee33b7c.png)
You can try to modify the json and check if the errors disappear

[2022-08-26 02:22] seeflood commented on #765
![image](https://user-images.githubusercontent.com/26001097/186802866-572e1cfe-d48a-4f27-bfac-f9ee3ca0bebd.png)
Try:
[code]
https://serverfault.com/questions/728727/kubernetes-stuck-on-containercreating

[2022-08-26 02:37] seeflood commented on #765
It's ok now.
![image](https://user-images.githubusercontent.com/26001097/186804060-9ceb5701-3b6e-48c6-80eb-61889876f627.png)

I fixed it by adding a namespace for the configmap:
![image](https://user-images.githubusercontent.com/26001097/186803881-ed8e198a-51c9-4b17-a584-299fb390b0d4.png)

But we have new problems now:

![image](https://user-images.githubusercontent.com/26001097/186804474-a7d1a5cc

[2022-08-26 03:06] seeflood commented on #765
You can try:
- run k8s with more nodes
- increase the resource limit

看着是资源不足，可以换成更多节点的k8s试试，以及调高对容器占用资源的限制

[2022-08-26 09:22] seeflood commented on #765
Looks like we can't run K8s with more than 2 nodes in killercoda?
see https://killercoda.com/creators
![image](https://user-images.githubusercontent.com/26001097/186871337-c5d7c93e-e1f6-4849-85ab-97bc98617dde.png)

You can try to solve the problem by raise the limit on resources. If it can't solve the problem, we have to deploy the preview-server and the storage systems in other environment instea

[2022-08-26 09:29] LXPWing commented on #765
Currently using "kubernetes-kubeadm-2nodes" store can be deployed in the lab but preview cannot be deployed

[2022-08-26 09:32] LXPWing commented on #765
May need to use other cloud servers

[2022-08-26 11:33] seeflood commented on #765
@LXPWing OK. Let me deploy it on alibaba-cloud first.

[2022-08-27 15:54] seeflood opened #773 "support dapr api, using code generator"
**What would you like to be added**:
After we have the code generator, we can support dapr api easily by generating all the code and docs from `.proto` files

**Why is this needed**:

[2022-08-29 03:56] #710 closed

[2022-08-30 06:01] #500 closed

[2022-08-31 06:17] Kelei0215 opened #776 "SOFA 飞船——Layotto 星球登陆计划"
## 一、背景

SOFAStack 是一个基于金融级分布式架构技术探索的开源社区。这次 SOFAStack 启动 SOFA 飞船，踏上充满挑战的星球登陆之旅，旅途第一站来到了 Layotto 星球。星球登陆任务已被打包放在星球上的各个空间站，想要成为开源先锋的小伙伴快来参与探索，做进击的开源人吧！

Layotto 是一款使用 Golang 开发的应用运行时, 旨在帮助开发人员快速构建云原生应用，帮助应用和基础设施解耦。Layotto 提供了各种分布式的能力，比如状态管理、配置管理、事件发布订阅等能力，以简化应用的开发。

## 二、探索空间站

我们会持续发掘更新 Layotto 星球上的各个空间站。小伙伴们可以加入自己感兴趣的空间站并进行探索，通过任务实现积累能量值，去成为空间站站长，带领更多本站的小伙伴完成星球登陆吧！

#### 已探寻到的空间站一览

● **Component

[2022-08-31 09:43] seeflood commented on #763
进展:
- 文档生成器已合并，见 https://mosn.io/layotto/#/zh/api_reference/how_to_generate_api_doc
- 代码生成器开发完成，见 https://github.com/seeflood/protoc-gen-p6

todo:
- [ ] 集成进 layotto make 脚本
- [ ] 修复单个文件有多个 service 的 corner case

[2022-08-31 11:06] wSparky commented on #690
I want to try this task，can I？

[2022-08-31 11:07] wSparky commented on #687
I want to try this task，can I？

[2022-08-31 11:14] ZLBer opened #777 "db link not open in mysql sequencer？"
**What happened**:
the db link did not initialized in mysql sequencer @GimmeCyy
related pr: https://github.com/mosn/layotto/pull/605
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2022-09-01 03:54] seeflood commented on #777
Thanks for your feedback
@GimmeCyy Could u help with this issue?

[2022-09-01 06:24] GimmeCyy commented on #777
![image](https://user-images.githubusercontent.com/78087740/187845758-83c96dd5-1a0c-4b1a-97ed-4a9f670d5132.png)
这里的db是用sqlmock.New()出来的，所以没有去连接一个真实的数据库

[2022-09-03 17:35] rayowang commented on #732
目前集成wasmtime单测通过，集成测试有点问题，给bytecodealliance提了issue
https://github.com/bytecodealliance/wasmtime-go/issues/145

[2022-09-04 16:33] rayowang commented on #732
https://github.com/bytecodealliance/wasmtime-go/issues/146

[2022-09-06 03:17] seeflood opened #778 "lifecycle for dynamic configuration"
**What would you like to be added**:
There's a problem when implementing the dynamic configuration feature. After agent got all the configuration via XDS, it tried to invoke the Layotto Lifecycle API but got an error:
![image](https://user-images.githubusercontent.com/26001097/188539392-5702b90b-4d78-42c7-af01-24c3c544ebea.png)

To solve this problem, we need to use the health check hooks. The age

[2022-09-06 04:06] #730 closed

[2022-09-06 11:43] seeflood commented on #765
@LXPWing I'm thinking about deploying the latest binary automatically in our CI/CD. Are u interested in doing some research on the solution?
This is not necessary, it doesn't matter if we can't implement it

[2022-09-06 11:50] LXPWing commented on #765
I don't understand what this “the latest binary automatically in our CI/CD.”

[2022-09-06 12:02] seeflood commented on #765
I mean:
Currently, after a new PR get merged into the main branch, our github workflow will compile the code into a binary, and then upload the docker images and binary files to github.
For example, you can see the uploaded binary files in https://github.com/mosn/layotto/actions/runs/2924861106
![image](https://user-images.githubusercontent.com/26001097/188628988-4c6aff5e-9f03-4a9c-8d56-3f49cff07c

[2022-09-06 12:05] LXPWing commented on #765
Will jenkins be used？

[2022-09-06 12:11] seeflood commented on #765
@LXPWing We don't have Jenkins yet :(   It's better that we achieve this goal using github action.
It's just an idea. As the first step, we only need to investigate "whether there are existing tools to do it". If not, or if the tools are too complex to use, we give up :)

[2022-09-06 12:24] LXPWing commented on #765
“the tools can notify our preview server”github action may not be completed.stop containers -> delete image -> pull new image -> start Containers may jenkins can do it.

[2022-09-06 12:52] seeflood commented on #765
@LXPWing Deploying jenkins sounds complex 😢 I hope there's some agent on the server, which:
-  listen to the webhook events
- download image
- remove the existing container
- start a new container

If there isn't a simple solution, let's give up and do something more important...

[2022-09-07 09:10] #763 closed

[2022-09-07 09:59] seeflood commented on #763
Now the code generator has been merged.
Future works are recorded at:
https://github.com/seeflood/protoc-gen-p6/issues

[2022-09-07 13:14] lianwy11 commented on #687
/assign

[2022-09-07 14:40] h3n4l commented on #550
We need to update the link refer action page, the origin page seems overdue.
<img width="2967" alt="CleanShot 2022-09-07 at 22 40 36@2x" src="https://user-images.githubusercontent.com/87714218/188906662-1f3e6b20-71a0-48bd-8fa6-113416aa1be4.png">

[2022-09-08 01:30] wSparky commented on #687
不好意思，我以为我之前删除评论就已经取消申请了。我最近比较忙，没法参与。希望后面有机会加入到你们这个有意义的活动中。
从 Windows 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>发送

发件人: ***@***.***>
发送时间: 2022年9月7日 21:14
收件人: ***@***.***>
抄送: ***@***.***>; ***@***.***>
主题: Re: [mosn/layotto] Run configuration API quickstart with java sdk; 在 configuration API quickstart 中添加 java demo (Issue #687)

/assign

―
Reply to this email directly, view it on GitHu

[2022-09-08 06:21] seeflood commented on #550
@h3n4l Thanks for reminding me.
I checked other PRs but sadly found that we can't reproduce this issue 😢
Let me close this issue. We can reopen it once the error occurs again

[2022-09-08 06:21] #550 closed

[2022-09-09 02:53] ChloroplastYu opened #782 "编译构建Layotto时，检查envoyproxy/go-control-plane@v0.10.0校验和失败"
**What happened**:
![image](https://user-images.githubusercontent.com/51773819/189262082-4b906717-fef4-4ece-b5e2-07a9e1462b26.png)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
commit id：3fbcdf7d6d9a892a8becade088e643e6a99efab8

**Anything else we need to know?**:

[2022-09-09 03:10] seeflood commented on #765
https://github.com/layotto/java-sdk/pull/35
I added startup & stop scripts for preview service. But we still need several things to deploy preview service, including:
- correct `config.json` file to use redis as state store and local file system as `file` component.
- initialize the data in the storage system
![image](https://user-images.githubusercontent.com/26001097/189264239-208128ad-c620-4b74-

[2022-09-09 03:34] seeflood commented on #782
Sorry I can't reproduce it 😢
![image](https://user-images.githubusercontent.com/26001097/189266405-16adb139-3390-4735-8659-01ef4893490e.png)
It seems that you have modified the `go.mod` or `go.sum`. You can try to revert them, or just `go mod tidy`

[2022-09-09 04:09] seeflood commented on #700
@akkw hi, any progress on this issue?

[2022-09-11 14:37] ChloroplastYu commented on #782
Thank you for your reply！I clean my path variable and reinstall go then slove the problem

[2022-09-11 14:37] #782 closed

[2022-09-12 15:37] rayowang commented on #732
目前demo中function2可以正常加载及运行，function1有点问题
https://github.com/bytecodealliance/wasmtime-go/issues/149

[2022-09-13 02:03] Kelei0215 commented on #687
OK，没有关系的，也欢迎添加 SOFAGirl 微信:SOFAGirl180419 了解活动后续进展哦，期待后面的参与～

[2022-09-14 10:15] #757 closed

[2022-09-14 11:12] lianwy11 commented on #688
/assign

[2022-09-15 04:06] Holdonbei commented on #438
您的邮件我已收到。

[2022-09-15 05:49] lianwy11 opened #790 "Question about layotto/java-sdk"
`the issue i submit on layotto/java-sdk`
[https://github.com/layotto/java-sdk/issues/39#issue-1373080337](url)

[2022-09-15 07:42] seeflood commented on #790
I left a message

[2022-09-15 07:44] seeflood commented on #617
@kevinten10 Hi, I submitted a PR #786 to implement this proposal. Please help me review it :)

[2022-09-18 04:01] #759 closed

[2022-09-19 03:05] seeflood commented on #748
related issue: https://github.com/aliyun/aliyun-oss-go-sdk/pull/344

[2022-09-23 08:13] helbing opened #792 "Why use a lower version of Golang"
### Your question

Why use go1.14? Can I upgrade it to the latest version go1.19?

[2022-09-23 08:21] seeflood commented on #792
We can't upgrade because Layotto has a dependency on MOSN, and MOSN use go 1.14 :(
MOSN can't upgrade because of some incompatible issues which I don't know. @nejisama Do you know why?

[2022-09-23 09:01] kevinten10 opened #794 "proposal: Cryption(Encrypt/Decrypt) API."
Hi, This is `Cryption(Encrypt/Decrypt) API` proposal.

### **What would you like to be added**:

add new api: Encryption and Decryption API

### **Why is this needed**:

### **Support situation**:

|Cryption|Docs|
|---|---|
|AWS Encryption|https://docs.aws.amazon.com/encryption-sdk/latest/developer-guide/introduction.html|
|Aliyun Encryption|https://help.aliyun.com/document_detail/189379.htm?spm=a

[2022-09-23 09:16] seeflood commented on #792
Some MOSN production users use a modified version of go runtime, and they don't want to upgrade for now

[2022-09-23 09:48] kevinten10 commented on #794
AWS Enctyption Java SDK 示例：https://docs.aws.amazon.com/encryption-sdk/latest/developer-guide/java-example-code.html

Runtime API到AWS API的参数映射：

+ KeyInfo.key -> aws data
+ KeyInfo.type -> aws keyArn
+ KeyInfo.properties -> aws encryptionContext

[2022-09-23 09:49] helbing commented on #792
It seems bad. It's not good for an open-source project that can't use the new features of Golang. So, does Layotto have any plans to reduce opaque dependencies?

[2022-09-23 10:02] wenxuwan commented on #792
Why upgrade the golang version? Do you need any new features?

[2022-09-23 10:09] kevinten10 commented on #794
Aliyun Encryption Java SDK 示例：https://help.aliyun.com/document_detail/189379.htm?spm=a2c4g.11186623.0.0.ea8a9b75VwOmNX#task-1995115

使用方式同AWS Encryption

[2022-09-24 02:09] helbing commented on #792
Not for now. I want to contribute testing tools to Layotto to add more test cases for reliability. Maybe I will use Generics, Fuzzing, or not. They are unnecessary. On the other hand, I may use a package with new features of Golang that make me have to use this package with a low version. It may have bugs that fix in the high one. And I can't use the new features of this package. It's not friendly

[2022-09-24 02:23] helbing commented on #792
I see a To-do, Layotto without MOSN, in the project Deployment on multiple clouds. What it will do? How about it priority? @seeflood @wenxuwan

[2022-09-24 16:31] seeflood commented on #792
We found that legacy systems often have their own rpc framework and don't want to migrate to mosn. They just want to use Layotto apis without RPC feature. This "todo" aims to solve this problem

[2022-09-24 16:46] seeflood commented on #792
@helbing I agree that using a low version golang is bad 😢 But it takes time to push production users to upgrade.
Is there a short-term, compromise solution? How about we put the tools in a separate go module or a separate repository, and use a higher version of golang in it?
For example, I put the code generator in a seperate repo https://github.com/seeflood/protoc-gen-p6 and use golang 1.16 in it

[2022-09-25 23:45] helbing commented on #792
Yeah, it’s a big thing to push production users to upgrade. Well, I will develop the testing tools first through the method you provide. 😁

[2022-09-26 03:57] seeflood commented on #792
@helbing Thanks!
By the way, I'm curious about the testing tools you mentioned. Do you mean to add more unit test cases, or write a standalone tool? Could u briefly introduce your design?

[2022-09-26 04:10] seeflood commented on #712
I'm working on it

[2022-09-26 07:39] seeflood commented on #688
@lianwy11 Hi, I just found that akkw have already submitted PRs to fix this issue, see #783 and https://github.com/layotto/java-sdk/pull/36
How about you choose some other task ?
Sorry for bothering!

[2022-09-26 07:44] #688 closed

[2022-09-26 08:14] helbing commented on #792
No, for integration testing. Is someone working on this now? I write a package to automatically up & down the environment through docker-compose when testing.

[2022-09-26 08:32] seeflood commented on #753
fixed in #769

[2022-09-26 08:32] #753 closed

[2022-09-26 08:35] seeflood opened #797 "translate the code-generator guide into chinese; 把代码生成器的使用文档翻译成中文"
**What would you like to be added**:
Translate the code-generator guide into chinese.
See https://mosn.io/layotto/#/zh/api_reference/how_to_generate_api_doc

Reference:
[文档贡献指南](https://mosn.io/layotto/#/zh/development/contributing-doc)

**Why is this needed**:
For users who are not familiar with english

[2022-09-26 09:04] seeflood opened #799 "bug(ci): deadlink checker didn't find the wrong url in sidebar"
**What happened**:
@wenxuwan found that the link in the sidebar is wrong, see https://mosn.io/layotto/#/zh/design/oss/oss-api-design
![image](https://user-images.githubusercontent.com/26001097/192236479-76b9f61c-c156-4f9b-938f-7646c631731d.png)

The problem is that our deadlink checker didn't find it :(
The checker runs successfully without noticing this link:
https://github.com/mosn/layotto/actio

[2022-09-26 09:08] seeflood commented on #799
cc @Xunzhuo

[2022-09-26 09:23] seeflood commented on #792
@helbing We have a very simple integration test script and you can run it with `make integrate-runtime`.
It's too simple and @bxiiiiii submitted a PR to improve it, see https://github.com/mosn/layotto/pull/795 and https://github.com/mosn/layotto/issues/415
Can we merge your tool and his pr into one?

[2022-09-26 09:32] seeflood commented on #799
I found that `curl -w %{http_code}  https://mosn.io/layotto/#/zh/design/oss/oss-api-design` returns 200, not 404
Ok. It's docsify's problem.   :(
This issue is not a high priority

[2022-09-26 09:42] helbing commented on #792
@seeflood Of course, but please give me a few days to improve the package. It still has some problems.

[2022-09-27 02:46] seeflood opened #800 "proposal: Operation bot based on confidence score"
Since the bot is designed for chinese community, this issue is written in chinese

# 基于信心分的运营机器人
## 要解决的问题
高效推广 good first issue，为社区吸引贡献者

## 方案
![image](https://user-images.githubusercontent.com/26001097/192416290-f8ee9745-3dac-454f-a7d0-a37224810c9e.png)
1. 每个 good first issue 有一个初始"信心分"；信心分的范围是1--9。

Q: 如何标记该 issue 的信心分?
加个label "confidence/数字"。例如 https://github.com/mosn/layotto/issues/797 有 "c

[2022-09-27 03:40] nobodyiam commented on #800
整体机制我觉得是可以的，不过比较模糊的是信心分根据哪些因素来评估？

[2022-09-27 03:48] seeflood commented on #800
靠录入 issue 的人主观判断 😄

假设信心分的衰减策略是：每过2周，信心分下降1
那么录入 issue 的人的判断逻辑：
”如果这个 issue 录入后 2周内没人认领，那就不要在做活动时推广它了“  = 5分
”如果这个 issue 录入后 4周内没人认领，那就不要在做活动时推广它了“  = 6分
”如果这个 issue 录入后 6周内没人认领，那就不要在做活动时推广它了“  = 7分
依次类推

[2022-09-27 03:54] #647 closed

[2022-09-27 09:44] seeflood commented on #617
Azure service bus also has this feature :
https://learn.microsoft.com/en-us/azure/service-bus-messaging/message-sequencing#scheduled-messages

[2022-09-27 11:16] helbing opened #801 "Is Layotto doesn't support Windows?"
### Your question

I didn't find the configuration about building on Windows in Github Action workflows. So, Is Layotto doesn't support Windows? Also future? And why? As far as I know, many developers are still working on Windows and not using WSL2. By the way, I work on macOS.

[2022-09-27 11:35] seeflood commented on #801
Unfortunately, no.
It's because MOSN doesn't support Windows.
But developers can run Layotto with docker
[code]

Similar issue: https://github.com/mosn/layotto/issues/620

[2022-09-27 13:01] helbing commented on #801
OK, got it. I will close the issue now.

[2022-09-27 13:01] #801 closed

[2022-09-28 02:20] #617 closed

[2022-09-28 04:01] #713 closed

[2022-09-29 02:04] it-linnan commented on #687
assign to me🙋‍

[2022-09-29 02:21] seeflood commented on #687
@it-linnan OK. Thanks!

[2022-09-29 04:03] #768 closed

[2022-10-01 01:45] pmupkin commented on #797
/assign

[2022-10-01 09:02] seeflood commented on #797
@pmupkin Ok. thanks!

[2022-10-04 01:36] seeflood commented on #610
I just found that cloudflare open sourced their serverless runtime project "workerd" . They call their abstraction "nanoservice" too. Interesting 😆

![image](https://user-images.githubusercontent.com/26001097/193715709-85ab4d9f-eb0f-4c20-a0d6-ed4684611537.png)

https://github.com/cloudflare/workerd
https://blog.cloudflare.com/workerd-open-source-workers-runtime/

[2022-10-05 00:00] helbing opened #808 "Proposal: support package management & pluggable component"
# Background

The following problems I met when I used Layotto.

- Strong dependency on APIs. Users must commit new APIs to Layotto when existing APIs can't implement their requirements. It may wait for a long time until Layotto merges it. This is unacceptable for users who need to work to deadlines.
- Complex dependencies. such as the problem of MOSN. It makes Layotto still use go1.14. #792

# De

[2022-10-06 03:18] #471 closed

[2022-10-08 03:21] #756 closed

[2022-10-08 08:22] seeflood commented on #808
Thanks for your great proposal !

We have an ["API plugin" mechanism](https://mosn.io/layotto/#/zh/start/api_plugin/helloworld) to let users extend Layotto. Users can import Layotto (instead of forking Layotto) in their `main.go` and register their own API. They don't have to commit the API to Layotto community with this technique. Does this feature solve your problem?

- Complex dependencies
Yes

[2022-10-08 08:26] seeflood opened #809 "add documentation for the `component ref` feature"
**What would you like to be added**:
Add documentation for the `component ref` feature, which got merged in #761

**Why is this needed**:
:)

[2022-10-10 03:59] #777 closed

[2022-10-10 13:02] seeflood commented on #794
- 关于 type

所以这个是密钥的标识? 叫 key_id 如何?

[2022-10-10 13:06] it-linnan commented on #687
SDK-Part PR: https://github.com/layotto/java-sdk/pull/50

quickstart comming soon

[2022-10-10 14:04] it-linnan commented on #687
Document PR: https://github.com/mosn/layotto/pull/810

[2022-10-11 01:15] seeflood commented on #692
@LZHK1ng Sorry for the delay!
Since the js pr https://github.com/layotto/js-sdk/pull/4 has been merged, could u improve the documentation now?
![image](https://user-images.githubusercontent.com/26001097/194975784-299252cd-50a8-402c-934b-30e6cced79c3.png)

https://mosn.io/layotto/#/zh/start/lock/start
https://mosn.io/layotto/#/en/start/lock/start

[2022-10-11 03:55] seeflood commented on #794
- 关于批量操作
@kevinten10 hi, 我最近也做了一些调研 https://www.jianshu.com/p/a02af15d3e41
但是看下来似乎各厂商并不支持“一次加密多个明文”？

|Cryption| 对称加密 | 对称解密 | 非对称加密 | 非对称解密 | 批量加解密 | 字符串or 字节数组? | 其他 |
|---|---|---|---|---|---|---|---|
| [AWS Encryption](https://docs.aws.amazon.com/encryption-sdk/latest/developer-guide/introduction.html) | [Java示例代码](https://docs.aws.amazon.com/zh_cn/encryption-sdk/latest/developer-guide/java-ex

[2022-10-11 03:57] seeflood commented on #794
- 关于 status

感觉可以通过 grpc 的错误码来描述?

[2022-10-11 07:06] Holdonbei commented on #438
您的邮件我已收到。

[2022-10-11 14:04] LZHK1ng opened #812 "add documentation for add a javascript tab feature in distributed lock"
Add documentation for add a javascript tab feature in lockApi, which got merged in #692
**What would you like to be added**:
：)
**Why is this needed**:

[2022-10-12 03:41] #794 closed

[2022-10-12 09:51] kevinten10 commented on #794
good idea~

[2022-10-14 07:53] kevinten10 commented on #794
我上面写的是用http错误码，需要做成grpc的错误码吗？

[2022-10-14 07:54] kevinten10 commented on #794
但是看下来似乎各厂商并不支持“一次加密多个明文”？

如果各大云厂商都不支持list格式，那我们就先做单个的？等未来有多个的，再新增一个list的？

[2022-10-17 04:14] #625 closed

[2022-10-19 05:25] #716 closed

[2022-10-19 06:04] seeflood commented on #716
@kevinten10 hi, 我基于这个proposal 提交了 pr https://github.com/mosn/layotto/pull/814
可以帮忙看下哈~
我做了一些修改，把“基于模板发短信” 和 “不基于模板、直接发短信” 拆成了两个方法，目前 PR 只提交了前者，后者后面再加

[2022-10-19 06:17] seeflood commented on #794
什么情况会有这种status 呀，因为我看了阿里云加密sdk，没返回这个 status

[2022-10-19 09:51] #415 closed

[2022-10-20 06:24] #193 closed

[2022-10-21 04:04] kevinten10 commented on #794
我没细看阿里云sdk，是私有云遇到的一种场景。不知道aws等其他sdk上会不会有这样的case，我去看一下。

[2022-10-21 10:00] seeflood commented on #800
感觉可以在 issue template 里加一些 good first issue模板，例如“组件开发模板”

![image](https://user-images.githubusercontent.com/26001097/197169541-dba8083f-2277-46ff-a9d1-c14ebdb5f541.png)

最终实现的效果：maintainer靠模板录入一个issue后，机器人自动推广，自动化运营

[2022-10-24 04:12] #790 closed

[2022-10-24 04:12] #765 closed

[2022-10-28 06:41] rayowang commented on #732
https://github.com/bytecodealliance/wasmtime/issues/4194

[2022-10-28 07:42] rayowang opened #822 "what's the defference between "go build cmd/layotto/main.go cmd/layotto/cmd.go" and “make build”"
### Your question

Introducing a new pkg and using go build can compile successfully, but using make build fails to compile

### Environment

macos and  linux

### Logs

make build
which: no go-junit-report in (/opt/rh/devtoolset-7/root/usr/bin:/export/servers/jdk1.6.0_25/bin:/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/var/lib/snapd/snap/bin:/usr/Arcconf:/home/rayowang/.local/bin:/home/rayo

[2022-10-28 08:51] seeflood commented on #822
I'm Makefile noob.  @Xunzhuo any idea on it?

[2022-10-28 09:09] seeflood opened #824 "js-sdk supports oss api"
This issue is used to track the process
- [x] js-sdk supports oss api
https://github.com/layotto/js-sdk/commits/main

- [ ] integrate with eggjs
https://github.com/eggjs/egg-layotto

[2022-10-28 09:11] #797 closed

[2022-10-28 10:05] seeflood opened #826 "generate a cli tool for Layotto; 生成 Layotto 命令行工具"
**What would you like to be added**:
Develop a command-line tool for Layotto.
For example, we can use the command to invoke Layotto API:
[code]

**How to implement it**:
We can use existing tools to generate all the code, see
https://github.com/fiorix/protoc-gen-cobra

There are also some fork versions of this tool:
[NathanBaulch/protoc-gen-cobra: Cobra command line tool generator for gRPC clients

[2022-10-28 10:11] seeflood opened #827 "support http API"
**What would you like to be added**:
Add support http API. Maybe we can use the https://github.com/grpc-ecosystem/grpc-gateway

**Why is this needed**:
Users need it

[2022-10-28 10:17] seeflood opened #828 "proposal: generate component code using AI"
**What would you like to be added**:
Currently [p6](https://github.com/layotto/protoc-gen-p6) can generate sdk & sidecar API code, but she can't generate component code.
I think we can generate component code using AI.

**Why is this needed**:
Less work, more happiness

[2022-10-28 10:23] seeflood opened #829 "Generate java-sdk automatically; 自动生成 java-sdk"
**What would you like to be added**:
Currently our code generator [p6](https://github.com/layotto/protoc-gen-p6) can generate golang-sdk & sidecar API code.
It's time to teach her how to generate java-sdk.

Reference:
https://mosn.io/layotto/#/zh/api_reference/how_to_generate_api_doc
https://github.com/layotto/protoc-gen-p6

**Why is this needed**:
Less work, more happiness

[2022-10-28 11:10] Xunzhuo commented on #822
I will take a look this later at this day:)

[2022-10-28 12:05] seeflood opened #830 "Develop a new component for sms API; 为 sms API 开发新的组件"
**What would you like to be added**:

Develop a new component for **sms** API.

Choose an open source component or cloud service (such as zookeeper) you like to implement this API.

For example, you can choose any one in the list below:

- [ ] Cloud service provided by Alibaba cloud
- [ ] Cloud service provided by AWS
- [ ] Cloud service provided by Azure
- [ ] Cloud service provided by Google clo

[2022-10-28 12:51] LXPWing commented on #829
i want try it

[2022-10-28 13:01] seeflood commented on #829
@LXPWing Coool!
You can read the current p6 code first, and then we can discuss how to implement this feature

[2022-10-28 15:50] seeflood commented on #829
There are some blog posts on "how to develop a protoc plugin". Hope they can help:
https://www.hitzhangjie.pro/blog/2017-05-23-protoc%E5%8F%8A%E6%8F%92%E4%BB%B6%E5%B7%A5%E4%BD%9C%E5%8E%9F%E7%90%86%E5%88%86%E6%9E%90%E7%B2%BE%E5%8D%8E%E7%89%88/

https://www.jianshu.com/p/31c23353e32e?v=1666972094263

[2022-10-30 15:55] unionhu opened #832 "hope support http api, no just gRPC"
we use layotto  sink our  common platform capability，but I found most project use http protocol to provide its capability。
I dont want change  the usage pattern of engineer。

hope layotto support http api

[2022-11-01 01:56] azhsmesos commented on #827
Is there documentation to help me understand it（how to support http api）？

[2022-11-01 04:23] rayowang commented on #664
assign

[2022-11-01 06:27] Xunzhuo commented on #822
I did not reproduce it:
![Uploading image.png…]()

[2022-11-01 07:25] seeflood commented on #800
进展:
- 新增若干 good first issue 模板，1分钟发布新任务
![image](https://user-images.githubusercontent.com/26001097/199180776-9e247d55-ac12-4001-ac41-fb5f72b5e1d0.png)

- 新增机器人，负责推广
![image](https://user-images.githubusercontent.com/26001097/199180613-f5fea5ba-70a8-4b99-984d-912aad487ff0.png)

[2022-11-01 07:25] #800 closed

[2022-11-01 09:44] rayowang commented on #700
Now xds should already be using v3 version.

[2022-11-01 14:38] seeflood commented on #827
We can discuss this feature in #832. I will close this issue since it's duplicated

[2022-11-01 14:38] #827 closed

[2022-11-01 14:45] seeflood commented on #832
Yes, I think this feature is necessary.

Solution A:
We can use the https://github.com/grpc-ecosystem/grpc-gateway project to convert http request to gRPC request, which is already implemented in some production environment.

Solution B:
Start a new http server in Layotto

[2022-11-01 14:57] seeflood commented on #664
@rayowang Thanks!

[2022-11-02 06:37] seeflood opened #836 "Develop a new component for email API; 为 email API 开发新的组件"
**What would you like to be added**:

Develop a new component for **email** API.

Choose an open source component or cloud service you like to implement this API.

For example, you can choose any one in the list below:

- [ ] Cloud service provided by Alibaba cloud
- [ ] Cloud service provided by AWS
- [ ] Cloud service provided by Azure
- [ ] Cloud service provided by Google cloud
- [ ] Cloud ser

[2022-11-02 07:26] #741 closed

[2022-11-02 08:06] #700 closed

[2022-11-02 08:10] seeflood opened #838 "Error when running WASM quickstart; 修复 wasm quickstart 中的报错"
**What happened**:
There are error logs when running WASM quickstart  https://mosn.io/layotto/#/zh/start/wasm/start.md
Check CI log in https://github.com/mosn/layotto/actions/runs/3375685183/jobs/5602560478
and you will see the errors:
![image](https://user-images.githubusercontent.com/26001097/199434271-f6be0d21-a3d1-46ff-bdac-a52f01c16494.png)

**What you expected to happen**:
No error messages.

[2022-11-03 04:23] rayowang commented on #838
/assign

[2022-11-04 02:32] seeflood opened #840 "Develop a new component for delay queue API; 为"延迟消息 API"开发新的组件"
**What would you like to be added**:

Develop a new component for delay queue API.

Choose an open source component or cloud service you like to implement this API.

For example, you can choose any one in the list below:

- [ ] RocketMQ
- [ ]
- [ ] Cloud service provided by Alibaba cloud
- [ ] Cloud service provided by AWS
- [ ] Cloud service provided by Google cloud
- [ ] Cloud service provided b

[2022-11-04 02:58] DhirajSardar commented on #840
Hey! Can point me to some resources so that I can work on this issue?

[2022-11-04 03:18] seeflood commented on #840
@DhirajSardar Hi, welcome to the community!

Here are some resources to help you work on this issue.

Component development guide: https://mosn.io/layotto/#/en/development/developing-component

An example pull request(azure service bus) : https://github.com/mosn/layotto/pull/807

API definition( .proto file):  https://github.com/mosn/layotto/blob/main/spec/proto/extension/v1/delay_queue/delay_queu

[2022-11-04 03:22] #792 closed

[2022-11-04 03:27] #838 closed

[2022-11-04 07:09] seeflood opened #842 "Develop a java demo for OSS API; 为 OSS API 开发一个 java demo"
**What would you like to be added**:

Develop a java demo for OSS API.

Now we already have quickstart docs for this API, and we need a demo to show users how to invoke this API.

You can take the [lock api quickstart](https://mosn.io/layotto/#/en/start/lock/start) as an example:

![image](https://user-images.githubusercontent.com/26001097/199906799-ac30da05-c983-408b-b0e9-2fd712ec492f.png)

The j

[2022-11-05 03:09] #715 closed

[2022-11-05 03:09] #712 closed

[2022-11-05 05:27] azhsmesos commented on #830
I have some questions： https://docs.qq.com/doc/DTXVSTVRXT0lzWHBW

[2022-11-05 08:52] rayowang commented on #799
This looks like a routing problem with webserver configuration.

[2022-11-05 09:17] DhirajSardar commented on #840
Do I have to use Golang for developing component?

[2022-11-05 10:14] seeflood commented on #830
@azhsmesos Hi, I don't have permission to open your doc

[2022-11-05 10:14] seeflood commented on #840
@DhirajSardar Yes, we have to develop components in golang

[2022-11-05 12:02] seeflood commented on #799
Yes, but I don't know how to configure the docsify server to fix this issue 😢

[2022-11-05 12:55] azhsmesos commented on #830
sorry，【腾讯文档】layotto
https://docs.qq.com/doc/DTXVSTVRXT0lzWHBW

[2022-11-05 16:27] zach030 commented on #840
I am willing to implement it with RocketMQ

[2022-11-05 16:35] seeflood commented on #840
Thanks @zach030 , long time no see 😆
You can submit an issue to track progress

[2022-11-06 07:05] zach030 commented on #840
@seeflood Hi, 目前dapr中的rocketMQ支持的可参数比较少，尚不支持DelayTimeLevel参数，等待这个PR合并之后可以继续rocketMQ延迟队列的开发 https://github.com/dapr/components-contrib/pull/2198

[2022-11-06 07:26] seeflood commented on #840
@zach030 OK. Looks good

[2022-11-07 04:17] seeflood commented on #830
@azhsmesos Hi, I answered your questions in your doc

[2022-11-09 08:06] azhsmesos commented on #830
ok

[2022-11-10 10:38] azhsmesos commented on #830
Please look at my development ideas again in docs，I'm not sure I'm on the right track，so you can comment directly in the document

[2022-11-11 03:14] Holdonbei commented on #438
您的邮件我已收到。

[2022-11-13 03:12] #754 closed

[2022-11-16 02:36] #732 closed

[2022-11-16 03:04] #809 closed

[2022-11-16 03:04] #808 closed

[2022-11-16 12:19] zhenjunMa opened #843 "Integrate with wit-bindgen; 集成wit-bindgen"
# 1. Background

The wit-bindgen project officially provided by WebAssembly can enable better interaction between the wasm module and the runtime, avoiding the development of various data conversion logics, and now Layotto integrates wasmtime, so I want to integrate wit-bindgen to improve the user's ability to develop wasm modules experience.

# 2. What I have tried

1. define a wit file：
[code]
2

[2022-11-17 00:45] zu1k commented on #843
https://radu-matei.com/blog/wasm-components-host-implementations/

[2022-11-19 02:57] #692 closed

[2022-11-20 13:09] #745 closed

[2022-11-25 08:13] #687 closed