[2021-04-29 08:27] zhenjunMa opened #7 "Make configuration API compatible with document model. 配置API适配document模型"
**What would you like to be added**:

**Why is this needed**:

[2021-04-29 08:34] zhenjunMa opened #8 "支持WASM扩展"
**What would you like to be added**:

**Why is this needed**:

[2021-04-29 08:36] zhenjunMa opened #9 "Support Node level deployment 支持Node级别部署"
**What would you like to be added**:

**Why is this needed**:

[2021-04-30 06:39] zhenjunMa opened #12 "支持RPC模块"
**What would you like to be added**:

**Why is this needed**:

[2021-04-30 06:40] zhenjunMa opened #13 "支持MQ模块"
**What would you like to be added**:

**Why is this needed**:

[2021-04-30 06:41] zhenjunMa opened #14 "支持actuator接口"
**What would you like to be added**:

**Why is this needed**:

[2021-04-30 07:36] nobodyiam opened #17 "run make build-image with error"
**What happened**:
Errors occurred when running `make build-image`

[code]

**What you expected to happen**:
No errors occurred

**How to reproduce it (as minimally and precisely as possible)**:
Simply run `make build-image`

**Anything else we need to know?**:
`GOPATH`: /Users/jason/go
`GOROOT`: /usr/local/Cellar/go/1.15.6/libexec

[2021-05-01 11:45] #17 closed, assigned to nobody

[2021-05-21 07:37] #14 closed, assigned to seeflood

[2021-06-02 06:31] zhenjunMa opened #28 "把组件的实现逻辑拆分到components工程"

[2021-06-02 06:32] zhenjunMa opened #29 "把api定义拆分到api-spec"
**What would you like to be added**:

**Why is this needed**:

[2021-06-02 12:11] #28 closed, assigned to wenxuwan

[2021-06-03 02:01] #12 closed, assigned to MoonShining

[2021-06-03 13:24] #13 closed, assigned to seeflood

[2021-06-04 09:31] seeflood opened #35 "[bug]layotto can be started successfully when port conflicts."
**What happened**:

Start multiple layotto with same config:

./layotto start -c ../../configs/config_apollo_health_mq.json
./layotto start -c ../../configs/config_apollo_health_mq.json
./layotto start -c ../../configs/config_apollo_health_mq.json

all of them succeed.

**What you expected to happen**:
only one server start successfully

**How to reproduce it (as minimally and precisely as possibl

[2021-06-04 09:54] #29 closed, assigned to seeflood

[2021-06-04 11:46] #8 closed, assigned to zhenjunMa

[2021-06-08 14:29] seeflood opened #42 "[proposal]Progressive Service Mesh: Layotto rpc integrates with service registry like zookeeper,without istio"
**What would you like to be added**:
Layotto rpc can use open source distributed coordination service (like zookeeper or nacos) for service discovery,without the pains of deploying istio

**Why is this needed**:
Istio is too complex to deploy and integrate with current microservice infrastructures(like service registry).For companies and users who are interested at service mesh and looking for a t

[2021-06-10 11:52] #35 closed, assigned to seeflood

[2021-06-11 12:04] JervyShi opened #47 "Change package path to mosn.io/layotto"
**What would you like to be added**:
Change package path `github.com/layotto/layotto` to `mosn.io/layotto`.

**Why is this needed**:
Currently our package path is `github.com/layotto/layotto`, after open source our repository address will be `github/mosn/layotto`, in order to avoid user-aware codebase changes, we need to point the package path to `mosn.io/layotto`. After this change, no matter how

[2021-06-11 13:23] #47 closed, assigned to nobody

[2021-06-15 07:03] seeflood opened #50 "[Improve README]Explain why we chose to develop layotto instead of using Dapr and give demos"
**What would you like to be added**:
Please add more explaination into README.md and README-ZH.md:
1. explain why we chose to develop layotto instead of using Dapr
2. give demos and introduction of different features about RPC and Service Mesh, which in my opinion is the most important difference between Layotto and Dapr
3. highlight the concept 'Service Mesh + Runtime',maybe with '+Serverless'
4.

[2021-06-15 07:05] seeflood opened #51 "[feature]Support Distributed Lock API"
**What would you like to be added**:
Support Distributed Lock API

**Why is this needed**:
It's useful and cool!

[2021-06-16 02:50] seeflood opened #53 "[feature]Support State API"
**What would you like to be added**:
Support State API and try to be compatible with Dapr's

**Why is this needed**:

[2021-06-17 02:34] #53 closed, assigned to seeflood

[2021-06-18 15:10] #50 closed

[2021-06-19 07:00] seeflood opened #67 "Let users run our demo without go environment"
**What would you like to be added**:
- [x] Start Layotto with docker
- [x] develop SDK in different languages.
- [ ] run quickstart with java sdk
- [ ] run quickstart with js sdk

**Why is this needed**:
Currently users have to run our demo with go environment preinstalled

[2021-06-20 11:12] pinxiong opened #68 "Failed to build layotto"
**What happened**:

I tried to run build this project and know how it works, so I downloaded the source code and then followed the quick-start to run the `apollo` demo.

Failed to run the command below:

[code]

#### Error

[code]

**What you expected to happen**:

Hope I can build this project successfully

**How to reproduce it (as minimally and precisely as possible)**:

see above

**Anything e

[2021-06-20 12:43] seeflood commented on #68
Thanks for your feedback,I will try to borrow a Mac with M1 chip tomorrow

[2021-06-20 12:46] seeflood commented on #68
By the way,which version of golang are you using? @pinxiong

[2021-06-20 12:54] pinxiong commented on #68
[code]

[2021-06-21 03:40] seeflood opened #70 "Add design doc"
**What would you like to be added**:
Add design doc
**Why is this needed**:

[2021-06-21 03:55] #70 closed

[2021-06-21 07:28] seeflood commented on #68
@pinxiong Hi, I submitted a pr to fix this issue.Could u try again?

[2021-06-21 08:11] pinxiong commented on #68
Thank you very much! Your PR can fix my issue! (You can close #68)

I have pasted more detailed info for helping other with the same problems before.

+ Pulled the latest PR (change `mosn`'s version from `v0.22.1` to `v0.23.0`)

[code]

+ Run the following command
[code]
the lastest `mosn`downloaded successfully

[code]

+ And then run `./layotto start -c ../../configs/config_apollo.json`
[code]

[2021-06-21 08:30] seeflood commented on #68
Thanks again for your information.
Welcome to MOSN&Layotto Commutiy!

[2021-06-21 08:31] #68 closed

[2021-06-21 09:56] alpha-baby opened #74 "grpc stream invoke"
### Your question

  // SubscribeConfiguration gets configuration from configuration store and subscribe the updates.
  rpc SubscribeConfiguration(stream SubscribeConfigurationRequest) returns (stream SubscribeConfigurationResponse) {}

这种流式调用 对热升级 不友好吧

### Environment

- Layotto Version

### Logs

- Paste the logs you see.

[2021-06-21 11:46] zhenjunMa commented on #74
热升级的时候，连接会迁移，新进程一样可以在这个连接上把配置推送给应用，但问题是目前没有把应用订阅了哪些配置传递给新进程，这就导致新进程虽然拥有跟应用建立的连接，但没有向后端的配置中心重新订阅应用依赖的配置，导致后面就收不到配置变更的通知了，这里需要优化一下。

[2021-06-21 11:51] taoyuanyuan commented on #74
grpc的热升级只能发goaway了，新建连接。 这儿的流式估计是不好处理，如果流一直不断，老连接断了是会有损的哟。只能给每个stream请求设置一个超时了？

[2021-06-21 12:01] alpha-baby commented on #74
我想表达的是 grpc 的【流式调用】它是一个函数阻塞的，无法优雅的停掉

https://github.com/mosn/layotto/blob/main/pkg/grpc/api.go#L298

就算能通过一些手段停掉在老进程的这个goruntine， 然后在新的进程中重建这个goroutine并且拿到和老进程一样 http steam 也是一个问题。
我没想到一个好的方式来热重启这种stream的调用。

[2021-06-22 06:53] wenxuwan commented on #74
这里的gorountine应该是可以通过关闭mosn测的Listerner的accepts来关闭的.
https://github.com/mosn/mosn/blob/35ad451e012b4fde7bf4d9e76756054b34c2c1be/pkg/filter/network/grpc/factory.go#L225

[2021-06-22 07:20] alpha-baby commented on #74
grpc  的gracefulstop 是不能主动关闭这些阻塞的goroutine把，

grpc-go server 的gracefulstop函数在这里：https://github.com/grpc/grpc-go/blob/4faa31f0a5809a5064ee128c9d855c0bedc1c783/server.go#L1752

grpc  的stop 是有损数据的，stop函数在这里：https://github.com/grpc/grpc-go/blob/4faa31f0a5809a5064ee128c9d855c0bedc1c783/server.go#L1706

[2021-06-22 07:46] taoyuanyuan commented on #74
grpc的conn是用的mosn的，listener也是mosn处理，这块 @nejisama 一起看看

[2021-06-22 09:18] alpha-baby opened #77 "[BUG] demo/rpc/http,http requset path error"
[code]

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2021-06-22 09:32] MoonShining commented on #77
can't repreduce. can you provide more info about your environment?

[2021-06-22 09:36] alpha-baby commented on #77
layotto code version: commit id 8bcebb9

[code]
@MoonShining

[2021-06-22 09:49] jxljf opened #79 "gengrate other language pb files"
**What would you like to be added**:
other languane call layotto need user  self gengerate  pb client

**Why is this needed**:
easy to call layotto by other language

[2021-06-23 03:22] nejisama commented on #74
stream 类型的热升级目前好像是有点问题，不过分析了一下，当前grpc对unary模式的热升级支持也是有一点问题的，可以看 [mosn#1694](https://github.com/mosn/mosn/issues/1694)

[2021-06-23 03:36] nejisama commented on #74
另外，按照go grpc client的demo方式[grpc client demo](https://github.com/grpc/grpc-go/blob/master/examples/helloworld/greeter_client/main.go) ，是需要先建一个conn，再去做调用，那么采用goaway的方式的话，在layotto要支持热升级，可能还需要考虑在sdk侧做类似connpool的支持才行？

[2021-06-23 12:11] #77 closed

[2021-06-23 13:03] alpha-baby opened #88 "[BUG] set raw requestID into response"
https://github.com/mosn/layotto/blob/main/components/rpc/invoker/mosn/channel/xchannel.go#L79

这里我们会替换掉原始的 rpc 协议的里面的 requestID，但是在返回响应的时候并没有把原始的requestID给替换回来，所以我认为这里是一个bug。

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

如果想要重现这个bug，可以在layotto 启动完毕后，使用dubbo或者其他的rpc，发送一个请求(reqeustID 为2)，返回会发现dubbo客户端收到的响应的requestID是1，因为这个地方

[2021-06-23 14:36] seeflood opened #90 "You will define L8, v0.1.0 requirement gathering 由你定义L8,需求征集"
## You will define L8, v0.1.0 requirement gathering
Layotto is currently landing inside Alipay, and the future roadmap is still in discussion. We sincerely invite all of you who are interested in service mesh and multi-runtime architecture: What feature do you think should be developed in the v0.1.0 version of Layotto?
You are welcome to put forward your needs and ideas, and you are also welcome t

[2021-06-24 01:33] alpha-baby commented on #90
对象存储API（比如OSS）我觉得还是比较有意义的，我以前也想过支持对象存储的api，作为开发者我以前也困惑过，我会使用例如阿里云的对象存储，但是切换其他云厂商后又要学习一遍。

[2021-06-24 01:47] ujjboy commented on #90
对象存储API +1
服务注册发现API  +1

[2021-06-24 01:53] alpha-baby commented on #74
这个模拟出来的连接，在热迁移的时候好像也会被迁移，有点问题吧
https://github.com/mosn/layotto/blob/main/components/rpc/invoker/mosn/channel/xchannel.go#L38

[2021-06-24 02:32] nobodyiam opened #92 "License needed"
As an open source project, we need to attach a proper license to this project.

Typically this is done by adding a LICENSE file in the root directory and attach the licensen declaration in every files.

I suggest we apply [Apache2](https://www.apache.org/licenses/LICENSE-2.0) to the project.

How do you think?

[2021-06-24 02:43] wenxuwan commented on #88
@alpha-baby 你这边能复现吗？responseId塞到frame里面应该是func (s *xStream) endStream() 里面干的。
![image](https://user-images.githubusercontent.com/11661906/123194388-f8600980-d4d8-11eb-9764-0bcdeff80575.png)

[2021-06-24 02:50] wenxuwan commented on #74
这里的模拟链接你指的是laytto和mosn之间的链接吗？还是说layotto本身的grpc的listener，如果是前者，本身laytto和mosn之间是没有真正的fd的，而是直接调用的mosn的函数，模拟数据传输。本身没fd的话是不会迁移的

[2021-06-24 02:52] MoonShining commented on #88
@alpha-baby 你可能理解错了。 layotto的RPC链路并不是像mosn那样的 dubbo -> mosn -> dubbo ， 而是grpc -> layotto -> dubbo

layotto作为客户端， 只需要设置一个不重复的requestid， mosn会返回和请求相同的requestid

[2021-06-24 03:27] taoyuanyuan commented on #90
集成layotto和istio的demo  +1

[2021-06-24 03:32] MoonShining commented on #90
sql api+1

layotto作为runtime， 如果对现有的标准协议，或者事实上的标准协议提供支持， 可以将很大的复杂度下沉。

比如做db从单库到分片的路由，同时又对应用无感

[2021-06-24 03:35] seeflood commented on #90
集成layotto和istio的demo +1
这个方便我做marketing 去推荐给国外社区哈哈

[2021-06-24 04:23] alpha-baby commented on #88
我稍后看能不能用dubbo复现一下，

[2021-06-24 04:49] wenxuwan commented on #88
像 @MoonShining 说的，layotto是一个grpc - > laytto(负责将grpc传过来的数据包装成对应的dubbo,bolt协议，类似于泛化调用的一个过程)->mosn->dubbo provider的一个过程，app理论上是不会直接传dubbo协议过来的，因此也没有id这个说法的

[2021-06-24 06:14] nejisama commented on #90
动态配置/组件加载的能力吧，这个也是集成istio的基础

[2021-06-24 07:24] zhenjunMa commented on #92
yeah,  Apache2.0 license is really a good choice,  i will add it to our project.

[2021-06-24 07:42] #92 closed

[2021-06-24 13:00] #51 closed

[2021-06-25 02:49] seeflood opened #96 "[Proposal] distributed lock api design"
中文版在下面
# 0. tl;dl
Add TryLock and Unlock API. The Lock Renewal API is controversial and will not be added into the first version

# 1. Evaluation of products on the market
| **System** | **try lock** | **Blocking lock(based on watch)** | **Availability** | **Write operations are linearizable** | **sequencer([chubby's feature](https://static.googleusercontent.com/media/research.google.com/zh-TW//ar

[2021-06-25 02:50] seeflood commented on #96
chinese version of this design doc:
# 1. 调研
| **系统** | **能否实现分布式锁** | **阻塞锁(基于watch)** | **可用性** | **写操作线性一致** | **sequencer([chubby论文里提出的feature]([https://static.googleusercontent.com/media/research.google.com/zh-TW//archive/chubby-osdi06.pdf](https://static.googleusercontent.com/media/research.google.com/zh-TW//archive/chubby-osdi06.pdf)))** | **续租** |
| --- | --- | --- | --- | --- | --- | --- |

[2021-06-25 04:05] wenxuwan opened #98 "[Proposal] OSS api design"
# Dapr现状

dapr现在在bindings里面支持了aliyun OSS的实现，具体实现可以参照[oss](https://github.com/dapr/components-contrib/blob/master/bindings/alicloud/oss/oss.go)。
​

dapr的Binding的分为Input和Out前者就是个类似于sub的能力，收到事件，调用回调函数。后者就是对后端的组件进行一些CRUD操作,如下：
​

[code]
​

[code]

InvokeBinding是一个Unary的rpc调用，这对于OSS这种支持大文件需要流式传输的功能肯定是没法支持的。
​

# 方案

## 方案一：
​

增加InvokeService为stream的rpc调用：
​

[code]
​

先给Dapr提了个Issue来跟踪：
[https://githu

[2021-06-25 04:58] wenxuwan commented on #98
@alpha-baby hi guys， any comments?

[2021-06-25 06:18] alpha-baby commented on #88
其实我想表达的就是这个pr中的意思：https://github.com/mosn/layotto/pull/94，后续有问题在这个pr上讨论

[2021-06-25 06:18] #88 closed

[2021-06-25 06:39] alpha-baby commented on #98
我也认为dapr那个bindings API不是一个很好理解的东西，可能还是我太菜理解不了这么抽象的东西(🐶)。

我认同这个观点，我觉得dapr也很难去推动修改API。

方案2我觉得在oss这种场景中是完全可行的。但是方案2这个API是不是足够通用我就不能给太多建议了（经验不够）

[2021-06-25 06:42] alpha-baby commented on #98
[code]

这样是不是好一点呀

[2021-06-25 06:44] seeflood commented on #98
同意，好像get入参用不到stream

另外传参加下store_name吧？

[2021-06-25 06:57] ujjboy commented on #98
In addition to `put()` and `get()` , there are some methods such as `list()`, `exist()`, `remove()`.

[2021-06-25 06:58] alpha-baby commented on #98
[code]

这几个对象里面的字段看目前的设计是比较少的，估计这里不太行。
需要多调研几个云厂商或者OSS的开源项目，然后给出一个对比的表格什么的。
类似这个issue https://github.com/dapr/dapr/issues/2988

[2021-06-25 06:58] alpha-baby commented on #98
good！！

[2021-06-25 07:03] seeflood commented on #90
@nejisama 现在想集成istio的话，还差哪些功能呀，是只要完成动态配置/组件加载就可以了么

[2021-06-25 07:07] alpha-baby commented on #74
[code]

这个通过net.Pipe生成的connection，确实没有FD，但是在mosn里面并没有做校验这是否是一个真实的连接而不是net.Pipe生产的。而是返回一个error

https://github.com/mosn/mosn/blob/master/pkg/network/transfer.go#L227

[2021-06-25 07:12] alpha-baby commented on #90
动态配置/组件加载的能力，我理解就是dapr项目中的Operator程序的功能

[2021-06-25 07:23] seeflood commented on #79
Thanks for your feedback!
In the first version,the sdk can be as simple as possible,which might only have some pb files

[2021-06-25 07:46] MentosL commented on #79
There are PB files in other languages for reference ？ I'm interested in it

[2021-06-25 07:46] taoyuanyuan commented on #74
grpc支持不了连接迁移，直接走gracefulstop就行了，这儿应该没有问题。

[2021-06-25 07:49] nejisama commented on #90
是的，dapr中的operator就是一个旁路的动态插拔能力，目前layotto 应该还没有支持动态配置的能力，然后就是有了动态能力以后怎么触发的问题，也不一定就是要基于operator的做法 @seeflood

[2021-06-25 07:51] taoyuanyuan commented on #74
https://github.com/mosn/mosn/blob/35ad451e012b4fde7bf4d9e76756054b34c2c1be/pkg/network/connection.go#L1020
直接设置false就行了，可以在 https://github.com/mosn/mosn/issues/1694 这个issue统一处理掉

[2021-06-25 07:53] wenxuwan commented on #98
Yes, it's a mistake, but for PutFile interface, i think empty is ok.

[2021-06-25 08:19] alpha-baby commented on #79
### appcalback.proto file, wo can add java option

[code]

### runtime.proto file, wo can add java option

[code]

[2021-06-25 08:23] wenxuwan commented on #98
I think we can follow asw s3 [protocol:](https://docs.aws.amazon.com/AmazonS3/latest/userguide/Welcome.html)

The Common operations in the protocol as below:

Create a bucket – Create and name your own bucket in which to store your objects.

Write an object – Store data by creating or overwriting an object. When you write an object, you specify a unique key in the namespace of your bucket. This is

[2021-06-25 08:36] seeflood commented on #79
@MentosL

the proto files is under "/spec/proto/runtime/v1/" directory,see:
https://github.com/mosn/layotto/blob/main/spec/proto/runtime/v1/runtime.proto
https://github.com/mosn/layotto/blob/main/spec/proto/runtime/v1/appcallback.proto

there are already pb files in golang:
https://github.com/mosn/layotto/blob/main/spec/proto/runtime/v1/runtime.pb.go
https://github.com/mosn/layotto/blob/main/spec/

[2021-06-25 08:40] seeflood commented on #79
@MentosL
So can I assign this feature to you?

[2021-06-25 08:59] MentosL commented on #79
Yes, I'll do my best

[2021-06-25 09:05] seeflood commented on #79
Cool.Feel free to ask for help,and welcome to the community!

[2021-06-26 03:39] carolove opened #99 "在layotto的invoker channel是否可以直接将xframe在mosn downstream.go的OnReceive函数开始调用"
现行的layotto 调用mosn的机制是通过一个net.pipe将layotto的数据塞入mosn的layer 4网络层，
这样带来的好处是高度的和mosn集成，但是同样带来一些问题，最主要的问题是，需要带来额外的损耗，包括编解码以及网络
我觉得应该可以这么设计
1、在layotto的invoker channel开发一个direct channel
2、这个direct channel初始化的时候，不再建立mosn的layer 4 connection，而是直接初始化一个对应的proxy以及一个downstream stream
3、在Do invoker的时候，将layotto的数据req构建成xframe以后通过onReceiveStream.OnReceive(OnReceiveCtx, xreq.eq.GetHeader(), xreq.GetData(), nil)的方式写入

[2021-06-26 14:36] wenxuwan commented on #99
首先net.pipe是不需要经过l4的，所以layotto和mosn之间是没有损耗的。但就像你说的为什么塞到的是mosn的L4 OnAccept， 是因为mosn在L4对流量进行了很多的处理，很难把这个逻辑再移动到layotto里面，所以就直接通过pipe让mosn感知不到下游，layotto把数据包拼好后通过pipe(非L4)交给mosn处理。

[2021-06-28 06:11] nobodyiam commented on #96
Do we use the `client_id` to indicate the lock owner? What would happen if different applications pass the same `client_id`?

[2021-06-28 06:32] seeflood commented on #96
@nobodyiam yes,we use the `client_id` to indicate the lock owner.

case 1. If two apps with different `app-id` pass the same `client_id`,they won't conflict because `client_id` is grouped by 'app-id ',while 'app-id' is configurated in sidecar's static config(configurated in config.json or passed as parameters at startup)

case 2.If two apps with same `app-id` pass the same `client_id`,they will co

[2021-06-28 06:39] seeflood commented on #96
Again,this design assumes that every lock belongs to an 'app-id',like the configuration API.
But I do know that in some legacy systems,different apps with different 'app-id' use same redis to share same lock.
Although the scenarios exist,the use case is dangerous and not reasonable.So we won't take these scenarios into consideration currently.

[2021-06-28 06:56] nobodyiam commented on #96
Is it better to use the name `lock_owner` instead of `client_id`?

[2021-06-28 07:08] seeflood commented on #96
Ok,I will change it to `lock_owner` if you guys think the name `client_id` is weird.
By the way,the `client_id` (or `lock_owner`) is  per request,not per process,so it is different for each request,which aims to prevent multi-thread in the process want the same lock concurrently.
I will add these conversation as comment in the proto file.

[2021-06-28 09:01] zhenjunMa commented on #99
@carolove  我看到了 @alpha-baby 的性能测试报告，正如 @wenxuwan 说的，当时考虑到如果使用`onReceiveStream.OnReceive`这种方式，可能会丢失一些在`OnAccept `中设置的上下文信息导致后续处理不可预测的问题，后面我们会定位的一下影响性能的原因，如果这里影响较大，那还是会考虑使用你说的方案来优化

[2021-06-28 09:48] alpha-baby commented on #99
如果方便，可以给个对比报告出来

[2021-06-30 03:42] seeflood commented on #96
Hi guys,I submit a pull request to implement this API.

There are some changes:

1. change 'client_id' to 'lock_owner'
2. The 'lock_owner' in TryLockRequest is not optional again.User must generate it themselves (or our sdk will generate a uuid automatically)
3. remove 'client_id' in TryLockResponse

I put the reason in the comment:

[code]

[2021-07-01 07:48] seeflood opened #101 "Should Layotto support SQL queries and how? Layotto是否应该支持SQL查询，如何支持？"
## Should Layotto support SQL queries and how?
The current state API is essentially a key/value model API and does not support SQL query.

So should L8 support sql query? We open this issue to see your opinions

### User scenario:
1. DB sharding: If users have done mysql sharding, the application needs routing when querying mysql.It is necessary for apps to import a data middleware SDK(such as sha

[2021-07-01 07:52] seeflood commented on #101
pros:
1. A single sidecar serve as service mesh+db mesh+runtime.Easy to operate

cons:
1. Complex to implement

[2021-07-01 11:22] nobodyiam commented on #101
I think it's meaninful to support sql statements, however sql is complex, e.g. transaction support. Also there are minor syntax differences between different databases, which means it might be hard to change from one database to another.

[2021-07-01 11:35] wenxuwan commented on #101
attach some discussion:

https://github.com/dapr/dapr/issues/3339
https://github.com/dapr/dapr/issues/1339

[2021-07-02 03:17] carolove commented on #99
那等着你们的优化报告，这个issue先关闭了

[2021-07-02 03:17] #99 closed

[2021-07-02 03:55] seeflood opened #104 "Add more components for distributed lock API"
**What would you like to be added**:

Add more components for distributed lock API.
Choose an open source component or cloud service (such as zookeeper) you like to implement distributed lock API
References:pull request  #100

  - [x] redis standalone
done
  - [x] redis cluster (with redlock) . see https://github.com/mosn/layotto/pull/284
  - [x] zookeeper
assigned.see #111
  - [x] etcd
assigned.s

[2021-07-02 06:15] seeflood opened #105 "Add unit tests for WASM related code; 为wasm模块补充单测"
**What would you like to be added**:
Add unit tests for WASM related code:
understand the implementation of the wasm module and add unit tests for it. The unit test coverage of the module should reach 60%.
If you encounter any problems in the process, you can ask @zhenjunMa  for help.
The code path is pkg/wasm/

By doing this improvement,you will learn that how Layotto supports multilingual progra

[2021-07-02 06:35] seeflood opened #106 "Add unit tests for RPC related code"
**What would you like to be added**:
Understand the implementation of the rpc module and add unit tests for it, so that the test coverage of the module reaches 80%
You can ask @MoonShining for help if you encounter any problems in the process.
The code path is in components/rpc
In addition, there are rpc related codes in pkg/grpc/api.go and pkg/runtime/runtime.go files

Reference materials:[rpc de

[2021-07-02 06:40] seeflood opened #107 "Add integration test cases"
**What would you like to be added**:
Add integration test cases for a certain type of API. Choose one type of API (such as state API, pubsub API) to add integration test cases for it.
Currently only the wasm module has integrated test cases, you can refer to the wasm configuration in the Makefile.
In theory, there is no need to develop additional code. We can just run the demo program in the Makef

[2021-07-02 07:06] seeflood opened #108 "Community tasks 新手任务计划"
## Community tasks
As a programming enthusiast , have you ever felt that you want to participate in the development of an open source project, but don't know where to start?
In order to help everyone better participate in open source projects, the MOSN community will regularly publish community tasks to help everyone learn by doing!

### Layotto
Tasks of different difficulty are released:
#### Eas

[2021-07-02 07:20] seeflood commented on #108
I will add some integration test first

[2021-07-02 12:43] tianjipeng commented on #108
I want to add unit tests for rpc related code, please assign to me

[2021-07-02 12:59] seeflood commented on #108
Cool.
Feel free to ask for help, and welcome to the community!
If you find github conversation inconvenient to communicate,we can chat on dingtalk (in chinese,haha)
Our dingtalk group is 31912621

[2021-07-02 13:02] seeflood commented on #106
@tianjipeng Hi,you can reply here
It seems a github rule that I can't assign it to you until you reply here

[2021-07-02 13:10] tianjipeng commented on #106
Ok，please assign to me

[2021-07-02 13:22] seeflood commented on #106
Ok, already assigned.

[2021-07-02 13:26] oneyue610 commented on #108
I just learned about the relevant knowledge, I hope to complete task three.

[2021-07-02 13:34] oneyue610 commented on #108
Hello, I am interested in adding unit tests for WASM related code. Could you please let me try to do it?

[2021-07-02 13:48] seeflood commented on #108
Welcome!
You can reply the issue  #105 so that I can assign it to you.
If you encounter any problems,feel free to ask for help in github conversation or dingtalk.
Webassembly is a cool new tech.I like it too :)

[2021-07-02 13:51] seeflood commented on #105
For your reference:
[quickstart demo for using WASM](https://github.com/mosn/layotto/blob/main/docs/en/start/wasm/start.md)
or
[quickstart demo for using WASM(中文)](https://github.com/mosn/layotto/blob/main/docs/zh/start/wasm/start.md)

[2021-07-02 14:18] oneyue610 commented on #105
OK

[2021-07-02 14:37] seeflood commented on #105
Ok,already assigned.

[2021-07-02 14:55] ZLBer commented on #104
用zk实现分布式锁-我的设计方案:  要保证 trylock(expire)语义正确性 ，即在expire时间内自动实现解锁，自己删除zk 的节点的
话，且不会因为client的异常导致节点一直存在，只能用zk的临时节点。临时节点和zkclient的生命周期是绑定在一起的，且zk的临时节点不支持设置超时时间，只能自己保持zkclient的存活，所以我想到了下面两种方式：
![image](https://user-images.githubusercontent.com/20033804/124292738-7df25200-db88-11eb-9fc9-dc5ac46457c6.png)

[2021-07-02 15:22] seeflood commented on #104
@ZLBer
优秀！
第一个方案需要开一个新协程、执行延迟任务（在xx秒后删除临时节点）
go语言实现延迟任务很简单，用time.After生成一个channel就行，比如https://studygolang.com/articles/20640

第二个方案很有意思，可以抛出来大家讨论下、修改API

[2021-07-03 17:27] tianjipeng opened #112 "add comment to exported function/method/interface/variable"
**What would you like to be added**:
Add comment to exported function/method/interface/variable.

**Why is this needed**:
There are many exported function/method/interface/variable that have no comment, it would be helpful if have comment.

[2021-07-04 04:53] seeflood commented on #112
Thanks for your feedback!
Lack of comments makes developers' experience very bad  :<
We will assign different tasks and ask the developers to add comments to their code.
By the way,which part of code currently annoys you the most? We can add comments to that part first

[2021-07-04 04:58] seeflood commented on #112
- [ ] add comments to RPC related code @MoonShining
- [ ] add comments to pubsub related code @seeflood
- [ ] add comments to lock related code @seeflood
- [ ] add comments to state API related code @seeflood
- [ ] add comments to actuator related code @seeflood
- [ ] add comments to tcpdump related code @seeflood
- [ ] add comments to WASM related code @zhenjunMa
- [ ] add comments to flow-contro

[2021-07-04 09:17] tianjipeng opened #113 "transport protocol dubbo FromFrame stack overflow"
**What happened**:
when write unit test to dubbo FromFrame, stack overflow happened:
[code]

unit test code like this:
[code]

**What you expected to happen**:
stack overflow not happen，maybe it should change ``d.FromFrame`` to ``d.fromFrame.FromFrame``:
[code]

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2021-07-04 10:02] tianjipeng opened #114 "return error when mosnInvoker.Invoke panic"
**What happened**:
mosnInvoker.Invoke return nil if panic

**What you expected to happen**:
return error to indicate panic

[code]

[2021-07-04 12:07] seeflood commented on #113
Thanks for your feedback!

[2021-07-04 12:16] tianjipeng commented on #113
@seeflood Can I fix this in rpc unit test pr?

[2021-07-04 13:09] seeflood commented on #113
Sure!
execellent!

[2021-07-04 13:45] ZLBer commented on #104
@seeflood  next i want to implement lock by consul, let me try !

[2021-07-04 13:49] seeflood commented on #104
Sure!
I was moved by your passion  👍

[2021-07-05 02:07] MoonShining commented on #114
do you have time subbmit a PR？

[2021-07-05 02:24] tianjipeng commented on #114
@MoonShining Let me submit a pr

[2021-07-05 06:02] seeflood commented on #101
https://github.com/dapr/dapr/issues/3354

[2021-07-06 02:15] #106 closed

[2021-07-07 02:07] #114 closed

[2021-07-07 14:21] #113 closed

[2021-07-08 08:29] stulzq commented on #108
I want to impl etcd lock, please assign to me

[2021-07-08 08:40] seeflood opened #127 "Use Etcd to implement Distributed Lock API"
**What would you like to be added**:
Use Etcd to implement Distributed Lock API

**Why is this needed**:
see #104

[2021-07-08 08:41] seeflood commented on #108
@stulzq
Cool! I added a issue #127. You can reply there and then we can assign it to you

[2021-07-08 08:52] stulzq commented on #127
想了一下设计的几个点，目前的 api 比较简单 TryLock UnLock  还有个 expire 机制，
以下的 k 表示 ResourceId，v 表示 LockOwner
expire: 使用租约机制（不续约，如果租约到期表示超时释放锁）
TryLock:  首先创建租约，然后使用 etcd clientv3 txn，compare key revision=0, then put k/v and lease, else get key. txn commit 成功则表示抢到锁
UnLock: 同样使用 txn, compare v=req.LockOwner, then del key ,else get key, txn commit 成功表示删除锁成功，如果失败可以根据 txn responsee 来得到是什么原因 LOCK_UNEXIST or LOCK_BELONG_TO

[2021-07-08 10:43] seeflood commented on #127
感谢您对Layotto的支持，已assign！
etcd支持服务端到时间自动删除节点，这点比zookeeper方便多了(zookeeper的ttl node特性默认是关闭的，我和@ZLBer 同学纠结了好长时间） :(

[2021-07-09 02:28] tianjipeng commented on #7
@seeflood Can I help with anything?

[2021-07-09 02:53] seeflood commented on #7
Wow,thanks for your support!
This issue is pending, because the new version of configuration API is under discussion.
Besides this,layotto has many things to do:
- add integration test;
- add document on how to use layotto(currently we only have some quickstart demo,but that's not enough);
......

And I'm preparing for new community tasks this week:
- add node sdk
- add python sdk
- add c/c++ sdk

[2021-07-09 03:21] seeflood opened #129 "Use Consul to implement Distributed Lock API"
**What would you like to be added**:
Use Consul to implement Distributed Lock API

**Why is this needed**:
see #104

[2021-07-09 03:21] seeflood commented on #129
@ZLBer hi,please reply here and then i can assign it to you

[2021-07-09 03:41] seeflood commented on #108
New tasks added

[2021-07-09 06:25] tianjipeng commented on #7
Let me add integration test first. Is there anything I should pay attention to?

[2021-07-09 06:28] seeflood opened #130 "Add .net sdk"
**What would you like to be added**:

Add .net sdk

go-sdk: https://github.com/mosn/layotto/tree/main/sdk/go-sdk
java-sdk: https://github.com/mosn/layotto/tree/main/sdk/java-sdk

**Why is this needed**:

[2021-07-09 06:29] seeflood commented on #130
@stulzq Hi,please reply here so that i can assign it to u

[2021-07-09 06:32] seeflood commented on #7
Cool,I will assign u
因为在高铁上信号不好，晚点告诉你细节

[2021-07-09 07:29] ZLBer commented on #129
@seeflood
fine, i  will try .

[2021-07-09 10:20] stulzq commented on #130
@seeflood ok
![image](https://user-images.githubusercontent.com/13200155/125063635-4c2a3f80-e0e2-11eb-8816-b0dc5d4189b6.png)

[2021-07-09 16:58] seeflood commented on #130
Thanks!
![image](https://user-images.githubusercontent.com/26001097/125112609-fd989780-e119-11eb-92dc-a665e1533b9e.png)

[2021-07-12 03:01] #127 closed

[2021-07-14 08:06] seeflood commented on #105
@oneyue610 Hi, are you still working on it?

[2021-07-14 09:38] seeflood commented on #7
@tianjipeng
抱歉等这么久才回，因为我在研究该咋加集成测试，目前看来有点麻烦，得在github action的workflow中部署多个docker镜像，包含我们依赖的所有组件（redis,etcd,zookeeper等）然后再运行各种demo、判断有没有报错。

我怕你不熟悉项目，搞这个会很难上手，要不我来搞这个，你看下有没有其他感兴趣的任务？

我在 #108  又加了一些任务，包括：
- 测试类：为runtime/runtime.go和grpc/api.go添加单元测试。这两个文件是layotto的核心引擎代码，各自负责组件生命周期管理（启动、注册、初始化）和grpc请求处理，完成此任务可以很好的了解Layotto架构
- 文档类：为各类API新增接口文档、新增sdk使用文档（我最近肝了很多文档感觉还是不够……）

[2021-07-14 15:44] tianjipeng commented on #7
我先来搞一下这两个文件的单测，后面再来看看怎么完善文档

[2021-07-14 15:46] seeflood commented on #7
感激！！比心ღ( ´･ᴗ･` )

[2021-07-14 15:52] seeflood opened #138 "Add unit tests for runtime/runtime.go and grpc/api.go"
**What would you like to be added**:
Add unit tests for runtime/runtime.go and grpc/api.go.
These two files are the core engine code of Layotto, responsible for component lifecycle management and grpc request processing respectively.

chinese:
为runtime/runtime.go和grpc/api.go添加单元测试。这两个文件是layotto的核心引擎代码，各自负责组件生命周期管理（启动、注册、初始化）和grpc请求处理，完成此任务可以很好的了解Layotto架构

**Why is this needed**:
Currently our tes

[2021-07-14 15:53] seeflood commented on #138
Assigned to @tianjipeng
Thanks for your passion!

[2021-07-14 16:00] tianjipeng commented on #138
OK

[2021-07-15 01:56] wenxuwan commented on #98
Add CRUD operation for file(OSS), If users want to customize their own operations, they can consider putting it in binding later.

[2021-07-15 04:56] seeflood opened #139 "[Proposal]Sequencer API design"
Add a distributed sequencer API to generate a global unique id,like [Leaf](https://github.com/Meituan-Dianping/Leaf)

English explanation will be added later

# Sequencer API设计文档
本文档讨论"生成分布式唯一(自增)id"的API

## 1. 需求
### 1.1. 生成全局唯一id

Q: 什么时候需要生成全局唯一id?

A: db不帮你自动生成的时候。比如：
- db做了分库分表，没帮你自动生成id，你又需要一个全局唯一的业务id
- 没走db，比如请求到了后端要生成一个traceId

### 1.2. 对该id有递增的需求。具体来说有很多种：
- 不需要递增。这种情况UUID能解决，虽然缺点是比较长。**

[2021-07-15 16:26] ZLBer commented on #129
@seeflood
关于consul实现的探讨：
1. consul api封装了lock 接口, 可以实现阻塞锁，对session不断renew续约达到持续持有锁的目的，功能比较丰富，可以设置重试次数，获取锁等待时间等。但sidecar情形下，client断开，lock在sidecar端还会不断进性renew，导致锁不能释放。
2. 抛弃lock实现，利用session+acquire+release实现(consul lock内部也是如此), 每次trylock 都新建session，令session ttl=expire time,  不对session进性renew，只让其存活ttl时间，保证锁的正确性。

[2021-07-16 08:47] stulzq commented on #139
layotto 做的就是去连接这些生成id的服务，然后返回给用户，不会直接内置算法是这个意思吗

[2021-07-16 08:54] seeflood commented on #139
是的,Layotto runtime层就是提供个统一的api、连接这些生成id的服务

每个生成id的服务可以作为一个Layotto组件，比如Leaf snowflake可以实现个Leaf snowflake组件、集成到Layotto进程里。这个组件内部实现可能就是调Leaf server的http端口

[2021-07-16 08:55] seeflood commented on #139
不过Layotto runtime层要做一些号段缓存的逻辑，类似Leaf segment，比如先申请100个id，用完50个后再申请50个，免得频繁调用后端存储

[2021-07-16 09:53] stulzq commented on #139
了解

[2021-07-16 14:37] ZLBer commented on #129
@seeflood
遇到了点问题：
1.acquire和release操作要求必须是同一个session，那就没法每次lock都新建一个session了。
2. 想着直接用put 操作，但consul的put会直接更新kv,  没有类似setnx的操作。

[2021-07-17 00:21] seeflood commented on #129
"client断开，lock在sidecar端还会不断进性renew，导致锁不能释放。"
目前的API是tryLock传expire，其实sidecar起个新协程、expire到期后关闭session即可，不至于出现死锁。
但是这个方案和zk面临一样的问题：如果用户申请的是一把“粗粒度锁”，expire传的比较大，相比之下consul的session ttl很短，那可能sidecar心跳很快就断掉、丢锁，但是app还以为自己持有锁

方案2对粗粒度锁稍微好一些（前提是调研清楚，consul对session ttl传入的值有没有限制，会不会限制不让传太大）

[2021-07-17 00:24] seeflood commented on #129
这个在内存里维护一个session池即可（说白了就是个map)抢锁成功后往map里放session.key是resource_id和owner_id信息,value是session。需要注意并发控制，需要注意session过期后能自动删除map，免得内存泄漏

这个要查一下了 我搜下 你也可以先查下文档

[2021-07-17 00:29] seeflood commented on #129
@ZLBer 我查了下consul有check-and-set能力，看下这个能用不
https://alesnosek.com/blog/2017/07/25/check-and-set-operation-and-transactions-in-consul/

[2021-07-17 03:25] ZLBer commented on #129
@seeflood
consul的session ttl到期不会自动删除key，所以CAS这个貌似也会存在问题，client崩溃没法删除节点。session ttl 到期只会使lock失效，那还得借助consul的lock机制(acquire和release)。

[2021-07-20 12:28] seeflood opened #143 "[bug]the configuration item `keyPrefix` conflicts in etcd lock component"
**What happened**:
There is a configuration item named `keyPrefix` in etcd lock component,and it conflicts with the common configuration item of distributed lock components which is also called `keyPrefix`.
![image](https://user-images.githubusercontent.com/26001097/126323260-142f3088-c4b3-44a4-b6e7-c982a064b055.png)

![image](https://user-images.githubusercontent.com/26001097/126324015-53022de4-f

[2021-07-20 15:26] #143 closed

[2021-07-22 03:51] seeflood opened #146 "[Proposal]新增API时的开发规范"
写了下API开发规范，发出来看下大家意见：

# 新增API时的开发规范
感谢您对Layotto的支持！

本文档描述了如何设计并实现新的Layotto API。Layotto用Go语言编写，如果您对Go语言不熟悉可以看下[Go教程](https://tour.golang.org/welcome/1) 。

在开发新API的时候，可以参考已有的其他API的代码、文档，这会让开发简单很多。

**Q: 为啥要制定该规范？**

A: 目前缺少使用文档，用户不好用，例如：
![img_1](https://user-images.githubusercontent.com/26001097/126587695-c126087f-47c9-45af-8f49-c7e3b90d4289.png)
![img_2](https://user-images.githubusercontent.com

[2021-07-22 04:24] seeflood commented on #146
English version will be added soon

[2021-07-23 05:15] ZLBer commented on #108
I  want to add  java client base on protobuf , assign to me？

[2021-07-23 05:59] seeflood commented on #108
Ok, I will assign it to you!
@MoonShining is developing a rpc method for java client, I think you can add any other features for java sdk

[2021-07-23 06:04] seeflood opened #148 "Add more features for java sdk"
**What would you like to be added**:
Add more sdk api into java sdk
(currently there are only protobuf files,but some users ask us to add more feature in sdk)

**Why is this needed**:

[2021-07-23 06:05] seeflood commented on #148
@ZLBer Hi,you can reply here so that i can assign it to u
@MoonShining is developing a rpc method for java client, I think you can add any other features for java sdk

[2021-07-23 06:56] seeflood commented on #67
![image](https://user-images.githubusercontent.com/26001097/126747224-d5d2dabf-16f1-4f54-aba6-1eefcc224c2f.png)

[2021-07-23 07:32] seeflood commented on #139
已提交PR;

做了一些修改：
![image](https://user-images.githubusercontent.com/26001097/126750648-11f55db2-68e4-4a5f-804f-7120e32e14eb.png)

[2021-07-23 07:47] #139 closed

[2021-07-23 08:01] seeflood commented on #108
New tasks added:
- Add sequencer API components(e.g. zookeeper,leaf)
- Implement the segment caching feature of Sequencer API

[2021-07-23 08:16] stulzq commented on #108
Sequencer API impl:  mongo & Leaf, pls assign to me

[2021-07-23 08:53] seeflood opened #149 "Sequencer API impl: mongo & Leaf"
**What would you like to be added**:
Add Sequencer API component:
- [ ] mongo . assigned to @LXPWing
- [ ] Leaf
See #108

You can refer to the [sequencer API design document](https://mosn.io/layotto/#/zh/design/sequencer/design)

**Why is this needed**:

[2021-07-23 08:54] seeflood commented on #108
Cool!

[2021-07-23 08:54] seeflood commented on #149
This task will be assigned to @stulzq

[2021-07-23 08:58] ZLBer commented on #108
Sequencer API impl: zk & standalone redis, pls assign to me

[2021-07-23 09:07] stulzq commented on #149
ok
![image](https://user-images.githubusercontent.com/13200155/126760848-cae7fe04-2848-4cda-b957-0de1070abb5e.png)

[2021-07-23 09:09] seeflood commented on #148
刚问了下 @MoonShining ，他没在写client，只是发现Java client里面的proto文件没生成全，所以他开发内部需求的时候重新生成了一下~
@ZLBer 如果决定开发java client的话，可以重新编译生成下proto，毕竟自上次更新后有新的API~

[2021-07-23 09:11] seeflood commented on #149
ok
![](https://user-images.githubusercontent.com/13200155/126760848-cae7fe04-2848-4cda-b957-0de1070abb5e.png)

[2021-07-23 09:11] seeflood commented on #108
Cool!

[2021-07-23 09:12] seeflood opened #150 "Sequencer API impl: zk & standalone redis"
**What would you like to be added**:
Add Sequencer API component: zk & standalone redis
See #108

**Why is this needed**:

[2021-07-23 09:12] seeflood commented on #150
This task will be assigned to @ZLBer
![](https://user-images.githubusercontent.com/13200155/126760848-cae7fe04-2848-4cda-b957-0de1070abb5e.png)

[2021-07-24 03:08] ZLBer commented on #148
ok 的

[2021-07-27 03:31] #146 closed

[2021-07-27 03:40] seeflood opened #154 "[Proposal]Isolation and code reuse of components"
**Problems to solve**:
1. Key conflicts. For example, if the user's state, lock, and sequencer APIs all use redis, then the keys may conflict
2. Code redundancy. For example,state, lock, and sequencer APIs have redis component,and same code of redis client are copied three times

**How to solve them**:
1. Key isolation. Make changes at the runtime layer, such as automatically prefixing the key wit

[2021-07-28 13:49] ZLBer commented on #108
segment caching can assign to me , pls

[2021-07-28 14:57] seeflood commented on #108
Ok. ZLBer is so good!

[2021-07-28 15:06] seeflood opened #158 "Implement the segment caching feature of Sequencer API"
**What would you like to be added**:
Implement the segment caching feature of Sequencer API
You can refer to Leaf to do double buffer optimization
The function to be implemented is at https://github.com/mosn/layotto/blob/main/pkg/runtime/sequencer/cache.go

The design doc(in chinese) is at https://mosn.io/layotto/#/zh/design/sequencer/design

**Why is this needed**:

[2021-07-28 15:07] seeflood commented on #158
This task will be assigned to @ZLBer

[2021-07-29 07:37] seeflood opened #159 "add more features for go sdk"
**What would you like to be added**:
Add more features for go sdk. Add those sdk API in Dapr go-sdk

**Why is this needed**:

We want users can migrate easily from Layotto to Dapr,or from Dapr to Layotto,so the sdk should be compatible

[2021-07-30 02:42] #159 closed

[2021-07-30 02:50] #154 closed

[2021-07-30 07:04] seeflood commented on #108
Added some engineering related tasks:
  - Automatically generate API documents: use some tools to automatically generate API documents based on proto files. Refer to [the document automatically generated by Etcd](https://etcd.io/docs/v3.5/dev-guide/api_reference_v3/)
  - Automated code review in ci/cd pipeline, including:
    no Chinese in the code;
    and other necessary checks
  - Automated bui

[2021-07-31 08:20] ZLBer commented on #158
建议给sequencer增加是否支持segment的方法，现在GetSegment方法功能不够单一, 在写catch的时候发现有时候只想查看sequencer是否支持segment,并不想直接申请一段。

[2021-07-31 08:39] seeflood commented on #158
@ZLBer 本来考虑过加个isSupportCache()  后来改成GetSegment了
GetSegment也能解决你说的问题呀，只想取号、不想判断的话，size传0，GetSegment(0)

[2021-07-31 09:36] ZLBer commented on #158
这样啊 怪怪的

[2021-07-31 09:53] seeflood commented on #158
是有点
其实我原来第一版就写的一个单独的判断函数（叫supportSegement还是啥来着忘了）
后来和其他人讨论，别人觉得没必要单独加一个函数，我看了下Dapr state组件的BulkGet 设计风格也是往返回结果里加个support，就改成这样了。当时觉得这种其实是个人喜好问题，没啥对与错，既然Dapr之前是这风格那就保持一致吧，就改了
或者你也可以把你的想法写下，我们下周讨论下

[2021-07-31 10:00] seeflood commented on #158
现在实现的话可以先写GetSegment(0) 后面真要改成supportSegment也简单

[2021-07-31 10:42] ZLBer commented on #158
fine

[2021-08-05 03:37] #150 closed

[2021-08-05 08:41] seeflood commented on #138
@tianjipeng  Hi, are you still working on it?

[2021-08-05 11:25] seeflood commented on #105
@oneyue610 Hi,are you still working on it?
Since you didn't response,I will reassign this task to someone else :<
If you still want to do this,just tell me and i will assign to u again

[2021-08-05 14:47] tianjipeng commented on #138
I wiil commit a pr this weekend

[2021-08-05 14:51] seeflood commented on #138
Fine.If you find some code or module difficult to understand,just tell me and I will add comments and document for that module first.

[2021-08-06 02:33] seeflood opened #165 ".wasm module hot reload"
**What would you like to be added**:
Let Layotto monitor whether the .wasm file has changed, and reload the .wasm file if there is a change.
Achieve the effect of dynamically replacing .wasm at runtime

**Why is this needed**:
In order to implement subsequent functions:
1. FaaS based on wasm
2. Let developers change from developing sdk to developing wasm in the future, so that they can operate and

[2021-08-06 02:38] seeflood opened #166 "[Proposal]Dynamic mecha:Let business logic sink to sidecar"
# Dynamic mecha: Let business logic sink to sidecar
This is a feature discussion thread. I put it here to see if everyone thinks this feature is worth doing.

The motivation for this feature is that the multi-tenant system that I was responsible for has always had the pain point of lack of isolation. So I am wondering whether it can be solved through the wasm in Layotto.

## 1. What problem to sol

[2021-08-06 03:12] seeflood commented on #108
New tasks added:

- Easy
  - #105 reopen
  - Add some translation tasks

- Medium
  - .wasm file hot reload.  see #165

[2021-08-06 06:25] seeflood opened #167 "Community Governance Proposal"
# 前言
Layotto刚刚发布了第一个版本，社区各位同学做出了很多贡献。为了回报大家的努力，最好的方式就是把社区越做越大（毕竟大家都希望自己写的代码对世界产生更大的影响力，而不仅仅是一两个公司的自high项目)

那么怎么才能把社区做大呢？其中一件能做的事情就是制定好的社区规则。个人理解，好的社区规则要足够透明、开放，允许每个感兴趣的人加入、提建议、参与决策；好的社区规则要让大家能看到投入后的回报，回报有很多种，例如学到感兴趣的知识，实践感兴趣的技术，获得更酷的荣誉 title，获得社区影响力，自己写的代码跑在很多公司的机器上从而获得成就感，成为社区的决策者，获得求职时的亮眼项目履历，参与社区活动获得奖品IDE License……

Layotto 是 MOSN 社区的项目，而 SOFAStack 社区和 MOSN 社区之前用的都是同一套组织架构（如果我理解的不对请指正哈），针对过去的一

[2021-08-06 06:26] seeflood commented on #167
English version will be added soon

[2021-08-06 08:18] seeflood commented on #167
记录下钉群里的讨论：

这次设计的目的：
1. 激励活跃贡献者，有个比contributor更酷的title
2. 决策社区化，code review可以由活跃贡献者来，不想只有一两个人有review权限
3. 调动SOFAStack社区各个项目owner积极性，让大家觉得是为了个人爱好/个人荣誉而贡献社区
4. 让社区参与者能看到“确定性回报”，就比如tidb“一年提交8个pr就能晋升active contributor”。
逻辑是：国内程序员时间有限，最好能有个明确的规则、让大家看到“我牺牲业余时间做这些事，做完我就能得到确定性的回报”，如果规则比较模糊、晋升commiter的规则外人看不到，有经验的人可能就要在心里算笔账：值不值得牺牲业余时间写这个项目的代码？

反对观点：
1. 社区没tidb那么多，怕拆太细了人不够、尴尬

另一种思路：
不新增角色了，还是从contributor

[2021-08-06 12:08] seeflood commented on #166
# Dynamic mecha:让业务逻辑也能下沉到sidecar
这是一个需求讨论帖，发出来看看大家觉得这件事值不值得做。
起因是我之前负责的一个多租户系统一直有缺少隔离性的痛点，做Layotto的时候就在想能否通过Layotto内的wasm解决这种痛点

## 1. 解决什么问题，价值是什么
### 1.1. any sdk as sidecar.

业务系统也有自己的sdk，也会有推动升级难、版本碎片的问题：

![image](https://user-images.githubusercontent.com/26001097/128447319-e939ab03-87f8-4321-925c-d33ea6aa9d38.png)

比如某中台系统以jar包形式开发了sdk，供上层业务系统使用。他们的feature不算全公司通用，因此没法说服中间件团队、开发到公司统一的sidecar

[2021-08-06 13:30] seeflood commented on #167
记录下一位不愿透露姓名的优秀开发者的意见：
1. 同意反对观点，人少没必要；觉得头衔无所谓，skywalking的那种证书更酷
2. 担心自己review不动别人代码
3. 我们的证书不好看
（我去问问现在改证书还来得及么

[2021-08-10 09:38] #138 closed

[2021-08-11 03:58] #79 closed

[2021-08-11 04:17] seeflood opened #170 "Add feature list doc"
**What would you like to be added**:
A document listing all our features.

**Why is this needed**:
Easy for users to get started.

[2021-08-11 04:21] seeflood opened #171 "Add high level design doc"

[2021-08-11 04:21] seeflood opened #172 "Add RPC usage document"

[2021-08-11 06:05] seeflood opened #173 "Coordinator API design,and how to extend State API"
# Coordinator API design,and how to extend State API
## 0. Requirement analysis
### 0.1. What is it,why design it?
Let users easily migrate between different coordinator services,e.g. zookeeper,etcd,consul.

### 0.2. Analysis on existing coordinator services
#### Failure detector is important
We can say that a coordinator service is actually a db with CRUD+Watch+Ephemeral key+Consistency guarantee

[2021-08-11 08:11] seeflood commented on #173
Some actions:
1. We need to add some label for experimental APIs, e.g. alpha beta stable
2. Submit these new API to Dapr community and wait for feedback
3. Implement these experimental APIs and publish new tasks

[2021-08-11 11:41] #165 closed

[2021-08-12 09:56] zhenjunMa opened #176 "New feature: load multi wasm instance"
### 1. What would you like to be added

Now Layotto only supports loading a single *.wasm file. We need to make it support adding multiple different *.wasm files at the same time. This feature should also consider when Layotto receives the request, which wasm instance should be forwarded to.

### 2. Why is this needed

This is a problem that Layotto must solve as a solution to FaaS. The expected F

[2021-08-13 06:53] seeflood opened #178 "Layotto Dockerfile"
In order to help users deploy Layotto with Docker, we want to provide a Docker image.
Considering that the configuration files in the Docker image are hard-coded, and users may extend their own configuration files and their own images, we can provide some basic Dockerfiles. When users want to extend image, they just write `FROM xxx`.

Specifically, we need to prepare several Dockerfiles:

- A basi

[2021-08-13 06:53] seeflood commented on #178
chinese:
## Layotto Docker镜像
为了方便用户能够用Docker部署Layotto，我们想提供Docker镜像。
考虑到Docker镜像里的配置文件都是写死的、用户可能会扩展自己的配置文件、自己的镜像，因此我们可以提供一些基础的Dockerfile，用户扩展的时候，写From xxx即可。

具体来说，需要准备几个Dockerfile：

- 一个基础Dockerfile
- 一个进行扩展的示例Docerfile，即From 基础Dockerfile，改配置做扩展

注：目前已有的Dockerfile在`build/contrib/builder/image`目录下，都是用于quickstart演示，里面写死了比如启动etcd，没有通用的基础镜像

[2021-08-13 07:32] seeflood commented on #108
New tasks added:
- Medium
  - Provide Layotto Dockerfile,so that users can deploy Layotto with Docker. See #178
- Hard
  - Support loading multiple wasm files,so that Layotto can serve as FaaS container. See #176

[2021-08-13 08:26] zu1k commented on #176
有个疑问，对于如下配置文件，其中前两个wasm文件返回相同ID，被划分为一组。

此ID对应的组中共有3个wasm实例，其中1个实例属于第一个wasm文件，2个实例属于第二个wasm文件，在进行wasm路由的时候是平等对待吗？

或者说我的疑问是同一个ID对应多个wasm文件，如果不同wasm文件实现的功能不同，该如何进行路由

[code]

[2021-08-13 08:34] seeflood commented on #167
记录一位优秀贡献者的意见（终于有人支持这个方案了：
![image](https://user-images.githubusercontent.com/26001097/129328907-8c77017f-38f0-48bd-9dc2-dce65b61f5bd.png)

[2021-08-13 08:51] zhenjunMa commented on #176
@zu1k 这个问题非常好，涉及到实际生产使用，首先来明确一下场景：

1. 如果两个wasm文件完全不相关，但却因为对应同一个ID而被归为一组，类似于现在微服务架构下，两个完全不同的业务方发布了一个同名服务，这种势必会造成服务调用混乱，需要一些其他手段来保证，这类问题可以先不考虑。

2. 另一种场景或许更为普遍，比如用户发布了一个v1.0的wasm文件并且已经在运行了，之后用户做了一些更新发布了v2.0的wasm文件，接下来就涉及到如何把一个组中的wasm实例从v1.0全部升级到v2.0，在理想情况下，我们应该有一个灰度过程，比如让layotto先针对v2.0创建一个实例，然后把1%的流量导入到这个实例进行验证，验证通过之后再进行逐步全量升级。

layotto + wasm在FaaS方向上的探索会是一个长时间的投入，因此我建议我们可以先从简单的功能开始，然后再逐步迭代达到生产可用状态

[2021-08-13 09:19] zu1k commented on #176
看起来layotto需要使用mosn提供的`RegisterStream`方法来注册一个`StreamFilterFactoryCreator `

[code]

而`StreamFilterFactoryCreator`接受的config类型为`map[string]interface{}`

[code]

而对于我们的配置，我们需要类型为`[]map[string]interface{}`：

[code]

就目前而言应该有几个解决方案：

1. 对mosn下手，修改其stream filter的结构（感觉太break了，不太现实）
2. layotto注册多个steam filter，不清楚这样搞的话路由和调度该怎么做
3. 我们的config格式修改为如下，真实使用的时候忽略`config id`即可：

[code]

[2021-08-13 09:38] zhenjunMa commented on #176
@zu1k 我刚才看了下代码，确实不能直接把config改成数组形式，这里可以按照你提出的第三种方案来做。

[2021-08-13 10:58] zu1k commented on #176
读了一下代码，发现目前对于wasm多instance的调度是交由mosn来管理的，LB策略是轮询。

[code]

目前layotto能做的应该是多个wasm文件对应相同ID的情况，在同ID对应的Group中对选择的wasm文件进行调度。

至于同一个wasm文件对应的多个instances还是交给mosn来做吧

[2021-08-13 14:02] zu1k commented on #176
Any ideas about exporting `func ID() string` ?

[2021-08-14 09:15] RayneHwang opened #183 "[Proposal] Add metadata for TopicEventRequest"
**What would you like to be added**:

Add an optional metadata map to TopicEventRequest message to pass some extra properties during message delivery.

[code]

**Why is this needed**:

In some messaging systems, existing TopicEventRequest message lacks a flexible field to pass some extra properties.

[2021-08-14 09:37] seeflood commented on #183
Oh, you work at weekend again :)
Maybe we should submit this proposal to Dapr community first?

[2021-08-16 02:59] zhenjunMa commented on #176
@zu1k

关于ID这个问题，我看了你的pr，是导出了一个变量，我本来想的是导出一个函数，其实跟变量类似，就是在函数上面增加`// export ID`注释就行了，其他你在pr里面提出的其他疑惑，我会尽快review并回复，感谢你对社区的贡献。

[2021-08-16 03:12] zu1k commented on #176
现在导出的这个变量用不了，实际编译的时候并没有导出貌似。

我也想直接导出函数，一开始尝试的是导出函数，遇到了困难。

因为wasi接口的数据类型不支持string，看样子只能导出int32类型的指针，并且golang的string是封装过的，一般需要通过`C.CString`转为`* C.char`，也就是c的string的指针。实际操作中发现tinygo编译的时候说导入C库失败？具体原因不清楚。

并且如果返回`*char`指针的话需要遍历到`0x00`结束，会不会有安全问题？

[2021-08-16 04:00] zhenjunMa commented on #176
不好意思，这块是我的问题，之前忽略了不支持`string`类型这个问题，确实跟你说的一样，我们需要通过指针及长度来传递`string`，具体的操作其实可以参考之前实现的`proxy_call_foreign_function`如何传递目标函数名，示例代码如下：

源码路径`github.com/tetratelabs/proxy-wasm-go-sdk/proxywasm`

[code]
在layotto侧可以通过如下方式把指针转换成`string`

源码路径：`mosn.io/proxy-wasm-go-host/proxywasm`
[code]

[2021-08-16 04:31] zu1k commented on #176
wasm的ID方法返回只能一个参数，没办法同时传递字符串指针和长度两个变量，我不太理解你这里表达的意思

[2021-08-16 06:26] zu1k commented on #176
[code]

现有的代码中有这类方法，因为之前是单一wasm plugin，所以没有筛选条件。

现在一个filter包含多个wasm plugin，看样子是导出给wasm调用的方法，如何判断caller是哪个wasm？

还有一个疑问，RootContextID和ContextID是什么含义，我没找到相关注释说明

[2021-08-16 07:32] seeflood commented on #167
参考上述意见，做了些修改：

## Draft 2
![image](https://user-images.githubusercontent.com/26001097/129526593-d68939e1-7465-4f39-8629-9d39837210e2.png)

1. 去掉了Active Contribuotor；
2. 保留Reviewer，但是该角色可选，各项目可以按自己项目的情况决定是否加入该角色；
Reviewer具有 Review PR 的义务，并且对某个项目/模块的 PR 的点赞（LGTM）有效。Review贡献也算在晋升commiter的考虑之内。
添加这个角色的目的：
- 希望能让MOSN和SOFAStack社区响应速度更快一些（提升活跃度）
- 决策社区化，code review可以由活跃贡献者来，不想只有一两个人有review权限

欢迎各位继续提意见！

[2021-08-16 08:54] seeflood commented on #167
记录另一位优秀贡献者的意见：
![image](https://user-images.githubusercontent.com/26001097/129537707-f05d5984-6b65-4f58-b443-6960ddc7ad3d.png)

[2021-08-16 09:31] seeflood commented on #167
记录一位高情商的优秀贡献者观点：证书好看！
![image](https://user-images.githubusercontent.com/26001097/129541941-b43c1ea4-c4a8-44c1-ab8f-c4f601d79a48.png)

关于证书：
![image](https://user-images.githubusercontent.com/26001097/129542318-cb1b4fa3-bcc6-4d68-b8f6-9d48d5c265fd.png)

[2021-08-16 10:43] Xunzhuo commented on #167
其实在Contributor之上可以加一层Member的title，活跃的Member可以成为Reviewer，具体来说：
如何成为Member，这个在初期不能门槛太高，比如提交过PR被merge了，或者有价值的issue的，就可以邀请GitHub id 到社区成为member，成为member之后，他的职责是code review以及处理issue，如果发现member处理issue和code review的频率很高，比如连续一个月，每周至少处理过3个issue或1个PR，就可以成为Reviewer；
成为Reviewer之后，职责相比member要更明确，就是处理issue和PR，而且必须保持每周至少处理3个issue或1个PR，如果连续一个月，有两周处理的频率没有达到标准，会回退到Member；
而Commitor我个人人为，晋升规则可以有两条，一个是连续6个月的reviewer处理

[2021-08-16 12:38] seeflood commented on #167
@Xunzhuo 感谢建议！！
1. 关于Member:我觉得加入Member角色这个点子很棒，因为让贡献者可以在github profile显示组织logo（如果我没理解错的话），很cooooool
2. 关于Member晋升Reviewer :因为社区目前人不多，我本来想着来了就是朋友、哪位Contributor想当Reviewer的话直接就能当,但是按你的思路其实member也要负责处理issue和code review，那么Member和Reviewer核心区别是啥？看起来好像没啥区别，两个角色都是负责处理issue和code review

[2021-08-16 12:41] seeflood commented on #167
@stulzq @zu1k @tianjipeng @ZLBer @zhenjunMa @TreeLin @taoyuanyuan @nobodyiam @JervyShi
手动艾特一下，各位老师看下上述建议如何~

[2021-08-16 14:48] Xunzhuo commented on #167
@seeflood
1. 是的，这算是 basic recognized；
2. member里面有活跃的，也有不活跃的，有喜欢code review 也有不喜欢的，并不能保证快速的响应，如果有人能保持高活跃度，那就可以给他reviewer的title，如果能保持长时间的code review 这会是成为commitor的一条途径，也就是成为reviewer就有活跃度的要求，有更多的职责了，这样能保证社区快速响应，带给reviewer的是更深入对项目源码的剖析，以及晋升commitor的机会，毕竟对源码更深入也应该是commitor的基本要求，也是commitor具有merge权限的前提。

[2021-08-16 22:55] zu1k commented on #176
@zhenjunMa

[2021-08-17 00:58] zhenjunMa commented on #176
之前写的代码有段时间没动了，有点生疏，下午又重新看了下，简单讨论下：

一、ID传递问题

这块确实比预期要繁琐一点，大致流程可能要改成如下逻辑：
1. layotto调用wasm导出的`ID`函数
2. wasm中`ID`函数的实现逻辑是把ID写会给layotto，这里要借助`rawhostcall.ProxySetBufferBytes`
3. LayottoHandler中应该要实现`GetFuncCallData`函数定义，返回一个自定有byte[]数组，这样上述ID就会写到这个数组中了

二、vmConfig跟pluginConfig

我看你说的Filter里面的这两个函数应该是没有用到，真正用到的是在`FilterConfigFactory.OnPluginStart`，目的是把每个实例对应的配置回调给它们，在我们的场景里可以先认为同一个ID对应的所有实例配置都是相同的。我看

[2021-08-17 04:13] zu1k commented on #176
@zhenjunMa `rawhostcall.ProxySetBufferBytes` 返回not found，不知道什么原因，没找到相关文档说明这个方法。
麻烦看一下最新的提交

[2021-08-17 09:51] byene0923 commented on #108
Hi, Sequencer API related:  snowflake algorithm (need to avoid clock rollback problems)
could  this  refer https://github.com/baidu/uid-generator?
uid-generator can avoid clock rollback problems but it depends on db
if can be done, we just need to implement the go version  uid-generator

[2021-08-17 11:32] keleqnma commented on #108
为RPC API添加接口文档.See https://mosn.io/layotto/#/en/api_reference/rpc/reference, assign to me , pls

[2021-08-17 11:42] seeflood commented on #108
@byene0923 I haven't used that library before,but I think any existing system which is suitable for id generation can be integrated  as a component.So welcome to implement it as a component !

Yep,but I am worried that will there be too much work to do? Will the workload be too great? I am not familiar with this library

[2021-08-17 11:46] seeflood opened #185 "Add document for RPC API."
**What would you like to be added**:
Add document for RPC API.See https://mosn.io/layotto/#/en/api_reference/rpc/reference

You can refer to [how to contribute documents(chinese)](https://mosn.io/layotto/#/zh/development/contributing-doc)
About the explanation for RPC API,actually we can refer to [Dapr's document](https://docs.dapr.io/developing-applications/building-blocks/service-invocation/serv

[2021-08-17 11:48] seeflood commented on #108
Cool!
Thanks for your passion and welcome to the Layotto community!
I opened a new issue https://github.com/mosn/layotto/issues/185   ,you can reply there so that I can assign it to you.

[2021-08-17 11:49] seeflood commented on #185
This task will be assigned to @keleqnma

[2021-08-17 12:40] Xunzhuo commented on #105
@assign

[2021-08-17 13:04] Xunzhuo opened #187 "fix: incorrect md syntax"
**What happened**:

In https://mosn.io/layotto/#/zh/design/lock/lock-api-design, md gets incorrect syntax:

![image](https://user-images.githubusercontent.com/48784001/129730466-0e228446-d501-4899-9f18-650e94e148a3.png)

**Anything else we need to know?**:

[2021-08-17 13:13] #187 closed

[2021-08-17 22:04] zhenjunMa commented on #176
@zu1k
仔细读了你的代码，这个任务远比我想象的要复杂，不过我看你提交的代码应该很快就能完成这个任务了，只是有部分细节理解的有偏差，我们一起讨论一下。

这里主要对整体逻辑进行说明，更多的评论我会留在你的PR里面 🍺。

`FilterConfigFactory`在启动时就会执行，因此wasm实例初始化逻辑会放在这里。`Filter`则是Layotto收到请求时实时为每个请求创建并用于处理请求，其中包括后续处理这个请求时跟wasm实例的各种交互逻辑。

列几个当前实现存在问题的地方：

1. 关于路由表`Router`的构建，不应该放在`Filter`里面，而应该放在`FilterConfigFactory`中，因为整个路由信息在初始化阶段就可以确定，不需要针对每个请求重复创建，具体逻辑可以考虑放在`OnPluginStart`中

2. 关于路由表`Router`的内容，应该是id:p

[2021-08-18 06:37] seeflood commented on #167
感谢@Xunzhuo的建议，参考 @Xunzhuo 和其他同学的意见，我试着做了修改：

## Draft 3
![image](https://user-images.githubusercontent.com/26001097/129829768-86e5c687-4337-4607-9017-7582d8e65ddb.png)
### 1. Member
#### 角色说明
新增Member角色，其实就是邀请加入组织。
当然，考虑到过往一些项目是只有Committer才能拉组织，该角色可选、不强制要求，各项目可以按自己项目的情况决定是否加入该角色。
目前的想法是先在Layotto和SOFA-Registry试验加入该角色。
但：Layotto的组织目前用的是MOSN，所以其实加入Layotto组织，就是加入MOSN

#### 添加这个角色的目的?
加入组织后，贡献者的github

[2021-08-18 11:54] seeflood commented on #166
补充一种场景，最近有遇到用户需求想在Sidecar逻辑里做一些扩展，比如RPC路由逻辑想要做一些定制
按当前架构，用户想扩展的话，需要sidecar通过grpc allback回调，如果钩子少还好，钩子多的话这种方式不scale，不可行。
但是这种需求可以通过WASM做扩展

### 1.3. Layotto Extension
![image](https://user-images.githubusercontent.com/26001097/129891461-864132e8-0c2f-4c0d-9189-19ce9d7edc1e.png)
Sidecar监听.wasm变更、加载进内存，runtime可以在任意地方预留扩展点，app用户需要hook做定制逻辑的时候，只需要按照SPI实现.wasm服务

## 2. 总体架构
综合上述场景，我们可以将内部架构设计成：
![image]

[2021-08-18 14:55] kevinten10 opened #188 "Make java-sdk as a independent project"
Do we consider `java-sdk` as a independent project,

Just like [dapr-java-sdk](https://github.com/dapr/java-sdk) did.

[2021-08-18 14:59] kevinten10 commented on #188
Java is an important user, so a project with good readability and maintainability is necessary.

Now it is directly generated through `proto`, I cannot read and change the code well.....

The [dapr-java-sdk](https://github.com/dapr/java-sdk) is very easy to understand and maintain.

[2021-08-19 02:08] seeflood commented on #188
Thanks for your feedback!
We have always want to build an easy-to-use java-sdk,and @ZLBer is working on it,see https://github.com/mosn/layotto/issues/148
Recently he is too busy to do it,are you interested in working with him together to build this sdk?  :>

Regarding independent project,we plan to upload the jar package to maven central repo,and I think that's enough for developers to use?

[2021-08-19 02:51] kevinten10 commented on #188
I am happy to help.

I have studied all the codes of dapr's java-sdk.
I am currently doing an SDK implementation based on dapr's java-sdk. For details, please refer to [[Discussion] Dapr api for SDK model](https://github.com/dapr/dapr/issues/3261)

If layotto needs java-sdk, I am very willing to participate.

[2021-08-19 02:56] kevinten10 commented on #188
Thanks for your reply, let me know the ideas of the community!

I think...
It is feasible to provide a jar package for using.
But the benefit of independent project is that it is easier to develop and collaborate,
and attract more people to join in.

[2021-08-19 07:44] seeflood commented on #188
Cool!
1. I read through your post on "api for sdk",are u still working on it? It's a solution for legacy systems to progressively migrate from in-process sdk to sidecar architecture,but the drawbacks that yaron mentioned are indeed unsolvable.
So I think maybe you don't need to build it for all languages, only a java version "api for sdk" is enough? The benefit is to serve Spring  based legacy mic

[2021-08-19 08:00] seeflood commented on #188
Regarding the repo:
Actually the idea to start a independent repo for java-sdk has been discussed several times since we start Layotto project.
Currently we didn't do it because Layotto was just launched and a single repo is good for marketing(with higher 'star' and 'contributors' statistics).Finally we will migrate it to a single repo.
Welcome to work together with us to develop the java-sdk,and

[2021-08-19 08:21] kevinten10 commented on #188
So I think maybe you don't need to build it for all languages, only a java version "api for sdk" is enough? The benefit is to serve Spring based legacy microservices only.
And there is no need to implement any components in this "api for sdk", it's just an abstract layer like slf4j. Developers integrate their existing sdk with this layer themselves. Maybe we can call it "slf4j for runtime" or "run

[2021-08-19 08:26] kevinten10 commented on #188
@ZLBer Can I delete your unimplemented interface and merge the other code?So that we can work based on your contribution now

So how can I participate in the construction of `java-sdk`.

For example, like the following:

Direct refer to [dapr-java-sdk](https://github.com/mosn/layotto/tree/main/sdk/go-sdk) and [layotto-go-sdk](https://github.com/dapr/java-sdk),
Then submit the changes to the [layot

[2021-08-19 08:47] ZLBer commented on #188
Yes, of course you can.

[2021-08-19 09:10] seeflood opened #189 "Deploy Layotto on Kubernetes"
**What would you like to be added**:
Dapr has an [easy-to-use solution](https://docs.dapr.io/operations/hosting/kubernetes/kubernetes-overview/) to deploy it on Kubernetes,and we also need a solution for Layotto.
In order to implement it,maybe we need these things:
- a Dockerfile and image,see #178
- yaml file
- demo and document
- coding to make it easy to integrate with k8s? I'm not sure if it i

[2021-08-19 09:20] seeflood commented on #108
New task added:
- Hard
  - Deploy Layotto on Kubernetes. see #189

[2021-08-19 10:01] seeflood commented on #188
Sounds cool! I'm curious how you implement these APIs in java sdk? Since they are grpc API and defined by proto files,how you define grpc API in java?

Wait a minute, Layotto config API is experimental and might be refactored in the future. It's a long story. We are working with Dapr to design config API, and the definition is still in discussion. After the design proposal be approved by community

[2021-08-19 10:17] seeflood commented on #188
Yep,you can refer to dapr-java-sdk and layotto-go-sdk.
Actually we can reuse dapr-java-sdk in some ways,I copied some code from dapr-go-sdk to Layotto-go-sdk and added some declaration that these code attribute to Dapr project ,see https://github.com/mosn/layotto/blob/main/sdk/go-sdk/client/state.go
Maybe we can import dapr-java-sdk and using some grpc interceptors to change the grpc method name.T

[2021-08-20 03:04] kevinten10 commented on #188
Hi, let me talk about my thoughts and hope to share:

Although several projects (dapr/layotto/capa) all claim to use a unified API definition, they actually play their own, such as [dapr-proto](https://github.com/dapr/go-sdk/tree/main/dapr/proto/runtime/v1) and [layotto-proto](https://github.com/mosn/layotto/tree/main/spec/proto/runtime/v1) are independent implementations ( Although it is written

[2021-08-20 03:17] kevinten10 commented on #188
HAHA, you can understand that I copied the code of [dapr-java-sdk](https://github.com/dapr/java-sdk), and then modified the underlying implementation inside, (call dapr-sidecar in the sdk -> modified to call different middleware SDKs)

After the design proposal be approved by community,we will refactor layotto config API.
(Although in Alipay we have already used config api in the production enviro

[2021-08-20 08:12] #176 closed

[2021-08-20 09:20] keleqnma commented on #185
assign to me pls

[2021-08-20 17:17] tianjipeng commented on #189
Pls assign to me，I will wotk it out on September.

[2021-08-20 17:18] tianjipeng commented on #178
Pls assign to me😃

[2021-08-21 00:27] seeflood commented on #178
Fine,tks for your contribution!

[2021-08-21 00:28] seeflood commented on #189
ok

[2021-08-21 09:41] #148 closed

[2021-08-21 11:03] seeflood commented on #188
@kevinten10 I really like your idea. But currently I don't know how to generate language specifc API (not grpc API) from proto files. Give me some time to understand your reactive-streams-jvm example.

Is `capa` your personal project or Ctrip's project? If an influential company like Ctrip wants to do this,then the idea that we jointly launch the "xxxx Manifesto" with dapr is more feasible and eas

[2021-08-21 11:09] seeflood commented on #188
Personally I was thinking about another idea recently. I want to launch a project to integrate Spring Cloud(or SOFA boot) project with existing sidecar like envoy,mosn,dapr and layotto. If we have such a java API, it will be much more vendor neutral

By the way, I just merged the java sdk pr #153 .We can work on java sdk based on @ZLBer 's contribution now

[2021-08-23 03:13] zhenjunMa opened #191 "New Feature: dynamic load wasm file"
### 1. What would you like to be added

Currently Layotto only supports static loading `*.wasm` files, that means which `*.wasm` files to be loaded must be written in the configuration file at the beginning. Take the `demo/wasm/config.json` configuration file as an example , The following configuration means that Layotto needs to load `wasm_1_1.wasm`, `wasm_1_2.wasm`, `wasm_2.wasm`.

[code]

### 2

[2021-08-23 06:30] zhenjunMa opened #192 "New Feature: WASM Function access cache through state API"
### 1. What would you like to be added

A Function that truly satisfies the business requirements will inevitably rely on some basic capabilities, such as RPC, Cache, etc. The logic inside Layotto currently demonstrates how to call SayHello API through `CallForeignFunction` in the wasm demo provided in Layotto. Now we need to make our demo more convincing, so we need to call the State API through

[2021-08-23 11:02] keleqnma commented on #108
I want to implement the snowflake algorithm, assign to me pls

[2021-08-23 11:11] seeflood opened #193 "[GLCC] Implement Sequencer API with snowflake algorithm"
**What would you like to be added**:
Implement Sequencer API with snowflake algorithm.
We need to be careful to avoid clock rollback problems.

Reference:
- [Sequencer API design doc(in chinese) ](https://mosn.io/layotto/#/zh/design/sequencer/design)
- Existing implementation. You can refer to https://github.com/baidu/uid-generator or  https://github.com/Meituan-Dianping/Leaf . These existing snow

[2021-08-23 11:20] seeflood commented on #108
@keleqnma Thanks for your passion!
I add a new issue https://github.com/mosn/layotto/issues/193
You can reply there so that I can assign to you.
If you are not confident about how to implement it,you can write your design before coding

[2021-08-23 12:12] keleqnma commented on #193
assign to me pls, thanks for your replys and tips

[2021-08-25 08:42] kevinten10 commented on #188
I'm also thinking about how to make a unified API recently.

`capa` is currently incubating. It has a project in Ctrip, but it has not been completed yet, so we have to wait for it to be used before we can say that Ctrip is using it...

I have already started working on `java-sdk`, maybe I can develop and submit on a separate branch, so that other `java-sdk` developers can see the updates in time?

[2021-08-25 13:20] seeflood commented on #188
Haha,I get it.So we need to build api specifications and products with community influence before we can attract users.

 It's ok to submit pull request directly to the `main` branch if you think some features are completed

[2021-08-25 14:10] kevinten10 opened #194 "Decompose core-API and enhanced-API."
Now all API definitions are together, like [client](https://github.com/mosn/layotto/blob/main/sdk/go-sdk/client/client.go).

Do we need to decompose it? Otherwise, with more and more APIs, this `client` will expand more, but in fact, many APIs not core.

If we want to push the API into a unified standard, but in many cases, everyone will add some of their own unique implementations. At this time,

[2021-08-29 13:53] kevinten10 commented on #188
I consulted dapr about the progress of the standard API in the https://github.com/dapr/dapr/issues/2817

I don’t seem to see much progress so far. Regarding the standard API, I wrote a sample [cloud-runtimes-jvm](https://github.com/reactivegroup/cloud-runtimes-jvm) I might publish it on _maven_ first

I think the subsequent `java-sdk` can be developed based on directly referencing similar API defi

[2021-08-30 07:45] seeflood commented on #188
@kevinten10
1.  关于做这件事的价值、是否做这件事：我仔细想了下，如果定义一套类似于slf4j的java api spec，最大的问题是：java微服务生态已经被spring 垄断了，spring的编程界面（各种注解）已经是事实意义上的java api spec了，这意味着我们其实是在另起炉灶做同样的事情。比如spring cloud有一个注解，spring-cloud-alibaba、spring-cloud-netflix纷纷来实现它，那么这个注解已经是事实意义上的java api spec。
所以这可能不是个技术问题。是否值得做这件事，做了这件事后咋推广？即使我们定了一套interface，spring cloud的用户最终不会面向我们的interface编程，而是面向spring cloud的编程模型编程，我们只是个对用户透明的中间层，失去了定interface的意义

[2021-08-30 07:57] kevinten10 commented on #188
Hi, Thanks for sharing your thoughts!

1. Yes, I also want to hear the voice of the community. But interface may still need to be defined, but the follow-up work may be to adapt it to spring annotations

2. At present, [cloud-runtimes-jvm](https://github.com/reactivegroup/cloud-runtimes-jvm) is just a sample attempt, mainly keep in sync with `dapr`

3. Yes, implementing a sample on `layotto` is cu

[2021-09-01 03:19] seeflood opened #197 "Reduce the risk of panic"
**What would you like to be added**:
Layotto(open source version) will be imported and deployed in the production environment.
Thanks to golang's weird design,a panic in a third-party library will bring down the whole process, which means a panic bug can bring down the whole cluster.
Since that, we must reduce the risk of `panic` before deploying Layotto in the production environment.

Tasks inclu

[2021-09-01 03:48] seeflood opened #198 "Java sdk integrates with Spring Boot(and SOFA Boot)"
**What would you like to be added**:
Java sdk integrates with Spring Boot(and SOFA Boot).
Tasks included:
- [ ] Define some annotations as "annotation spec",so that developers can do annotation-oriented programming and switch different runtime implementation( e.g. Layotto,Dapr,[Capa](https://github.com/reactivegroup/capa) ) without changing their code.
- [ ] improve java sdk
- [ ] Add a spring boo

[2021-09-01 03:57] seeflood opened #199 "Add stale bot"
**What would you like to be added**:
Add stale bot to automatically close stale issues

**Why is this needed**:

[2021-09-01 05:02] seeflood opened #200 "Layotto API plugin"
# Hierarchical API design
## 1. 需求分析
### 1.1. 解决什么问题
解决扩展性问题。不管是Dapr还是开源Layotto的API，目前都无法完全满足生产需求。

回看操作系统领域POSIX API和system call的发展历史，我们可以学到很多，借此预测Runtime的未来。我们可以说，Runtime API将来也不可能完全满足用户需求。想想OS领域，即使有POSIX API了，一些场景还是需要绕开标准API、用特殊指令操作特殊硬件。

Dapr的扩展性是通过Binding API解决，但是这种非结构化的API有很多问题（比如破坏可移植性、不支持stream等语义）

### 1.2. 用户场景和需求
举例来说，有以下用户场景：
1. 公司有自己的定制API需求，因为是非通用需求、不适合做到开源Layotto/Dapr上，于是公司的中间件团队想自己

[2021-09-01 05:14] #185 closed

[2021-09-01 06:06] seeflood commented on #108
New tasks added:
- Easy
  - Reduce the risk of panic. Add `recover` for all codes that create new goroutines. See #197

[2021-09-01 07:40] seeflood opened #201 "Add a actuator metrics API"
**What would you like to be added**:
Layotto actuator API is designed as a collection of features to help users monitor and manage their applications during runtime,like health checking,metadata query and metrics query.
However,there is already a metrics api in MOSN,which means Layotto users have to configurate TWO http api in the configuration file: one for Layotto actuator API and one for MOSN m

[2021-09-03 09:17] arcosx commented on #197
I am happy to do this work, can you assign this issue to me?

[2021-09-03 09:38] seeflood commented on #197
Cool !
Welcome to the Layotto community

[2021-09-03 11:15] x-shadow-man commented on #197
I'm very excited to do this work, pls assign this issue to me! thx a lot

[2021-09-03 11:38] seeflood commented on #197
Ah,sorry that I just assigned this issue to @arcosx
@x-shadow-man Would you like to choose another task in the task list #108
Any unmarked task in the list is unassigned and needs help
Thanks for your passion !

[2021-09-03 11:55] x-shadow-man commented on #108
hi，i wanna translate, pls assign me, thx a lot.

 将文档贡献指南翻译成英文
 将组件开发指南翻译成英文
 将新增API时的开发规范翻译成英文

[2021-09-03 12:18] wangyanghack commented on #201
hi, I want to have a try.

[2021-09-03 13:18] seeflood opened #202 "Translate chinese documents into english"
**What would you like to be added**:

Translate these chinese documents into english:
将文档贡献指南翻译成英文
将组件开发指南翻译成英文
将新增API时的开发规范翻译成英文

**Why is this needed**:
Make Layotto an international project :)

[2021-09-03 13:19] seeflood commented on #108
@x-shadow-man  OK,I add a new issue #202  You can reply there and then we can assign it to you
Welcome to the Layotto community!

[2021-09-03 13:26] seeflood commented on #201
@wangyanghack Cool !
Since this is a relatively common feature, we recommend that you briefly write the design before coding, such as what the api path is, what is the returned data structure, and how to implement it. So as to avoid rework.
Welcome to the Layotto community!

鉴于这是一个比较通用的功能，我们建议在编码之前先简单写一下设计、发出来大家讨论下，比如api的路径是啥、返回的数据结构是啥，大概如何实现等等。这样避免写完了代码后返工哈

[2021-09-03 14:03] seeflood commented on #202
This issue will be assigned to @x-shadow-man
Thks for your contribution!

[2021-09-03 14:21] x-shadow-man commented on #202
thx, i'll do it!

[2021-09-03 14:24] wangyanghack commented on #201
Yes, it is necessary to design and have a talk before coding.

[2021-09-04 06:53] tianjipeng commented on #178
@seeflood 看了layotto的dockerfile，想着改成下面这样子会不会更好一点：
1. 编写单纯只包含layotto的dockerfile，去掉supervisor、etcd等，同时将二进制文件的构建也放到dockerfile，而不是通过copy
2. 支持通过环境变量指定配置文件，其他人可以通过步骤1构建的基础镜像编写新的dockerfile
3. quick start 提供单独的运行脚本，etcd可作为依赖的组件通过运行脚本启动起来，类似dapr init

[2021-09-04 08:22] seeflood commented on #178
2.支持通过环境变量指定配置文件，其他人可以通过步骤1构建的基础镜像编写新的dockerfile

好呀好呀

不好意思我之前回微信的时候没细想，这里单独的运行脚本是指？是说写个shell脚本，把quickstart用到的所有存储系统（redis、etcd等）的镜像下载下来、启动么？
那么用户跑quickstart的操作路径是：
1. 初始化，运行这个脚本（类似于敲`dapr init`)，就会把quickstart用到的所有存储系统（redis、etcd等）的镜像下载下来、启动
2. 按照quickstart文档的说明，启动Layotto
3. 跑demo

是这样对吧？这里我担心每次运行这个脚本，会不会有端口冲突

[2021-09-04 10:06] seeflood commented on #167
Hi guys, according to above discussion ,I submit a PR #203 to announce our community roles,promotion rules and initial PMC member list
Welcome to give your advice or different opinions!
Meanwhile,if you are interested to join in as special roles like Member, Reviewer or Committer, please contact me

[2021-09-04 13:22] Xunzhuo commented on #167
Hi @seeflood, I am interested in the membership of member or reviewer, would you like to sponsor me?

[2021-09-04 16:03] tianjipeng commented on #178
我重新看了quick start的文档，发现都是手动启动依赖，手动构建二进制执行文件再启动的，那这个第三个改动实际上可以先不需要？

[2021-09-05 06:27] seeflood commented on #178
@tianjipeng  对，第三条以后再说，反正用户跑quickstart的时候自己启动个etcd也没有多麻烦  :)

[2021-09-07 02:55] seeflood opened #205 "Add tracing"
**What would you like to be added**:

As one of the infrastructure in large scale clusters,Layotto should be observable and have monitoring and tracing capabilites.
Features like actuator and metrics API #201  can be used for monitoring, and now it's time to consider how to add tracing.
Since Layotto reuse many Dapr components,the log format in Dapr components is different from Layotto runtime's a

[2021-09-08 07:05] seeflood opened #206 "Java sdk design"
# Java sdk design
## 1. Java API spec
Layotto API是想设计一套中立的grpc/http API spec，如果搞一层自己的sdk API，那用户其实还是被Layotto绑定了。
如果能有一套中立的java API，更利于用户使用、移植，更便于推广。 见讨论https://github.com/mosn/layotto/issues/188
### 1.1. 调研：能否复用业界已有的事实标准
如果我们自己定义一套类似于slf4j的java api spec，最大的问题是：java微服务生态已经被spring 垄断了，spring的编程界面（各种注解）已经是事实意义上的java api spec了，这意味着我们其实是在另起炉灶做同样的事情。
比如spring cloud有一个注解，spring-cloud-alibaba、spring-cloud

[2021-09-09 03:13] #202 closed

[2021-09-12 17:02] arcosx commented on #197
Sorry for my late submission🤣, I submitted a PR #208  regarding the first solution point: `replace all code which starts a new goroutine......`.

One question, should my changes involve the directories `demo`,`sdk`, and `_test.go` ?
The reason for this is that I noticed that `demo`,`sdk` does not contain `mosn.io/pkg/utils/`, would it be redundant to introduce it, and would `_test.go` not actually

[2021-09-13 01:14] #172 closed

[2021-09-13 04:12] seeflood commented on #197
@arcosx Thanks for your contribution!
I think `sdk` package also need `recover`,while `demo` and `_test.go` don't. If panic happens during testing ,then let it crash and we can easily find out the bugs.
There is no need to introduce `mosn.io/pkg/utils/` into `sdk` .We can write a new `GoWithRecover` in `sdk` or just copy the existing `mosn.io/pkg/utils/goroutine.go` into the `sdk` package

[2021-09-16 15:05] kevinten10 commented on #206
在client端我们是否只提供gRPC的实现呢，还需要考虑HTTP吗？

[2021-09-17 03:42] seeflood commented on #108
New tasks added:
- Easy
  - Add comment to exported function/method/interface/variable (such as RPC/distributed lock modules), see add comment to exported function/method/interface/variable #112

- Hard
  - Let Layotto support secret API.
Layotto's goal is to build a Runtime API standard with Dapr and other communities (promote Dapr API as an industry standard, and Layotto as an implementation of

[2021-09-17 04:05] seeflood commented on #206
Layotto现在只支持grpc，但是有位同事在开发支持http的功能（通过网关，把http请求转成grpc协议）
所以现在sdk只支持grpc。http的话优先级不高，因为感觉想不到用了sdk还用http的场景，应该只有iot、边缘计算等场景？这些场景是不是用go和java语言的比较少，适合在c sdk里支持http?

[2021-09-17 05:07] MentosL commented on #108
I can take hard, assign to me PLS

[2021-09-17 05:19] seeflood opened #212 "Let Layotto support secret API"
**What would you like to be added**:
Layotto support same secret API (with Dapr's).

**Why is this needed**:
Layotto's goal is to build a Runtime API standard with Dapr and other communities (promote Dapr API as an industry standard, and Layotto as an implementation of this API), so it needs to support Dapr's secret API.
Therefore, this task needs to port Dapr's secret API into Layotto.
For Dapr's

[2021-09-17 05:26] seeflood commented on #108
@MentosL Cool ! I submitted a issue and assigned it to u.
Since this issue is a little bit complicated,u can write your design before coding to avoid rework. You can take  sequencer API proposal https://github.com/mosn/layotto/issues/139  or pubsub API design doc https://mosn.io/layotto/#/zh/design/pubsub/pubsub-api-and-compability-with-dapr-component  as examples

[2021-09-17 05:49] MentosL commented on #108
Ok, I'll refer to the design and then put it into development

[2021-09-17 07:35] kevinten10 commented on #206
@seeflood 你在写java-sdk的grpc实现吗，我会基于你的提交并参考dapr-java-sdk中的grpc实现，进行提交

[2021-09-17 08:59] seeflood commented on #206
@kevinten10 对，我在写java sdk里（非reactor部分的）代码，用来给Alipay的用户用，这部分interface和你pr里的不太一样

所以我们协作的话，可以我先搞命令式编程的部分，你不用等我、先写reactor API编程的部分（我不太懂reactor API哈哈）你看可以不
但是有个问题，我们想支持java8用户，像Dapr那样要求很高的Jdk很难在国内推广

[2021-09-17 09:18] kevinten10 commented on #206
好的啊

使用reactor编程主要为了支持异步非阻塞模式的调用，命令式编程部分是先只考虑同步阻塞的调用模式吗？

其实也可以在sdk内部使用reactor编程模型，在暴露给用户时，可以提供reactor的API和命令式的API

[2021-09-17 09:57] seeflood commented on #206
是的

是的，但现在没有这么做是因为：
1. Alipay用户急着用命令式API,我们之前没用过Reactor API，时间太急了怕踩坑，而且不确定有没有java7及以下用户（我看Reactor core包要求java 8+)
2. 未来不确定要不要支持java 7-,如果需要的话可能得起两个包

[2021-09-17 10:30] kevinten10 commented on #206
了解

那我参考你们的命令式API和dapr，先做reactor的实现吧

[2021-09-17 11:18] seeflood commented on #206
@kevinten10 好呀好呀 欢迎！

[2021-09-18 08:45] seeflood commented on #108
New tasks added:
- Hard
  -  Layotto support Binding API. Same as above, porting Dapr's binding API into Layotto

[2021-09-20 05:41] seeflood opened #213 "Add usage document for go sdk; 为 go sdk 添加使用文档"
**What would you like to be added**:
Add usage document for go sdk.
Currently we don't have user document for go-sdk,see [chinese doc](http://mosn.io/layotto/#/zh/sdk_reference/go/start) and [english doc](http://mosn.io/layotto/#/en/sdk_reference/go/start).
The content of the document is not restricted,as long as we can teach users how to use it. You can take [Dapr's document](https://docs.dapr.io

[2021-09-20 06:00] wudi-666272 commented on #112
hi，Can you leave this task “add comments to RPC related code” to me to complete

[2021-09-20 06:04] seeflood commented on #112
Cool!
Already assigned.Welcome to the Layotto Community and feel free to ask for help during when u encounter some problems.

[2021-09-23 02:43] MentosL opened #214 "[Proposal]Secret API design"
Add Layotto secret API. To generate key dependent interface definitions, similar to  [dapr](https://docs.dapr.io/developing-applications/building-blocks/secrets/)

 English explanation will be added later

 # Secret API设计文档
 本文档讨论"密钥相关"的API

 ## 1. 需求
 ### 1.1. 密钥管理
 Q: 为何需要密钥管理？

 A: 应用程序在执行过程中大多数会使用专门的密钥去访问外部服务，通常需要建议一个对应的密钥存储来管理。

 Q: Layotto Secret API充当的角色？

 A: 提供管理密钥以及允许开发人员通过API获得密钥的功能，充当密

[2021-09-23 02:43] MentosL commented on #214
关联对应task     #212

[2021-09-24 07:02] arcosx commented on #213
Please assign it to me, I will be happy to write this document and this work will be completed within a week.

[2021-09-24 08:10] khotyn opened #216 "Can not build -tags wander in Apple Silicon chip."
According to the [document](https://mosn.io/layotto/#/en/start/wasm/start), run the following command to build WASM on Layotto:

[code]

build failed and got an error:

[code]

[2021-09-24 08:31] khotyn opened #218 "Ignore the build result binary"
If you run the command

[code]

you will got and `layotto` binary in the working directory and is not ignored by git. People could commit the binary to the git repo by accident.

[2021-09-24 09:34] khotyn commented on #218
When run the redis example, also got an binary `demo/state/redis/client`

[2021-09-24 11:17] seeflood commented on #213
Cool !
@arcosx Already assigned.Thanks for your passion

[2021-09-24 12:22] nobodyiam commented on #214
Looks good!

[2021-09-25 03:21] ZLBer opened #221 "[Bug Report] Undefined: syscall.Dup3"
**What happened**:
when i  run layotto on ` mac m1`,  an error occured：`undefined: syscall.Dup3`
the go sdk `darwin/arm64`   does not have this function  `syscall.Dup3`, but mosn call this in `mosn.io/pkg/utils/dup_arm64.go`
Is this a bug  of mosn?

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2021-09-25 13:54] wenxuwan commented on #221
@ZLBer  you can refer [fix dup, support linux/x86 linux/arm64 darwin/x86 only](https://github.com/mosn/pkg/pull/48)

[2021-09-25 14:24] wenxuwan opened #222 "wasm doc error"
I follow the guid of wasm demo [wasm](https://mosn.io/layotto/#/en/start/wasm/start?id=quick-start) occur an error:

![image](https://user-images.githubusercontent.com/11661906/134774856-1d920dd7-f0a0-4f88-ad43-367a02c1bc2d.png)

[2021-09-25 14:31] wenxuwan commented on #216
@khotyn i use the same command with u , doesn't occur the error, can you provider the verison of layotto and golang, by the way the wasmer-go to 1.0.4 package imported by mosn, add this package in layotto with indirect maybe no good method, an pr for mosn should be better.

[2021-09-25 14:55] ZLBer commented on #221
@wenxuwan  fine, solved

[2021-09-26 01:41] wenxuwan commented on #221
@ZLBer ok , i will closed the issue, any problem ,you can reopen it .

[2021-09-26 01:58] seeflood commented on #218
Thanks for your feedback!
Since these pr have been merged,I will close this issue. You can reopen it if something missed

[2021-09-26 02:02] #218 closed

[2021-09-26 07:17] seeflood opened #224 "Forward metadata fields generated by pubsub components to app"
**What would you like to be added**:
When receiving new pubsub events,Layotto should forward the `metadata` fields generated by pubsub components to app.
tasks involved:
- [ ] add pubsub fields recently added in Dapr's proto into Layotto API ,e.g. `path` in `TopicEventRequest`. see https://github.com/dapr/dapr/blob/master/dapr/proto/runtime/v1/appcallback.proto
- [ ] forward `metadata` field provi

[2021-09-26 07:20] seeflood commented on #224
This issue will be assigned to @RayneHwang

[2021-09-26 11:57] seeflood commented on #214
Thanks for your contribution!

[2021-09-26 12:13] #222 closed

[2021-09-26 12:15] seeflood commented on #214
这句话是啥意思呀

个人观点：
1.  API看着没问题哈，满足以下要求即可：
   - grpc secret API和Dapr的一样
   - 组件直接复用Dapr的组件（直接import Dapr的组件包，类似于State API)，这样即使有新的组件需求，直接给Dapr提pr即可
2. API之外，其实还有一些secret相关的功能需要做下设计，这些功能我们没必要这次就做（可以分成几个迭代、以后再做，或者以后可能由社区其他人做），但是需要提前设计下、想清楚后面怎么加功能（免得这次代码写好了、以后加新功能的时候发现不好改了）。具体需要考虑的功能包括：
   - 让其他API的组件在配置文件中可以引用密文。比如state API的redis组件，它在配置里要配连redis时候的账号密码，密码配置可以直接引用secret。见 https://docs.dapr.io/operations

[2021-09-26 15:29] ZLBer commented on #221
@wenxuwan  another problem came up:  I add  the env: GOOS=darwin;GOARCH=amd64 , the application can run.  but when i debug the application , the breakpoint cannot take effect. I can debug  on another project.  maybe the go-delve‘s problem ？It thinks the project is arm64 ？ how to solve this？i want to debug some code..

[2021-09-27 04:25] liubin opened #228 "Doc markdown broken"
In https://mosn.io/layotto/#/zh/start/wasm/start , the markdown of the code block is broken.

![image](https://user-images.githubusercontent.com/1212008/134845202-95b91167-a4b3-4504-b537-c03ee013cce3.png)

[2021-09-27 06:15] #228 closed

[2021-09-27 08:59] seeflood commented on #221
@ZLBer It seems a weird IDE problem....
Which IDE are u using? Maybe you can try some other IDE? Or you can post this issue to the IDE community

[2021-09-27 14:23] MentosL commented on #214
上面的QA想表达的是  当前API设计  只是设计接口，具体的实现由底下第三方或者业务自身去实现。

观点一 ： 当前API接口的定义也是根据Dapr来的。
观点二：
 ① ： 以上设计只是涉及到对应的传输接口，如果涉及到对应密钥的坐标获取，则可能需要了解当前坐标获取密钥的几种途径，例如直接deploy一个pod去获取，或通过注册中心获取等。
②： 同意优先考虑关于权限控制的这块设计，这个设计应该在我们功能设计API接口之前进行优先完成。哪怕简单的RBAC去控制权限也很好。

[2021-09-28 13:11] #167 closed

[2021-09-29 08:41] ZLBer commented on #221
@seeflood  i use goland..  already feedback to official

[2021-09-30 02:51] wenxuwan opened #236 "Add components for file interface"
**What would you like to be added:**

Layotto support file interface now, and have implemented the [alioss](https://help.aliyun.com/product/31815.html?spm=5176.22414175.sslink.2.19d9d8a6z4eRDE) component.

So this issue want to support other file system, eg,

- [x] [awsOss](https://aws.amazon.com/cn/campaigns/free/?sc_channel=PS&sc_campaign=acquisition_CN&sc_publisher=google&sc_category=pc&sc_medi

[2021-09-30 03:07] seeflood commented on #108
New tasks added:
- Add components for File API. File api have been supported in layotto, need to add components implementation for file api. See #236
  -  awsOss
  - local file system(file on local disk)
  - HDFS
  - minIo

[2021-09-30 03:37] zach030 commented on #236
I wanna take this issue

[2021-09-30 03:43] seeflood commented on #236
We can use existing sdk-lib to integrate with different file systems. For example, @zu1k once recommended https://github.com/beyondstorage/go-storage  ,it can serve as clients for many backend storages:
![image](https://user-images.githubusercontent.com/26001097/135383531-7a09bf8a-5494-4697-b0dc-2a0bb7f9b5f6.png)

[2021-09-30 03:44] seeflood commented on #236
Cool!
Which file system component would u like to implement?

[2021-09-30 03:57] zach030 commented on #236
I wanna implement aws Oss first!
Since it's easy to integrate with sdk go-storage, I will try to implement other file system then.

[2021-09-30 04:36] seeflood commented on #236
@zach030 Good!
I assigned the task of aws Oss  to you. We look forward to your valuable contributions!

[2021-09-30 04:51] seeflood commented on #236
Some tips for who want to implement File API component:
Currently the [usage document of File API](https://mosn.io/layotto/#/en/api_reference/file/file) is WRONG and you can check the [proto file](https://github.com/mosn/layotto/blob/main/spec/proto/runtime/v1/runtime.proto) as the real definition of File grpc API. We are waiting for @wenxuwan to fix it :)
![image](https://user-images.githubuserco

[2021-09-30 10:37] seeflood opened #240 "Add File API usage document"
Add more File API usage document,including quickstart demo and user reference
@wenxuwan

[2021-09-30 10:42] #205 closed

[2021-10-02 05:59] Xunzhuo opened #243 "feat: add commit message lint to workflow"
## **What would you like to be added**:

New workflow to check commit message standard

## **Why is this needed**:

In the layotto commit history, we can see the commit message without any standard and it is hard to read. As projects grow up, there will be more and more commits with messages, if we don not any commit lint, it will be a trouble to check and review history commits.

### Advantages:

[2021-10-03 01:27] nobodyiam commented on #243
good point

[2021-10-03 03:43] Xunzhuo commented on #243
There is a tool to create commit message in standard called `Commitizen`, which I am using
Refer link is https://github.com/commitizen-tools/commitizen.
In MacOS, we can easily install it with `brew install commitizen`, and we can use `cz c` instead of `git commit -m`
These are the screenshots of demos:
<img width="1172" alt="截屏2021-10-03 上午11 38 24" src="https://user-images.githubusercontent.com/

[2021-10-08 03:22] wenxuwan commented on #236
done https://github.com/mosn/layotto/pull/245

[2021-10-09 02:50] seeflood opened #249 "implement distributied lock with redis cluster"
**What would you like to be added**:
Implement distributed lock with redis cluster.
Since redis cluster can't keep linearizability and will lose lock when failover happens, you should implement it with redlock or some other algorithm to make it safer(though not perfect).

**Why is this needed**:
Currently our redis component only support redis standalone.

**Reference**:
Here are documents you can

[2021-10-09 02:51] seeflood commented on #108
@whalesongAndLittleFish  Cool!
I opened a new issue #249 and listed the docs you can refer to. You can reply there so that I can assign it to you

[2021-10-12 03:48] ZLBer opened #254 "Automatically generate API documents"
**What would you like to be added**:
protoc-gen-doc can can easily generate documents  based on proto
https://github.com/pseudomuto/protoc-gen-doc

**Why is this needed**:
But there are problems with the generated in some places, as shown below, so the proto files need to be modified is in some places, such as remove empty lines from comments

<img width="956" alt="WeChat1c9ec3b1b9ac6bf16dc15e5bc6

[2021-10-14 03:33] zhenjunMa opened #255 "Upgrade the wasm demo developed by rust"
**1. What would you like to be added**

The old version of Layotto already supports the functions combined with WebAssembly, and provides demos implemented in three languages, golang, rust, and assemblyScript. The new version of Layotto has refactored the support for WebAssembly and realized the expected FaaS prototype. The process of processing the request of the new version of the demo is as fol

[2021-10-14 03:36] zhenjunMa opened #256 "Upgrade the wasm demo developed by AssemblyScript"
**1. What would you like to be added**

The old version of Layotto already supports the functions combined with WebAssembly, and provides demos implemented in three languages, golang, rust, and AssemblyScript. The new version of Layotto has refactored the support for WebAssembly and realized the expected FaaS prototype. The process of processing the request of the new version of the demo is as fol

[2021-10-14 11:50] seeflood opened #257 "Make the startup sequence of app and sidecar flexible"
**What would you like to be added**:
 Make  the startup sequence of app and sidecar flexible.The app and the sidecar can start in parallel  if users need it.

**Why is this needed**:
Currently we force the app to start before sidecar,and the sidecar will call app's callback api to get the subscription topics during startup.
I think we can make  the startup sequence of app and sidecar flexible.
Sin

[2021-10-15 10:02] bokket commented on #236
sorry for my problem.Here is the [link](https://matrix.to/#/#beyondstorage@campfire:matrix.org).`v5.0` is mainly a restructuring of the project, not moving API.Next week it will basically work.

[2021-10-16 07:53] fengmk2 commented on #108
Node.js SDK 我可以尝试领一下，时间不一定保证，未来几个周末我会至少保证每周2小时投入。

[2021-10-16 08:14] fengmk2 commented on #166
扩展能力所有基础设施都需要，但是是否当下就能这么笃定选择 WASM 目前还存在很多讨论。WASM 本身的标准其实还在讨论中，什么时间能够定下来也存在不确定性，并且每种语言能转换到 WASM 的能力还是差异很大的。
我看 apisix 也有类似的能力，我记得他们有曾经考虑选型 WASM，但是目前还是没有使用，而是独立进程的 RPC 方案实现扩展 https://apisix.apache.org/zh/docs/apisix/external-plugin/

[2021-10-16 08:32] seeflood commented on #166
@fengmk2 是的，其实现在Layotto的WASM相关功能还属于探索性功能，暂时还没在生产直接用，毕竟从一些公司的历史中我们也都看到了，如果在基础设施中贸然选择一项技术、最终这技术没有在社区推广开，带来的损失是巨大的。
目前对WASM相关的探索除了这种动态扩展外，主要精力在尝试拿WASM当FaaS的运行时，@zhenjunMa大佬一直在做，不过也属于探索性，暂时不会在生产直接用。
如果只是做动态扩展，有很多种方案、不一定非得用WASM，比如支持通过脚本语言动态扩展（缺点是隔离性不好），比如再加一个sidecar进程跑扩展（缺点是进程通信损耗），比如一个进程里跑多个go runtime

[2021-10-16 08:46] seeflood opened #258 "Add nodejs SDK"
**What would you like to be added**:
Add nodejs SDK for Layotto

Reference:
go-sdk: https://github.com/mosn/layotto/tree/main/sdk/go-sdk
java-sdk: https://github.com/mosn/layotto/tree/main/sdk/java-sdk
(java-sdk in main branch is very simple,there are several PRs waiting for review)
Also,u can take [Dapr's nodejs sdk](https://github.com/dapr/js-sdk) as reference.

**Why is this needed**:
Help node

[2021-10-16 09:15] fengmk2 commented on #258
:)

[2021-10-16 13:12] ZLBer commented on #254
I will modify the proto file and generate API documents.

[2021-10-17 14:26] fengmk2 commented on #258
@seeflood 抱歉。。。先看了 dapr 的文档，今天才看 layotto 的文档，才发现 layotto 完全是 grpc 或者 dubbo 的。忽略我的误解，本以为有 http api 可以先快速实现。我会使用 grpc 来做的，好多代码都不需要写了，自动生成。

[2021-10-17 15:47] seeflood commented on #258
@fengmk2 恩恩大佬客气~
目前Layotto 只对外提供了grpc API，准备支持http api，并没有支持直接通过dubbo rpc调Layotto哈。[dubbo那个例子](https://mosn.io/layotto/#/zh/start/rpc/dubbo_json_rpc) 是通过grpc 调Layotto、Layotto转换成通过dubbo调别的dubbo服务~ 感觉文档讲的不够清楚，我完善下

[2021-10-19 08:45] #254 closed, assigned to nobody

[2021-10-19 10:08] seeflood opened #265 "Add comment specification for proto file"
**What would you like to be added**:
Add comment specification for proto file.

**Why is this needed**:
After integrating with the document generation tools in #260 , a bad comment can ruin the entire document generated by the tool.
So we need a specification to tell developers how to write comments in proto files.

[2021-10-19 15:02] seeflood opened #269 "Make the api reference more readable"
**What would you like to be added**:
Make the api reference more readable.

**Why is this needed**:
Currently the [api reference](https://github.com/mosn/layotto/blob/main/docs/en/api_reference/api_reference_v1.md) is not readable enough. The grpc services and request/response messages are mixed without highlight. We should seperate them to make the doc more readable.
![image](https://user-images.

[2021-10-20 07:46] seeflood opened #271 "docs: make FaaS quickstart easier to use"
**What would you like to be added**:
According to @wenxuwan 's feedback,the FaaS quickstart demo is hard to use.
We should make it easier.

**Why is this needed**:

[2021-10-22 06:12] seeflood opened #275 "fail fast and kill the process when error occurs during startup"
According to feedback from @stulzq and @whalesongAndLittleFish ,when Layotto can not connect to the redis server(for example,you wrote a wrong redis port in the Layotto configuration file), the logs are not detailed and we can't find out why error happens.

**Steps to reproduce:**
1. Start a Layotto with a redis lock component following the [quickstart document](https://mosn.io/layotto/#/zh/start/

[2021-10-23 17:24] seeflood opened #277 "Run unit tests for sdk and components in github workflow"
**What would you like to be added**:
Run unit tests for sdk and components in github workflow.

**Why is this needed**:
I just found that currently the sdk and components' ut won't be invoked in our workflow
https://github.com/mosn/layotto/blob/main/.github/workflows/github-actions.yml
![image](https://user-images.githubusercontent.com/26001097/138565899-fb6a4be8-5c44-48a5-b689-8428a00a3a04.png)

[2021-10-24 03:09] seeflood opened #278 "docs: improve tracing document"
**What would you like to be added**:
1. Currently there isn't a demo in the [tracing quickstart doc](https://mosn.io/layotto/#/zh/start/trace/trace) and it's a little bit hard for users to understand (according to feedback from our contributors) .It looks like an interface definition list , not a quickstart demo
2. Add explanation for rpc tracing and generic grpc filter tracing: how they work?how

[2021-10-26 04:03] #265 closed, assigned to ZLBer

[2021-10-26 15:16] seeflood opened #285 "[bug] RPC api forwards http headers incorrectly"
**What happened**:
When invoking RPC api using typescript sdk written in #262 ,the client got an error when parsing the response frame.
[code]

![image](https://user-images.githubusercontent.com/26001097/138907673-517dfe25-624a-479f-b7f0-90ab29eb918b.png)

**What you expected to happen**:
The typescript sdk invokes RPC api successfully

**How to reproduce it (as minimally and precisely as possible

[2021-10-27 05:53] seeflood opened #287 "docs: improve RPC quickstart document"
**What would you like to be added**:
Improve RPC quickstart document.

We should add some explanation for:
- What is this API used for
- What this demo do
- What is the architecture of this demo (better be explained with a picture)

like those in [state API demo](https://mosn.io/layotto/#/en/start/pubsub/start)
![image](https://user-images.githubusercontent.com/26001097/139007533-7fb10966-41d3-483

[2021-10-28 08:26] wenxuwan opened #289 "[Proposal] Add file access control interface"
**What would you like to be added**:

文件接口除了增删改查外，需要一个权限控制接口，可以操作文件的权限信息. 比如,对于本地文件系统也有chmod,chown,Stat等一系列的操作。aws会有tags,prefixes等操作 [access control](https://docs.aws.amazon.com/AmazonS3/latest/userguide/access-control-best-practices.html).

FileAccessControlRequest元数据：
cmd代表要执行的命令，比如上述的本地文件系统的chmod， chown，stat等命令。
operation代表的是上述命令对应的二级操作，比如oss的tags会有增删改查的操作。
metadata 里面存放的是命令对应的参数，比如chmod 777中的7

[2021-10-29 02:58] seeflood opened #294 "add quickstart demo for using WASM as a sandbox for business logic"
**What would you like to be added**:
Add quickstart demo for using WASM as a sandbox for business logic.

**Why is this needed**:
We had discussion about how to use wasm as a sandbox for business logic ( see https://github.com/mosn/layotto/issues/166 ),and in fact we've already supported this feature.
It's time to add a quickstart demo.

[2021-10-30 02:08] #183 closed

[2021-10-30 02:08] #173 closed

[2021-10-30 02:08] #171 closed

[2021-10-30 02:08] #158 closed

[2021-10-30 17:02] fengmk2 commented on #98
https://github.com/mosn/layotto/blob/main/docs/en/api_reference/api_reference_v1.md#spec.proto.runtime.v1.ListFileRequest
ListFile 的参数还不够，单目录文件数会非常多的，没法一次性返回。需要类似 oss 那样带上分页参数，ListFileResp 也需要返回分页游标数据。

[2021-10-31 02:11] #129 closed

[2021-10-31 02:11] #101 closed

[2021-10-31 14:59] seeflood opened #296 "Make File API easy to debug locally"
**What would you like to be added**:
Make File API easy to debug locally,including:
- [ ] Add config.json file and component references for minio and awsoss. Take alicloudOss' [config file](https://github.com/mosn/layotto/blob/main/configs/config_file.json) and [the existing component references](https://mosn.io/layotto/#/zh/component_specs/lock/redis) as examples
- [ ] Add a local file system com

[2021-10-31 15:02] seeflood commented on #296
@zach030 Hi,could u help add config.json and component doc for Minio and AwsOss? Since u are familiar with these two components

[2021-10-31 15:36] zach030 commented on #296
Great, I will implement it.

[2021-11-01 02:27] #289 closed

[2021-11-01 11:33] #240 closed

[2021-11-01 13:19] wenxuwan commented on #296
@zach030 i add local file system implementation ,  you can check if it's help for understand and debug,. https://github.com/mosn/layotto/pull/297

[2021-11-02 02:12] #216 closed

[2021-11-02 07:41] seeflood opened #300 "bug: File API lacks nil checking"
**What would you like to be added**:
According to feedback from  @fengmk2 , he got a panic when testing the js-sdk:
![image](https://user-images.githubusercontent.com/26001097/139805602-cf3c8d42-4836-4ff9-98f0-14998d4116f9.png)
Although this panic is recovered by mosn server, it's still a bug that we should avoid.
The stack in the above image is not consistent with Layotto's code in #258 branch,bu

[2021-11-02 08:14] seeflood opened #301 "bug: unauthorized access in Alicloud OSS component"
**What happened**:
If an app pass a directoryName which is not configurated in the config file,it can access that bucket although it shouldn't.
Currently the code doesn't do the access control checking.
![image](https://user-images.githubusercontent.com/26001097/139809924-1472f25f-6faf-4fca-92db-c0f01547241b.png)

![image](https://user-images.githubusercontent.com/26001097/139809950-ab0e8190-7769-

[2021-11-02 09:19] seeflood commented on #98
现在两个问题：
1. File API是设计成 “桶--目录--文件”的抽象，还是“目录---文件”的抽象，还是干脆不叫File API、改叫OSS API（这样就方便做针对性的设计）。
如果是“目录---文件”的抽象，需要用户侧sdk把  bucket 和prefix拼成一个字符串、作为目录传过来，比如以"bucket://prefix"的格式（不能只用"/"当分隔符）。然后OSS组件把directory字符串拆成bucket和prefix
我个人更支持这种方案

2. File API要不要支持分页查询
这个需要调研下。aws s3和阿里云oss都是支持的
https://docs.aws.amazon.com/zh_cn/AmazonS3/latest/userguide/ListingKeysUsingAPIs.html
https://help.aliyun.com/docume

[2021-11-02 10:00] seeflood commented on #275
据 @whalesongAndLittleFish 反馈，其实启动时候报错了但是没看到。流程是：
启动报错---正常起来绑定端口---所有客户端访问都会直接报错

这有点问题：理论上启动报错就应该自杀掉，fail fast，为啥会正常启动？
查了下怀疑是启动时候返回个error,layotto没起来，但是不影响mosn启动
这就导致mosn还活着，layotto是死的

@nejisama Layotto想改下启动代码，如果有error 直接起个协程panic、自杀掉进程，看下合适不~

[2021-11-02 12:42] wenxuwan commented on #98
- 对于prefix，采用 buketName + ”/“ + ”prefix“的形式，如果bucketName是空，sdk就传空，也就是 /prefix的形式，默认开头第一个字段对oss来说永远是bucketName，layotto测截取/前面的值作为bucketName。
- 分页可以做，minio目前的v6版本支持不了分页，v7版本可以。这个可以做下升级。

对于list的返回值，目前是个文件名列表，需要增加一下文件信息吗？看了一下common的有下面几个字段：

- Size 文件大小
- Name 文件名字
- LastModified 最后编辑时间。

[2021-11-02 12:59] fengmk2 commented on #98
@wenxuwan 还有一个查询文件元信息或者探测文件是否存在的接口，也需要看看 https://help.aliyun.com/document_detail/31984.htm?spm=a2c4g.11186623.0.0.77af5d7aqqsyje#reference-bgh-cbw-wdb

否则目前判断文件是否存在，必须是一个 get stream ，抛异常才能知道是否存在，开发者使用体验比较差的。我以 js 举例你看看。

[code]

[2021-11-02 13:19] wenxuwan commented on #98
嗯，这个有在设计的最近，接口已经定义了，可以一起看下

[code]

[2021-11-03 04:24] wenxuwan commented on #98
本期准备做一下接口变动：

- 新增接口：

[code]

- 修改接口：

[code]

[2021-11-03 05:26] fengmk2 commented on #98
@wenxuwan 赞，期待 pr 。

[2021-11-03 08:40] imeoer commented on #98
是不是没有必要单独增加一个 FileExists 接口，用 GetFileMeta 就可以了，比如 GetFileMeta 一个不存在的 Object，只需要返回错误码 `codes.NotFound`，另外所有接口有详细的错误码定义吗？

[2021-11-03 09:25] wenxuwan commented on #98
嗯，可以复用一个，错误码的话，grpc自带的错误码应该可以覆盖到文件操作。对于一些特殊的错误码的话目前还没做定义，都是直接返回interfanal error，然后在message里面增加错误信息。

[2021-11-03 09:35] imeoer commented on #98
是的，grpc 里的错误码暂时是够用的，我们尽量不返回 internal error，真出了 unexpected 的异常才返回。

[2021-11-03 09:46] wenxuwan commented on #98
嗯，后面如果有common的错误码，再统一出来，目前先复用grpc的。

[2021-11-04 08:45] #278 closed

[2021-11-04 09:05] ZLBer commented on #301
@seeflood   alicloud/aws/minio components  both  have this problem.  I'll  fix this .
The meaning of the bukect field is not clearly stated in the `fileAPI qucick start` file, a little fuzzy,
![image](https://user-images.githubusercontent.com/20033804/140285276-bdf9b313-50d8-4755-be8e-d46d511f5997.png)

`_sidebar.md`  quick start lack `fileAPI`.

[2021-11-04 12:18] seeflood commented on #301
Sorry for not explaining in advance, @wenxuwan just told me that he is working on it and decides to remove this `bucket` configuration and do some refactor for File API. So this issue will be assigned to him.
Actually the `accessKeyID` and `accessKeySecret` fields are enough to do access control,so the `bucket` field is redundent.
Hope he will add a quickstart for File API after the refactor :)

[2021-11-04 12:43] ZLBer commented on #301
@seeflood  Okay, I get it

[2021-11-04 12:49] wenxuwan commented on #98
@imeoer @fengmk2 接口改好了，aliyun的oss能力现在已经修改完毕，自测可以分页查找，前缀查找，判断文件是否存在，获取文件的metadata能力，可以帮忙一起看下接口的定义有没有疑问，后续我会继续修改minio oss和aws的oss代码

[2021-11-04 12:52] wenxuwan commented on #301
@ZLBer Hi man, as the current file interface capabilities are not enough to support users,https://github.com/mosn/layotto/issues/98, I am redesigning the interface and modifying the implementation, you can help review it together.https://github.com/mosn/layotto/pull/305

[2021-11-04 12:56] seeflood commented on #98
@zach030 @bokket 各位大佬帮忙一起看看File API的改动可以不~
因为现在的API满足不了用户需求 @wenxuwan 在改File API  （他会顺便重构File API相关组件

[2021-11-04 13:08] #285 closed

[2021-11-04 13:44] zach030 commented on #98
支持分页查询比较好。对于文件的Copy是否需要引入呢，阿里云、minio我之前在使用对象存储的时候是有这个需求的

[2021-11-04 14:08] seeflood commented on #98
emmmm我在想干脆直接把AWS S3或者 POSIX API里面和文件系统相关的API 一一对应的移植过来，一方面省的自己推敲了（懒）; 另一方面复用业界已有标准>>>>>自己重新发明轮子

[2021-11-04 15:46] LXPWing commented on #104
用redis cliuster实现分布式锁-我的初步想法: 参考zk实现讨论，选择基于server TTL的无状态架构，redlock实现用的是redsync，redis cluster中的每个redis启动TTL
![95bcc2563a264be0facb3653e9ab196](https://user-images.githubusercontent.com/65880844/140367815-df65bf68-2dbc-46e6-be7d-7b3433d4307b.png)

[2021-11-04 15:55] seeflood commented on #104
@LXPWing 啊不好意思这个issue没及时更新，“用redis cliuster实现分布式锁” 这个已经在做了，见https://github.com/mosn/layotto/pull/284  你感兴趣的话可以帮忙review下哈（我最近加班太苦了还没细看

或者你对其他组件实现分布式锁感兴趣么~

[2021-11-04 16:01] seeflood commented on #98
@bokket 是说自动生成一套接口？好神奇，在哪能看到啊求链接学习学习

[2021-11-04 16:22] bokket commented on #98
[这是](https://forum.beyondstorage.io/t/topic/109/3)前期对模板的[分析](https://forum.beyondstorage.io/t/topic/109/3)，后面我mentor又自己重写了一套，重构的代码现在我也不太熟，但如果想立马实现某个services的话，直接在toml加你想要给的特性和需求,然后根据[generated](https://github.com/beyondstorage/go-storage/blob/master/services/example/generated.go)生成即可。

[2021-11-05 03:17] wenxuwan commented on #98
Copy接口可以加，新的能力接口其实都好说，后期加也不会影响到目前的接口。但改动的接口要比较严谨一些，不能影响到在用的

[2021-11-05 09:24] seeflood commented on #108
New tasks added:
- Hard
  - Integrate with Skywalking, Jaeger and other systems
  - Let Layotto support Dapr's Config API (alpha version)

[2021-11-05 10:25] seeflood opened #309 "[Discussion] Multi-Runtime 2022：待解决的问题"
聊聊[Multi-Runtime架构](https://www.infoq.com/articles/multi-runtime-microservice-architecture/) ，以及 [Dapr](https://github.com/dapr/dapr) 、[Layotto](https://github.com/mosn/layotto) 等Runtime系统当下需要解决的问题，抛砖引玉，欢迎讨论

## 1. API标准建设
### 现状：可移植性的理想与现实
Dapr是个非常优秀的项目，但是他还年轻，需要时间来迭代。Dapr API目前还处在早期阶段，我们在生产落地的时候会发现，已有的API满足不了全部需求。
于是，为了满足生产需求，开发者要大量使用非结构化字段(使用每个API里的metadata字段，这个字段是个map，用户把API不支持的东西全塞map里传给Runti

[2021-11-05 12:22] ZLBer commented on #108
@seeflood  Integrate with skywalking  assign to me ,pls

[2021-11-05 14:55] seeflood opened #310 "Integrate with Skywalking"
**What would you like to be added**:
Layotto already supports tracing,and next we hope to integrate with observability-related platforms such as Skywalking.

Details:
According to @wenxuwan, currently Layotto's tracing is based on MOSN's package,and MOSN already have [done some integration work with Skywalking](https://github.com/mosn/mosn/tree/master/examples/cn_readme/trace/skywalking/http) , so

[2021-11-05 14:57] seeflood commented on #310
This issue will be assigned to @ZLBer

[2021-11-05 14:59] seeflood commented on #108
@ZLBer Cool !
I added an issue and already assigned to you. See https://github.com/mosn/layotto/issues/310

[2021-11-06 01:48] seeflood commented on #98
刚看了下，Dapr binding API现在已经支持AWS S3和阿里云OSS了，可以看看能否直接复用，这样就不需要自己重新搞了
https://docs.dapr.io/reference/components-reference/supported-bindings/s3/
https://docs.dapr.io/reference/components-reference/supported-bindings/alicloudoss/

包括redis协议，感觉可以用在一些支持redis协议的缓存上
https://docs.dapr.io/reference/components-reference/supported-bindings/redis/

[2021-11-06 03:10] wenxuwan commented on #98
dapr的binding不支持stream，对于大文件根本没法玩的。文件接口肯定是stream存在的。

[2021-11-06 13:15] seeflood opened #311 "run layotto along with istio 1.10.0"
**What would you like to be added**:
Since the pr https://github.com/mosn/mosn/pull/1664 has been merged, it's time to consider running layotto along with istio 1.10.0

**Why is this needed**:
Because it's useful and cool

[2021-11-07 02:11] #96 closed

[2021-11-09 02:08] #74 closed

[2021-11-09 02:09] #42 closed

[2021-11-09 02:09] #9 closed

[2021-11-10 02:09] #7 closed

[2021-11-11 03:04] #249 closed

[2021-11-11 07:12] #170 closed

[2021-11-14 14:41] seeflood opened #315 "integration tests for js and .net sdk"
**What would you like to be added**:
Layotto now has js and dotnet sdk. We need to add some integration tests for them.
In order to do that, we need:
- [ ]  Upload a layotto docker image to dockerhub,which is available for testing all the API
- [ ] Modify the github workflows of the js and .net sdk. It should pull and run that docker image automatically before running all the tests

**Why is this

[2021-11-15 02:29] seeflood commented on #149
Hi @stulzq ,are u still working on it ? Or should I reassign it to others if you don't want to do it?

[2021-11-15 02:37] stulzq commented on #149
reassign it to others

[2021-11-16 05:58] #300 closed

[2021-11-16 06:01] #301 closed

[2021-11-17 04:14] seeflood opened #320 "add metadata field for go,js and dotnet sdk"
**What would you like to be added**:
add metadata field for go,js and dotnet sdk

**Why is this needed**:

A new PR add a `metadata` field in appcallback.proto

[2021-11-17 04:22] #224 closed

[2021-11-18 03:06] seeflood opened #323 "bug: layotto didn't set the `metadata` field in `OnTopicEvent` API"
In https://github.com/mosn/layotto/pull/319 ,Layotto added a `metadata` field in `appcallback.proto` and modified the java SDK.
Unfortunately, we forgot to modify the `.pb.go` file and set this field in layotto runtime

[2021-11-18 03:06] seeflood commented on #323
This issue will be assigned to @RayneHwang

[2021-11-18 09:33] seeflood commented on #214
@MentosL Hi大佬 你还在搞这个么~过程中有没有遇到啥问题

[2021-11-18 09:35] MentosL commented on #214
咳咳 大佬  是在搞的  就差个单元测试。然后目前我这边工作有点变动..... 所以  可能还需要晚一些时间提交上去

[2021-11-18 09:39] seeflood commented on #214
@MentosL 噢噢明白！老哥跳槽了吗，先花时间熟悉新工作环境吧,工作恰饭更重要哈哈

[2021-11-18 09:42] MentosL commented on #214
😂   还在找还在找

[2021-11-19 06:25] seeflood commented on #108
New tasks added:
- Easy
  - add metadata field for go,js and dotnet sdk. See #320
- Medium
  - Develop the spring-boot-layotto package.

[2021-11-20 00:13] Horizon-1998 commented on #108
hi，可以给我一些最简单的任务试一下

[2021-11-20 00:42] seeflood commented on #108
@Horizon-1998 好呀欢迎，你喜欢啥语言？
可以看下easy部分的任务，非特定语言的有：补充指定模块的注释；补充go-sdk的文档
如果你想写go，有补充单测的，或者开发优化的，比如https://github.com/mosn/layotto/issues/275#issuecomment-957711746
别的语言有sdk相关任务

[2021-11-20 00:59] Horizon-1998 commented on #108
目前使用C++和Python，目前想学习一下go语言，

[2021-11-20 01:17] seeflood commented on #108
@Horizon-1998 目前正缺c++和python的sdk,如果你感兴趣欢迎认领 :)
也可以借项目学习go语言，建议学习顺序：
1. 先了解项目是干啥的，参照[quickstart demo](https://mosn.io/layotto/#/zh/start/configuration/start-apollo) 把项目跑起来；
也有一些介绍项目的演讲视频，比如https://mosn.io/layotto/#/zh/blog/mosn-subproject-layotto-opening-a-new-chapter-in-service-grid-application-runtime/index   比如 https://www.bilibili.com/video/BV1RL4y1b7U9?from=search&seid=1492521025214444985&spm_

[2021-11-20 01:23] Horizon-1998 commented on #108
好，我先了解一下项目，先做一下添加注释和单测的任务。

[2021-11-20 02:39] seeflood commented on #315
To run integration tests with real sidecar,Dapr's solution is to write a github action to automatically setup the environment
https://docs.dapr.io/developing-applications/integrations/github_actions/
https://github.com/marketplace/actions/dapr-tool-installer

[2021-11-21 14:40] LXPWing commented on #108
Hi @seeflood Is anyone working on Distributed Lock API with mongo ?

[2021-11-21 15:16] seeflood commented on #108
Hi @LXPWing , it's free.You wanna try?
To avoid rework,you can briefly describe your design before coding in https://github.com/mosn/layotto/issues/104
If you find it hard to explain in english ,chinese is OK

[2021-11-22 05:14] seeflood commented on #67
## The problems still exist:
1. Currently users still need to setup go,docker and back-end storages (e.g. redis or etcd) when running demos or developing sdk. For example, see https://mosn.io/layotto/#/zh/start/configuration/start-apollo
2. Moreover , the docker image is too hard for chinese users to download:
![image](https://user-images.githubusercontent.com/26001097/142803594-c9b0831c-ed5f-4b19

[2021-11-22 06:08] #294 closed

[2021-11-22 07:28] LXPWing commented on #104
@seeflood 基于mongo实现分布式锁，我目前的想法是使用mongoDB的expire-data机制(TTL) [https://docs.mongodb.com/manual/tutorial/expire-data/](url)，或者有什么好的方案我们可以讨论下

[2021-11-22 12:14] seeflood commented on #104
@LXPWing 好呀，不过这样描述太简单了，可以描述下tryLock预计做哪些事情、unlock预计做哪些事情，像上面zk的讨论一样；当然如果你觉得比较简单、不需要太多描述的话，可以直接把核心代码写出来、提个PR，大家好帮你看看实现的有没有问题
这里面有些细节需要考虑：
- unlock需要compare-and-set 操作，看下mongo用哪个API
- 实现分布式锁，需要存储系统的写操作有强一致性，mongo能否保证

[2021-11-22 12:59] seeflood commented on #108
New tasks added:
- Easy
  - in-memory components

[2021-11-22 14:44] LXPWing commented on #104
1.mongo在写时可以在客户端设置(Write Concern)mongo的写时一致性[https://docs.mongodb.com/manual/reference/write-concern/](url)
2.trylock的时候启动客户端设置(Write Concern)，进行cas更新数据
3.unlock时进行cas删除数据
4.关于compare-and-set 操作这个问题我需要调研mongo-go-driver的api文档 (第一次接触mongo-go) ，如果文档没给可能需要在代码层面上实现cas
5.使用server TTL(expire-data) 防止死锁
大致思路是这样，mongo数据库的具体细节我周末去调研下。

[2021-11-22 15:25] seeflood commented on #104
@LXPWing 棒，我修改下issue，这个assign给你哈
过程中遇到啥问题欢迎抛出来讨论~

[2021-11-22 17:08] zach030 commented on #67
I want to implement inmemory-pubsub refer to Dapr [pubsub inmemory](https://github.com/dapr/components-contrib/tree/master/pubsub/in-memory)

[2021-11-23 02:20] seeflood commented on #67
@zach030  OK, in-memory pubsub component will be assigned to you.
You can take #327  as an example
Thanks for your contribution!

[2021-11-23 02:26] seeflood opened #328 "Create an e-certificate for every contributor and committer"
We can create an e-certificate for every contributor and committer.
We can announce and put each e-certificate in the discussion area,like https://github.com/apolloconfig/apollo/discussions/3731

Everyone will then get a special url for his/her e-certificate

[2021-11-23 02:27] #258 closed

[2021-11-23 11:59] seeflood opened #331 "fix security issues and upgrade wasm related dependencies"
**What would you like to be added**:
Upgrade wasm related dependencies

**Why is this needed**:

[2021-11-24 02:09] #166 closed

[2021-11-24 03:53] Baby-123-hub commented on #108
你好，我想参与这个开源项目，还有机会吗？

[2021-11-24 07:01] seeflood commented on #108
@Baby-123-hub 好呀好呀欢迎的，还有很多新手任务可以领，你熟悉什么语言呀

[2021-11-25 14:28] seeflood commented on #108
@jieeny @Horizon-1998 Hi, 我写了个新手攻略，供参考 https://github.com/mosn/layotto/pull/337/files

[2021-11-28 02:51] seeflood opened #338 "[proposal] Framework start Layotto automatically"
**What would you like to be added**:
Today, we need application developers to run Docker and Layotto sidecar before writing their code.
So they have to understand what is Layotto and what is sidecar.
To make it easier, framework like Spring-boot , SOFA-Boot or egg.js can start Layotto automatically,so that application developer don't have to worry about it.
We need:
- [ ] a cli tool to start and s

[2021-11-30 14:50] LXPWing commented on #104
go有embed mongodb或者适配mgo语法用于单元测试的数据库吗，谷歌搜了下没找到。真的没有的话我简单实现个的db用来单测

[2021-11-30 15:38] seeflood commented on #104
@LXPWing 可以搜搜看，我找到有个java实现的embed mongodb，没看到有go的
https://stackoverflow.com/questions/6437226/embedded-mongodb-when-running-integration-tests

没有的话不要紧，单测里把真正操作mongodb的部分mock掉即可；集成测试里（或者使用demo里）可以用docker启动个真的mongodb

[2021-12-01 04:26] seeflood opened #345 "send certificate for our contributors"
第二轮contributor/committer证书发放，需要联系十月以来新contributor、邮寄证书
 @zhenjunMa @paojiao-fengzhua

[2021-12-01 04:40] seeflood opened #346 "move java sdk into a new repo"
We should:
- [ ] Merge reactor style java sdk into main branch
- [ ] Merge file api for java sdk
- [ ] and then move java sdk into a new repo

[2021-12-01 04:44] seeflood opened #347 "Let Layotto support Dapr's Config API (alpha version)"
**What would you like to be added**:
Let Layotto support Dapr's Config API (alpha version)

We have been [discussing and working with Alibaba and Dapr community](https://github.com/dapr/dapr/issues/2988) to contribute a Config API for Dapr since March of this year,and recently [it was finally merged into Dapr](https://github.com/dapr/dapr/pull/3606) .
Now it's time to can make Layotto support Dapr

[2021-12-03 14:20] LXPWing commented on #104
@seeflood 我想请教下mongodb ut的mock应该从哪里入手(现在用的是本地测试)，我提个pr #348

[2021-12-03 15:20] seeflood commented on #104
@LXPWing 感谢贡献！我留言了哈 https://github.com/mosn/layotto/pull/348#issuecomment-985604521

[2021-12-09 04:23] seeflood commented on #200
重写了本提案；已提交相应PR #358

[2021-12-10 07:49] #200 closed

[2021-12-11 09:30] ZLBer opened #359 "Mongo"

[2021-12-11 09:31] #359 closed

[2021-12-13 02:37] #296 closed

[2021-12-13 14:22] seeflood opened #360 "add a new enum value in runtime.proto and compiled pb files"
**What would you like to be added**:

Currently the `HTTPExtension` in our `runtime.proto` has the following enum values:
![image](https://user-images.githubusercontent.com/26001097/145828917-58a9869a-bf70-498d-a1fe-e627008cc24c.png)
However dapr already has a new value `PATCH`, see
https://github.com/dapr/dapr/blob/42a901540f0f5a28a618721471ad208dfbf04a19/dapr/proto/common/v1/common.proto#L46
We

[2021-12-13 15:30] seeflood opened #361 "Add support for Dapr API"
## TLDR
本提案想让开源Layotto 既支持 Layotto API，又支持Dapr API。类似于“Minio 既支持Minio API，又支持AWS S3 API”

## 想解决的问题
1. 目前，我们尽量保证Layotto API 里各个字段定义的和Dapr一样，但用户真正关心的是两者sdk能否复用。虽然我们努力保证proto字段一致，但只要不能复用sdk就没解决用户的问题，还给自己增加维护成本。
比如：
![image](https://user-images.githubusercontent.com/26001097/145837477-00fc5cd8-32eb-4ce9-bbfb-6e590172fce8.png)
因此，我们想让Layotto直接支持Dapr的grpc API （一模一样，包括 package名），对于用户来说，他可以用Dapr sdk在两者之间

[2021-12-14 02:17] #309 closed

[2021-12-14 03:42] seeflood commented on #310
@ZLBer Hi,are u still working on it? Or should I assign it to others?

[2021-12-14 04:17] seeflood opened #363 "Ut fails in `components` package"
**What happened**:
Ut fails when testing `components` package.
I fixed the compilation errors of the ut in #362 .
But there are still some test failures:
![image](https://user-images.githubusercontent.com/26001097/145932087-fa58fe56-6990-4a4a-ae05-85e634c1ae1f.png)

- [x] fix ut for zookeeper lock . assigned to @ZLBer
- [x] fix ut for etcd sequencer. assigned to @whalesongAndLittleFish
- [x] modif

[2021-12-14 04:19] seeflood commented on #363
@ZLBer Hi, could you help fix the zookeeperLock test cases?

[2021-12-14 04:49] whalesongAndLittleFish commented on #363
I want to try to fix the unit test of etcd sequencer,please assign to me

[2021-12-14 04:50] seeflood commented on #363
@whalesongAndLittleFish Cool,Thanks!
assigned to you

[2021-12-14 08:01] seeflood commented on #361
- [x] InvokeService
- [x] InvokeBinding
- [ ] State
- [ ] ......

[2021-12-14 08:19] ZLBer commented on #363
@seeflood  sure  i will fix zk lock ut

[2021-12-14 09:25] seeflood commented on #363
![image](https://user-images.githubusercontent.com/26001097/145970354-b1266c36-6b57-41f9-b87e-e22c1166fbfd.png)
update: I just found that RPC tests are not stable and sometimes fail

[2021-12-15 02:12] #98 closed

[2021-12-15 02:28] seeflood opened #365 "Fix code scanning alert - Incorrect conversion between integer types"
Tracking issue for:
- [ ] https://github.com/mosn/layotto/security/code-scanning/1

[2021-12-15 16:46] #365 closed

[2021-12-16 14:16] LXPWing commented on #112
Recently learning WASM , I want to try the task 'add comments to WASM related code'

[2021-12-16 14:25] seeflood commented on #112
Cool ! assigned to u

[2021-12-17 06:49] seeflood commented on #108
New tasks added:
- Easy:
  - add unit tests for actuator module.The code is under `pkg/filter/stream/actuator/http`

- Medium
  - Add support for Dapr API
    - [x] InvokeService
    - [x] InvokeBinding
    - [ ] State
    - [ ] pubsub
    - [ ] Configuration
    - [ ] Secret
    - [ ] GetMetadata/SetMetadata
    - [ ] Shutdown

[2021-12-17 09:06] seeflood commented on #201
@wangyanghack Hi ,are u still working on it?

[2021-12-19 10:03] ZLBer opened #371 "feat: layotto spring-boot"
**What would you like to be added**:
I found layotto spring-boot in the community tasks, and want to implement it.
I went to understand the implementation of dapr spring-boot and found that it is more complicated.
When a method is annotated by `@Topic` (it needs to be annotated by `@PostMaping` at the same time), the route (maybe a url) of this method will be saved and exposed through `/dapr/subsc

[2021-12-21 04:11] LXPWing commented on #108
Hi @seeflood, I want to try Sequencer API of mongo

[2021-12-21 04:26] seeflood commented on #108
@LXPWing Cool,I assigned it to you in https://github.com/mosn/layotto/issues/149

[2021-12-21 04:37] seeflood commented on #363
All fixed

[2021-12-21 04:37] #363 closed

[2021-12-21 06:10] seeflood commented on #371
There was an issue discussing java-sdk and layotto-sdk-springboot,see https://github.com/mosn/layotto/issues/206

The layotto-sdk-springboot can be implemented as a seperate module which imports java-sdk and has a `@Topic` annotation and some auto-subscription logic in it.
It's ok that we put some logic in layotto-sdk-springboot module as long as we we keep the java-sdk module simple.
The `layotto

[2021-12-21 09:48] ZLBer commented on #371
@seeflood I know, I will do it, then I will put the code logic in the`layotto-spring-boot` sdk.

[2021-12-21 09:50] seeflood commented on #371
@ZLBer niu b

[2021-12-22 02:21] #257 closed

[2021-12-22 12:45] ZLBer commented on #371
@seeflood why `registerPubSubCallback` params only contains pubsubname?
![image](https://user-images.githubusercontent.com/20033804/147094770-4746a8fd-e0bf-4da4-a85a-12a838a85d9c.png)

[2021-12-22 15:17] seeflood commented on #371
@ZLBer Users can write different Subscriber callback for different pubsub component ,e.g. RocketMQSubscriber for RocketMQ, ActiveMQSubscriber for ActiveMQ.

![image](https://user-images.githubusercontent.com/26001097/147114300-c6c2f0c0-4ade-4bd5-b7df-dd5a96c6f643.png)

For example, RocketMQSubscriber.listTopicAndSubscriptions may invoke a rocketmq client,while ActiveMQSubscriber.listTopicAndSubscr

[2021-12-23 03:26] ZLBer commented on #371
@seeflood  so I'm a little confused, why not provide a method `registerCallback(pubsubName, topic, callback)`?

[2021-12-23 04:14] RayneHwang commented on #371
The `Subscriber` interface here is actually not the `subscriber`  commonly referenced in messaging systems that subscribes to topics. This subscriber could have been more precisely named as "deliver request dispatcher" that dispatches deliver message requests to pubsub SDKs according to pubsub component name, hence `registerPubSubCallback` only accepts a `pubsubNam` argument. It it the concrete pu

[2021-12-23 14:40] zach030 commented on #361
I am willing to take this issue

[2021-12-23 14:52] seeflood commented on #361
@zach030 Cool ! Which API would u want to implement?

[2021-12-23 15:02] zach030 commented on #361
I wanna try State API. I also want to know the difference with the implementation in dapr, compared with the definition in dapr
![image](https://user-images.githubusercontent.com/51114270/147257865-3496a89f-261d-47d6-90a6-28bfd239c7ca.png)

[2021-12-23 15:03] seeflood commented on #371
Is @RayneHwang 's explanation enough? He is the author of it.
To my understanding ,  @RayneHwang 's concern was : some mq dispatch messages not according to `topic`,but some other field like `eventCode` and `xxx`, so he decide that it should be `registerCallback(pubsubName, callback) ` instead of `registerCallback(pubsubName, topic, callback) `.

Emmmmmm, for me, both design styles are fine :)

[2021-12-23 15:21] seeflood commented on #361
@zach030 OK
We just keep the proto definition and corrosponding `.pb.go` files same with dapr's.
As for the implementation , it's ok to be different. You can check `InvokeService` and `InvokeBinding` in dapr_api.go. These code was in layotto's `api.go`. I just moved it here and then....we support Dapr's `InvokeService` API ! Yeah !
![image](https://user-images.githubusercontent.com/26001097/147259

[2021-12-23 15:25] zach030 commented on #361
Than

Thx, I got it!

[2021-12-24 04:17] ZLBer commented on #371
@RayneHwang @seeflood  I understand, but every user who wants to subscribe to a topic has to implement the distribution logic in his own method. a little bit difficult  but not a big problem . I will implement it according to this logic

[2021-12-24 04:25] seeflood commented on #371
You are right.Maybe we can add a defaultSubscriber to make it easier to use?

[2021-12-24 04:44] ZLBer commented on #371
@seeflood can i move this from example  to sdk and change it to defaultSubscriber ？
![image](https://user-images.githubusercontent.com/20033804/147317316-6fb9bc22-d62a-45e2-9871-57ff8a4facf0.png)

[2021-12-24 04:59] seeflood commented on #371
yes you can

[2021-12-25 08:44] zach030 commented on #361
@seeflood I was working on it these days, It's easy to implement the logic but I still have some confusions.

1. I need to write lots of code to transfer struct which defined in `dapr runtime` to `layotto runtime` . Any better solutions to improve it cause they were defined with the same proto file?
[code]

[2021-12-27 07:52] seeflood commented on #361
Yes,this is a problem. I'm working on a PR https://github.com/mosn/layotto/pull/375 to extract reusable code.
For example, we can refactor function `func StateConcurrencyToString(c runtimev1pb.StateOptions_StateConcurrency) string ` to `func StateConcurrencyToString(c int32) string `

Sorry I don't understand 😢 Could u give an example or submit a WIP pull request that we can have discussion on?

[2021-12-27 09:33] seeflood commented on #361
@zach030 The converter code is inevitable (and annoying) :(
But I don't understand these GetModifiedStateKey logic in your example:
![image](https://user-images.githubusercontent.com/26001097/147457758-28ab877b-17c9-4325-b320-e91d972d209d.png)
I added the Dapr SaveState API as an example in #375
![image](https://user-images.githubusercontent.com/26001097/147457933-3d006024-e3f1-4bc5-b156-fe160aa51

[2021-12-27 12:35] zach030 commented on #361
感谢！我之前的理解有点偏差🥲，这里结构转换的代码和重复的代码比较多，所以对自己写的代码有点困惑。
另外，在#375 中给出的示例中我看到，在原来`(a *api) SaveState`方法中调用了`daprGrpcAPI`的SaveState实现，我也需要修改`default_api/api.go` 中与state相关的其他几个方法吗？

[2021-12-27 12:54] seeflood commented on #361
对的，大致的方案就是把原来 `default_api/api.go` 里的代码挪到 `dapr/dapr_api.go` ，然后 `default_api/api.go` 改成调用 `dapr/dapr_api.go`，相当于把layotto协议翻译成dapr协议

[2021-12-29 02:16] #315 closed

[2021-12-29 07:34] wenxuwan commented on #271
close with https://github.com/mosn/layotto/pull/274

[2021-12-29 07:34] #271 closed

[2022-01-05 02:22] #338 closed

[2022-01-07 03:45] #236 closed

[2022-01-09 02:23] #346 closed

[2022-01-09 02:23] #345 closed

[2022-01-09 02:23] #331 closed

[2022-01-09 02:23] #328 closed

[2022-01-12 02:59] seeflood opened #379 "add metrics for layotto grpc API"
**What would you like to be added**:
Add metrics statistics for layotto grpc API.
We can reuse mosn's metric filter

**Why is this needed**:
For observability

[2022-01-14 15:09] seeflood opened #381 "Why is `OpenGenerator.GetSpanId` the same as `OpenGenerator.GetParentSpanId`"
### Your question

I just found that `OpenGenerator.GetSpanId` is the same as `OpenGenerator.GetParentSpanId`.
To my understanding, the spanId should be different with `parentSpanId`. Is it a bug ?
![image](https://user-images.githubusercontent.com/26001097/149537224-f87f3ae1-2fd4-4f4a-9cf1-4a11d1515ae0.png)

### Environment

- Layotto Version
main branch

### Logs

- Paste the logs you see.

[2022-01-15 12:52] wenxuwan commented on #381
now layotto as the sidecar with app, and no ingress flow, so here use same logic

[2022-01-19 02:11] jingb commented on #309
mark

[2022-01-19 02:12] jingb commented on #166
mark

[2022-01-26 03:13] wenxuwan commented on #379
#380  fix it

[2022-01-26 03:13] #379 closed

[2022-01-26 03:13] #381 closed

[2022-02-01 02:12] #371 closed

[2022-02-02 02:09] #347 closed

[2022-02-07 07:23] seeflood opened #383 "[Proposal] Add an `extends` field in the config.json for extendibility"
**What would you like to be added**:
Add an `extends` field in the `config.json` , so that users can add their own configuration items and corrosponding parser function.

For example ,  a user is doing some extensions based on layotto and he wants to add a dump feature. To do that, he should configurate a local files system path telling layotto where to dump. In this scenario, he can modify the `c

[2022-02-07 07:43] zhenjunMa commented on #383
+1

[2022-02-08 09:26] jingb opened #384 "Layotto是直接复用了mosn的全部能力包括可观测这块嘛"
为了方便点我就直接中文描述了
基本上阅读了一遍layotto的文档，我理解Layotto是直接复用了mosn的所有能力
但我在 [新手任务计划](https://github.com/mosn/layotto/issues/108) 里面又看到了有可观测性的任务如下
![image](https://user-images.githubusercontent.com/9337766/152955758-c2827c9c-c83d-4ab3-a40e-243600a5d66a.png)
对这块有点疑惑，如果复用了mosn按理这些应该是都有的？
还没有仔细看mosn的文档和layotto的代码

背景
当前我这边的是在做FaaS相关的事情，函数间的调用及函数调用其他中间件都是需要一些治理能力的
想通过引入serviceMesh的方式把通用逻辑沉到sidecar减少不同语言支持的工作量
在ist

[2022-02-08 09:32] LXPWing commented on #108
Hi @seeflood , Is the " add distributed sequncer API for java sdk"  finished yet, if not I would like to try it

[2022-02-08 12:55] seeflood commented on #384
hi @jingb ，欢迎！

是的

对这块有点疑惑，如果复用了mosn按理这些应该是都有的？

现在想用layotto对接skywalking的话，还需要做一些集成工作的。因为现状是：
1. [mosn通过skywalking上报trace数据 只支持http1协议](https://mosn.io/blog/posts/skywalking-support/)  如果是别的协议的流量，还不支持skywalking上报。
![image](https://user-images.githubusercontent.com/26001097/152990126-247ad088-b33e-4a29-8ea3-6a7c65c06fd0.png)
2. layotto现在的trace是复用了mosn的trace框架，但是写死了用"SOFATracer"这个driver

因此需要做一些集成工

[2022-02-08 12:58] seeflood commented on #384
当前我这边的是在做FaaS相关的事情，函数间的调用及函数调用其他中间件都是需要一些治理能力的
想通过引入serviceMesh的方式把通用逻辑沉到sidecar减少不同语言支持的工作量
在istio及linkerd间选型，考虑到mosn是可以作为istio的另外一种数据面选择及layotto在Runtime Api这块的前瞻性，当前是比较想使用istio+layotto 引入到这边做的FaaS平台

哈哈，我们也在落地 layotto支持faas，你们的架构是啥样的，可以交流下~

[2022-02-08 13:14] seeflood commented on #108
Hi @LXPWing,it has not been done yet.
I add a new issue https://github.com/layotto/java-sdk/issues/12 and it will be assigned to you.
Thanks for your help !

[2022-02-09 02:38] jingb commented on #384
嗯，看过文档和相关的issue
我这边是基于开源框架fission做faas服务，不过已经改得面目全非了。fission是基于k8s的，函数跑在pod里面，单pod单函数做隔离，利用k8s的能力（比方调度）。当前业界大部分的开源faas产品都是基于k8s做，而公有云的产品好像基本都不是基于k8s，至少我了解的企鹅和aws都不是。
像aws底层函数是跑在firecracker上面，我理解你们探索用wasm跑函数，是想利用wasm的隔离性和多语言支持，算faas平台里面的一部分

[2022-02-09 07:10] zhenjunMa commented on #384
@jingb
我们调研wasm，除了隔离性跟多语言支持外，还有一点是调度的速度，我了解基于k8s的话，创建一个pod出来耗时已经不低了（当然这里应该可以优化，不知道你们有没有做这方面的事情），要是再加上函数本身的启动时间（资源初始化之类），很难达到用时启动的目标，比如请求可能都超时了，结果函数还没启动，甚至pod还没创建出来。

[2022-02-09 07:38] jingb commented on #384
@zhenjunMa  是的，少说了这个冷启动的事情
一开始选用fission就是因为fission实现了热pod池的能力，能够很大程度上降低冷启动的耗时。

所谓热pod池就是一组已经调度完运行起来的pod，函数请求来的时候实例数从0->1，随机选一个可用的pod，然后把函数代码（先忽略编译）从存储里下载到pod里面，利用各种语言的动态加载机制加载进去，然后就可以开始提供服务了。

因为是提前调度好的pod，所以是没有调度、拉镜像这些耗时大头的步骤的，一个空间换时间的解法。
当前这里面是有一些问题的，比方
1. 这组pod规格都是一样的，数量多了浪费少了可能不够，怎么弹起来
2. 函数的代码不能太大，不然拉代码的时间太长
3. 针对问题2我们看细一些，用户的需求是不可控的，比方用户需要个A三方包，要么是我这个pod镜像里已经有了，要么是用户自己把三方包打进代码里面，这样不可避免代码包的大

[2022-02-09 11:19] seeflood commented on #384
@jingb 好呀好呀可以详聊，因为我们除了在内部落地faas之外，也在做调研、想着和各种开源serverless生态做集成，方便开源用户落地serverless。可以聊聊您有啥需求，我们帮着共建
要不加群聊？钉钉群 31912621   或者微信群
![image](https://user-images.githubusercontent.com/26001097/153189660-812667b4-f400-4307-8f39-256d1bb7bfc1.png)

[2022-02-10 07:36] #214 closed

[2022-02-17 08:12] #275 closed

[2022-02-19 12:25] xewn opened #389 "Dapr启动的时候，不是蚂蚁和微软一起发起的？为什么现在不支持dapr了？"
Dapr第一次了解，就是从蚂蚁和微软合作开始的。
为什么不继续完善Dapr，而是又搞一套新的。这样会不会让学习成本更高呢？
Dapr支持的语言比较多，会不会更有优势呢？

[2022-02-20 02:15] seeflood commented on #389
Dapr是微软发起的哈，Layotto的目标是在service mesh的数据面上去支持dapr api，通过共建把api做成一个社区标准，见 https://github.com/dapr/dapr/issues/2817#issuecomment-1021415191
可以理解成“dapr api的另一种实现”

[2022-02-21 11:40] stulzq commented on #383
+1

[2022-02-21 12:30] stulzq commented on #360
please assign to me

[2022-02-21 17:00] Xunzhuo opened #392 "Proposal: make layotto more friendly in Cloud Native Ecosystem"
**Hi community :)**
    I am willing to propose and push the process of containerization and cloud native compatibility in layotto, some major tasks I can imagine:

## Refactor the Dockerfile
 I read the structure of dockerfile/makefile for now, generally great, but I think we can optimize them better and more clean.

## Provide Docker-Compose
If users want to start to use and run some demos (As I

[2022-02-22 09:31] seeflood commented on #392
Thanks for your proposal ! These are really important and can make Layotto more cloud native :)
Looking forward to your pull request.
If you find there is too much to do, you can also split them into different tasks and add the tasks into the [community task list](https://github.com/mosn/layotto/issues/108) so that others can help.

[2022-02-22 11:57] stulzq commented on #360
This issue can be closed

[2022-02-22 11:57] #360 closed

[2022-03-03 08:05] chen1076680807 commented on #108
Hi @seeflood ,I want to try add distributed lock API for java sdk

[2022-03-03 08:06] chen1076680807 commented on #108
Hi @seeflood ,I want to try add distributed lock API for java sdk

[2022-03-03 08:28] seeflood commented on #108
@chen1076680807 cool !
I add a new issue https://github.com/layotto/java-sdk/issues/15 and it will be assigned to you.
Thanks for your help !
If you met any problems, feel free to ask for help. You can contact with us on both github and dingtalk

[2022-03-03 09:58] seeflood commented on #310
@stulzq is working on it

[2022-03-04 14:19] LXPWing commented on #108
hi @seeflood, I want to try pubsub api

[2022-03-04 14:24] seeflood commented on #361
Dapr pubsub API will be assigned to @LXPWing
You can take https://github.com/mosn/layotto/pull/377 and  https://github.com/mosn/layotto/pull/362 as examples

[2022-03-04 14:26] seeflood commented on #108
@LXPWing Cool !
I reopen the issue and assigned to u,see https://github.com/mosn/layotto/issues/361

[2022-03-10 09:55] seeflood commented on #392
@Xunzhuo  Hi , are u working on it?
@stulzq 老师 can help do kubernetes integration. Can we split this proposal into different sub tasks?
- [ ] Refactor the Dockerfile
- [ ] Provide Docker-Compose
- [ ] deploy layotto in kubernetes (with Helm ,or some other approaches)
- [ ] Provide Operator to add/update/delete laytto and watch its events
- [ ] Provide more powerful CI by GitHub Workflows in Projec

[2022-03-10 09:57] Xunzhuo commented on #392
Yes, I am working on this, but due to the busy work recently, I will start to do the jobs ASAP.

[2022-03-10 11:45] stulzq commented on #392
okkk
![image](https://user-images.githubusercontent.com/13200155/157655352-1156206a-7e4b-4842-b692-1f8c1bb10064.png)

[2022-03-11 05:37] seeflood commented on #384
更新：对接skywalking的pr在review, #310  可以一起看下

[2022-03-11 05:37] #389 closed

[2022-03-14 12:19] zhenjunMa opened #415 "[GLCC] Add more components and api features in integrate test"
This issue will participate in the [chinese GLCC activity](https://mp.weixin.qq.com/s/yBem9JTrPI5OKWqunUQWAQ) . So I wrote it in chinese:

## 1、题目描述
为 Layotto 的集成测试增加更多的组件以及覆盖更多的 API 特性。

## 2、编码任务
  - [ ] 在启动配置文件中增加`etcd`、`zookeeper`等组件的配置
  - [ ] 修改`other_component_integrate_test.go`文件来支持更多组件的代码
  - [ ] 在`redis_integrate_test.go`以及新增的组件中增加更多的测试场景

可以参考的代码如下：

功能相关：
1. 镜像构建模板：`docker/app/integrat

[2022-03-16 10:26] seeflood opened #416 "User custom component"
**What would you like to be added**:
We already have the [API plugin feature](https://mosn.io/layotto/#/en/start/api_plugin/helloworld) and users can add their own private API.
What about user custom components?
For example,users have a private "distributed transaction API" and might need a special type of  "distributed transaction component".
We can add a special interface of `custom.Component`:

[2022-03-18 02:32] seeflood opened #417 "源码解析: 总览"
Note: since this is a Chinese community activity,I wrote it in Chinese.

- [ ] 源码解析：总览
主要用于按从整体视角介绍 Layotto , 解析各个模块的主要功能以及关系

- [ ] 源码解析: 4层流量治理，tcp流量dump
https://github.com/mosn/layotto/issues/425
- [ ] 源码解析: 7层流量治理,接口限流
https://github.com/mosn/layotto/issues/426

-  [ ] 源码解析: 启动流程
https://github.com/mosn/layotto/issues/418

- [ ] 源码解析: WebAssembly相关
https://github.com/mosn/layotto/issues/427

-

[2022-03-18 02:49] seeflood opened #418 "源码解析: 启动流程"
Note: since this is a Chinese community activity,I wrote it in Chinese.

### 介绍
分析 Layotto 的启动流程。
Layotto “寄生”在 MOSN 里，启动流程其实是先启动 MOSN, MOSN 在启动过程中回调 Layotto、让 Layotto 启动。

MOSN 的启动流程可以参考 [《MOSN 源码解析 - 启动流程》](https://mosn.io/blog/code/mosn-startup/) (这篇文档讨论的MOSN版本是v0.4.0 ，有点老，而目前 Layotto 依赖的 MOSN 版本是v0.25.1）

### 难度: medium

### 参考解析

- 启动流程是什么样的，做了哪些事，MOSN 是怎么回调 Layotto、让 Layotto 启动的。

###  参考阅读

[2022-03-18 06:25] seeflood opened #419 "Bug: macOS security warnings"
**What happened**:
Unexpected security warnings will appear when running our program on the macOS 12.0

See https://github.com/dapr/components-contrib/pull/1535

cgo-gcc-prolog:81:11: warning: 'SecKeychainCreate' is deprecated: first deprecated in macOS 12.0 - Custom keychain management is no longer supported [-Wdeprecated-declarations]
/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/System/Li

[2022-03-18 06:54] seeflood opened #420 "Connect Apollo Server Fail"
**What happened**:
A `Connect Apollo Server Fail` error sometimes appears when running our demo. It might be [apollo demo server](106.54.227.205)'s problem or someone modified some configuration in that server.
We have to make our demo more robust.

2022-03-18 14:50:12,192 [ERROR] Connect Apollo Server Fail,url:[[http://106.54.227.205:8080/configs/testApplication_yang/default/sidecar_config_tags?r

[2022-03-18 07:21] seeflood opened #422 "More documentation for API-plugin and user custom component"
**What would you like to be added**:
We need more documentation for the [API-plugin](https://mosn.io/layotto/#/en/start/api_plugin/helloworld) and [user custom component](https://github.com/mosn/layotto/issues/416) features. Currently there are only quickstart demos and design doc.

**Why is this needed**:
Because users come to ask relevant questions

[2022-03-18 07:36] #419 closed

[2022-03-18 10:01] seeflood opened #424 "源码解析: 处理 rpc 请求"
Note: since this is a Chinese community activity,I wrote it in Chinese.

### 介绍
阅读源码，分析 Layotto 处理rpc请求的流程。

Layotto “寄生”在 MOSN 里，rpc请求到达sidecar时，其实是先经过 MOSN、MOSN通过[grpcFilter](https://github.com/mosn/mosn/blob/master/pkg/filter/network/grpc/filter.go) 把流量转给 Layotto ，Layotto 解包、处理之后，再通过一对虚拟连接(net.Pipe) 将流量转给MOSN, MOSN做流量转发

### 难度: Hard

### 参考解析

- 处理 rpc 请求的流程是什么样的

###  参考阅读
[进行RPC调用--helloworl

[2022-03-18 11:33] seeflood commented on #420
pubsub API demo will use redis instead, See #423

[2022-03-18 11:55] seeflood opened #425 "源码解析: 4层流量治理，tcp流量dump"
Note: since this is a Chinese community activity,I wrote it in Chinese.

### 介绍
阅读源码，分析 Layotto 是怎么做 tcp流量dump的

Layotto “寄生”在 MOSN 里, 可以通过 MOSN的[4层filter扩展机制](https://mosn.io/docs/concept/extensions/) 写filter、做流量治理
Layotto 项目里自带了一个filter、做tcp流量dump，用于演示如何扩展4层filter，见 https://mosn.io/layotto/#/zh/start/network_filter/tcpcopy

### 难度: Easy

###  参考阅读
https://mosn.io/layotto/#/zh/start/network_filte

[2022-03-18 11:59] #384 closed

[2022-03-18 12:06] seeflood opened #426 "源码解析: 7层流量治理,接口限流"
Note: since this is a Chinese community activity,I wrote it in Chinese.

### 介绍
阅读源码，分析 Layotto 是怎么做接口限流的

Layotto “寄生”在 MOSN 里, 可以通过 MOSN的[7层stream filter扩展机制](https://mosn.io/docs/concept/extensions/) 写stream filter、做流量治理
[Layotto 官方文档中提供了一个接口限流的示例](https://mosn.io/layotto/#/zh/start/stream_filter/flow_control)，用于演示如何扩展7层流量治理功能，其中用到的 stream filter在 MOSN 项目中。

### 难度: Easy

###  参考阅读
[Layotto 官方文

[2022-03-18 14:22] seeflood opened #427 "源码解析: WebAssembly相关"
Note: since this is a Chinese community activity,I wrote it in Chinese.

### 介绍
阅读源码，分析 Layotto中 WebAssembly 相关功能

Layotto 支持加载并运行以 wasm 为载体的 Function，并支持Function之间互相调用以及访问基础设施，如Redis。应用可以通过http请求访问Layotto、调用相应的 Function。

### 难度: Medium

###  参考阅读
https://mosn.io/layotto/#/zh/start/wasm/start
https://mosn.io/layotto/#/zh/start/faas/start
[WebAssembly 在 MOSN 中的实践 - 基础框架篇](https://mosn.io/blog/post

[2022-03-18 14:54] #277 closed

[2022-03-19 03:34] nobodyiam commented on #420
it looks like the namespace `sidecar_config_tags` was deleted by someone

http://106.54.227.205/config.html?#/appid=testApplication_yang

![image](https://user-images.githubusercontent.com/837658/159105134-f957a58c-5511-4f1d-931f-855aa124a48a.png)

[2022-03-19 09:38] seeflood commented on #420
fixed.
@nobodyiam Layotto apollo component will create the namespace automatically. But the token was somehow invalid.
I authorized the token again according to [the document](https://www.apolloconfig.com/#/zh/usage/apollo-open-api-platform?id=_22-%e7%bb%99%e5%b7%b2%e6%b3%a8%e5%86%8c%e7%9a%84%e7%ac%ac%e4%b8%89%e6%96%b9%e5%ba%94%e7%94%a8%e6%8e%88%e6%9d%83) and the error disappeared

[2022-03-19 10:22] #420 closed

[2022-03-22 02:58] #422 closed

[2022-03-23 02:33] seeflood commented on #108
New tasks added:
- 源码解析计划 https://github.com/mosn/layotto/issues/417

[2022-03-23 02:42] seeflood opened #436 "Documentation Improvement Plan 如果文档解答不了您的问题，欢迎留言"
If the document does not answer your question, please leave a message here.
We have a test-driven documation improvement strategy:
If we can't answer a user question by just sending him/her a link, then we need to consider whether the answer should be written into a document.

Question lists:

- [x] How to use api-plugin
fixed in https://github.com/mosn/layotto/pull/429
You can see it here: https:

[2022-03-23 05:52] ZLBer commented on #243
@seeflood  do we need  pr title check now? find an action,  i  have tested it,  we can add.
https://github.com/thehanimo/pr-title-checker

[2022-03-23 06:37] wangxingyu000 opened #438 "“SOFA 星球”闯关计划 —— Layotto飞船"
## 一、这是一个什么样的游戏

近年来，整个时代技术潮流走向开源与开放，中国开发者已经成为全球开源体系中的重要力量。

互联网企业都在积极拥抱开源，中国已逐渐生长出越来越亮眼的开源项目。SOFAStack 社区作为蚂蚁集团开源经验丰富的金融级分布式架构开源社区，还不快来搭上开源的列车。

## 二、这是一艘什么样的飞船

SOFA 星球中有众多开源项目，就像是一艘艘的飞船构建起了星球的生态，本次闯关活动中的 Layotto 飞船就是其中重要的一艘，提供了各种分布式的能力，比如状态管理、配置管理、事件发布订阅等能力，以简化应用的开发。 是一款使用 Golang 开发的应用运行时, 旨在帮助开发人员快速构建云原生应用，帮助应用和基础设施解耦。

徘徊在开源门口的技术爱好者，你还在犹豫什么？

和社区共同成长，不再做开源旁观者！

### 第一关：先立一个小 flag

**一、测试相关**

[2022-03-23 08:09] seeflood commented on #243
@ZLBer It sounds good ! I think we need it.
We can add some guideline on "how to format the PR title and pass the PR title check" in [the document](https://mosn.io/layotto/#/zh/development/explanation-for-github-workflow).
When users have trouble fixing the CI ,we can send them the document link and help them

[2022-03-23 08:42] seeflood commented on #438
感谢毛毛 !!!

这个 @ZLBer 在搞

这个先hold，等 @Xunzhuo @zhenjunMa 做前置准备

作为替代，我再录入些新任务哈

[2022-03-23 09:18] ZLBer commented on #243
@seeflood fine,  late commit

[2022-03-23 09:29] shenjing023 opened #439 "Run make image with error in "Configuration API demo with Etcd""
**What happened**:
In Configuration API demo with Etcd step, run `make image` and error happened
[code]
**What you expected to happen**:
No error
**How to reproduce it (as minimally and precisely as possible)**:
Just run `make image`
**Anything else we need to know?**:
For the Chinese network, add GOPROXY in the Makefile
[code]

[2022-03-23 10:36] seeflood commented on #439
Thanks for your feedback !
Could you modify your local GOPROXY permanently by running `go env -w GOPROXY=https://goproxy.cn,direct` ?
If we add GOPROXY in the Makefile ,the github workflow will use chinese proxy too,which might also lead to timeout ....

[2022-03-23 11:11] shenjing023 commented on #439
I had set go env, but also failed
[code]

[2022-03-23 15:16] seeflood commented on #439
You are right. I can reproduce this issue at home now 😿
It's because the `docker run` command build the layotto in a container without GOPROXY.
I will fix it.

[2022-03-23 15:59] seeflood commented on #439
It wil be fixed in #441

[2022-03-24 02:57] #439 closed

[2022-03-25 09:08] #243 closed

[2022-03-25 11:47] seeflood commented on #436
- [ ] 钉钉群问题，待补充文档
[code]

[2022-03-26 03:04] seeflood opened #443 "Proposal: 文档治理工程化"
本提案讨论：设计一套流程，由流程来告诉我们如何优化文档、优化哪些文档中的哪些细节，避免过早优化、避免重写已经能解决问题的文档，提高优化文档的 ROI

### 思路1: 机器测试文档。在 CI/CD 流程中，自动测试 quickstart 文档
1. 可以用工具，自动执行 quickstart 文档中的命令，相当于自动测试 quickstart，保证 quickstart 能快速跑通
比如 https://github.com/bashup/mdsh

2. 自动扫描死链接
https://github.com/tcort/markdown-link-check

3. 自动检查 markdown语法错误

### 思路2：机器生成文档
比如用模板语言编写 markdown，其中部分内容（比如“引用代码块”）由代码生成
比如 .proto 文件自动生成接口文档

### 思路3: 人类测试

[2022-03-26 07:58] nobodyiam commented on #443
Can't agree more.

[2022-03-26 08:19] 2019030007547 commented on #438
你好@seeflood，我想要尝试为 state API 相关代码添加注释

[2022-03-26 08:50] seeflood commented on #438
@2019030007547 好呀欢迎~ 我在 issue https://github.com/mosn/layotto/issues/112#issuecomment-873522095 里把这个任务 assign 给你

参考资料：
[新手攻略：从零开始成为 Layotto 贡献者](https://mosn.io/layotto/#/zh/development/start-from-zero?id=%e6%96%b0%e6%89%8b%e6%94%bb%e7%95%a5%ef%bc%9a%e4%bb%8e%e9%9b%b6%e5%bc%80%e5%a7%8b%e6%88%90%e4%b8%ba-layotto-%e8%b4%a1%e7%8c%ae%e8%80%85)
可以参照quickstart demo把hello world跑起来，先了解项目是干啥的

[使用State AP

[2022-03-29 09:21] #269 closed

[2022-03-30 02:20] seeflood commented on #309
@yanggeorge 哈哈，这个文章是去年写的，这周要发布v0.4 了，会解决其中一部分问题
用 dapr 的过程中遇到问题也欢迎讨论哈
这周也会参与木兰社区的直播，分享 Layotto 落地体验，感兴趣也可以来看看

[2022-03-30 02:35] yanggeorge commented on #309
@seeflood 好啊。能发一个直播的地址吗？

[2022-03-30 02:44] seeflood commented on #309
@yanggeorge 晚点等我问到发你，我现在也不清楚 😆  时间是周五上午

[2022-03-30 07:11] seeflood commented on #309
@yanggeorge B站预约直播地址：
https://t.bilibili.com/643279315254902791?share_medium=android&share_plat=android&share_session_id=0301ad7f-3846-4c07-9e27-d958f7134b96&share_source=COPY&share_tag=s_i&timestamp=1648614037&unique_k=QlWOAC1

[2022-03-30 07:13] paojiao-fengzhua opened #444 "Layotto 源码解析系列"
### 关于 Layotto 源码解析系列

Layotto 源码解析活动是由 SOFAStack 团队主办的开源活动，我们希望打造一个人人皆可参与，基于 GitHub 协作的积极透明的开源活动。

本次活动旨在增强大家对 Layotto 的了解与认知，促进开源社区的交流，让大家更好的了解、学习和使用开源项目，是大家学习和使用 Layotto，与 Layotto 的核心开发者直接交流的一个良好契机。

本次活动所产出的文章将首先发表在 [Layotto 项目主页](https://mosn.io/layotto)上，同时也将会进行线上全渠道的推广，经整理后的部分内容会作为 [SOFAStack 官方博客](https://www.sofastack.tech/)中，并会在全渠道进行推广发布。

***

### 活动角色划分

- 参与者：所有对社区项目感兴趣的开发者。
- Reviewe

[2022-03-30 07:14] yanggeorge commented on #309
@seeflood thx.

[2022-03-31 02:41] rayowang commented on #424
/assign

[2022-03-31 02:43] rayowang commented on #424
assign

[2022-03-31 02:43] #383 closed

[2022-03-31 03:02] seeflood commented on #424
@rayowang 欢迎加入社区~ 过程中遇到问题随时讨论哈，微信 钉钉 github都可以联系

[2022-04-01 08:59] seeflood commented on #443
update:
可以用工具，自动执行 quickstart 文档中的命令，相当于自动测试 quickstart，保证 quickstart 能快速跑通
比如 https://github.com/bashup/mdsh

[2022-04-02 05:15] seeflood opened #447 "proposal: 使用工具自动测试 Quickstart 文档"
Quickstart 是项目的门面, 如果新用户进入仓库后，发现 Quickstart 文档跑不起来，可能会失望的走掉。

所以我们要经常性的测试 Quickstart, 保证能正常运行。

但是……定期手动测试 Quickstart、修复文档中的异常，这个过程实在太花时间了：

![](https://gw.alipayobjects.com/mdn/rms_5891a1/afts/img/A*fTI5RbfAK3gAAAAAAAAAAAAAARQnAQ)

烦死了！

我们用工具自动测试文档吧！

提案：
1. 编写 Quickstart 时，需要按照规范，保证运行文档不会报错
2. 用工具自动测试文档
3. 以后把文档测试加入 CI 里

详细说明见 https://mosn.io/layotto/#/zh/development/test-quickstart

[2022-04-02 08:07] kuaile-zc commented on #426
assign

[2022-04-02 09:01] seeflood commented on #426
@kuaile-zc 欢迎~~有问题可以随时聊哈，群里或者github都行

[2022-04-03 03:19] #310 closed

[2022-04-03 03:58] #416 closed

[2022-04-03 04:05] seeflood commented on #443
update:
自动扫描死链接
https://github.com/tcort/markdown-link-check

[2022-04-07 03:07] unionhu opened #448 "layotto依赖mosn版本升级"
希望以来的mosn版本升级至 v0.27.0 Release

 v0.27.0 Release支持xds3.0协议

[2022-04-07 03:52] GOODBOY008 commented on #425
assign

[2022-04-07 04:15] seeflood commented on #108
New tasks added:
- Add comments for [file API related code in the proto file](https://github.com/mosn/layotto/blob/31dda6a27c9719dc33ab0d8e9f19c1e1f49972f8/spec/proto/runtime/v1/runtime.proto#L73).

- Change the apollo sdk to https://github.com/apolloconfig/agollo .Currently we are using github.com/zouyx/agollo

- Translate [Skywalking quickstart documentation](https://mosn.io/layotto/#/zh/start/t

[2022-04-07 05:16] seeflood commented on #425
@GOODBOY008  欢迎~~有问题可以随时聊哈，群里或者github都行

[2022-04-07 05:20] seeflood opened #449 "doc: show users how to export different kinds of metrics"
**What would you like to be added**:
Layotto has the ability to export different kinds of metrics ,such as go runtime metrics, cpu metrics.
We should improve the [document](https://mosn.io/layotto/#/en/start/trace/trace) and explain how to export them.

**Why is this needed**:
Show users how to export these metrics

[2022-04-07 06:14] seeflood opened #450 "doc(quickstart): use local minIO instead of remote minIO service"
**What would you like to be added**:
Change [MinIO's demo](https://mosn.io/layotto/#/zh/start/file/minio) to:
- use docker to deploy MinIO by default
- Layotto invoke local MinIO by default

**Why is this needed**:
Currently, the demo uses the MinIO official demo service by default, but the service is unstable.
![image](https://user-images.githubusercontent.com/26001097/162132633-9fe7ed83-054e-434

[2022-04-07 07:23] jieeny commented on #108
@seeflood， I want to try Translate "Explain Layotto's github workflow" into Chinese

[2022-04-07 07:27] jieeny commented on #108
@seeflood  Hi , I want to try Translate "Explain Layotto's github workflow" into Chinese。

[2022-04-07 07:34] seeflood opened #452 "layotto shouldn't require go-sdk in the go.mod"
**What would you like to be added**:
Currently layotto has the dependency of go-sdk,which is unreasonable:
![image](https://user-images.githubusercontent.com/26001097/162144923-ec60eaf5-5c40-4d2a-b1a4-4ca8842a8312.png)
It's because the integration tests in `test/runtime/redis_integrate_test.go` imports the go-sdk.

We can move these tests to go-sdk module and then delete this dependency

**Why is

[2022-04-07 07:48] seeflood opened #453 "doc: Translate "Explain Layotto's github workflow" into Chinese"
**What would you like to be added**:
Translate ["Explain Layotto's github workflow"](https://mosn.io/layotto/#/zh/development/explanation-for-github-workflow) into Chinese.

**Why is this needed**:
Make it easier for chinese contributors to understand the CI pipeline

[2022-04-07 07:49] seeflood commented on #453
This issue is assigned to @jieeny

[2022-04-07 07:49] seeflood commented on #108
@jieeny Thanks for your help !
I assigned it to you in https://github.com/mosn/layotto/issues/453

[2022-04-07 12:11] #448 closed

[2022-04-07 12:43] wenxuwan opened #455 "Change the demo of each API to one"
Now there are multiple demos of each API. For example, there are 5 implementations under the demo of sequencer. This does not prove that layotto is portable. It will be better if a demo can invoke multiple components.

![image](https://user-images.githubusercontent.com/11661906/162201294-a9b9da45-1008-42d3-b2e9-49b835f24410.png)

[2022-04-07 12:54] seeflood commented on #455
Good point! We should do some refactor.
For example, there should be only one demo for sequencer API, and this single demo can be used with different kinds of components,such as zookeeper , redis and mongodb.

We can split this issue into different tasks:
- [ ] One single demo for all Sequencer API components
- [ ] One single demo for all Configuration API components
- [ ] One single demo for all

[2022-04-07 12:56] seeflood commented on #448
done.
You can try the latest code in main branch

[2022-04-07 15:10] seeflood commented on #108
New tasks added,see https://github.com/mosn/layotto/issues/455

- [ ] Delete redundant demos and keep only one demo,which can be used for all Sequencer API components
- [ ] Delete redundant demos and keep only one demo,which can be used for all Configuration API components
- [ ] Delete redundant demos and keep only one demo,which can be used for all File API components
- [ ] Delete redundant demos

[2022-04-07 15:20] nanjingboy commented on #438
@seeflood 可以直接做这个吗？升级由 Rust 开发的 Wasm demo. https://github.com/mosn/layotto/issues/255

[2022-04-07 15:47] seeflood commented on #438
@nanjingboy 当然可以，欢迎！我assign 给你哈
遇到问题可以找我，群聊或者github都行

[2022-04-07 16:37] ZLBer commented on #450
/assign

[2022-04-08 00:14] seeflood commented on #450
@ZLBer
![image](https://user-images.githubusercontent.com/26001097/162339133-57011816-6ec3-4aa4-92eb-9de9d900f530.png)

[2022-04-08 07:25] seeflood commented on #447
We can split this issue into different tasks:
- [x] refactor quickstart document for State API and make it testable. See https://github.com/mosn/layotto/pull/451
- [ ] refactor quickstart document for pubsub API and make it testable.
- [ ]  refactor quickstart document for Configuration API and make it testable.
- [ ]  refactor quickstart document for Lock API and make it testable.
- [ ]  refactor

[2022-04-08 07:30] seeflood commented on #108
New tasks added:
- Test our quickstart documents in the CI. see https://github.com/mosn/layotto/issues/447
  - [x] refactor quickstart document for State API and make it testable. See https://github.com/mosn/layotto/pull/451
  -  refactor quickstart document for pubsub API and make it testable.
  -   refactor quickstart document for Configuration API and make it testable.
  -   refactor quickstart

[2022-04-08 08:00] nanjingboy commented on #438
OK，BTW，群聊指的是？还有二维码？

[2022-04-08 08:29] seeflood commented on #438
@GimmeCyy @nanjingboy hi, 我们拉了个微信群，可以微信添加 SOFAGirl180419  备注飞船任务，拉您进群哈~

[2022-04-10 00:27] seeflood opened #457 "[ERROR] [stage] invalid stage function or already started"
**What happened**:
When running the quickstart demos, an error often occurs:
[code]

**What you expected to happen**:
No error.

**How to reproduce it (as minimally and precisely as possible)**:
Run the demo in https://mosn.io/layotto/#/zh/start/state/start

**Anything else we need to know?**:

[2022-04-10 09:59] seeflood opened #458 "dubbo demo fails"
**What happened**:
The quickstart of [Dubbo JSON RPC Example](https://mosn.io/layotto/#/zh/start/rpc/dubbo_json_rpc?id=dubbo-json-rpc-example) fails:

[code]

It's because the directory doesn't exist any more:
![image](https://user-images.githubusercontent.com/26001097/162612843-074cb51b-5413-4b30-ad0c-0acb2165b237.png)

**What you expected to happen**:
No error

**How to reproduce it (as minimall

[2022-04-10 13:13] rayowang commented on #458
assign

[2022-04-10 13:37] seeflood commented on #458
@rayowang Thanks for your help!

[2022-04-11 02:54] seeflood opened #460 "Add demo and document for secret API"
**What would you like to be added**:
Add demo and document for secret API.

**Why is this needed**:
Currently layotto has the feature of secret API, https://github.com/mosn/layotto/pull/343  , but don't have corresponding demos and documentation

[2022-04-11 13:09] seeflood opened #462 "bug(actuator): apollo health status "INIT",even if no apollo component configurated"
**What happened**:
Run the demo in https://mosn.io/layotto/#/zh/start/api_plugin/helloworld?id=step-1-start-layotto-with-a-helloworld-api-plugin
[code]

and then invoke the actuator API:

[code]

Then we get:
[code]
The apollo status is "INIT".
But we didn't configurate any apollo component in `configs/config_in_memory.json` !

**What you expected to happen**:
No apollo health status when no apoll

[2022-04-11 13:18] seeflood opened #463 "Use in-memory component to implement the Actuator API"
**What would you like to be added**:
Currently our [Actuator quickstart demo](https://mosn.io/layotto/#/zh/start/actuator/start) use the apollo component,which connects to the apollo server by default.
![image](https://user-images.githubusercontent.com/26001097/162747043-1a3e69b1-592c-4b5e-82ee-e57d6bcd82f4.png)

However, due to the GFW, the github workflow can not connect to the apollo server whe

[2022-04-12 02:54] seeflood commented on #108
New tasks added:
### Bug fix
- fix bug of actuator: apollo health status "INIT",even if no apollo component configurated. see #462

### Write a Feature
- Use in-memory component to implement the Actuator API. See #463

[2022-04-12 09:49] LXPWing commented on #438
@seeflood  我试下” 提供一个 Layotto 集成 Prometheus 的示例 Demo“这个feature

[2022-04-12 10:12] #323 closed

[2022-04-12 10:13] #198 closed

[2022-04-12 11:42] seeflood opened #466 "Add a demo to show how Layotto can be integrated with Prometheus"
**What would you like to be added**:
Add a quickstart demo to show how Layotto is integrated with Prometheus.
Layotto already have the feature to export metrics data via http, see https://mosn.io/layotto/#/zh/start/trace/trace?id=metrics%e7%ae%a1%e7%90%86

**Why is this needed**:
Show users how to do integration

[2022-04-12 11:42] seeflood commented on #438
@LXPWing 好呀好呀，我建了个issue assign给你
https://github.com/mosn/layotto/issues/466

[2022-04-12 12:34] seeflood opened #467 "Add a document for how to integrate with istio 1.10"
**What would you like to be added**:
MOSN v0.27 can run with istio 1.10, and Layotto has recently upgraded MOSN to v0.27.
Now we need to add a document for how to integrate with istio 1.10

**Why is this needed**:
Show users how

[2022-04-12 12:42] jieeny opened #468 "how to tranlate the "stale bot" into chinese?"
hello,l have a question that how to tranlate the "stale bot" into chinese?

[2022-04-12 14:29] ZLBer commented on #418
assign me, bro

[2022-04-13 01:37] jieeny commented on #468
Good Morning.
Thanks for your help.
I have another question about What does  the "Lint" mean in the "explanation-for-github-workflow"?

[2022-04-13 02:50] seeflood commented on #468
About "what is Lint":

https://stackoverflow.com/questions/8503559/what-is-linting
https://www.perforce.com/blog/qac/what-lint-code-and-why-linting-important

For example, when u submit a PR, the github workflow find out that your code style does not meet the project specification and give you an error, that's linting

About "how to translate it":
I don't know either......maybe use the english nam

[2022-04-13 03:42] wenxuwan commented on #455
I will take Delete redundant demos and keep only one demo,which can be used for all File API components

[2022-04-13 03:44] wenxuwan opened #469 "Delete file redundant demos and keep only one demo,"
**What would you like to be added**:

I will refact file interface for portable.

**Why is this needed**:

really support write once, run anywhere

[2022-04-13 04:53] seeflood opened #470 "[proposal] Roadmap after v0.4"
Layotto 最近发布了 v0.4-rc 版本，开源至今已经有很多生产用户了。
[项目刚发布时的 Roadmap](https://github.com/mosn/layotto/issues/90) 倾向于通过头脑风暴来决策"要做什么功能"，现在既然我们已经有了生产用户，是时候调整一下 Roadmap 啦。

本文作为提案，讨论 v0.4 发布之后，社区:
- 如何决策哪些需求做、哪些不做
- 如何决策 "未来的 Roadmap"
- 如何判断 "要做的需求中，哪个优先级更高"
- 目前已知的需求和 Roadmap

## 需求从哪来
1. 用户需求

做"用户需求"，或者做"能让我们获得更多用户"的需求。

比如，在调研选型的用户非常关心 A 功能，那么 A 功能就属于"能让我们获得更多用户"的需求。

2. Moonshot

指：目前没有明确的用户需求，但是有很好的技术前景、co

[2022-04-13 05:09] JervyShi opened #471 "Supports running on multiple clouds"
2022.6.30 Update:
Roadmap
- [x] deploy layotto and client demos with binary files on ECS
- [x] a common docker image decoupled with config file .
- [x] build layotto/proxyv2 image. https://github.com/mosn/layotto/pull/655
- [x] poc，use istio to deploy layotto
Since katacoda will close:
  - [x] we need to migrate mosn tutorial to some other site
https://killercoda.com/mosn-tutorial/
  - [x] write a

[2022-04-13 05:22] seeflood commented on #311
main 分支最新代码升级了 MOSN 版本，现在已经支持 istio 1.10 了（RPC 流量被 MOSN 拦截,能享受 istio 的流量治理功能, 其他 API 走 Layotto)

但是如果用户希望 RPC 走 Layotto 的 invokeService API、而不是被 MOSN 拦截，那 Layotto 需要做下开发、适配，参考 https://mosn.io/layotto/#/zh/start/istio/start

所以，我们现在需要:
- [ ] https://github.com/mosn/layotto/issues/467 .assigned to @zhenjunMa
- [ ] Layotto 适配开发，让通过 invokeService API 调 Layotto 的 RPC 流量能享受 istio 的流量治理功能

[2022-04-13 08:47] #458 closed

[2022-04-13 09:28] #450 closed

[2022-04-13 09:34] seeflood opened #472 "make Secret API ready for production"
**What would you like to be added**:
Layotto already has the feature of Secret API, see https://github.com/mosn/layotto/pull/343
However, there are still many problems to be solved before it can be used in a production environment, including:
  - [x] Demos and docs. see https://github.com/mosn/layotto/issues/460
  - [ ] Let the components of other APIs refer to the secret component in the configur

[2022-04-13 11:27] Holdonbei commented on #438
hello，我申请一个为 actuator 相关代码添加注释的任务

[2022-04-13 11:38] seeflood commented on #438
@Holdonbei 好呀欢迎！我 assign 给你哈，见 https://github.com/mosn/layotto/issues/112

[2022-04-13 11:38] Holdonbei commented on #438
您的邮件我已收到。

[2022-04-13 13:19] jieeny commented on #468
ok,thank you for your help!

[2022-04-14 02:50] seeflood commented on #108
New tasks added:
  - [ ] Implementing File API components with ceph
  - [ ] Integrates with istio 1.10, allowing layotto's invokeService API to reuse istio's traffic management capabilities. See #311
Automated checking of PR mentions with related issues
  - [ ] Automatically check that new PR must have related issues

chinese:
  - [ ] 用 ceph 实现 File API 组件
  - [ ] 集成 istio 1.10, 让 layotto 的 invoke

[2022-04-14 03:33] seeflood commented on #470
@ZLBer @Xunzhuo @wenxuwan @zhenjunMa 可以一起看下哪些适合作为开源之夏的课题，

我目前想到的有：
- invokeService API 适配 istio 1.10
- 一个或多个 kubernetes 相关的
- secret API 功能完善
- wasm相关的

[2022-04-14 07:55] zhenjunMa opened #476 "New Feature: Implement Runtime API with WebAssembly componet"
### 1. What would you like to be added

At present, each runtime API in layotto has multiple implementations, such as' lock API 'and' consumer ',' etcd ',' redis' and so on. It is hoped that the component (existing or newly developed) can be compiled into wasm module and run in layotto.

### 2. Why is this needed

At present, there is no isolation in the existed Components. For example, if a Compo

[2022-04-15 02:09] nanjingboy commented on #256
@seeflood does this isssue have been assigned? if not, i want to pick it up

[2022-04-15 02:38] seeflood commented on #256
@nanjingboy Cool ! assigned to u.

[2022-04-16 08:39] seeflood commented on #471
拆解一下需求：
![image](https://user-images.githubusercontent.com/26001097/163668381-044c8200-2ddd-42d6-a2eb-210678a17dab.png)

[2022-04-17 06:36] kuaile-zc commented on #426
[flowcontrol_code_analyze_.md](https://github.com/mosn/layotto/files/8501116/flowcontrol_code_analyze_.md)

[2022-04-17 12:46] yanggeorge commented on #471
期待

[2022-04-17 13:52] ZLBer commented on #470
@seeflood  这个有点久了https://github.com/mosn/layotto/issues/189

[2022-04-17 14:38] seeflood commented on #470
@ZLBer 恩那我先把 #189 关了，kubernetes 相关的都在 xunzhuo的那个issue下讨论
感觉有道理，太高大上的可能离学生比较远，我们可以翻翻还有合适的组件类任务么。感觉拿ceph 做file api组件是一个?

[2022-04-17 14:39] seeflood commented on #189
This issue will be closed.  We can discuss it in #392

[2022-04-17 14:39] #189 closed

[2022-04-17 14:49] LXPWing commented on #470
其实可以上1~2个有关k8s的议题到开源之夏，我在gsoc中国讨论群发现玩istio\k8s的学生还是挺多的。

[2022-04-17 15:13] seeflood commented on #470
现在的学生好厉害……
那就每种类型/难度的任务都有，提高一下覆盖面? 比如：
组件相关的任务 x 个
k8s 的1~2 个
istio 的 1 个

[2022-04-17 15:18] LXPWing commented on #470
我觉得可以

[2022-04-17 15:53] ZLBer commented on #470
@LXPWing  老哥拉我进gsoc的讨论群玩耍下\(^o^)/

[2022-04-17 17:16] Xunzhuo commented on #470
是的，可以保留 kubernetes 和 istio 的项目，根据具体内容调整项目难度就好。

[2022-04-18 03:56] LXPWing commented on #470
q群：621656169 欢迎来水群👏

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "mosn/layotto"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年4月17日(星期天) 晚上11:53
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbs

[2022-04-18 03:57] LXPWing commented on #470
@ZLBer q群：621656169 欢迎来水群👏

[2022-04-18 04:02] Xunzhuo opened #485 "ci: replace `PR Title Checker` with a stable action"
replace pr title validator

compared with thehanimo/pr-title-checker:

amannn/action-semantic-pull-request is an ideal workflow to check PR Validation, it is followed by [semantic style](https://github.com/commitizen/conventional-commit-types), as for thehanimo/pr-title-checker, we need to write the pattern in json config, and actually thery are not followed by semantic style tyle, and we have to

[2022-04-18 08:12] seeflood commented on #426
@kuaile-zc 感谢贡献！可以直接提pull request、修改 [layotto 的官方文档](https://mosn.io/layotto/#/zh/blog/exploration-and-practice-of-antcloud-native-application-runtime-archsummit-shanghai) 哈
可以参照[文档贡献指南](https://mosn.io/layotto/#/zh/development/contributing-doc)
可以放在"博客"目录下
![image](https://user-images.githubusercontent.com/26001097/163778399-7333f38d-7781-41d3-a514-1e593d4dfe65.png)

[2022-04-18 16:12] seeflood commented on #392
Regarding to deployment in k8s:
I just read through mosn's tutorials again and surprisedly found that mosn can be deployed using istio's toolchain, at very little cost. The only thing mosn has to do is to build a proxyv2 image with mosn in it.
So...... If we build a proxyv2 image with layotto in it, we can reuse istio's toolchains to deploy in k8s ?

Ref:
https://mosn.io/docs/quick-start/istio/
ht

[2022-04-19 07:08] nanjingboy commented on #191
@seeflood it looks very interesing, please assign it to me ^_^

[2022-04-19 07:12] seeflood commented on #191
@nanjingboy Cool !
Assigned to u

[2022-04-19 08:55] wangxingyu000 commented on #438
hello～ 麻烦微信添加 SOFAGirl180419，备注飞船任务，反馈下任务困难和进度哟🌹

[2022-04-19 08:56] wangxingyu000 commented on #438
hello 辛苦微信添加 SOFAGirl180419，备注飞船任务，反馈下任务困难和进度🌹

[2022-04-19 11:49] seeflood commented on #470
补充了两个:
- layotto-on-pixiu
需要和pixiu 聊，在等答复
- [通用的超时、重试、熔断功能](https://docs.dapr.io/operations/resiliency/)

[2022-04-20 09:19] GimmeCyy commented on #438
@seeflood 我想尝试用 mysql 实现分布式自增id 组件

[2022-04-20 09:34] #426 closed

[2022-04-20 09:46] seeflood commented on #438
@GimmeCyy 感谢帮助！
你可以发个"用 mysql 实现分布式自增id 组件"的 issue （比如像https://github.com/mosn/layotto/issues/150 这样) 然后我们把 issue assign 给你~

[2022-04-20 09:51] GimmeCyy opened #489 "Implement Sequencer API component: mysql"
**What would you like to be added**:
Add Sequencer API component: mysql #438

[2022-04-20 09:52] seeflood commented on #489
感谢帮助！

参考资料:
[组件开发指南](https://mosn.io/layotto/#/zh/development/developing-component?id=%e7%bb%84%e4%bb%b6%e5%bc%80%e5%8f%91%e6%8c%87%e5%8d%97)
[快速开始：使用Sequencer API生成分布式唯一、自增id](https://mosn.io/layotto/#/zh/start/sequencer/start?id=%e4%bd%bf%e7%94%a8sequencer-api%e7%94%9f%e6%88%90%e5%88%86%e5%b8%83%e5%bc%8f%e5%94%af%e4%b8%80%e3%80%81%e8%87%aa%e5%a2%9eid)
[Sequencer API设计文档](https://mosn.io/layotto

[2022-04-21 08:01] seeflood opened #490 "bug: the binary file of v0.4-rc cannot be executed"
**What happened**:
the binary file of v0.4-rc cannot be executed

[code]
**What you expected to happen**:
Run successfully.

**How to reproduce it (as minimally and precisely as possible)**:
dowanload the `layotto_linux_amd` in https://github.com/mosn/layotto/releases/tag/v0.4.0-rc
![image](https://user-images.githubusercontent.com/26001097/164408015-c4f5f1d9-1960-4d87-951a-d4dd174793ee.png)
[code

[2022-04-21 08:22] seeflood opened #491 "bug: the binary file prints wrong information"
**What happened**:
The cli tool prints wrong information:

![image](https://user-images.githubusercontent.com/26001097/164411916-700f5e4d-d3b9-43c9-8cce-90526f82ea58.png)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
download the binary file for MacOS in https://github.com/mosn/layotto/releases/tag/v0.4.0-rc

and then run it:
[code]
**Anything

[2022-04-21 12:59] seeflood commented on #490
@wenxuwan I tried cross compilation but still can't run the binary file on linux. I don't know why :(
Finally I compiled it on linux server directly

[2022-04-21 13:46] seeflood commented on #490
fixed

[2022-04-21 15:13] ZLBer commented on #470
今年这么多限制啊， 看来参加的社区挺多啊，卷起来了嗷。把问题都抛出来让参赛者自选吧哈哈。

[2022-04-21 15:19] seeflood commented on #471
## 跨云部署”样板间“设计
### katacoda 教程
拿mosn的改一改，见 https://katacoda.com/mosn/courses/istio
仓库在 https://github.com/mosn/mosn-tutorial

- case 1: 服务网格流量治理
拿 layotto 跑 istio 流量治理案例

- case 2: 跨云切换组件
可以随意给 app 切换组件, 比如对象存储先用 aws s3, 后换成 阿里云oss；比如 pubsub 先用 rocketMQ，再换成 aws 的 MQ组件

- case 3: 跨云路由
动态根据规则路由 ( 比如admin 用户访问aws s3, 张三用户访问阿里云 oss)

- [ ] 需要开发一个复合组件，支持配规则，根据 header 或 metadata 路由

- case 4. 跨云容灾
演示容灾切

[2022-04-21 18:45] Xunzhuo commented on #470
对的 尽力而为吧，可能千辛万苦找来的同学（或者没有）最后鸽了/中途放弃了，对于社区来说参加开源之夏其实更多感觉是培养对社区能够长久贡献的人员，提供开源影响力，但是限制这么多的情况下，一个项目就一两个同学，大家花这么多精力搞这个，还不如咱们自己多花点精力在项目本身来的实在hh

[2022-04-22 00:01] seeflood commented on #470
对 我听完之后也是这感觉，还不如多花点精力在项目本身来的实在 😢

[2022-04-22 10:11] #491 closed

[2022-04-22 10:19] #462 closed

[2022-04-22 14:32] seeflood commented on #476
This issue will be assigned to  @rayowang .
We need a POC first. If the POC result is "NO", we can then ask wasmer community for help

[2022-04-22 14:54] seeflood commented on #392
Conclusion of community meeting discussion:
- Regarding docker image:  when no start-up arguments passed to layotto, layotto should try to read the configuration file from an ABSOLUTE path by default.
With this feature, we can mount the configuration file using ConfigMap in k8s

- Regarding helm chart: currently we only focus on using istio to deploy layotto. In the future, we can add a demo to sh

[2022-04-23 05:42] ZLBer commented on #472
@seeflood  anyone do this ? if not assign me.

[2022-04-23 06:20] seeflood commented on #472
@ZLBer No one working on it yet.
Need your help 🚀

[2022-04-23 12:40] akkw commented on #463
我想做这个，我们怎么沟通

[2022-04-23 14:26] seeflood commented on #471
## 交互设计 v0.2
还是给 Istio 的 Bookinfo 加功能，加入调用 对象存储之类的功能：
![image](https://user-images.githubusercontent.com/26001097/164497628-7bfb40eb-02d0-4343-83b9-b32efb34e7ea.png)

还是让用户在katacoda 实验室里部署 BookInfo。

但是架构变成：加入一个 preview service, 我们提前部署在两个云上.
用户在实验室环境启动bookInfo 集群后，由 product page 通过公网 http 调 preview service，并且能通过 istio 做流量治理，比如对 aws 的服务故障注入，则自动 failover 到 阿里云的服务；比如张三用户路由到阿里云，admin路由到aws
![image](ht

[2022-04-23 14:35] seeflood commented on #463
@akkw 啊不好意思，这个功能我已经做好合并进去了，因为还在写文档 所以这个issue 没关……
可以看下其他感兴趣的事情哈，见 #108 和 #470

[2022-04-24 05:13] akkw commented on #320
我可以做这个吗？    为java sdk新增分布式锁API

[2022-04-24 07:06] seeflood commented on #320
@akkw 好呀欢迎！
不过这个issue 不是做分布式锁 API的，您可以发个 issue （比如像 https://github.com/mosn/layotto/issues/489 这样），然后我们assign 给您~

[2022-04-24 08:07] akkw opened #498 "为Java SDK 实现分布式锁"
**What would you like to be added**:
为Java SDK 实现分布式锁

[2022-04-24 08:08] akkw commented on #320
#498 麻烦您给我分配一下

[2022-04-24 08:14] seeflood commented on #498
assigned to you. We need your help ! :)

[2022-04-24 08:15] seeflood commented on #320
@akkw 好了~

[2022-04-24 12:15] akkw commented on #498
有问题 我找谁沟通？

[2022-04-24 12:36] seeflood commented on #498
@akkw 可以就在这个issue 下面聊，或者来我们社区会议的钉钉群, 群号：41585216

[2022-04-25 04:24] ZLBer commented on #472
our meta can not  parse such data:

[code]
so i think we can change the structure of this：
[code]
our meta:
![image](https://user-images.githubusercontent.com/20033804/164985506-c9287f3e-3f11-406f-b4d9-35b972952bae.png)

dapr meta:
![image](https://user-images.githubusercontent.com/20033804/164985443-dbc3bf49-b02a-4ac3-ae62-05dfce41178b.png)

[2022-04-27 16:07] unionhu opened #500 "配置下发通道与配置热加载"
希望提供一个通用的配置下发的grpc协议通道，用于layotto与控制面的交互（可以参考[go-control-plane](https://github.com/envoyproxy/go-control-plane)），
可以随意定义用户可以，随意的定义下发配置的策略内容

用途：
1.redis、kafka客户端流量管理控制，可能需要容灾切换、灰度发布策略切换
2.redis连接参数调整、安全弱密码自动切换

[2022-04-28 01:15] rayowang commented on #427
assign

[2022-04-28 01:21] seeflood commented on #427
@rayowang Cool . Assigned to u

[2022-04-28 05:40] seeflood commented on #500
Cool. 个人一直期望在layotto runtime 层支持 流量治理规则、支持规则动态下发（像 envoy 那样），这样能帮助所有组件都获得强大的流量治理能力。

不过您的描述比较简单，我有一些疑问，比如：
- 是希望下发 key-value 结构的“配置”，还是类似于 xds 那样、有一定结构的“规则”呢？
- redis 的组件现在有一些failover之类的配置，这些配置项能否满足您的需求，见 https://docs.dapr.io/reference/components-reference/supported-state-stores/setup-redis/
- 启动配置文件里，现在有一些key/value配置项（见下图），layotto 会用这些配置项去初始化组件。如果加入动态规则下发后，您希望layotto 启动后，用哪里的配置做初始化，是启动后立刻读控制面的配置、

[2022-04-28 12:01] wenxuwan opened #501 "pub/sub configure no metadata will be panic"
**What happened**:

这个地方如果配置文件里面没有metadata往里面写的时候就会panic了

![image](https://user-images.githubusercontent.com/11661906/165747488-66bb74bd-eaa4-401c-8c3c-0d5a108ed03e.png)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2022-04-28 12:04] wenxuwan opened #503 "aws file will panic"
**What happened**:

aws oss file implement will panic

![image](https://user-images.githubusercontent.com/11661906/165748034-03de0bf0-4b56-4745-9558-6dfb008db01d.png)

here can't use nil for option args

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2022-04-28 12:14] seeflood opened #504 "bug(doc): modify ALL the mosn.io links in our documentation"
**What would you like to be added**:
[MOSN document site has be refactored and the urls are changed.](https://mp.weixin.qq.com/s/FtCSxAyEJemLZxIIctzh8w)
Since the old links are deprecated, we have to modify all the mosn links in our documentation
e.g. The link below is deprecated:
https://mosn.io/docs/configuration/trace/

**Why is this needed**:

[2022-04-28 14:52] seeflood commented on #472
@ZLBer that's really a problem :(
The existing key-value string pair is not expressive.
For example, if we use the structure you proposed:
[code]
It seems ok. But if we want to add a new secret reference here, e.g. a `redisToken`, it won't work:

[code]

[2022-04-28 14:55] unionhu commented on #500
如果要抽象到xds级别的结构的规则，可能相对困难
比如不同的mq，协议结构都不太一样，需要设计人员对每种mq的配置属性十分熟悉，才能抽象好
所以能否先以key-value形式发布，主要是针对企业自定义的组件api功能的规则

redis这种简单的容灾切换应该能满足，但是可能会考虑的更多

通常来说，layotto本地只会有控制面地址配置，其他配置均可以替换，当然也可以从本地配置获取
优先级为：控制面>本地配置

[2022-04-29 03:00] zhenjunMa commented on #472
I prefer `Solution A`, cause our project is still at an early stage, therefore, maintainability is more important than compatibility

[2022-04-29 04:45] #424 closed

[2022-04-29 05:12] seeflood commented on #503
@akkw OK. Thanks for your help !

[2022-04-29 05:13] seeflood commented on #503
This is one of [the bugs we found when testing v0.4-rc](https://github.com/mosn/layotto/milestone/2) .
After fixing all the bugs, we can move on to release v0.4

[2022-04-29 05:13] seeflood commented on #501
This is one of [the bugs we found when testing v0.4-rc](https://github.com/mosn/layotto/milestone/2) .
After fixing all the bugs, we can move on to release v0.4

[2022-04-29 07:41] wenxuwan opened #510 "proposal: make file api Portable"
**What would you like to be added**:

### 背景
当前的File接口很难做到可移植性，对于OSS来说，本身就有S3协议这种标准协议，因此本ISSUE提出通过Layotto的拓展API的能力，直接支持S3协议。

官方的阿里云OSS给出了接口的兼容列表，详情见[AWS S3兼容性](https://help.aliyun.com/document_detail/389025.htm?spm=a2c4g.11186623.0.0.19eb60aeNJ44AP#concept-2158780)，因此S3协议的设计可以先根据这个兼容列表来做，一些不兼容的接口能力也允许用户调用，但会根据具体的服务提供商来实现。官方列出的接口经测试下来，也并不完整，有接口支持并未列出。本人已对增删改查Object接口做过测试。

### 设计

在进行接口设计前要理清楚一个问题

[2022-04-29 11:49] zhenjunMa opened #513 "解耦API跟具体实现"
**背景**
现阶段， 应用调用 layotto API 的时候会设置一个 `store_name` 参数，比如应用希望调用的 state api 底层实现是 redis , 那么应用就会把这个参数设置成 redis , 这种方式会带来一些问题，比如应用某一天想从 redis 切换到其他缓存产品，那它就需要通过修改代码的方式来修改`store_name` 的值为 XXX , 这种做法违背了我们帮助用户平滑跨云部署的目标，因此希望通过增加一层映射关系来解决这个问题。

**设计方案**
目前的配置文件 `config_state_redis.json` 中，关于 redis 的配置如下：
![image](https://user-images.githubusercontent.com/28104581/165937588-1b76d9b4-483f-4620-ad00-9a8327327

[2022-04-29 12:59] seeflood commented on #501
This issue will be assigned to @akkw

[2022-04-29 13:29] akkw commented on #501
我来做这个吧

[2022-04-30 01:50] seeflood commented on #472
agreed.
Then we should make this incompatible changes in v0.5, and release v0.5 as soon as possible, so that we won't affect more users.

[2022-04-30 13:02] seeflood commented on #510
I propose we call it "AWS S3 API" instead of "File API" :)

[2022-05-01 10:50] seeflood opened #519 "title validation workflow can't add a label"
**What happened**:
 The title validation workflow will get an error when adding labels to a pull request.
https://github.com/mosn/layotto/runs/6244219201?check_suite_focus=true
![image](https://user-images.githubusercontent.com/26001097/166131194-4b135266-fa22-4a36-ac11-e70c6f3c0eca.png)
https://github.com/mosn/layotto/pull/515#issuecomment-1114119752

**What you expected to happen**:

**How to re

[2022-05-01 11:05] seeflood opened #520 "FaaS quickstart fails"
**What happened**:
[The FaaS quickstart demo ](https://mosn.io/layotto/#/zh/start/faas/start) uses a `make` command to build layotto, which is deprecated by #483 and leads to a demo failure.
![image](https://user-images.githubusercontent.com/26001097/166143225-2ead04c3-5421-4a0c-a5a9-b63a425fa630.png)

We should replace this command.

**What you expected to happen**:
Run the demo successfully.

**

[2022-05-01 11:09] Xunzhuo commented on #519
In my view l, as I proposed before, the current PR title validator is not ideal to check Commit Style. To check the semantic style, we have a better choice:)

[2022-05-01 11:40] seeflood commented on #519
@Xunzhuo Do you mean check every commit in a pull request?
I know projects like dapr will check commit style, for example, make sure there's sign-off information in every commit.
We discussed it before. The reason we don't check commit style is that it makes things harder for open-source beginners. As a new community, we want to be more friendly to beginners.
Maybe we can add this check after our

[2022-05-01 11:44] seeflood commented on #519
As for this issue, I find the authorization weird. For example, I have to "approve" the CI to run in #517  and even #515 . Don't know whether it's github's bug or our CI's issue.
![image](https://user-images.githubusercontent.com/26001097/166144317-e0824581-12b1-4ced-8e9f-6dbaace08ce7.png)

[2022-05-01 14:05] Xunzhuo commented on #519
no just PR title check:)

[2022-05-01 14:30] Xunzhuo commented on #519
Maybe not a bug, since we have new workflows to launch, maintainer needs to approve once, not every time:)

[2022-05-01 15:15] seeflood opened #521 "no compilation flags for version"
**What happened**:
I just found a problem with version.
Layotto used compilation flags to modify the [`Version` variable in main.go](https://github.com/mosn/layotto/blob/9a040f9842312bb6bddb09347e4d77cc6b4ddab9/cmd/layotto/main.go#L176) and :
![image](https://user-images.githubusercontent.com/26001097/166151052-1c55d91e-af62-4e4a-87a0-c533522cd11c.png)
But we removed the flags in new CI , which le

[2022-05-01 15:54] seeflood commented on #519
Oh, I'm ok with replacing current checker with other one. Actually I'm not good at this area and can't tell the difference between current one and the one you proposed . It's up to you , we follow your advice :)

[2022-05-01 16:15] Xunzhuo commented on #519
I will start an issue to explain why, after fixing the missing version issue.

[2022-05-01 21:13] Xunzhuo commented on #519
https://github.com/mosn/layotto/pull/522

Like this PR, the authoration issue did not appear again, all jobs work fine.

[2022-05-02 06:50] ZLBer commented on #472
@seeflood @zhenjunMa 我觉得我们可以在meta之外加一个refs字段，初始化的时候把refs里的字段注入到meta里就可以了，我觉得这样的改动是最小的了。不然改动真的挺大的，配置解析、配置文件、每种组件的config都得改。
<img src="https://user-images.githubusercontent.com/20033804/166195041-ff2eb0b3-7143-4326-a61d-81451218aeb4.png" width="50%" ></img>

[2022-05-02 14:03] rayowang commented on #457
At present, I think this problem is caused by the incompatibility of the front and rear design of mosn's stageManager stage management. A bug issue and pr have been raised to mosn, waiting for confirmation. For details, see: https://github.com/mosn/mosn/pull/2027

[2022-05-02 17:47] rayowang commented on #520
assign

[2022-05-03 00:10] seeflood commented on #457
@rayowang ok. Thanks!

[2022-05-03 00:13] seeflood commented on #520
@rayowang assigned to u. Thanks!

[2022-05-03 03:06] seeflood opened #528 "Unit tests fail in `component` package; 修复ut报错"
**What happened**:
Run unit tests under `component` package:
![image](https://user-images.githubusercontent.com/26001097/166400288-c6a04e76-29c0-4b07-88e4-9a6d26082738.png)

Then you will get some errors:

![image](https://user-images.githubusercontent.com/26001097/166400096-a637a4b5-b172-4439-b3bf-37d7e4b452a3.png)

The test cases have dependency on remote environment (and even need some token to

[2022-05-03 03:52] seeflood opened #529 "Reopen unit test in CI"
Our CI won't run unit tests due to #483 . Now it's time to reopen it.

We shall:
- [ ] Reopen unit test in CI
https://github.com/mosn/layotto/blob/223945e4a49c499ac66a5c13b267af6b080a79a1/.github/workflows/layotto-ci.yml#L59

- [ ] Don't test code under `./cmd/...` package
https://github.com/mosn/layotto/blob/223945e4a49c499ac66a5c13b267af6b080a79a1/make/golang.mk#L87
- [ ] Test code under `sdk/go

[2022-05-03 03:55] seeflood commented on #529
@Xunzhuo Hi, can I assign it to you?

[2022-05-03 03:59] Xunzhuo commented on #529
Sure, this is what I want too, since the new pipelines are running, there are a lot of things need to do make it stable.

[2022-05-03 04:05] Xunzhuo commented on #529
I will start a new issue to cover all the tasks related to the new Pipelines, make it stable.

[2022-05-03 04:10] seeflood commented on #529
ok!

[2022-05-03 09:27] seeflood opened #530 "proposal: Trusted Protocal and Trust Native Protocal"
**What would you like to be added**:
Layotto not only supports dapr api, but also supports all "trusted protocols",e.g. redis protocal and aws s3 protocal ( #510 is working on it)
![image](https://user-images.githubusercontent.com/26001097/166431293-a6da224c-fe10-468e-8b2a-0317c7aa759a.png)

I will submit a PR to add support for redis protocal.

**Why is this needed**:
That's a long story. To be s

[2022-05-03 09:48] Xunzhuo opened #531 "Reopen Lint Tests after fixing"
**What would you like to be added**:

Reopen Lint Tests after fixing

**Why is this needed**:

Make sure codes grow healthy

[2022-05-03 09:49] Xunzhuo opened #532 "ci: stabilize new pipelines"
**What would you like to be added**:

After bringing new pipelines, we have several tasks need to do, which makes our new pipelines stable.
- [x] **BUG**: fix amd 64 suffix when publishing
    - [x] https://github.com/mosn/layotto/issues/534
        - [x] https://github.com/mosn/layotto/pull/516
- [x] **BUG**: update version info:
    - [x] https://github.com/mosn/layotto/issues/521
        - [x]

[2022-05-03 09:50] Xunzhuo commented on #528
Subtask of https://github.com/mosn/layotto/issues/529

[2022-05-03 09:51] Xunzhuo opened #533 "Update makefile commands in docs"
**What happened**:

Update makefile commands in docs

**What you expected to happen**:

Remove old  makefile commands and upgrade them

[2022-05-03 09:51] Xunzhuo commented on #520
Subtask of https://github.com/mosn/layotto/issues/533

[2022-05-03 09:55] Xunzhuo opened #534 "Publish AMD64 Image Failed"
**What happened**:

Publish AMD64 Image Failed  Via Unremoved Suffix AMD64 Image

**What you expected to happen**:

AMD64 Image does not have .amd64 suffix, we should remove it.

[2022-05-03 09:55] #534 closed

[2022-05-03 09:57] Xunzhuo opened #535 "Wrong Goimport Module Name"
**What happened**:

Wrong Goimport Module Name: `github.com/mosn.io.layotto`

https://github.com/mosn/layotto/blob/main/make/golang.mk#L17

**What you expected to happen**:

Correct Goimport Module Name: `mosn.io.layotto`

Fix it and format codes again.

[2022-05-03 12:40] #521 closed

[2022-05-03 12:46] #425 closed

[2022-05-03 14:18] #501 closed

[2022-05-04 01:17] seeflood commented on #532
Phase 2, we can make them more powerful after stabilizing new pipelines:
- [ ] Test all the quickstart docs
  - [ ] #456
- [ ] more integration test?
  - [ ] #461
- [ ] Portability test. Use same demo to test different components.
  - [ ] delete redundent demos. #455
  - [ ] add portability test in our CI

[2022-05-04 03:06] seeflood opened #539 "proposal: let python/c++/rust users invoke layotto with dapr sdk"
**What would you like to be added**:
Layotto already has c++ and python users in production environment. They wrote their own sdk from scratch.
As a community, we should give users an official sdk solution.
I think we can let python/c++/rust users invoke layotto with dapr sdk.
We need:
- [ ] #361
- [ ] fork Dapr sdk in python/c++/rust and make some modification like adding support for sequencer AP

[2022-05-05 02:16] #503 closed

[2022-05-05 07:03] #535 closed

[2022-05-05 07:39] #520 closed

[2022-05-05 09:34] #533 closed

[2022-05-05 11:52] Xunzhuo commented on #529
Should not we test cases in `pkg` ?

[2022-05-05 12:00] Xunzhuo commented on #529
cc @seeflood, please check this if it is missed:)

[2022-05-05 14:24] akkw commented on #513
我做了个吧

[2022-05-05 15:33] seeflood commented on #529
@Xunzhuo We should. I didn't put it here because your scripts already test this package

[2022-05-06 08:42] seeflood commented on #500
# 动态配置下发
## 需求
组件能查询、订阅配置中心的 kv 配置（比如 apollo 中的配置）。

## 产品设计
### User story
1. 用户在 apollo 页面改一下 Redis 的容灾切换配置，Redis 组件就能接收到新配置，把流量切到灾备集群

### 编程界面
允许组件依赖 `config_store` 组件，通过 `config_store` 组件查询、订阅配置数据。
组件之间的依赖关系如图:

![image](https://user-images.githubusercontent.com/26001097/167097668-e5e95eff-9427-4071-bf0a-4138cfe67f90.png)

如果组件有这种需求，需要做以下改动：

1. 组件的配置文件里，添加`import`配置项，声明希望引用的 `config_store` 组

[2022-05-06 08:43] seeflood commented on #500
@unionhu 看下这样能否满足需求~以及是否有密钥动态下发的需求？

[2022-05-06 09:48] #531 closed

[2022-05-06 12:01] Xunzhuo opened #545 "translate: `docs/en/development/github-workflows.md` to English"
**What would you like to be added**:

translate: `docs/en/development/github-workflows.md` to English

[2022-05-06 15:01] unionhu commented on #500
好巧，今天团队内部讨论到，真好我们也有apollo，也希望config组件能在启动过程中最先加载拉取配置，然后提供给其他组件用
这个特性对我们十分重要，你们优先安排吗？

有密钥动态下发的需求，而且我们可能希望密钥能动态更换，因为存在弱密码场景，安全要求整改

[2022-05-07 08:57] LXPWing opened #547 "feature: layotto integration jaeger"
**What would you like to be added**:
add jaeger #438

[2022-05-07 10:01] seeflood commented on #547
Cool. assigned to u

[2022-05-07 12:35] akkw commented on #513
一、配置加载过程
1. Load Config
<img width="893" alt="image" src="https://user-images.githubusercontent.com/54854743/167254514-9fb2b25e-67b5-446a-b986-c5657a6fb9ba.png">
2.利用Config初始化mosn
<img width="803" alt="image" src="https://user-images.githubusercontent.com/54854743/167254555-9bddf0a8-d1d9-47a5-a3cc-75dfc126851a.png">
3.根据MosnRuntimeConfig初始化不同种类的组件
<img width="832" alt="image" src="https://user-ima

[2022-05-08 03:04] seeflood commented on #453
closed #474

[2022-05-08 03:05] #453 closed

[2022-05-08 03:56] #529 closed

[2022-05-08 05:04] seeflood commented on #513
@akkw 棒，看着没有遗漏的，挺好的 👍
已有的 json 文件、示例demo里如果有json，记得也修改下、加个type字段

感觉叫`Type` 就行?
[code]

[2022-05-08 05:47] akkw commented on #513
好的

那我开始做了

[2022-05-08 14:49] seeflood opened #550 "🤔 UT of `mosn.io/layotto/components/rpc/invoker/mosn/channel` failed"
**What happened**:
The UT of `mosn.io/layotto/components/rpc/invoker/mosn/channel` sometimes  fail. See https://github.com/mosn/layotto/runs/6341559789?check_suite_focus=true
I don't know why 🤔

**What you expected to happen**:
Run ut successfully

**How to reproduce it (as minimally and precisely as possible)**:
Run test cases under   `mosn.io/layotto/components/rpc/invoker/mosn/channel`
**Anythi

[2022-05-08 15:19] ZLBer commented on #500
建议config和secret都放在 import标签里做，大一统

[2022-05-09 04:58] #447 closed

[2022-05-09 06:51] akkw commented on #550
我也遇到这个问题了，有些单测基于的配置文件不一样，目前我发现这一个问题

[2022-05-10 02:39] seeflood commented on #550
@akkw Did you find the reason?  🤔
Do you wanna help fix this issue

[2022-05-10 11:34] azhsmesos commented on #438
你好 ，我希望可以用 mysql 或 postgresql 实现分布式自增id 组件，想参与该任务

[2022-05-10 11:45] seeflood commented on #438
@azhsmesos 欢迎加入！ “用 mysql 实现分布式自增 id组件” 这个 @GimmeCyy 已经在做了，你可以认领“用 postgresql 实现分布式自增id 组件” 哈
你可以发个"用 postgresql 实现分布式自增id 组件"的 issue （比如像 https://github.com/mosn/layotto/issues/489 这样) 然后我们把 issue assign 给你~

参考资料:
[组件开发指南](https://mosn.io/layotto/#/zh/development/developing-component?id=%e7%bb%84%e4%bb%b6%e5%bc%80%e5%8f%91%e6%8c%87%e5%8d%97)
[快速开始：使用Sequencer API生成分布式唯一、自增id](https://mosn.io/lay

[2022-05-10 11:45] Holdonbei commented on #438
您的邮件我已收到。

[2022-05-10 11:49] azhsmesos opened #554 "用 postgresql 实现分布式自增id 组件"
### Your question

我希望可以用postgresql实现一个分布式自增id组件

### Environment

- Layotto Version

### Logs

- Paste the logs you see.

[2022-05-10 11:51] azhsmesos commented on #438
您好，已经提issue了，issue序号544

[2022-05-10 11:52] seeflood commented on #554
Cool ! Assigned to u

[2022-05-10 12:03] azhsmesos commented on #554
现在我可以fork 下来着手开发了吧～

[2022-05-10 12:09] azhsmesos commented on #554
邮件已收到！thank you

[2022-05-10 14:06] seeflood commented on #554
是的~
fork ，开发，然后提交 pull request

[2022-05-10 14:53] seeflood commented on #500
或者用 kind 标识种类， type 标识子类
[code]

[2022-05-10 15:19] seeflood commented on #500
@unionhu 这个 feature 实现起来应该很简单，你们有开发感兴趣认领么~

[2022-05-10 16:22] ZLBer commented on #500
默认secret是只获取一次？ config是获取一次+订阅的吗？

[2022-05-10 22:31] seeflood commented on #500
@ZLBer 以这个配置结构为例：
[code]
secretRef 代表“启动时只获取一次这个secret”
componentRef 代表“需要在启动时注入组件”，组件type 是 "config_store"，name 是"apollo"
而且 redis 组件要实现 configstores.Setter interface, 以便 runtime 把config_store 注入进去
[code]

[2022-05-10 22:35] seeflood commented on #500
@unionhu 欢迎~ 可以先看下，如果不太明白的话我可以投屏和你说下改哪

[2022-05-11 10:32] seeflood opened #558 "quickstart tests error"
**What happened**:
Error occus when running the quickstart tests in #557 .
But it didn't interrupt execution and finally report an success. See https://github.com/mosn/layotto/runs/6384572067?check_suite_focus=true
![image](https://user-images.githubusercontent.com/26001097/167829201-0bc7dfb9-5950-4448-be27-46590181e42f.png)

**What you expected to happen**:
1. The quickstart tests run successfull

[2022-05-12 06:45] wlwilliamx opened #559 "a typo in /docs/zh/design/file/file-design.md"
**What happened**:

found a typo in /docs/zh/design/file/file-design.md

<img width="1433" alt="Snipaste_2022-05-12_14-44-15" src="https://user-images.githubusercontent.com/53336371/168008272-65d1fe17-b05d-46a6-b9ec-e92a1d11ff9c.png">

[2022-05-12 08:41] #457 closed

[2022-05-12 09:48] #559 closed

[2022-05-13 00:45] seeflood opened #561 "ci: let `make all` command test all the quickstart docs"
**What would you like to be added**:
- Let `make all` command test all the quickstart docs.
- `make all` don't have to build layotto, since we already build it when running the quickstart tests.

**Why is this needed**:
Contributors can `make all` and find the CI issues locally before pushing to remote repo

[2022-05-13 03:31] gdutChenxj commented on #438
@seeflood 想了解下第一关是只剩下 https://github.com/mosn/layotto/issues/415 吗，还是说其他也可选？

[2022-05-13 03:35] wangxingyu000 commented on #438
文档相关合测试相关的都可以领取的
还有为 tcpdump 相关代码添加注释

[2022-05-13 03:38] gdutChenxj commented on #438
@wangxingyu000 3Q，我先对比一下再选择任务

[2022-05-13 03:49] seeflood opened #563 "ci: automatically upload binary files when releasing new version"
**What would you like to be added**:
Automatically upload binary files when releasing new version.
I find some tools but haven't look into them in details
https://github.com/marketplace/actions/upload-files-to-a-github-release
https://github.com/svenstaro/upload-release-action
https://github.com/prisma/prisma/issues/1841
https://web3.coach/golang-github-actions-release-binaries-tutorial

**Why is

[2022-05-13 03:49] seeflood commented on #563
sub task of #532

[2022-05-13 05:58] wenxuwan opened #564 "Add AfterSystemRunningCallback() for GrpcAPI"
**What would you like to be added**:

Now Layotto started as mosn listener，so Layotto will be init on init stage. Now i want to do something after system running, so i want to add an callback function for GrpcAPI interface，the interface will be like this after change.

`

    // GrpcAPI is the interface of API plugin. It has lifecycle related methods
    type GrpcAPI interface {
	    // init this

[2022-05-13 06:26] #564 closed

[2022-05-13 06:57] seeflood commented on #472
当前讨论进展见:
https://github.com/mosn/layotto/issues/500#issuecomment-1122964509

[code]
如果用这个结构的话，就可以向下兼容啦，看看合适么

[2022-05-13 07:09] seeflood commented on #530
Subtasks:
- [ ] s3 API. #556
- [ ] Redis API.
- [ ] Kafka API.

[2022-05-13 08:34] seeflood commented on #500
@ZLBer

是的，就是 spring 那味 👃

澄清一下，我们可以把下发的配置分为两类:
- 静态配置：启动时候用，启动完了就不再改动了
- 动态配置：比如 state.redis 组件监听某个配置项 `openFeatureA`（用于开关某个功能），一但有变更，立刻能够获取到，然后打开/关闭相关功能

所以这里“注入一个组件”是为了满足“动态配置”的需求；
而静态配置可以这样:
[code]

[2022-05-13 08:35] seeflood commented on #500
是的，调整启动顺序，先启动、初始化 config_store， 再启动别的类型的组件

[2022-05-13 08:41] seeflood commented on #561
subtask of https://github.com/mosn/layotto/issues/532

[2022-05-13 08:43] ZLBer commented on #500
@seeflood  动态配置这个，那用户还是需要修改layotto的代码吗 ？

[2022-05-13 08:58] seeflood commented on #108
New tasks added:
## Easy
### 测试相关：
修复 rpc 相关代码的单元测试报错问题
https://github.com/mosn/layotto/issues/550

### 翻译相关:
将“介绍 layotto CI” 的文档翻译成英文
https://github.com/mosn/layotto/issues/545

将“介绍如何自动测试 quickstart” 的文档翻译成英文
https://mosn.io/layotto/#/zh/development/test-quickstart

### 开发相关
优化 lock api demo，让所有 lock 组件公用一个 demo
优化 sequencer api demo，让所有 sequencer 组件公用一个 demo
优化 pubsub api demo，让所有 pubsub 组件公用一

[2022-05-13 09:06] seeflood commented on #500
我们把框架开发好（把依赖注入的逻辑开发好），用户不用修改layotto 代码，但是用户要写自己的组件、自己订阅配置变更、做打开开关之类的功能

---
这只是我目前想到的方案， 不代表就一定要这样哈，就更好的方案的话都可以讨论

[2022-05-13 09:35] ZLBer commented on #500
忽然又意识到了sdk的好处，直接写回调函数
很cool的功能，没人写可以@我

[2022-05-13 10:12] seeflood commented on #500
@ZLBer 感觉你说的是个问题哦，想用这个功能必须写自己的组件，有点不通用？

[2022-05-13 10:36] akkw commented on #558
这个我来做吧

[2022-05-13 11:14] seeflood commented on #558
@akkw Sorry I already submitted PR for it #561  😢

[2022-05-13 12:30] seeflood commented on #530
可以调研下 eventmesh

[2022-05-13 12:34] SignorMercurio commented on #563
I would like to help with this. Could you please assign this to me?

[2022-05-13 13:27] seeflood commented on #563
@SignorMercurio Thanks! Assigned to u

[2022-05-13 13:35] ZLBer commented on #500
干脆就静态配置我们就加载一次，动态配置搞成订阅塞到meta里，但这样缺点就是没法加用户自己的逻辑。

[2022-05-13 13:59] seeflood commented on #500
这个是啥意思，是说组件配置的metadata 里，配想要订阅的 key，是这样么:
[code]

[2022-05-13 14:38] ZLBer commented on #500
我意思是，就只是订阅，然后把监听到的配置更新再写回meta，比较粗犷

[2022-05-13 14:41] kevinten10 commented on #530
Does the `Redis API` need to be defined in the `proto` file?

[2022-05-13 19:37] Xunzhuo commented on #563
Great! @SignorMercurio

[2022-05-14 04:16] seeflood commented on #530
I think so. It's like "the gRPC version of [redis binding api](https://docs.dapr.io/reference/components-reference/supported-bindings/redis/)", and as a gRPC api, it needs a proto.
From this perspective, the interface of Redis API on [capa-java](https://github.com/capa-cloud/cloud-runtimes-jvm/tree/develop/cloud-runtimes-api/src/main/java/group/rxcloud/cloudruntimes/domain/enhanced/redis) is "the

[2022-05-14 08:19] azhsmesos commented on #530
Delay message API for pubsub 这儿有人assigned吗，等我目前的pr 如果成功 merge后想尝试下这个的实现

[2022-05-14 10:06] #563 closed

[2022-05-14 10:52] seeflood commented on #436
- [ ] first-time contributor 对 workflow、代码规范有一些疑问，待优化文档
见 https://github.com/mosn/layotto/pull/567

[2022-05-14 10:56] seeflood commented on #530
@azhsmesos 欢迎，目前没人 assigned
因为这个功能比较重要，需要先做设计（写个设计 proposal)，大家讨论后达成一致了再开始编码~
可以先想想怎么设计，如果不太清楚的话我帮着写个初版设计proposal也行

[2022-05-14 11:59] #561 closed

[2022-05-14 16:50] unionhu commented on #500
我反而倾向思路B，在spring boot的设计思想是类似B方案，
这样有个好处，redis等组件只关注自建的配置数据结构模型，类似微服务设计的反腐层，不会跟Apollo强绑定，后续layotto需要对接其他配置中心会变得非常方便

能否评估方案B的工作量？若耗时比较久，可以先走A方案，后续支持B方案

[2022-05-14 16:54] unionhu commented on #500
目前看应该是没有问题的，我们生产的时间点是希望尽量六月底，先这么走吧，我也刚刚开始介入这块的事项

[2022-05-15 01:52] azhsmesos opened #569 "执行make all 格式化校验代码时报错"
![Uploading image.png…]()

已经配置了goproxy 代理，还是会报错

log：
zhaozhenhang@zhaozhenhangdeMacBook-Pro layotto % make all
===========> Installing missing goimports
package golang.org/x/tools/cmd/goimports: unrecognized import path "golang.org/x/tools/cmd/goimports": https fetch: Get "https://golang.org/x/tools/cmd/goimports?go-get=1": dial tcp 172.217.160.113:443: i/o timeout
make: *** [go.format.verify] E

[2022-05-15 02:20] seeflood commented on #569
We can modify our `make` script to download goimports from github instead of golang.org

@azhsmesos Do you wanna help fix this issue?

[2022-05-15 03:03] #449 closed

[2022-05-15 05:56] azhsmesos commented on #569
我目前有个pr还没完成：feat: implement sequencer API with postgresql #567 我先把这个解决哈~ 在考虑其他issue

[2022-05-16 07:48] kevinten10 commented on #530
By the way, did you already use these interfaces in your production environment?

我给出的Redis API链接里，剔除了"非常复杂的jedis自定义对象”的部分，因为这部分是跟jedis的jar耦合在一起的，在开源版本的设计中我不希望它们强耦合。

举个例子，在上述定义的完全版的Redis API [NativeKeyCommands](https://github.com/capa-cloud/cloud-runtimes-jvm/blob/develop/cloud-runtimes-api/src/main/java/group/rxcloud/cloudruntimes/domain/enhanced/redis/NativeKeyCommands.java)中，有这样的API：

[code]

[2022-05-16 07:58] kevinten10 commented on #530
以下是使用到的"非常复杂的jedis自定义对象”：

[NativeGeoCommands.java](https://github.com/capa-cloud/cloud-runtimes-jvm/blob/develop/cloud-runtimes-api/src/main/java/group/rxcloud/cloudruntimes/domain/enhanced/redis/NativeGeoCommands.java)

[code]

[NativeHashCommands.java](https://github.com/capa-cloud/cloud-runtimes-jvm/blob/develop/cloud-runtimes-api/src/main/java/group/rxcloud/cloudruntimes/domain/enhanced/redis

[2022-05-17 02:58] seeflood commented on #436
- [ ] 用户想评估产品成熟度
![image](https://user-images.githubusercontent.com/26001097/168719155-d9e2f284-7d53-4e67-84b6-db11284d0e72.png)

![image](https://user-images.githubusercontent.com/26001097/168719027-aa882f78-b3a0-4c7b-9fe5-205075193c6f.png)

- action:
  - [ ] 先搞feature 成熟度，新功能/没人在生产用过的功能打上 alpha

[2022-05-17 08:06] seeflood commented on #311
This issue is an [ospp 2022 task](https://summer-ospp.ac.cn/#/org/prodetail/22f080198)

[2022-05-17 08:40] seeflood commented on #193
@keleqnma Hi, are u still working on it?
Since this issue has been automatically closed, we will reopen it and make it assignable to others

[2022-05-17 09:44] seeflood opened #573 "ci: add portability test in our CI"
**What would you like to be added**:
Add portability test in our CI.,including steps:
1. Use docker-compose to start layotto and all the back-end servers such as redis ,etcd and minIO
2. Use same client code to invoke layotto, with different component name
We can improve and reuse the existing demo code. See #455
3. Assert all components run successfully

**Why is this needed**:
To  test portabili

[2022-05-18 04:00] seeflood commented on #500
# 配置下发、组件热重载方案 v0.3
## 1. 解决的问题
- 现在生产用户有一套定制的启动时初始化配置的方案：有一些配置配在 app 里，app 启动后、调 sidecar，让 sidecar 基于这些配置做初始化。方案不够通用，想做的更通用些

![image](https://user-images.githubusercontent.com/26001097/168947177-6a26397e-4648-47f0-a8df-e898285cd8f9.png)

- 现在 json 文件要打包进镜像。如果跨云部署，改一个配置（比如改 AWS 某个配置项）就要重新打镜像，不合理。
  - 一种思路是让配置文件和镜像解耦，通过磁盘挂载进容器。比如 Dapr 的配置项放进 Configuration CRD, CRD 变更后，需要运维人员通过 k8s 滚动重启集群。
  - 另一种思

[2022-05-18 04:21] wangxingyu000 commented on #438
我们的第一关任务都更新了哟，可以看下。有任何问题可以微信添加 SOFAGirl180419，备注飞船任务

[2022-05-18 08:04] seeflood commented on #108
New tasks added:
- Integrate with Zipkin

[2022-05-18 09:30] GimmeCyy commented on #438
@seeflood 我想尝试”优化 sequencer api demo，让所有 sequencer 组件公用一个 demo“任务

[2022-05-18 09:41] gdutChenxj commented on #438
@wangxingyu000 想确定下怎么理解，【所有 xx 组件公用一个 demo】类型的任务，是指不同类型的demo共用一套流程吗？通过参数或者配置区分类型

[2022-05-18 10:06] seeflood opened #576 "[GLCC] Develop a demo project"
**What would you like to be added**:
This is a substask of #471 .
This issue will participate in the [chinese GLCC activity](https://mp.weixin.qq.com/s/yBem9JTrPI5OKWqunUQWAQ) . So I wrote it in chinese:

开发 layotto 演示工程。
演示工程不用从零写，可以 fork istio 的Bookinfo 工程，给 Bookinfo 加一些功能，加入：
- 展示图书封面（通过 Layotto 调用 File API 组件，获取图片）
- 展示新闻 (通过 Layotto 调用 state API 组件，比如 redis，获取 News feed)
![image](https://user